In [1]:
import pandas as pd
import pymongo
import pprint
from collections import Counter
import numpy as np

In [2]:
from pymongo import MongoClient
client = MongoClient()

In [3]:
db = client.msbd500103

### Load Training Data

In [4]:
trData = db.training_record

In [5]:
trData = trData.find({})
trData = list(trData)
df_trData = pd.DataFrame(trData)
df_trData.head()

,_id,article_contentid,article_dwelltime,article_l1_categories,article_l2_categories,article_lan,article_publisher,article_title,article_update_time,dt,...,user_country,user_gender,user_gender_weight,user_gp_frequency,user_gp_keywords,user_id,user_maxmind_city,user_maxmind_country_iso_code,user_maxmind_state_iso_code,user_model
0,5a07224d6c0c65269105e6c7,1l5c17e72og_us,NaN,NaN,NaN,en,NaN,NaN,NaN,20170111,...,US,2.0,0.763295,"{u'SHOPPING': 1, u'BUSINESS': 1, u'ENTERTAINME...",NaN,614E304DE3B07EBCDD4E11382578EF5A,Glen Allen,US,VA,SPH-L710
1,5a07224d6c0c65269105e6c8,mQ56173a2KT_us,NaN,NaN,NaN,en,NaN,NaN,NaN,20170117,...,US,2.0,0.763295,"{u'SHOPPING': 1, u'BUSINESS': 1, u'ENTERTAINME...",NaN,614E304DE3B07EBCDD4E11382578EF5A,Glen Allen,US,VA,SPH-L710
2,5a07224d6c0c65269105e6c9,Ly7407d4cuC_us,31.0,"[{u'name': u'1000780', u'weight': 0.4546442536...","[{u'name': u'1000667', u'weight': 0.6867789988...",en,The Sun,"Dad caught selling his baby son for £9,000 to ...",1.484656e+09,20170117,...,US,2.0,0.763295,"{u'SHOPPING': 1, u'BUSINESS': 1, u'ENTERTAINME...",NaN,614E304DE3B07EBCDD4E11382578EF5A,Glen Allen,US,VA,SPH-L710
3,5a07224d6c0c65269105e6ca,AY628126a1w_us,NaN,"[{u'name': u'1000288', u'weight': 0.9748942874...","[{u'name': u'1000288', u'weight': 0.44672383556}]",en,Bustle,11 Weird Ways Your Relationship With Your Pare...,1.482379e+09,20170110,...,US,2.0,0.763295,"{u'SHOPPING': 1, u'BUSINESS': 1, u'ENTERTAINME...",NaN,614E304DE3B07EBCDD4E11382578EF5A,Glen Allen,US,VA,SPH-L710
4,5a07224d6c0c65269105e6cb,jv70536a3bt_us,NaN,"[{u'name': u'1000031', u'weight': 0.4396004700...","[{u'name': u'1000069', u'weight': 0.8568055895...",en,Los Angeles Times,Ivanka Trump goes public about exiting fashion...,1.484223e+09,20170113,...,US,2.0,0.763295,"{u'SHOPPING': 1, u'BUSINESS': 1, u'ENTERTAINME...",NaN,614E304DE3B07EBCDD4E11382578EF5A,Glen Allen,US,VA,SPH-L710

In [6]:
df_trData = df_trData[~df_trData['user_gp_frequency'].isnull()]

### Prepare User View

In [7]:
df_user = df_trData[['user_id', 'user_age', 'user_gender', 'user_brand']]#, 'user_maxmind_city']] modify sophia
df_user.head()

                            user_id  user_age  user_gender user_brand
0  614E304DE3B07EBCDD4E11382578EF5A       2.0          2.0    samsung
1  614E304DE3B07EBCDD4E11382578EF5A       2.0          2.0    samsung
2  614E304DE3B07EBCDD4E11382578EF5A       2.0          2.0    samsung
3  614E304DE3B07EBCDD4E11382578EF5A       2.0          2.0    samsung
4  614E304DE3B07EBCDD4E11382578EF5A       2.0          2.0    samsung

In [8]:
df_user['user_age'] = df_user['user_age'].fillna(0)
df_user['user_gender'] = df_user['user_gender'].fillna(0)
df_user['user_brand'] = df_user['user_brand'].str.lower().fillna('na')
#df_user['user_maxmind_city'] = df_user['user_maxmind_city'].str.lower().fillna('na') #modify sophia
df_user.head()

/Users/sophia.gao/.pyenv/versions/miniconda2-latest/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/sophia.gao/.pyenv/versions/miniconda2-latest/lib/python2.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/sophia.gao/.pyenv/versions/miniconda2-latest/lib/python2.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                            user_id  user_age  user_gender user_brand
0  614E304DE3B07EBCDD4E11382578EF5A       2.0          2.0    samsung
1  614E304DE3B07EBCDD4E11382578EF5A       2.0          2.0    samsung
2  614E304DE3B07EBCDD4E11382578EF5A       2.0          2.0    samsung
3  614E304DE3B07EBCDD4E11382578EF5A       2.0          2.0    samsung
4  614E304DE3B07EBCDD4E11382578EF5A       2.0          2.0    samsung

In [9]:
df_user = pd.get_dummies(df_user, columns=['user_age', 'user_gender','user_brand'])#, 'user_maxmind_city']) modify sophia
df_user = df_user.fillna(0)
df_user = df_user.drop_duplicates(subset=['user_id'], keep='first')
df_user.head()

,user_id,user_age_0.0,user_age_1.0,user_age_2.0,user_age_3.0,user_age_4.0,user_gender_0.0,user_gender_1.0,user_gender_2.0,user_brand_acer,...,user_brand_tct_metropcs,user_brand_trio,user_brand_verizon,user_brand_verizon_lge,user_brand_verizon_wwe,user_brand_x325,user_brand_x401,user_brand_xiaomi,user_brand_yezz,user_brand_zte
0,614E304DE3B07EBCDD4E11382578EF5A,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
6,CD2F2B61135DB27BA3230F91466ED793,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
11,56F27AD705D8564F7900470AA793DBD2,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
12,8EE461BA3AA2595AC91FCDD833EC1711,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
15,5BA72C11B1E94BA50F1E66F4B1362CE6,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

### Prepare App View

In [112]:
df_app = df_trData[['user_id', 'user_gp_frequency']]
df_app.head()

,user_id,user_gp_frequency
0,614E304DE3B07EBCDD4E11382578EF5A,"{u'SHOPPING': 1, u'BUSINESS': 1, u'ENTERTAINME..."
1,614E304DE3B07EBCDD4E11382578EF5A,"{u'SHOPPING': 1, u'BUSINESS': 1, u'ENTERTAINME..."
2,614E304DE3B07EBCDD4E11382578EF5A,"{u'SHOPPING': 1, u'BUSINESS': 1, u'ENTERTAINME..."
3,614E304DE3B07EBCDD4E11382578EF5A,"{u'SHOPPING': 1, u'BUSINESS': 1, u'ENTERTAINME..."
4,614E304DE3B07EBCDD4E11382578EF5A,"{u'SHOPPING': 1, u'BUSINESS': 1, u'ENTERTAINME..."

In [113]:
df_app_category = pd.DataFrame.from_records(df_app['user_gp_frequency'].tolist())
df_app_category = df_app_category.fillna(0)
df_app_category.head()

,ART_AND_DESIGN,AUTO_AND_VEHICLES,BEAUTY,BOOKS_AND_REFERENCE,BUSINESS,COMICS,COMMUNICATION,DATING,EDUCATION,ENTERTAINMENT,...,PHOTOGRAPHY,PRODUCTIVITY,SHOPPING,SOCIAL,SPORTS,TOOLS,TRANSPORTATION,TRAVEL_AND_LOCAL,VIDEO_PLAYERS,WEATHER
0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,2.0,...,0.0,3.0,1.0,1.0,0.0,5.0,0.0,0.0,2.0,0.0
1,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,2.0,...,0.0,3.0,1.0,1.0,0.0,5.0,0.0,0.0,2.0,0.0
2,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,2.0,...,0.0,3.0,1.0,1.0,0.0,5.0,0.0,0.0,2.0,0.0
3,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,2.0,...,0.0,3.0,1.0,1.0,0.0,5.0,0.0,0.0,2.0,0.0
4,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,2.0,...,0.0,3.0,1.0,1.0,0.0,5.0,0.0,0.0,2.0,0.0

In [114]:
df_app = df_app.merge(df_app_category, how='left', left_index=True, right_index=True)
df_app = df_app.drop(['user_gp_frequency'], axis=1)
df_app = df_app.drop_duplicates(subset=['user_id'], keep='first')
df_app = df_app.fillna(0)
df_app.head()

,user_id,ART_AND_DESIGN,AUTO_AND_VEHICLES,BEAUTY,BOOKS_AND_REFERENCE,BUSINESS,COMICS,COMMUNICATION,DATING,EDUCATION,...,PHOTOGRAPHY,PRODUCTIVITY,SHOPPING,SOCIAL,SPORTS,TOOLS,TRANSPORTATION,TRAVEL_AND_LOCAL,VIDEO_PLAYERS,WEATHER
0,614E304DE3B07EBCDD4E11382578EF5A,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,...,0.0,3.0,1.0,1.0,0.0,5.0,0.0,0.0,2.0,0.0
6,CD2F2B61135DB27BA3230F91466ED793,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,2.0,1.0,0.0,1.0,0.0,3.0,0.0,1.0,0.0,0.0
11,56F27AD705D8564F7900470AA793DBD2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0
12,8EE461BA3AA2595AC91FCDD833EC1711,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,...,2.0,1.0,2.0,3.0,1.0,5.0,0.0,1.0,2.0,0.0
15,5BA72C11B1E94BA50F1E66F4B1362CE6,0.0,0.0,0.0,0.0,2.0,0.0,4.0,0.0,0.0,...,0.0,0.0,1.0,3.0,0.0,10.0,0.0,3.0,7.0,2.0

In [13]:
def sumCat(row):
    l = row.tolist()
    print l
    row['totalCat'] = sum(l[1:])
    return row

In [14]:
#df_app1 = df_app.drop(['user_id'], axis = 1).apply(lambda row: sumCat(row), axis = 1)

In [15]:
#df_app1 = df_app[['user_id']].merge(df_app1, how = 'left', left_index=True, right_index=True)

In [16]:
#df_app1.shape

In [17]:
#df_app2 = df_app1[df_app1['totalCat'] != 0]

In [18]:
#print df_app2.shape
#df_app2.head()

### Prepare Train Test Set (user-app)

In [25]:
import random
train_ratio = 0.9
num_train_user = int(round(len(df_user)*train_ratio))
train_user_id = random.sample(df_user['user_id'].tolist(), num_train_user)

In [26]:
df_train_user = df_user[df_user['user_id'].isin(train_user_id)]
df_train_user = df_train_user.drop(['user_id'], axis=1)
df_train_user = df_train_user.fillna(0)
df_train_user_arr = df_train_user.values
df_train_user_arr.shape

(7196, 54)

In [27]:
df_train_user_arr[0]

array([0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0], dtype=uint8)

In [28]:
df_test_user = df_user[~df_user['user_id'].isin(train_user_id)]
df_test_user = df_test_user.drop(['user_id'], axis=1)
df_test_user = df_test_user.fillna(0)
df_test_user_arr = df_test_user.values
df_test_user_arr.shape

(800, 54)

In [29]:
df_train_app0 = df_app[df_app['user_id'].isin(train_user_id)]
df_train_app = df_train_app0.drop(['user_id'], axis=1)
df_train_app = df_train_app.fillna(0)
df_train_app_arr = df_train_app.values
df_train_app_arr.shape

(7196, 52)

In [30]:
df_test_app0 = df_app[~df_app['user_id'].isin(train_user_id)]
df_test_app = df_test_app0.drop(['user_id'], axis=1)
df_test_app = df_test_app.fillna(0)
df_test_app_arr = df_test_app.values
df_test_app_arr.shape

(800, 52)

In [31]:
df_train_app_arr

array([[ 0.,  0.,  0., ...,  0.,  2.,  0.],
       [ 0.,  0.,  0., ...,  1.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       ...,
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.]])

In [32]:
y_train = [1 for i in range(len(df_train_user_arr))]
len(y_train)

7196

In [33]:
df_all_user = df_user.drop(['user_id'], axis=1)
df_all_user = df_all_user.fillna(0)
df_all_user_arr = df_all_user.values
df_all_user_arr.shape

(7996, 54)

In [34]:
df_all_app = df_app.drop(['user_id'], axis=1)
df_all_app = df_all_app.fillna(0)
df_all_app_arr = df_all_app.values
df_all_app_arr.shape

(7996, 52)

In [35]:
def sumCat(row):
    l = row.tolist()
    row['totalCat'] = sum(l)
    return row

In [36]:
df_all_app1 = df_all_app.apply(lambda row: sumCat(row), axis = 1)

In [37]:
df_all_app1.head()

,ART_AND_DESIGN,AUTO_AND_VEHICLES,BEAUTY,BOOKS_AND_REFERENCE,BUSINESS,COMICS,COMMUNICATION,DATING,EDUCATION,ENTERTAINMENT,...,PRODUCTIVITY,SHOPPING,SOCIAL,SPORTS,TOOLS,TRANSPORTATION,TRAVEL_AND_LOCAL,VIDEO_PLAYERS,WEATHER,totalCat
0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,2.0,...,3.0,1.0,1.0,0.0,5.0,0.0,0.0,2.0,0.0,20.0
6,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,3.0,0.0,1.0,0.0,0.0,12.0
11,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,7.0
12,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,3.0,...,1.0,2.0,3.0,1.0,5.0,0.0,1.0,2.0,0.0,38.0
15,0.0,0.0,0.0,0.0,2.0,0.0,4.0,0.0,0.0,5.0,...,0.0,1.0,3.0,0.0,10.0,0.0,3.0,7.0,2.0,46.0

In [38]:
df_all_app1.shape

(7996, 53)

In [39]:
df_all_app2 = df_all_app1[df_all_app1['totalCat']!=0]
df_all_app2.shape

(7920, 53)

In [40]:
y_all = [1 for i in range(len(df_all_user_arr))]
len(y_all)

7996

### Build Model By Keras (User Vs App)

In [49]:
from keras.models import Sequential, Model
from keras.layers import Dense, Merge, Activation, Dropout, Reshape
import numpy as np
# fix random seed for reproducibility
np.random.seed(0)

In [50]:
df_train_user_arr.shape

(7196, 54)

In [51]:
df_train_app_arr.shape

(7196, 52)

In [52]:
df_train_app_arr[0]

array([ 0.,  0.,  0.,  1.,  1.,  0.,  1.,  0.,  0.,  2.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  2.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        1.,  0.,  0.,  0.,  3.,  1.,  1.,  0.,  5.,  0.,  0.,  2.,  0.])

In [53]:
y_train = [1 for i in range(len(df_train_user_arr))]
len(y_train)

7196

In [54]:
# create user model
userModel = Sequential()
'''
userModel.add(Dense(2000, input_shape=(2380,)))
userModel.add(Activation('tanh'))
userModel.add(Dropout(0.4))
userModel.add(Dense(500, input_shape=(2000,)))
userModel.add(Activation('tanh'))
userModel.add(Dropout(0.4))
userModel.add(Dense(50, input_shape=(500,)))
userModel.add(Activation('tanh'))
userModel.add(Dropout(0.4))
'''
userModel.add(Dense(30, input_shape=(54,)))
userModel.add(Activation('tanh'))
userModel.add(Dropout(0.4))
userModel.add(Dense(10, input_shape=(30,)))
userModel.add(Activation('tanh'))
userModel.add(Reshape((10,1)))

In [55]:
# create app model
appModel = Sequential()
appModel.add(Dense(30, input_shape=(52,)))
appModel.add(Activation('tanh'))
appModel.add(Dropout(0.4))
appModel.add(Dense(10, input_shape=(30,)))
appModel.add(Activation('tanh'))
appModel.add(Reshape((10,1)))

In [56]:
model = Sequential()
model.add(Merge([userModel,appModel], mode='cos', dot_axes=1, output_shape=(1,)))
model.add(Reshape((1,)))

In [57]:
# Compile model
model.compile(loss='cosine_proximity', optimizer='adam', metrics=['precision', 'recall'])

In [58]:
# Fit the model
#model.fit([df_all_user_arr, df_all_app_arr],y_all, epochs=1, batch_size=10)
model.fit([df_train_user_arr, df_train_app_arr],y_train, nb_epoch=5, batch_size=10)

Epoch 1/5
7196/7196 [==============================] - 3s - loss: -0.4208 - precision: 0.7332 - recall: 0.1604
Epoch 2/5
7196/7196 [==============================] - 2s - loss: -0.8394 - precision: 0.9889 - recall: 0.4532
Epoch 3/5
7196/7196 [==============================] - 2s - loss: -0.9291 - precision: 0.9986 - recall: 0.5992
Epoch 4/5
7196/7196 [==============================] - 2s - loss: -0.9661 - precision: 1.0000 - recall: 0.7360
Epoch 5/5
7196/7196 [==============================] - 2s - loss: -0.9744 - precision: 1.0000 - recall: 0.7689

In [59]:
y_test = [1 for i in range(len(df_test_user_arr))]
len(y_test)

800

In [60]:
# evaluate the model
scores = model.evaluate([df_test_user_arr,df_test_app_arr], y_test)
print("\n%s: %.2f%%" % (model.metrics_names[1], scores[1]*100))

 32/800 [>.............................] - ETA: 0s
precision: 100.00%

In [61]:
model.predict([df_test_user_arr,df_test_app_arr], batch_size=10, verbose=0)

array([[ 0.64977628],
       [ 0.9395085 ],
       [ 0.8798483 ],
       [ 0.61445767],
       [ 0.81029534],
       [ 0.91483992],
       [ 0.56276786],
       [ 0.90835464],
       [ 0.70825279],
       [ 0.94720381],
       [ 0.86558014],
       [ 0.8875407 ],
       [ 0.85610861],
       [ 0.93470484],
       [ 0.65806353],
       [ 0.74345881],
       [ 0.90268505],
       [ 0.91613179],
       [ 0.92861289],
       [ 0.89014363],
       [ 0.85881108],
       [ 0.8239398 ],
       [ 0.73758054],
       [ 0.8387168 ],
       [ 0.76833099],
       [ 0.57877171],
       [ 0.84888971],
       [ 0.91004676],
       [ 0.78162688],
       [ 0.91246909],
       [ 0.9413175 ],
       [ 0.94300723],
       [ 0.8803823 ],
       [ 0.88904452],
       [ 0.91238171],
       [ 0.92849082],
       [ 0.88881207],
       [ 0.93412465],
       [ 0.90181637],
       [ 0.91478753],
       [ 0.90470207],
       [ 0.00754108],
       [ 0.8648051 ],
       [ 0.79988194],
       [ 0.92203641],
       [ 0.697577  ],
       [ 0.9264881 ],
       [ 0.72927964],
       [ 0.52536988],
       [ 0.43222898],
       [ 0.78052908],
       [ 0.52914613],
       [ 0.5033465 ],
       [ 0.66997051],
       [ 0.72263169],
       [ 0.6684013 ],
       [ 0.79752368],
       [ 0.85091341],
       [ 0.92588007],
       [ 0.63401091],
       [ 0.90452254],
       [ 0.8863076 ],
       [ 0.84698045],
       [ 0.89763039],
       [ 0.87445503],
       [ 0.78131104],
       [ 0.68718708],
       [ 0.93071228],
       [ 0.85462368],
       [ 0.80124927],
       [ 0.91271389],
       [ 0.80108202],
       [ 0.91838646],
       [ 0.67632341],
       [ 0.94011325],
       [ 0.839194  ],
       [ 0.90303689],
       [ 0.82647896],
       [ 0.85264868],
       [ 0.71005905],
       [ 0.88358814],
       [ 0.61232138],
       [ 0.63891572],
       [ 0.57215643],
       [ 0.88591498],
       [ 0.85992461],
       [ 0.80622333],
       [ 0.9185704 ],
       [ 0.87152684],
       [ 0.94746441],
       [ 0.77858835],
       [ 0.79146659],
       [ 0.54547042],
       [ 0.91757286],
       [ 0.8280018 ],
       [ 0.70473194],
       [ 0.9099046 ],
       [ 0.73019135],
       [ 0.90213323],
       [ 0.94901401],
       [ 0.94049293],
       [ 0.86924744],
       [ 0.55953979],
       [ 0.87571263],
       [ 0.87710112],
       [ 0.8969084 ],
       [ 0.87125129],
       [ 0.88864976],
       [ 0.90113676],
       [ 0.94808197],
       [ 0.66317511],
       [ 0.86842817],
       [ 0.73455727],
       [ 0.90845895],
       [ 0.74450314],
       [ 0.74450314],
       [ 0.88183063],
       [ 0.66081947],
       [ 0.81567186],
       [ 0.81567186],
       [ 0.84881014],
       [ 0.85475647],
       [ 0.80902123],
       [ 0.87280208],
       [ 0.82615358],
       [ 0.71376091],
       [ 0.84963763],
       [ 0.91304618],
       [ 0.95051265],
       [ 0.78536487],
       [ 0.91683549],
       [ 0.83326226],
       [ 0.9382959 ],
       [ 0.77977622],
       [ 0.85901874],
       [ 0.87169939],
       [ 0.87681532],
       [ 0.83464444],
       [ 0.94051343],
       [ 0.84832668],
       [ 0.79687744],
       [ 0.92050332],
       [ 0.93845767],
       [ 0.90749037],
       [ 0.76695663],
       [ 0.9387973 ],
       [ 0.7501772 ],
       [ 0.61669046],
       [ 0.88213086],
       [ 0.90676379],
       [ 0.82388628],
       [ 0.86499596],
       [ 0.9221729 ],
       [ 0.91694546],
       [ 0.59350801],
       [ 0.92816907],
       [ 0.79237413],
       [ 0.91625285],
       [ 0.88914621],
       [ 0.80772156],
       [ 0.91124314],
       [ 0.96994668],
       [ 0.86404884],
       [ 0.76406914],
       [ 0.71229458],
       [ 0.70192301],
       [ 0.87965959],
       [ 0.71399641],
       [ 0.78046709],
       [ 0.80033034],
       [ 0.88682359],
       [ 0.88250542],
       [ 0.91201419],
       [ 0.91201419],
       [ 0.87989402],
       [ 0.93738538],
       [ 0.91703278],
       [ 0.90437168],
       [ 0.77835774],
       [ 0.94622302],
       [ 0.85311645],
       [ 0.82312971],
       [ 0.88655645],
       [ 0.79391545],
       [ 0.87607789],
       [ 0.6708169 ],
       [ 0.85772765],
       [ 0.84592897],
       [ 0.89289808],
       [ 0.93409473],
       [ 0.94452047],
       [ 0.93290985],
       [ 0.93754351],
       [ 0.93225741],
       [ 0.88540798],
       [ 0.80324334],
       [ 0.93296617],
       [ 0.94396091],
       [ 0.66248596],
       [ 0.86129385],
       [ 0.37066123],
       [ 0.80755806],
       [ 0.80755806],
       [ 0.90507537],
       [ 0.86473   ],
       [ 0.81215465],
       [ 0.89498007],
       [ 0.83764046],
       [ 0.80646431],
       [ 0.86301202],
       [ 0.86034113],
       [ 0.74559182],
       [ 0.69054884],
       [ 0.71611267],
       [ 0.84305423],
       [ 0.89154893],
       [ 0.72009248],
       [ 0.81727928],
       [ 0.86624402],
       [ 0.80877107],
       [ 0.85367328],
       [ 0.86873931],
       [ 0.77957159],
       [ 0.94934678],
       [ 0.88319349],
       [ 0.91707075],
       [ 0.78305215],
       [ 0.90324515],
       [ 0.94500005],
       [ 0.83371222],
       [ 0.8994537 ],
       [ 0.69794172],
       [ 0.89130104],
       [ 0.66468668],
       [ 0.95133489],
       [ 0.8971076 ],
       [ 0.90557468],
       [ 0.88746125],
       [ 0.89963931],
       [ 0.91320038],
       [ 0.92942452],
       [ 0.86875945],
       [ 0.86639839],
       [ 0.94236451],
       [ 0.82084721],
       [ 0.9281286 ],
       [ 0.9217059 ],
       [ 0.92069924],
       [ 0.76231056],
       [ 0.87941504],
       [ 0.71370089],
       [ 0.8742395 ],
       [ 0.91573602],
       [ 0.96926004],
       [ 0.93193012],
       [ 0.93193012],
       [ 0.88938951],
       [ 0.85222399],
       [ 0.62054831],
       [ 0.77613932],
       [ 0.8844589 ],
       [ 0.65953594],
       [ 0.79879922],
       [ 0.86022317],
       [ 0.90512437],
       [ 0.61495948],
       [ 0.72278994],
       [ 0.93139708],
       [ 0.90603834],
       [ 0.9466157 ],
       [ 0.90640789],
       [ 0.93674612],
       [ 0.92345351],
       [ 0.68051702],
       [ 0.89498353],
       [ 0.85992694],
       [ 0.91552073],
       [ 0.65969729],
       [ 0.83182222],
       [ 0.88242424],
       [ 0.92542106],
       [ 0.33441564],
       [ 0.89216679],
       [ 0.46067512],
       [ 0.85271019],
       [ 0.88659203],
       [ 0.92685664],
       [ 0.90227348],
       [ 0.86090314],
       [ 0.80126297],
       [ 0.8666603 ],
       [ 0.30820975],
       [ 0.70121473],
       [ 0.93756521],
       [ 0.782139  ],
       [ 0.8281644 ],
       [ 0.82993299],
       [ 0.44852018],
       [ 0.91416019],
       [ 0.74190611],
       [ 0.9263432 ],
       [ 0.84133351],
       [ 0.66035926],
       [ 0.83844203],
       [ 0.91994745],
       [ 0.7187559 ],
       [ 0.950405  ],
       [ 0.86623865],
       [ 0.78354365],
       [ 0.94013852],
       [ 0.85266632],
       [ 0.85478705],
       [ 0.90416598],
       [ 0.55187488],
       [ 0.88454735],
       [ 0.81495041],
       [ 0.86961597],
       [ 0.91274452],
       [ 0.94093794],
       [ 0.88029677],
       [ 0.78397024],
       [ 0.92401409],
       [ 0.88579786],
       [ 0.19948891],
       [ 0.39534321],
       [ 0.91070634],
       [ 0.78636098],
       [ 0.88580382],
       [ 0.9188503 ],
       [ 0.9188503 ],
       [ 0.76962155],
       [ 0.86935061],
       [ 0.92059559],
       [ 0.86281896],
       [ 0.89277965],
       [ 0.90678   ],
       [ 0.84272093],
       [ 0.94879347],
       [ 0.92474806],
       [ 0.75104386],
       [ 0.8069604 ],
       [ 0.83101505],
       [ 0.48804608],
       [ 0.74340856],
       [ 0.94134086],
       [ 0.88500267],
       [ 0.78608978],
       [ 0.67298639],
       [ 0.85803658],
       [ 0.8861286 ],
       [ 0.87755293],
       [ 0.94336724],
       [ 0.93087852],
       [ 0.78386182],
       [ 0.90448129],
       [ 0.49905947],
       [ 0.83654898],
       [ 0.90467215],
       [ 0.92908067],
       [ 0.79524684],
       [ 0.90219086],
       [ 0.94733918],
       [ 0.94515693],
       [ 0.80783522],
       [ 0.93633318],
       [ 0.46027356],
       [ 0.89735991],
       [ 0.9145202 ],
       [ 0.90167618],
       [ 0.89714086],
       [ 0.80674982],
       [ 0.84783083],
       [ 0.97107178],
       [ 0.61096638],
       [ 0.68226308],
       [ 0.83123738],
       [ 0.76344365],
       [ 0.85872519],
       [ 0.73703784],
       [ 0.92434448],
       [ 0.81440222],
       [ 0.8987546 ],
       [ 0.93030268],
       [ 0.77776295],
       [ 0.77776295],
       [ 0.66711557],
       [ 0.73249334],
       [ 0.57449931],
       [ 0.87154853],
       [ 0.60586762],
       [ 0.39261863],
       [ 0.7572934 ],
       [ 0.92144132],
       [ 0.87304533],
       [ 0.92916328],
       [ 0.88543552],
       [ 0.94308013],
       [ 0.93690491],
       [ 0.93690479],
       [ 0.90361995],
       [ 0.70199507],
       [ 0.81253541],
       [ 0.92296374],
       [ 0.75625038],
       [ 0.7808212 ],
       [ 0.94080555],
       [ 0.81148016],
       [ 0.9087829 ],
       [ 0.95719349],
       [ 0.68984234],
       [ 0.87361282],
       [ 0.8111487 ],
       [ 0.82638627],
       [ 0.73560065],
       [ 0.94483483],
       [ 0.93043214],
       [ 0.85762388],
       [ 0.84273034],
       [ 0.87218034],
       [ 0.91189557],
       [ 0.87263227],
       [ 0.93801051],
       [ 0.93213844],
       [ 0.84967315],
       [ 0.87910718],
       [ 0.94230872],
       [ 0.59584177],
       [ 0.93540895],
       [ 0.82936883],
       [ 0.73157078],
       [ 0.7648263 ],
       [ 0.78678918],
       [ 0.89488029],
       [ 0.73243201],
       [ 0.89677399],
       [ 0.6945371 ],
       [ 0.9024781 ],
       [ 0.90445745],
       [ 0.91853768],
       [ 0.86881679],
       [ 0.92245501],
       [ 0.93438959],
       [ 0.92406625],
       [ 0.91465056],
       [ 0.72625178],
       [ 0.65787935],
       [ 0.23891512],
       [ 0.94182521],
       [ 0.93889177],
       [ 0.93889177],
       [ 0.91817397],
       [ 0.89931941],
       [ 0.88212514],
       [ 0.93467212],
       [ 0.95147264],
       [ 0.90548193],
       [ 0.94449693],
       [ 0.84132171],
       [ 0.85642475],
       [ 0.84613299],
       [ 0.88720626],
       [ 0.86239213],
       [ 0.87258857],
       [ 0.81329364],
       [ 0.65782964],
       [ 0.82145834],
       [ 0.87635398],
       [ 0.80602783],
       [ 0.91339278],
       [ 0.92468858],
       [ 0.58288479],
       [ 0.69352919],
       [ 0.92821521],
       [ 0.92741603],
       [ 0.9669109 ],
       [ 0.89114088],
       [ 0.56532347],
       [ 0.55669898],
       [ 0.81153262],
       [ 0.86645359],
       [ 0.80216473],
       [ 0.38864037],
       [ 0.72225583],
       [ 0.62940294],
       [ 0.63635439],
       [ 0.8607567 ],
       [ 0.89255428],
       [ 0.78324485],
       [ 0.72993261],
       [ 0.9084301 ],
       [ 0.94405758],
       [ 0.80570382],
       [ 0.75412333],
       [ 0.91327268],
       [ 0.92608833],
       [ 0.88873017],
       [ 0.88873017],
       [ 0.8009274 ],
       [ 0.94540071],
       [ 0.94540071],
       [ 0.89695108],
       [ 0.93388343],
       [ 0.88304472],
       [ 0.78737277],
       [ 0.9135493 ],
       [ 0.84239531],
       [ 0.83699167],
       [ 0.9366017 ],
       [ 0.92776924],
       [ 0.90336025],
       [ 0.84703505],
       [ 0.89708078],
       [ 0.86049104],
       [ 0.84654933],
       [ 0.95466727],
       [ 0.90547049],
       [ 0.80887014],
       [ 0.84202123],
       [ 0.85564393],
       [ 0.86225355],
       [ 0.66724789],
       [ 0.89374423],
       [ 0.72046143],
       [ 0.93823695],
       [ 0.87017733],
       [ 0.87772328],
       [ 0.75327259],
       [ 0.88835949],
       [ 0.91100514],
       [ 0.88835949],
       [ 0.67785668],
       [ 0.91374695],
       [ 0.91341436],
       [ 0.94274098],
       [ 0.75248444],
       [ 0.63350475],
       [ 0.88644814],
       [ 0.77257639],
       [ 0.31329328],
       [ 0.87500954],
       [ 0.92794406],
       [ 0.79966086],
       [ 0.92485929],
       [ 0.85420769],
       [ 0.93118387],
       [ 0.86670303],
       [ 0.86962652],
       [ 0.8053298 ],
       [ 0.81867892],
       [ 0.88565308],
       [ 0.86923504],
       [ 0.76963121],
       [ 0.87326312],
       [ 0.73873711],
       [ 0.90759832],
       [ 0.79465866],
       [ 0.89971972],
       [ 0.74743247],
       [ 0.73673242],
       [ 0.89462882],
       [ 0.75142151],
       [ 0.8295486 ],
       [ 0.90108269],
       [ 0.88799959],
       [ 0.80595601],
       [ 0.85512364],
       [ 0.8501038 ],
       [ 0.82111526],
       [ 0.87782663],
       [ 0.87986755],
       [ 0.81398904],
       [ 0.87713575],
       [ 0.92407846],
       [ 0.69818997],
       [ 0.91546458],
       [ 0.87919313],
       [ 0.9392283 ],
       [ 0.92620391],
       [ 0.92409825],
       [ 0.94575751],
       [ 0.36315247],
       [ 0.46922135],
       [ 0.46922135],
       [ 0.92970377],
       [ 0.86289448],
       [ 0.91818905],
       [ 0.87058264],
       [ 0.73804623],
       [ 0.83252186],
       [ 0.78571767],
       [ 0.81271613],
       [ 0.94216526],
       [ 0.88876748],
       [ 0.64205706],
       [ 0.9119643 ],
       [ 0.86803663],
       [ 0.82053024],
       [ 0.94939154],
       [ 0.93819141],
       [ 0.92345345],
       [ 0.81550556],
       [ 0.93230814],
       [ 0.76571369],
       [ 0.80023623],
       [ 0.89293402],
       [ 0.78644264],
       [ 0.92305982],
       [ 0.90466315],
       [ 0.81420398],
       [ 0.93443352],
       [ 0.76504582],
       [ 0.81438833],
       [ 0.68083274],
       [ 0.78314912],
       [ 0.75236875],
       [ 0.75025952],
       [ 0.92763549],
       [ 0.86072266],
       [ 0.9052068 ],
       [ 0.79505759],
       [ 0.85283446],
       [ 0.69755518],
       [ 0.86023629],
       [ 0.89799362],
       [ 0.68711162],
       [ 0.79001534],
       [ 0.90880167],
       [ 0.88920116],
       [ 0.93243879],
       [ 0.81669229],
       [ 0.88273436],
       [ 0.78436023],
       [ 0.85386825],
       [ 0.82096791],
       [ 0.87886786],
       [ 0.66699892],
       [ 0.4582026 ],
       [ 0.93123043],
       [ 0.88710022],
       [ 0.93595159],
       [ 0.85209662],
       [ 0.92844933],
       [ 0.91367787],
       [ 0.81187969],
       [ 0.82512766],
       [ 0.74532497],
       [ 0.69651693],
       [ 0.87347269],
       [ 0.9057709 ],
       [ 0.75369596],
       [ 0.82869351],
       [ 0.63453096],
       [ 0.87299556],
       [ 0.93628973],
       [ 0.80928713],
       [ 0.88072652],
       [ 0.7860114 ],
       [ 0.84227479],
       [ 0.62121159],
       [ 0.87589848],
       [ 0.8641755 ],
       [ 0.69275236],
       [ 0.81510228],
       [ 0.82145834],
       [ 0.70017171],
       [ 0.93137664],
       [ 0.66224784],
       [ 0.62600368],
       [ 0.78292501],
       [ 0.68201041],
       [ 0.70525008],
       [ 0.76545036],
       [ 0.80297625],
       [ 0.95062834],
       [ 0.88734174],
       [ 0.93033028],
       [ 0.93332082],
       [ 0.90020061],
       [ 0.93836796],
       [ 0.45958626],
       [ 0.82804722],
       [ 0.93856955],
       [ 0.77873099],
       [ 0.77540618],
       [ 0.89419186],
       [ 0.86957455],
       [ 0.92964214],
       [ 0.68381387],
       [ 0.68381393],
       [ 0.64547968],
       [ 0.49682039],
       [ 0.80431587],
       [ 0.89274949],
       [ 0.74241239],
       [ 0.70613241],
       [ 0.81963116],
       [ 0.77419549],
       [ 0.91185039],
       [ 0.77020937],
       [ 0.91145164],
       [ 0.7607047 ],
       [ 0.88266051],
       [ 0.78719884],
       [ 0.57010031],
       [ 0.44584453],
       [ 0.76896089],
       [ 0.82610798],
       [ 0.84411341],
       [ 0.62817985],
       [ 0.89296019],
       [ 0.76171136],
       [ 0.92500454],
       [ 0.93745881],
       [ 0.90399349],
       [ 0.60573107],
       [ 0.91129529],
       [ 0.74615735],
       [ 0.82571667],
       [ 0.8169387 ],
       [ 0.91382343],
       [ 0.81333739],
       [ 0.88732946],
       [ 0.87150115],
       [ 0.85699493],
       [ 0.77038485],
       [ 0.84908992],
       [ 0.78656065],
       [ 0.84678882],
       [ 0.9136107 ],
       [ 0.89214092],
       [ 0.57482022],
       [ 0.57940626],
       [ 0.83974612],
       [ 0.89764494],
       [ 0.93582982],
       [ 0.53993285],
       [ 0.91592944],
       [ 0.94367284],
       [ 0.89449906],
       [ 0.86416805],
       [ 0.82065976],
       [ 0.53469688],
       [ 0.8197735 ],
       [ 0.74112409],
       [ 0.71058035],
       [ 0.7656666 ],
       [ 0.92209131],
       [ 0.77237535],
       [ 0.77634072],
       [ 0.82123554],
       [ 0.91170144],
       [ 0.88448632],
       [ 0.95511276],
       [ 0.87781292],
       [ 0.80487239],
       [ 0.77921438],
       [ 0.93908072],
       [ 0.93570536],
       [ 0.9045018 ],
       [ 0.60451937],
       [ 0.87468332],
       [ 0.89667994],
       [ 0.53988951],
       [ 0.76377481],
       [ 0.78488666],
       [ 0.80692506],
       [ 0.88236994],
       [ 0.8775897 ],
       [ 0.87946188],
       [ 0.87474704],
       [ 0.89248335],
       [ 0.77255434],
       [ 0.80500561],
       [ 0.87379259],
       [ 0.76984805],
       [ 0.83318377],
       [ 0.80854106],
       [ 0.80266201],
       [ 0.42001   ],
       [ 0.8375389 ],
       [ 0.59138155],
       [ 0.73529124],
       [ 0.83516473],
       [ 0.8838312 ],
       [ 0.53045422],
       [ 0.83602893],
       [ 0.93089622],
       [ 0.78737408],
       [ 0.82776392],
       [ 0.79778516],
       [ 0.75402856],
       [ 0.94820863],
       [ 0.85634732],
       [ 0.90781671],
       [ 0.81611365],
       [ 0.89051342],
       [ 0.86304492],
       [ 0.86830938],
       [ 0.90369856],
       [ 0.70575345]], dtype=float32)

### Prepare Article View

In [77]:
df_article = df_trData[['user_id', 'article_contentid', 'article_l1_categories', 'article_l2_categories', 'article_publisher', 'article_title']]
df_article = df_article.sort_values(by=['article_title'], ascending=False)
df_article.head()

,user_id,article_contentid,article_l1_categories,article_l2_categories,article_publisher,article_title
73696,7C62CF4B33EF7303881DB654E68FF85E,v77c577e1qo_us,"[{u'name': u'1000780', u'weight': 0.8786688469...","[{u'name': u'1000667', u'weight': 0.4648142188...",Daily Record,﻿Vulnerable teen 'livestreams suicide' on Face...
125132,A4F138114721E738AD8C2768C11450A9,v77c577e1qo_us,"[{u'name': u'1000780', u'weight': 0.8786688469...","[{u'name': u'1000667', u'weight': 0.4648142188...",Daily Record,﻿Vulnerable teen 'livestreams suicide' on Face...
45894,986759E2FD77D818BEDC17BFF6376900,v77c577e1qo_us,"[{u'name': u'1000780', u'weight': 0.8786688469...","[{u'name': u'1000667', u'weight': 0.4648142188...",Daily Record,﻿Vulnerable teen 'livestreams suicide' on Face...
136028,17A177FDE5C3C9F500D784FF8D985AD7,0i65cb6eaNb_us,"[{u'name': u'1000780', u'weight': 0.0405336841...","[{u'name': u'1000780', u'weight': 0.0405336841...",芸能・バラエティ,【E-girls】ちび丸子ちゃん―踊りを学びましょう～
136080,17A177FDE5C3C9F500D784FF8D985AD7,0i65cb6eaNb_us,"[{u'name': u'1000780', u'weight': 0.0405336841...","[{u'name': u'1000780', u'weight': 0.0405336841...",芸能・バラエティ,【E-girls】ちび丸子ちゃん―踊りを学びましょう～

In [78]:
df_article = df_article.drop_duplicates(subset=['article_contentid'], keep='first')
df_article = df_article.reset_index(drop = True)
df_article.head()

,user_id,article_contentid,article_l1_categories,article_l2_categories,article_publisher,article_title
0,7C62CF4B33EF7303881DB654E68FF85E,v77c577e1qo_us,"[{u'name': u'1000780', u'weight': 0.8786688469...","[{u'name': u'1000667', u'weight': 0.4648142188...",Daily Record,﻿Vulnerable teen 'livestreams suicide' on Face...
1,17A177FDE5C3C9F500D784FF8D985AD7,0i65cb6eaNb_us,"[{u'name': u'1000780', u'weight': 0.0405336841...","[{u'name': u'1000780', u'weight': 0.0405336841...",芸能・バラエティ,【E-girls】ちび丸子ちゃん―踊りを学びましょう～
2,DB7995E79922E8A96E1585DA8C6EFB51,ag639e0eeDK_us,"[{u'name': u'8000001', u'weight': 0.999}]","[{u'name': u'8000001', u'weight': 0.999}]",Human Fail,♠ Funny Videos ♠ Best FAILS ♠ December 2016 Co...
3,84E7779E484630375F5F0F6175045B4B,7m799a2c4mX_us,"[{u'name': u'1000931', u'weight': 0.1268057078...","[{u'name': u'1000931', u'weight': 0.1268057078...",NighTcore FC,▶[Future Bass] ★ MRVLZ - On The Inside
4,DE83F55126D386CF852A76F25FE0FE04,hQ7cfd994Tv_us,"[{u'name': u'1000780', u'weight': 0.4859073658...","[{u'name': u'1000780', u'weight': 0.4859073658...",Limerick Leader,€1m in funding sought for new air ambulance se...

In [79]:
def getDetail(cat, field):
    if (str(cat) != 'nan'):
        if (len(cat) > 0):
            return cat[0][field]
    else:
        return '0'

In [80]:
df_article['l1_cat'] = df_article.apply(lambda row: getDetail(row['article_l1_categories'],'name'), axis=1)
df_article['l2_cat'] = df_article.apply(lambda row: getDetail(row['article_l2_categories'],'name'), axis=1)
df_article['l1_cat_w'] = df_article.apply(lambda row: getDetail(row['article_l1_categories'],'weight'), axis=1)
df_article['l2_cat_w'] = df_article.apply(lambda row: getDetail(row['article_l2_categories'],'weight'), axis=1)
df_article = df_article.drop(['article_l1_categories', 'article_l2_categories'], axis=1)
df_article.head()

,user_id,article_contentid,article_publisher,article_title,l1_cat,l2_cat,l1_cat_w,l2_cat_w
0,7C62CF4B33EF7303881DB654E68FF85E,v77c577e1qo_us,Daily Record,﻿Vulnerable teen 'livestreams suicide' on Face...,1000780,1000667,0.878669,0.464814
1,17A177FDE5C3C9F500D784FF8D985AD7,0i65cb6eaNb_us,芸能・バラエティ,【E-girls】ちび丸子ちゃん―踊りを学びましょう～,1000780,1000780,0.0405337,0.0405337
2,DB7995E79922E8A96E1585DA8C6EFB51,ag639e0eeDK_us,Human Fail,♠ Funny Videos ♠ Best FAILS ♠ December 2016 Co...,8000001,8000001,0.999,0.999
3,84E7779E484630375F5F0F6175045B4B,7m799a2c4mX_us,NighTcore FC,▶[Future Bass] ★ MRVLZ - On The Inside,1000931,1000931,0.126806,0.126806
4,DE83F55126D386CF852A76F25FE0FE04,hQ7cfd994Tv_us,Limerick Leader,€1m in funding sought for new air ambulance se...,1000780,1000780,0.485907,0.485907

### Clean title

In [81]:
df_article = df_article[~df_article['article_title'].isnull()]
df_article.head()

,user_id,article_contentid,article_publisher,article_title,l1_cat,l2_cat,l1_cat_w,l2_cat_w
0,7C62CF4B33EF7303881DB654E68FF85E,v77c577e1qo_us,Daily Record,﻿Vulnerable teen 'livestreams suicide' on Face...,1000780,1000667,0.878669,0.464814
1,17A177FDE5C3C9F500D784FF8D985AD7,0i65cb6eaNb_us,芸能・バラエティ,【E-girls】ちび丸子ちゃん―踊りを学びましょう～,1000780,1000780,0.0405337,0.0405337
2,DB7995E79922E8A96E1585DA8C6EFB51,ag639e0eeDK_us,Human Fail,♠ Funny Videos ♠ Best FAILS ♠ December 2016 Co...,8000001,8000001,0.999,0.999
3,84E7779E484630375F5F0F6175045B4B,7m799a2c4mX_us,NighTcore FC,▶[Future Bass] ★ MRVLZ - On The Inside,1000931,1000931,0.126806,0.126806
4,DE83F55126D386CF852A76F25FE0FE04,hQ7cfd994Tv_us,Limerick Leader,€1m in funding sought for new air ambulance se...,1000780,1000780,0.485907,0.485907

In [82]:
from gensim.models import Word2Vec
from nltk.corpus import stopwords
from nltk import word_tokenize
from nltk.stem.lancaster import LancasterStemmer
import re

In [83]:
def hashingTitle(title):
    STEMMER = LancasterStemmer()
    if (type(title) != float) & (type(title) != int):
        title = title.lower()
        title = word_tokenize(title)
        title = [STEMMER.stem(word.strip('!"#$%&\()*+,-./:;<=>?@[\]^_`{|}~').lower()) for word in title]
        titleList = []
        for w in title:
            if len(re.findall("[a-zA-Z]+", w)) > 0:
                f_w = re.findall("[a-zA-Z]+", w)[0].lower()
                f_w = '#'+f_w+'#'
                f_w_tri = [f_w[i:i+3] for i in range(len(f_w)-1) if (len(f_w[i:i+3]) == 3)]
                titleList.extend(f_w_tri)
        return dict(Counter(titleList))
    else:
        return {}

In [84]:
df_article['clean_article_title'] = df_article.apply(lambda x: hashingTitle(x['article_title']), axis=1)
df_article.head()

,user_id,article_contentid,article_publisher,article_title,l1_cat,l2_cat,l1_cat_w,l2_cat_w,clean_article_title
0,7C62CF4B33EF7303881DB654E68FF85E,v77c577e1qo_us,Daily Record,﻿Vulnerable teen 'livestreams suicide' on Face...,1000780,1000667,0.878669,0.464814,"{u'om#': 2, u'ive': 1, u'uic': 1, u'le#': 1, u..."
1,17A177FDE5C3C9F500D784FF8D985AD7,0i65cb6eaNb_us,芸能・バラエティ,【E-girls】ちび丸子ちゃん―踊りを学びましょう～,1000780,1000780,0.0405337,0.0405337,{u'#e#': 1}
2,DB7995E79922E8A96E1585DA8C6EFB51,ag639e0eeDK_us,Human Fail,♠ Funny Videos ♠ Best FAILS ♠ December 2016 Co...,8000001,8000001,0.999,0.999,"{u'anf': 1, u'pil': 1, u'vid': 1, u'#fa': 1, u..."
3,84E7779E484630375F5F0F6175045B4B,7m799a2c4mX_us,NighTcore FC,▶[Future Bass] ★ MRVLZ - On The Inside,1000931,1000931,0.126806,0.126806,"{u'ass': 1, u'nsi': 1, u'#ba': 1, u'rvl': 1, u..."
4,DE83F55126D386CF852A76F25FE0FE04,hQ7cfd994Tv_us,Limerick Leader,€1m in funding sought for new air ambulance se...,1000780,1000780,0.485907,0.485907,"{u'rv#': 1, u'#fo': 1, u'ugh': 1, u'ht#': 1, u..."

In [85]:
df_article_title = pd.DataFrame.from_records(df_article['clean_article_title'].tolist())
df_article_title = df_article_title.fillna(0)
df_article_title.head()

,#a#,#aa,#ab,#ac,#ad,#ae,#af,#ag,#ah,#ai,...,zyt,zz#,zza,zze,zzf,zzi,zzl,zzn,zzo,zzy
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [86]:
df_article = df_article.merge(df_article_title, how='left', left_index=True, right_index=True)
df_article.head()

,user_id,article_contentid,article_publisher,article_title,l1_cat,l2_cat,l1_cat_w,l2_cat_w,clean_article_title,#a#,...,zyt,zz#,zza,zze,zzf,zzi,zzl,zzn,zzo,zzy
0,7C62CF4B33EF7303881DB654E68FF85E,v77c577e1qo_us,Daily Record,﻿Vulnerable teen 'livestreams suicide' on Face...,1000780,1000667,0.878669,0.464814,"{u'om#': 2, u'ive': 1, u'uic': 1, u'le#': 1, u...",0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,17A177FDE5C3C9F500D784FF8D985AD7,0i65cb6eaNb_us,芸能・バラエティ,【E-girls】ちび丸子ちゃん―踊りを学びましょう～,1000780,1000780,0.0405337,0.0405337,{u'#e#': 1},0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,DB7995E79922E8A96E1585DA8C6EFB51,ag639e0eeDK_us,Human Fail,♠ Funny Videos ♠ Best FAILS ♠ December 2016 Co...,8000001,8000001,0.999,0.999,"{u'anf': 1, u'pil': 1, u'vid': 1, u'#fa': 1, u...",0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,84E7779E484630375F5F0F6175045B4B,7m799a2c4mX_us,NighTcore FC,▶[Future Bass] ★ MRVLZ - On The Inside,1000931,1000931,0.126806,0.126806,"{u'ass': 1, u'nsi': 1, u'#ba': 1, u'rvl': 1, u...",0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,DE83F55126D386CF852A76F25FE0FE04,hQ7cfd994Tv_us,Limerick Leader,€1m in funding sought for new air ambulance se...,1000780,1000780,0.485907,0.485907,"{u'rv#': 1, u'#fo': 1, u'ugh': 1, u'ht#': 1, u...",0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [87]:
df_article = df_article.drop(['article_title'], axis=1)
#df_article = df_article.drop(['article_title', 'clean_article_title'], axis=1)
df_article.head()

,user_id,article_contentid,article_publisher,l1_cat,l2_cat,l1_cat_w,l2_cat_w,clean_article_title,#a#,#aa,...,zyt,zz#,zza,zze,zzf,zzi,zzl,zzn,zzo,zzy
0,7C62CF4B33EF7303881DB654E68FF85E,v77c577e1qo_us,Daily Record,1000780,1000667,0.878669,0.464814,"{u'om#': 2, u'ive': 1, u'uic': 1, u'le#': 1, u...",0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,17A177FDE5C3C9F500D784FF8D985AD7,0i65cb6eaNb_us,芸能・バラエティ,1000780,1000780,0.0405337,0.0405337,{u'#e#': 1},0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,DB7995E79922E8A96E1585DA8C6EFB51,ag639e0eeDK_us,Human Fail,8000001,8000001,0.999,0.999,"{u'anf': 1, u'pil': 1, u'vid': 1, u'#fa': 1, u...",0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,84E7779E484630375F5F0F6175045B4B,7m799a2c4mX_us,NighTcore FC,1000931,1000931,0.126806,0.126806,"{u'ass': 1, u'nsi': 1, u'#ba': 1, u'rvl': 1, u...",0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,DE83F55126D386CF852A76F25FE0FE04,hQ7cfd994Tv_us,Limerick Leader,1000780,1000780,0.485907,0.485907,"{u'rv#': 1, u'#fo': 1, u'ugh': 1, u'ht#': 1, u...",0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [88]:
df_article = pd.get_dummies(df_article, columns=['article_publisher'])
df_article = df_article.fillna(0)
df_article.head()

,user_id,article_contentid,l1_cat,l2_cat,l1_cat_w,l2_cat_w,clean_article_title,#a#,#aa,#ab,...,article_publisher_yahoo,article_publisher_yahoo.com,article_publisher_ynetnews.com,article_publisher_youforanimal,article_publisher_youralaskalink.com,article_publisher_zacktv1,article_publisher_zimnews.net,article_publisher_کەناڵی ئێن ئاڕ تی - سەرەتا,article_publisher_– IMEMC News,article_publisher_芸能・バラエティ
0,7C62CF4B33EF7303881DB654E68FF85E,v77c577e1qo_us,1000780,1000667,0.878669,0.464814,"{u'om#': 2, u'ive': 1, u'uic': 1, u'le#': 1, u...",0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,17A177FDE5C3C9F500D784FF8D985AD7,0i65cb6eaNb_us,1000780,1000780,0.040534,0.040534,{u'#e#': 1},0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
2,DB7995E79922E8A96E1585DA8C6EFB51,ag639e0eeDK_us,8000001,8000001,0.999000,0.999000,"{u'anf': 1, u'pil': 1, u'vid': 1, u'#fa': 1, u...",0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,84E7779E484630375F5F0F6175045B4B,7m799a2c4mX_us,1000931,1000931,0.126806,0.126806,"{u'ass': 1, u'nsi': 1, u'#ba': 1, u'rvl': 1, u...",0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,DE83F55126D386CF852A76F25FE0FE04,hQ7cfd994Tv_us,1000780,1000780,0.485907,0.485907,"{u'rv#': 1, u'#fo': 1, u'ugh': 1, u'ht#': 1, u...",0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [89]:
df_cat = df_article[['l1_cat', 'l2_cat', 'l1_cat_w', 'l2_cat_w']]
df_cat = pd.get_dummies(df_cat, columns=['l1_cat', 'l2_cat'])
df_cat = df_cat.fillna(0)
df_cat = df_cat.drop(['l1_cat_0', 'l2_cat_0'], axis=1)
df_cat.head()

,l1_cat_w,l2_cat_w,l1_cat_0010000000,l1_cat_1000001,l1_cat_1000031,l1_cat_1000044,l1_cat_1000111,l1_cat_1000123,l1_cat_1000267,l1_cat_1000288,...,l2_cat_1001040,l2_cat_1001049,l2_cat_1001060,l2_cat_1001091,l2_cat_1001103,l2_cat_1001110,l2_cat_1001117,l2_cat_2000000,l2_cat_6000007,l2_cat_8000001
0,0.878669,0.464814,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.040534,0.040534,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0.999000,0.999000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0.126806,0.126806,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0.485907,0.485907,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [90]:
df_cat = df_cat.merge(df_article[['l1_cat', 'l2_cat']], how='left', left_index=True, right_index=True)
df_cat.head()

,l1_cat_w,l2_cat_w,l1_cat_0010000000,l1_cat_1000001,l1_cat_1000031,l1_cat_1000044,l1_cat_1000111,l1_cat_1000123,l1_cat_1000267,l1_cat_1000288,...,l2_cat_1001060,l2_cat_1001091,l2_cat_1001103,l2_cat_1001110,l2_cat_1001117,l2_cat_2000000,l2_cat_6000007,l2_cat_8000001,l1_cat,l2_cat
0,0.878669,0.464814,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1000780,1000667
1,0.040534,0.040534,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1000780,1000780
2,0.999000,0.999000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,8000001,8000001
3,0.126806,0.126806,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1000931,1000931
4,0.485907,0.485907,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1000780,1000780

In [91]:
def updateCatWeight(row):
    cat = row['l1_cat']
    row['l1_cat_'+str(cat)] = row['l1_cat_w']
    return row

In [92]:
df_cat = df_cat.apply(lambda row: updateCatWeight(row), axis=1)
df_cat.head()

,l1_cat,l1_cat_0,l1_cat_0010000000,l1_cat_1000001,l1_cat_1000031,l1_cat_1000044,l1_cat_1000111,l1_cat_1000123,l1_cat_1000267,l1_cat_1000288,...,l2_cat_1001049,l2_cat_1001060,l2_cat_1001091,l2_cat_1001103,l2_cat_1001110,l2_cat_1001117,l2_cat_2000000,l2_cat_6000007,l2_cat_8000001,l2_cat_w
0,1000780,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0.464814
1,1000780,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0.040534
2,8000001,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,0.999000
3,1000931,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0.126806
4,1000780,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0.485907

In [93]:
df_cat = df_cat.drop(['l1_cat', 'l2_cat', 'l1_cat_0'], axis=1)
df_cat.head()

,l1_cat_0010000000,l1_cat_1000001,l1_cat_1000031,l1_cat_1000044,l1_cat_1000111,l1_cat_1000123,l1_cat_1000267,l1_cat_1000288,l1_cat_1000298,l1_cat_1000374,...,l2_cat_1001049,l2_cat_1001060,l2_cat_1001091,l2_cat_1001103,l2_cat_1001110,l2_cat_1001117,l2_cat_2000000,l2_cat_6000007,l2_cat_8000001,l2_cat_w
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0.464814
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0.040534
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,0.999000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0.126806
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0.485907

In [94]:
df_article = df_article.merge(df_cat, how='left', left_index=True, right_index=True)
df_article.head()

,user_id,article_contentid,l1_cat,l2_cat,l1_cat_w_x,l2_cat_w_x,clean_article_title,#a#,#aa,#ab,...,l2_cat_1001049,l2_cat_1001060,l2_cat_1001091,l2_cat_1001103,l2_cat_1001110,l2_cat_1001117,l2_cat_2000000,l2_cat_6000007,l2_cat_8000001,l2_cat_w_y
0,7C62CF4B33EF7303881DB654E68FF85E,v77c577e1qo_us,1000780,1000667,0.878669,0.464814,"{u'om#': 2, u'ive': 1, u'uic': 1, u'le#': 1, u...",0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0.464814
1,17A177FDE5C3C9F500D784FF8D985AD7,0i65cb6eaNb_us,1000780,1000780,0.040534,0.040534,{u'#e#': 1},0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0.040534
2,DB7995E79922E8A96E1585DA8C6EFB51,ag639e0eeDK_us,8000001,8000001,0.999000,0.999000,"{u'anf': 1, u'pil': 1, u'vid': 1, u'#fa': 1, u...",0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,0.999000
3,84E7779E484630375F5F0F6175045B4B,7m799a2c4mX_us,1000931,1000931,0.126806,0.126806,"{u'ass': 1, u'nsi': 1, u'#ba': 1, u'rvl': 1, u...",0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0.126806
4,DE83F55126D386CF852A76F25FE0FE04,hQ7cfd994Tv_us,1000780,1000780,0.485907,0.485907,"{u'rv#': 1, u'#fo': 1, u'ugh': 1, u'ht#': 1, u...",0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0.485907

In [95]:
#df_article = df_article.drop(['article_title', 'article_contentid', 'l1_cat', 'l2_cat', 'l1_cat_w', 'l2_cat_w'], axis = 1)
df_article.head()

,user_id,article_contentid,l1_cat,l2_cat,l1_cat_w_x,l2_cat_w_x,clean_article_title,#a#,#aa,#ab,...,l2_cat_1001049,l2_cat_1001060,l2_cat_1001091,l2_cat_1001103,l2_cat_1001110,l2_cat_1001117,l2_cat_2000000,l2_cat_6000007,l2_cat_8000001,l2_cat_w_y
0,7C62CF4B33EF7303881DB654E68FF85E,v77c577e1qo_us,1000780,1000667,0.878669,0.464814,"{u'om#': 2, u'ive': 1, u'uic': 1, u'le#': 1, u...",0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0.464814
1,17A177FDE5C3C9F500D784FF8D985AD7,0i65cb6eaNb_us,1000780,1000780,0.040534,0.040534,{u'#e#': 1},0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0.040534
2,DB7995E79922E8A96E1585DA8C6EFB51,ag639e0eeDK_us,8000001,8000001,0.999000,0.999000,"{u'anf': 1, u'pil': 1, u'vid': 1, u'#fa': 1, u...",0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,0.999000
3,84E7779E484630375F5F0F6175045B4B,7m799a2c4mX_us,1000931,1000931,0.126806,0.126806,"{u'ass': 1, u'nsi': 1, u'#ba': 1, u'rvl': 1, u...",0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0.126806
4,DE83F55126D386CF852A76F25FE0FE04,hQ7cfd994Tv_us,1000780,1000780,0.485907,0.485907,"{u'rv#': 1, u'#fo': 1, u'ugh': 1, u'ht#': 1, u...",0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0.485907

In [96]:
df_user.head()

,user_id,user_age_0.0,user_age_1.0,user_age_2.0,user_age_3.0,user_age_4.0,user_gender_0.0,user_gender_1.0,user_gender_2.0,user_brand_acer,...,user_brand_tct_metropcs,user_brand_trio,user_brand_verizon,user_brand_verizon_lge,user_brand_verizon_wwe,user_brand_x325,user_brand_x401,user_brand_xiaomi,user_brand_yezz,user_brand_zte
0,614E304DE3B07EBCDD4E11382578EF5A,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
6,CD2F2B61135DB27BA3230F91466ED793,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
11,56F27AD705D8564F7900470AA793DBD2,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
12,8EE461BA3AA2595AC91FCDD833EC1711,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
15,5BA72C11B1E94BA50F1E66F4B1362CE6,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [97]:
df_user_article = df_user.merge(df_article, how='left', on='user_id')
df_user_article.head()

,user_id,user_age_0.0,user_age_1.0,user_age_2.0,user_age_3.0,user_age_4.0,user_gender_0.0,user_gender_1.0,user_gender_2.0,user_brand_acer,...,l2_cat_1001049,l2_cat_1001060,l2_cat_1001091,l2_cat_1001103,l2_cat_1001110,l2_cat_1001117,l2_cat_2000000,l2_cat_6000007,l2_cat_8000001,l2_cat_w_y
0,614E304DE3B07EBCDD4E11382578EF5A,0,0,1,0,0,0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.856806
1,614E304DE3B07EBCDD4E11382578EF5A,0,0,1,0,0,0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.686779
2,CD2F2B61135DB27BA3230F91466ED793,0,0,0,1,0,0,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,56F27AD705D8564F7900470AA793DBD2,0,0,0,0,1,0,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8EE461BA3AA2595AC91FCDD833EC1711,0,0,1,0,0,0,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
df_user_article = df_user_article.fillna(0)
df_user_article = df_user_article[(df_user_article['l1_cat'] != 0) & (df_user_article['l2_cat'] != 0)]
df_user_article.head()

,user_id,user_age_0.0,user_age_1.0,user_age_2.0,user_age_3.0,user_age_4.0,user_gender_0.0,user_gender_1.0,user_gender_2.0,user_brand_acer,...,l2_cat_1001049,l2_cat_1001060,l2_cat_1001091,l2_cat_1001103,l2_cat_1001110,l2_cat_1001117,l2_cat_2000000,l2_cat_6000007,l2_cat_8000001,l2_cat_w_y
0,614E304DE3B07EBCDD4E11382578EF5A,0,0,1,0,0,0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.856806
1,614E304DE3B07EBCDD4E11382578EF5A,0,0,1,0,0,0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.686779
5,5BA72C11B1E94BA50F1E66F4B1362CE6,0,0,1,0,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.362159
6,B3B51127D5FB5B39E4273BE65CACA28C,0,0,1,0,0,0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.583826
8,E1295F6622EA8DA36DE678772D9ED152,0,0,1,0,0,0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.739064

In [100]:
df_ua_user = df_user_article[df_user.columns]
#df_ua_user = df_ua_user.drop(['user_id'], axis=1)
df_ua_user = df_ua_user.fillna(0)
df_ua_user.head()

,user_id,user_age_0.0,user_age_1.0,user_age_2.0,user_age_3.0,user_age_4.0,user_gender_0.0,user_gender_1.0,user_gender_2.0,user_brand_acer,...,user_brand_tct_metropcs,user_brand_trio,user_brand_verizon,user_brand_verizon_lge,user_brand_verizon_wwe,user_brand_x325,user_brand_x401,user_brand_xiaomi,user_brand_yezz,user_brand_zte
0,614E304DE3B07EBCDD4E11382578EF5A,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,614E304DE3B07EBCDD4E11382578EF5A,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5,5BA72C11B1E94BA50F1E66F4B1362CE6,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6,B3B51127D5FB5B39E4273BE65CACA28C,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
8,E1295F6622EA8DA36DE678772D9ED152,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1

In [101]:
df_ua_article = df_user_article[df_article.columns]
#df_ua_article = df_ua_article.drop(['user_id', 'article_contentid'], axis=1)
#df_ua_article = df_ua_article.drop(['article_contentid'], axis=1)# modify by sophia
df_ua_article = df_ua_article.fillna(0)
df_ua_article.head()

,user_id,article_contentid,l1_cat,l2_cat,l1_cat_w_x,l2_cat_w_x,clean_article_title,#a#,#aa,#ab,...,l2_cat_1001049,l2_cat_1001060,l2_cat_1001091,l2_cat_1001103,l2_cat_1001110,l2_cat_1001117,l2_cat_2000000,l2_cat_6000007,l2_cat_8000001,l2_cat_w_y
0,614E304DE3B07EBCDD4E11382578EF5A,jv70536a3bt_us,1000031,1000069,0.439600,0.856806,"{u'and': 1, u'nk#': 1, u'iva': 1, u'#go': 1, u...",0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.856806
1,614E304DE3B07EBCDD4E11382578EF5A,Ly7407d4cuC_us,1000780,1000667,0.454644,0.686779,"{u'and': 1, u'wif': 1, u'ugh': 1, u'#fo': 1, u...",2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.686779
5,5BA72C11B1E94BA50F1E66F4B1362CE6,fP7b7115agK_us,1000288,1000288,0.362159,0.362159,"{u'#mo': 1, u'whe': 1, u'her': 1, u'om#': 1, u...",0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.362159
6,B3B51127D5FB5B39E4273BE65CACA28C,sr715100efS_us,1000780,1000780,0.817986,0.583826,"{u'vic': 1, u'oss': 1, u'vil': 1, u'#re': 1, u...",0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.583826
8,E1295F6622EA8DA36DE678772D9ED152,ZD782d17023_us,1000031,1000069,0.844815,0.739064,"{u'sew': 1, u'all': 1, u'eal': 1, u'sal': 1, u...",0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.739064

In [115]:
df_upa_article = df_ua_article.merge(df_app, how = 'left', on = 'user_id')
print df_upa_article.shape
df_upa_article.head()

(49129, 14847)

,user_id,article_contentid,clean_article_title,#a#,#aa,#ab,#ac,#ad,#ae,#af,...,PHOTOGRAPHY,PRODUCTIVITY,SHOPPING,SOCIAL,SPORTS,TOOLS,TRANSPORTATION,TRAVEL_AND_LOCAL,VIDEO_PLAYERS,WEATHER
0,614E304DE3B07EBCDD4E11382578EF5A,jv70536a3bt_us,"{u'and': 1, u'nk#': 1, u'iva': 1, u'#go': 1, u...",0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,3.0,1.0,1.0,0.0,5.0,0.0,0.0,2.0,0.0
1,614E304DE3B07EBCDD4E11382578EF5A,Ly7407d4cuC_us,"{u'and': 1, u'wif': 1, u'ugh': 1, u'#fo': 1, u...",2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,1.0,1.0,0.0,5.0,0.0,0.0,2.0,0.0
2,5BA72C11B1E94BA50F1E66F4B1362CE6,fP7b7115agK_us,"{u'#mo': 1, u'whe': 1, u'her': 1, u'om#': 1, u...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,3.0,0.0,10.0,0.0,3.0,7.0,2.0
3,B3B51127D5FB5B39E4273BE65CACA28C,sr715100efS_us,"{u'vic': 1, u'oss': 1, u'vil': 1, u'#re': 1, u...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,2.0,0.0,3.0,0.0,1.0,1.0,0.0
4,E1295F6622EA8DA36DE678772D9ED152,ZD782d17023_us,"{u'sew': 1, u'all': 1, u'eal': 1, u'sal': 1, u...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,4.0,0.0,2.0,0.0,16.0,0.0,1.0,1.0,0.0

### Prepare Train Test Set (user-article)

In [116]:
import random
train_ratio = 0.9
num_train_user = int(round(len(df_ua_user)*train_ratio))
train_user_id = random.sample(df_ua_user['user_id'].tolist(), num_train_user)

In [117]:
df_train_user = df_ua_user[df_ua_user['user_id'].isin(train_user_id)]
df_train_user = df_train_user.drop(['user_id'], axis=1)
df_train_user = df_train_user.fillna(0)
df_train_user_arr = df_train_user.values
df_train_user_arr.shape

(48946, 54)

In [118]:
df_test_user0 = df_ua_user[~df_ua_user['user_id'].isin(train_user_id)]
df_test_user = df_test_user0.drop(['user_id'], axis=1)
df_test_user = df_test_user.fillna(0)
df_test_user_arr = df_test_user.values
df_test_user_arr.shape

(183, 54)

In [121]:
#df_ua_article = df_ua_article.drop(['l1_cat', 'l2_cat', 'l1_cat_w_x', 'l2_cat_w_x', 'l1_cat_w_y', 'l2_cat_w_y'], axis=1)

In [106]:
cat_col = [i for i in df_ua_article.columns if ("l1_cat" in i) or ("l2_cat" in i)]
len(cat_col)

181

In [107]:
df_train_article = df_ua_article[df_ua_article['user_id'].isin(train_user_id)]

df_train_app0 = df_train_article[['user_id']].merge(df_app, how = 'left', on = 'user_id')
df_train_app = df_train_app0.drop(['user_id'], axis=1)
df_train_app = df_train_app.fillna(0)
df_train_app_arr = df_train_app.values
print df_train_app_arr.shape

(48940, 52)

In [ ]:
df_train_article = df_train_article.drop(['user_id', 'article_contentid'], axis=1)# modify by sophia
df_train_article = df_train_article.fillna(0)
df_train_article = df_train_article[cat_col]
df_train_article_arr = df_train_article.values
print df_train_article_arr.shape

In [ ]:
df_test_article0 = df_ua_article[~df_ua_article['user_id'].isin(train_user_id)]
df_test_article = df_test_article0.drop(['user_id', 'article_contentid'], axis=1)# modify by sophia
df_test_article = df_test_article.fillna(0)
df_test_article = df_test_article[cat_col]
df_test_article_arr = df_test_article.values
df_test_article_arr.shape

In [ ]:
df_test_app0 = df_test_article0[['user_id']].merge(df_app, how = 'left', on = 'user_id')
df_test_app = df_test_app0.drop(['user_id'], axis=1)
df_test_app = df_test_app.fillna(0)
df_test_app_arr = df_test_app.values
df_test_app_arr.shape

In [ ]:
y_train = [1 for i in range(len(df_train_user_arr))]
len(y_train)

### Build Model By Keras (User Vs Article)

In [63]:
from keras.models import Sequential, Model
from keras.layers import Dense, Merge, Activation, Dropout, Reshape
import numpy as np
# fix random seed for reproducibility
np.random.seed(0)

In [64]:
df_train_user_arr.shape

(48941, 54)

In [65]:
df_train_article_arr.shape

(48941, 181)

In [66]:
y_train = [1 for i in range(len(df_train_user_arr))]
len(y_train)

48941

In [67]:
df_train_user_arr

array([[0, 0, 1, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0],
       ...,
       [0, 0, 1, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0]], dtype=uint8)

In [68]:
# create user model
userModel = Sequential()
'''
userModel.add(Dense(2000, input_shape=(2380,)))
userModel.add(Activation('tanh'))
userModel.add(Dropout(0.4))
userModel.add(Dense(500, input_shape=(2000,)))
userModel.add(Activation('tanh'))
userModel.add(Dropout(0.4))
userModel.add(Dense(50, input_shape=(500,)))
userModel.add(Activation('tanh'))
userModel.add(Dropout(0.4))
'''
userModel.add(Dense(30, input_shape=(54,)))
userModel.add(Activation('tanh'))
userModel.add(Dropout(0.4))
userModel.add(Dense(10, input_shape=(30,)))
userModel.add(Activation('tanh'))
userModel.add(Reshape((10,1)))

In [69]:
# create app model
articleModel = Sequential()
articleModel.add(Dense(50, input_shape=(181,)))
articleModel.add(Activation('tanh'))
articleModel.add(Dense(30, input_shape=(50,)))
articleModel.add(Activation('tanh'))
articleModel.add(Dense(10, input_shape=(30,)))
articleModel.add(Activation('tanh'))
articleModel.add(Reshape((10,1)))

In [70]:
model = Sequential()
model.add(Merge([userModel,articleModel], mode='cos', dot_axes=1, output_shape=(1,)))
model.add(Reshape((1,)))

In [71]:
# Compile model
model.compile(loss='cosine_proximity', optimizer='adam', metrics=['accuracy'])#metrics = ['precision', 'recall']

In [72]:
df_train_user_arr[0]

array([0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0], dtype=uint8)

In [73]:
df_train_article_arr[0:3]
print df_train_article_arr.shape, df_train_user_arr.shape

(48941, 181) (48941, 54)

In [74]:
# Fit the model
#model.fit([df_all_user_arr, df_all_app_arr],y_all, epochs=1, batch_size=10)
model.fit([df_train_user_arr, df_train_article_arr],y_train, nb_epoch=1, batch_size=10)

Epoch 1/1
48941/48941 [==============================] - 18s - loss: -0.9523 - acc: 0.8741

In [75]:
y_test = [1 for i in range(len(df_test_user_arr))]
len(y_test)

188

In [76]:
# evaluate the model
scores = model.evaluate([df_test_user_arr,df_test_article_arr], y_test)
print("\n%s: %.2f%%" % (model.metrics_names[1], scores[1]*100))

 32/188 [====>.........................] - ETA: 0s
acc: 100.00%

In [77]:
model.predict([df_test_user_arr,df_test_article_arr], batch_size=10, verbose=0)

array([[ 0.96274406],
       [ 0.93508452],
       [ 0.94851971],
       [ 0.9621526 ],
       [ 0.95747983],
       [ 0.91191059],
       [ 0.96159327],
       [ 0.96163213],
       [ 0.94584805],
       [ 0.93350714],
       [ 0.9690181 ],
       [ 0.9855231 ],
       [ 0.96567696],
       [ 0.96972096],
       [ 0.96159166],
       [ 0.98738021],
       [ 0.87844533],
       [ 0.95870101],
       [ 0.97821683],
       [ 0.90995467],
       [ 0.97812021],
       [ 0.93054634],
       [ 0.84981471],
       [ 0.93712521],
       [ 0.94627172],
       [ 0.90764236],
       [ 0.94002849],
       [ 0.97481072],
       [ 0.98742485],
       [ 0.9660573 ],
       [ 0.97850364],
       [ 0.97413141],
       [ 0.79131132],
       [ 0.93772757],
       [ 0.95813239],
       [ 0.920892  ],
       [ 0.95706391],
       [ 0.86519557],
       [ 0.93673581],
       [ 0.9773286 ],
       [ 0.91808593],
       [ 0.92730641],
       [ 0.95784038],
       [ 0.94834822],
       [ 0.94986987],
       [ 0.91242057],
       [ 0.8817367 ],
       [ 0.97535104],
       [ 0.95045978],
       [ 0.95215625],
       [ 0.9858948 ],
       [ 0.89211291],
       [ 0.96577847],
       [ 0.87527514],
       [ 0.96540421],
       [ 0.97909677],
       [ 0.97154993],
       [ 0.97345281],
       [ 0.94944209],
       [ 0.94608098],
       [ 0.91903073],
       [ 0.867356  ],
       [ 0.98839569],
       [ 0.96719533],
       [ 0.96071965],
       [ 0.92475802],
       [ 0.96326375],
       [ 0.97861564],
       [ 0.94809556],
       [ 0.79228365],
       [ 0.92186892],
       [ 0.94105828],
       [ 0.97090781],
       [ 0.94571847],
       [ 0.976309  ],
       [ 0.97979665],
       [ 0.99243778],
       [ 0.97875321],
       [ 0.96056193],
       [ 0.96403533],
       [ 0.93807751],
       [ 0.97615081],
       [ 0.96576858],
       [ 0.88490772],
       [ 0.91407275],
       [ 0.9638086 ],
       [ 0.96352184],
       [ 0.89496809],
       [ 0.97614658],
       [ 0.96255398],
       [ 0.99119222],
       [ 0.96448785],
       [ 0.83307111],
       [ 0.94897002],
       [ 0.97466338],
       [ 0.87321877],
       [ 0.84414154],
       [ 0.95381469],
       [ 0.90966177],
       [ 0.8668837 ],
       [ 0.97216499],
       [ 0.96585423],
       [ 0.97624236],
       [ 0.97409171],
       [ 0.94259745],
       [ 0.9418925 ],
       [ 0.97377104],
       [ 0.89720029],
       [ 0.92500472],
       [ 0.8614468 ],
       [ 0.96562475],
       [ 0.96423483],
       [ 0.96500015],
       [ 0.95742923],
       [ 0.95754325],
       [ 0.97926575],
       [ 0.98193747],
       [ 0.96840638],
       [ 0.88268983],
       [ 0.92738116],
       [ 0.97731179],
       [ 0.9762094 ],
       [ 0.95182121],
       [ 0.93630785],
       [ 0.97371733],
       [ 0.95425314],
       [ 0.8949461 ],
       [ 0.965841  ],
       [ 0.96231049],
       [ 0.94341987],
       [ 0.97014928],
       [ 0.91668427],
       [ 0.99092209],
       [ 0.88238472],
       [ 0.91139418],
       [ 0.98518264],
       [ 0.96635771],
       [ 0.97543347],
       [ 0.98424464],
       [ 0.9171052 ],
       [ 0.94147015],
       [ 0.91226643],
       [ 0.9298299 ],
       [ 0.95224625],
       [ 0.83873498],
       [ 0.97705001],
       [ 0.97789299],
       [ 0.8116551 ],
       [ 0.89960438],
       [ 0.88526386],
       [ 0.97474849],
       [ 0.96520603],
       [ 0.94325292],
       [ 0.95052844],
       [ 0.95031387],
       [ 0.9413023 ],
       [ 0.96544331],
       [ 0.97318232],
       [ 0.93943447],
       [ 0.93291026],
       [ 0.98764175],
       [ 0.96159172],
       [ 0.97384828],
       [ 0.92729962],
       [ 0.89684778],
       [ 0.96483105],
       [ 0.97776091],
       [ 0.92672533],
       [ 0.94987124],
       [ 0.95947725],
       [ 0.96666676],
       [ 0.96193087],
       [ 0.9590764 ],
       [ 0.96094424],
       [ 0.96496207],
       [ 0.97171366],
       [ 0.95802242],
       [ 0.96194392],
       [ 0.91438156],
       [ 0.98517007],
       [ 0.97125614],
       [ 0.96022117],
       [ 0.97430319],
       [ 0.96447688],
       [ 0.92290521],
       [ 0.92573631],
       [ 0.92158735],
       [ 0.98153555]], dtype=float32)

### Calculate precision/recall on a single user

In [86]:
# Test user list
df_test_user0['user_id'].iloc[1]

u'D79CC4620095EAF4E21BA529129E8107'

In [87]:
# Predict on the first user
# Get User ID
uid = df_test_user0['user_id'].iloc[1]
# Get prediction score
l = len(df_test_article_arr)
u = df_test_user_arr[2]
temp = np.array([u] * l)
up = pd.DataFrame(model.predict([temp,df_test_article_arr], batch_size=10, verbose=0))
df_test_article1=df_test_article0.reset_index(drop = True)\
                                .merge(up, how = 'left', left_index=True, right_index=True)\
                                .rename(columns={0:'u0_score'})
df_test_article1.head()

,user_id,article_contentid,#a#,#aa,#ab,#ac,#ad,#ae,#af,#ag,...,l2_cat_1001049,l2_cat_1001060,l2_cat_1001091,l2_cat_1001103,l2_cat_1001110,l2_cat_1001117,l2_cat_2000000,l2_cat_6000007,l2_cat_8000001,u0_score
0,026F279414571C9A841F8E8E86EC594D,gJ74e851cxO_us,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.953069
1,D79CC4620095EAF4E21BA529129E8107,9S6f5b7602s_us,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.959182
2,40929E249813D17DE0BE52F61CDDCD62,G47044b49k2_us,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.948520
3,D2CCEC6C0F772D9D14C239DF1F3531B7,rp7a4dd7d1F_us,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.958920
4,DC7E5807E0CF9B47EFE3ECA461866A73,kE7dcda4bKn_us,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.964808

In [88]:
# add y_pred column
df_test_article1 = df_test_article1[['article_contentid', 'u0_score']]
df_test_article1 = df_test_article1.sort_values(by='u0_score', ascending=False)
df_test_article1['y_pred'] = 0
df_test_article1[:5]['y_pred']=1

/Users/sophia.gao/.pyenv/versions/miniconda2-latest/lib/python2.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [89]:
df_test_article1.head()

    article_contentid  u0_score  y_pred
31     aH6b9c8e1hC_us  0.988923       1
8      nC7d7c6f9BA_us  0.983207       1
163    Mb703635d7R_us  0.982275       1
169    aL737544dUD_us  0.982265       1
116    vE79161e3QI_us  0.979194       1

In [90]:
# add y_true column
df_match = df_test_article0.ix[df_test_article0['user_id'] == uid]#,['user_id','readList']]
df_match = df_match[['article_contentid']]
df_match['y_true'] = 1
df_match.head()

    article_contentid  y_true
488    9S6f5b7602s_us       1

In [91]:
df_test_article1 = df_test_article1.merge(df_match, how = 'left', on = 'article_contentid')
df_test_article1 = df_test_article1.fillna(0)
df_test_article1.head()

  article_contentid  u0_score  y_pred  y_true
0    aH6b9c8e1hC_us  0.988923       1     0.0
1    nC7d7c6f9BA_us  0.983207       1     0.0
2    Mb703635d7R_us  0.982275       1     0.0
3    aL737544dUD_us  0.982265       1     0.0
4    vE79161e3QI_us  0.979194       1     0.0

In [92]:
'''
y_true = df_test_article1['y_true'].tolist()
y_pred = df_test_article1['y_pred'].tolist()

# use sklearn function : this will include prediction of 0
from sklearn.metrics import classification_report
target_names = ['Yread', 'Nread']
print(classification_report(y_true, y_pred, target_names=target_names))
'''

"\ny_true = df_test_article1['y_true'].tolist()\ny_pred = df_test_article1['y_pred'].tolist()\n\n# use sklearn function : this will include prediction of 0\nfrom sklearn.metrics import classification_report\ntarget_names = ['Yread', 'Nread']\nprint(classification_report(y_true, y_pred, target_names=target_names))\n"

In [93]:
tp = df_test_article1.ix[(df_test_article1['y_pred'] == 1) & (df_test_article1['y_true'] == 1)].shape[0]
fp = df_test_article1.ix[(df_test_article1['y_pred'] == 1) & (df_test_article1['y_true'] == 0)].shape[0]
fn = df_test_article1.ix[(df_test_article1['y_pred'] == 0) & (df_test_article1['y_true'] == 1)].shape[0]
precision = tp/(float(tp+fp))
recall = tp/(float(tp+fn))
precision, recall

/Users/sophia.gao/.pyenv/versions/miniconda2-latest/lib/python2.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

(0.0, 0.0)

### Calculate precision and recall

In [219]:
def calPrecitionRecall(i, model, df_test_user0, df_test_article0, len_test_article, df_test_article_arr):
    #users = df_test_user0['user_id'].tolist()
    precision = list()
    recall = list()
    for idx, user in enumerate(df_test_user_arr):
        uid = df_test_user0['user_id'].tolist()[idx]
        user = df_test_user_arr[idx]
        temp = np.array([user] * len_test_article)
        up = pd.DataFrame(model.predict([temp,df_test_article_arr], batch_size=10, verbose=0))
        df_test_article1=df_test_article0.reset_index(drop = True)\
                                .merge(up, how = 'left', left_index=True, right_index=True)\
                                .rename(columns={0:'u0_score'})[['article_contentid', 'u0_score']]
        df_test_article1 = df_test_article1.sort_values(by='u0_score', ascending=False)
        df_test_article1['y_pred'] = 0
        df_test_article1[:5]['y_pred']=1
        df_match = df_test_article0.ix[df_test_article0['user_id'] == uid]#,['user_id','readList']]
        df_match = df_match[['article_contentid']]
        df_match['y_true'] = 1
        df_test_article1 = df_test_article1.merge(df_match, how = 'left', on = 'article_contentid')\
                                           .fillna(0)
        tp = df_test_article1.ix[(df_test_article1['y_pred'] == 1) & (df_test_article1['y_true'] == 1)].shape[0]
        fp = df_test_article1.ix[(df_test_article1['y_pred'] == 1) & (df_test_article1['y_true'] == 0)].shape[0]
        fn = df_test_article1.ix[(df_test_article1['y_pred'] == 0) & (df_test_article1['y_true'] == 1)].shape[0]
        p = tp/(float(tp+fp))
        r = tp/(float(tp+fn))
        print idx, uid, p,r
        if p != 0:
            precision.append(p)
        if r != 0:
            recall.append(r)
    return precision, recall
l = len(df_test_article_arr)
calPrecitionRecall(20, model, df_test_user0, df_test_article0, l, df_test_article_arr)

/Users/sophia.gao/.pyenv/versions/miniconda2-latest/lib/python2.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/Users/sophia.gao/.pyenv/versions/miniconda2-latest/lib/python2.7/site-packages/ipykernel_launcher.py:18: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

0 EBFC388E0E9DD470826DC38191DE7C9B 0.0 0.0
1 7457F64B04A8CA8ABE129CCA69829883 0.2 1.0
2 8125BE615FDC19E33A83D5F07B1C85A7 0.0 0.0
3 D6D22AAC72A65BDCAA11FF3604153B91 0.0 0.0
4 C6F60A318E6B6D1E5B254A941A0D6CBB 0.0 0.0
5 BF52EAC20839519075CEFC6D5926223C 0.0 0.0
6 8CBC349F15C06823CB9CAB21C2C4DB6C 0.0 0.0
7 A5559642A3E7CAE2489322828D85259F 0.0 0.0
8 373CCE3D0D1C589EDF55DEA89CAF13B6 0.0 0.0
9 A824C8F6E565621BE2C93CF2DB46AC76 0.0 0.0
10 12E971948898EDA684E823DE7605CC8F 0.0 0.0
11 7BBECF4C6987F306BFD75F9988479688 0.0 0.0
12 7BBECF4C6987F306BFD75F9988479688 0.0 0.0
13 F92A745B77D82A9860CF6FD06F87387A 0.0 0.0
14 AA4552E26FB6B1454B1B165902DD1870 0.0 0.0
15 774CAC5D49C02AB006D58E53286795B7 0.0 0.0
16 DE9F5688ED1FD4C27D65A836AB1C917E 0.0 0.0
17 1DF8AAA3E2E5FB00D28A9FF6D8A39428 0.0 0.0
18 0EE541BCAB458C86E7B4339C3A0CA63F 0.0 0.0
19 775734EC8ABE0ADD991C9BDBC16C4798 0.0 0.0
20 744AC6BAE96053959C00D7AA6BB175ED 0.0 0.0
21 B6D353CDCAFBFC93B7E03DE67970ABCD 0.0 0.0
22 3D20C7201721FA241E819E9A6CA82C74 0.0 0.0
23 5D35CEE6504DBE789E15A851AB0E35AA 0.0 0.0
24 77D1047834EB362D9C73995CE5C9A17A 0.0 0.0
25 C16A95B60E97EAB421A554776E055D50 0.0 0.0
26 8265D77658546C1DCBF97837B84F7875 0.0 0.0
27 C3DB0D42505350215C0899299A01CC73 0.0 0.0
28 714B1CCDCA7B2BBAB20AAFAE5100C24F 0.0 0.0
29 A0720CA7B087EAEED40B9333520068E9 0.0 0.0
30 6A093DB4007B83382923C744ADF6A02C 0.0 0.0
31 9E1A86C6038FACA8E59ADF899F550EA6 0.0 0.0
32 B83CCA72B8CA0E648C85B06D50B789C0 0.0 0.0
33 70DEEEA87E5045B982E76126D9990E2D 0.0 0.0
34 BB89DB0EA2A28CBC3B1237F60C1011FF 0.0 0.0
35 BA507EC3CACDB395B3F8070CB93BE7E8 0.0 0.0
36 39672D12F1BB939DC40B7E725D7D199E 0.0 0.0
37 1FE8BFF922D506B0EF5C54F00CC73F8C 0.0 0.0
38 B5FF911F003AC27CA2FD3677C250E9EB 0.0 0.0
39 13D18CD5F9662A6A950D3CF164CB7917 0.0 0.0
40 6BFA82E4A621DEAC5E33CC4A5898FC9B 0.0 0.0
41 1EEE99366677E6E9D619ED40248F3772 0.0 0.0
42 C743A8C3CD062A55440609B7E6228435 0.0 0.0
43 86B64014097E9A3500B6396F9394996F 0.0 0.0
44 2830A1B495F330E96479B73AD8DA77FD 0.0 0.0
45 3B3F2E6670CAD78A996C013BFD16F70D 0.0 0.0
46 3DA8E12653BDC85B81C876BA88FCFC46 0.0 0.0
47 271A44D2DFFE0681DD213B40A6A63B9E 0.0 0.0
48 C8AD6147642656B87257A0C44FC2D05F 0.0 0.0
49 2C13574624D1FF08BF69A16B3E814045 0.0 0.0
50 5504FE27DE08264A0340120A6B964A80 0.0 0.0
51 1223C49B2C8C402A265A5BCBE0F42FDE 0.0 0.0
52 91C7A4A8661B39DAABA36FA5066C73EF 0.0 0.0
53 480EFBD882CB0BAE5143ACADD5075E75 0.0 0.0
54 31CE8D0F2A0261A47F5B30619D4AA8B3 0.0 0.0
55 BE10E11E30EB0BFE80DF0F359F29A1D6 0.0 0.0
56 01969125FD4D4DF130AA8E480666D0F4 0.0 0.0
57 D1E6CCDD3AD350E449D249F85C9D2709 0.0 0.0
58 6C75789945C100B05C5A4FBE1C30BA59 0.0 0.0
59 87A29475FBFADCB6BC030160D90C2282 0.0 0.0
60 13EE68F92CA830F12B193C50B5BC8AF4 0.0 0.0
61 D3C2ECE23551E926B1837AFC77A98A5B 0.0 0.0
62 2FB258CD9973802D7DDC798E917F5974 0.0 0.0
63 37B37D9974BC84303146E90EC9772BE1 0.0 0.0
64 AD3D5B878E2942E9D50085E43D2EA703 0.0 0.0
65 C9A0CBF97AD040971CA320F86A74C765 0.0 0.0
66 8B2E2BDBC419844F18B56C6BE4B9E50D 0.0 0.0
67 8B2E2BDBC419844F18B56C6BE4B9E50D 0.0 0.0
68 61C3C25013B394FEE01BD2A2502A6A38 0.0 0.0
69 18F4C528189CCBAA15C7E548BFBCC84E 0.0 0.0
70 3FD43EB3FFEE5BB60F86212A0A9B39FB 0.0 0.0
71 C9F94489F8FF00EF2100438E323DE260 0.0 0.0
72 A9CD6E3F23812A19E8C316A86EBD54E9 0.0 0.0
73 EAE5E9E46303E9AC15B592015AC6DE2D 0.0 0.0
74 6F88B8FD18CFAD530C42C36C819F5936 0.0 0.0
75 7E5BE277B627D075287807C592EE00FA 0.0 0.0
76 6E440595C898868B8EE5CB7DBAA8B9F3 0.0 0.0
77 DBB574AE6271A76DEC41E76CA4472A20 0.0 0.0
78 4533ED139CA0C735CBB73B722D6973D0 0.0 0.0
79 35E20B1772BA9AFBA9CAED32E4F43403 0.0 0.0
80 D407B5480FBCCB4DA3CE1079F35C8328 0.0 0.0
81 E4139BB787D31319F51BFDF2CB051811 0.0 0.0
82 E7AF8A63D7573F2B21AA6D0C309553B0 0.0 0.0
83 8EAE92E67B6AD0E547EC26A2547C256D 0.0 0.0
84 8EAE92E67B6AD0E547EC26A2547C256D 0.0 0.0
85 56AE3AE2CE989FB674992F45A928DC34 0.0 0.0
86 B4494E845F118DCFFCFB104C25A37349 0.0 0.0
87 41EFCCDFE04AE1D720FBA1432455E428 0.0 0.0
88 6C046A4C663BA363DD5816E47896F866 0.0 0.0
89 6A7058F9928C8A66E17F44FE03AB1D79 0.0 0.0
90 9743D39EE14D0735EC433F71EBE20F9C 0.0 0.0
91 1D970ED2ECD7E2530DA9B094DD02C63A 0.0 0.0
92 94ABFF1027D023135A73A99248D4E19D 0.0 0.0
93 40F05A27F13FDEF35071CD3BEFE325FF 0.0 0.0
94 39083B7D7216B7FD937703A63E0975BD 0.0 0.0
95 3D1EE5EB00014F6FEA56DA34A4206CEA 0.0 0.0
96 D2744FD3C162B5F6ADCD3C61610983D1 0.0 0.0
97 4F626685464E106FC92DD6EBB8AD1BA6 0.2 1.0
98 F6A171C53698D3FF5F0B6B44C2ACD368 0.0 0.0
99 D032723976C2A5FCA0530A9239D3E49D 0.0 0.0
100 5EBEA65C356B31ADD9965C2F4B3D0A5B 0.0 0.0
101 D802776B377476B29577ECC9BEE61C4C 0.0 0.0
102 3AA653D1F35E5FB8EB8C1E40908795F5 0.0 0.0
103 36F65774EA9F79C7B97282B169BB9663 0.0 0.0
104 B584ED8AADBFF9820D1974115EB66083 0.0 0.0
105 22541AD6D29F3D2CB23C038EEE09519A 0.0 0.0
106 0762F55B18999A1160DFBD0F73864A09 0.0 0.0
107 0426AEF3C82F27E6A0362E8EA7E03D8C 0.0 0.0
108 887E5C842698AED6D5F67D6F89627BAD 0.0 0.0
109 10214B828E45417B9E2CA7EF597EFD53 0.0 0.0
110 88428EBEC07BE695A711358B414C82F8 0.2 1.0
111 CA42F81864433A97EC94B105ADABA445 0.0 0.0
112 BA9512762AFBCD7F2441162E50B065E7 0.0 0.0
113 E9BE725047513C6620E00F5FAE9C22AF 0.0 0.0
114 1DA58EE6DB5717AEC361C604EE34C4CE 0.0 0.0
115 95DE714C35BA783069BF99977E58C044 0.0 0.0
116 B3506EE42F3F6C71726AD38AA272ECC9 0.0 0.0
117 25803CFA6E2486AD5CFD7D7E7555D0B4 0.0 0.0
118 15EB6EF5FD678E2920E7994F4636F718 0.0 0.0
119 3216A670AAE17D787E81F8CF1B5CF3F6 0.0 0.0
120 586BBFDF09881FD6B42CFC3BBD82037C 0.2 1.0
121 E46AFECFDBE811000A2448B16D8140D6 0.0 0.0
122 B64563330542D612206C172E19C9EFFD 0.2 1.0
123 05113F50A66799547EE97E5D0A65B672 0.0 0.0
124 95EF65D789A338B6BECD3A113C4F1FAC 0.0 0.0
125 6FA87C39D4BE2DC99B5C818A57B6BF10 0.0 0.0
126 4E3826B3CF2FA1A223B3E2768D3642C6 0.0 0.0
127 7B3CECD1E7CF9DEDF1B7BC967CAF62D6 0.0 0.0
128 37FF78A92859ED9D1F5162B35B7A4F46 0.0 0.0
129 116DAFAE9650A324EE4487E08EE1717B 0.0 0.0
130 1F87DDCBA1BC67B9BF92EA5A2387849B 0.0 0.0
131 60B1C671B3FCBF935F45A605B20F8993 0.0 0.0
132 3042153864133B629007D9EB5D327A73 0.0 0.0
133 220F4576AFBAD6DE996F096D102A4B7A 0.0 0.0
134 B286349754B2AE24AD202E6854D71358 0.0 0.0
135 048D45686C7C4C623B8D9F000AB49137 0.0 0.0
136 0BB93031A2D49AFC043888589EBBAC1F 0.0 0.0
137 B46DE0A739CB7C5D67CB4EC29CD2C161 0.0 0.0
138 2AFEC93803F739301754AA1211BCCF9A 0.0 0.0
139 415835D21667AC79933F828F803D4DC2 0.0 0.0
140 99F7F5F81620621D278A0E9AE6E3FCF2 0.0 0.0
141 C36B55C409CF9A9A0F6B5A552D173515 0.0 0.0
142 9CBDF33EB7C67586A5FDDB44A1907254 0.0 0.0
143 D8ABCD755508180E18E54FAB561F601A 0.0 0.0
144 E9E71BD1BE611B8447A589C5E63DE4F9 0.0 0.0
145 FC9C232B46A69856231C669B575635A1 0.0 0.0
146 AAF5F4F20C994BD41019BDA4A9394377 0.0 0.0
147 37541FDD66ED51B7CBD3D30D52D8DBEA 0.0 0.0
148 DCBF162DD18C1F08EE4BC14994A9B0E2 0.0 0.0
149 92929571FDDCF51B898690E99546F93D 0.0 0.0
150 F765ADE97EEB1936DB74E8A64AEBF032 0.0 0.0
151 7B12274054E7EB53DC89462276920192 0.0 0.0
152 C3ACEE2F9CDE096B87197763A5764B03 0.0 0.0
153 CFE42BA3F55D80F48AD024943B919BB8 0.0 0.0
154 AB8819991055919DFAD6EC15E07820E7 0.0 0.0
155 EB37CA06917DA47765731FCCD9AFD032 0.0 0.0
156 EB37CA06917DA47765731FCCD9AFD032 0.0 0.0
157 F6CCB10E41E5C7B2F7A279CDEBB2E7BD 0.0 0.0
158 EE8C584138EBAA7E45CEAE090AD6DBA3 0.0 0.0
159 09B87672ED2E7246EA58FA022CACFD4D 0.0 0.0
160 522BA6AEC4230A5C0A915DCC0D04555B 0.0 0.0
161 269C6E1DA22F2BD17E47EB307DE83998 0.0 0.0
162 3088D2B425DA9CDB8B17F922BE41D9FA 0.0 0.0
163 55E754905F0A5FBAF4488765E5AF7A33 0.0 0.0
164 944A7D6B5C1A814A97AD7AD329A6228E 0.0 0.0
165 DC231D4C6532FC8B869A4C5AF3B48F27 0.0 0.0
166 2AA2847282A745B356261E8D43E783E4 0.0 0.0
167 A3913EE90832849309F56D7DF90D46BA 0.0 0.0
168 215B4E7ABBA43878D7BEDFCF4B7C3BD0 0.0 0.0

([], [])

In [94]:
def calPrecitionRecall0(model, df_test_user0, df_test_article0, len_test_article, df_test_article_arr):
    #users = df_test_user0['user_id'].tolist()
    precision = list()
    recall = list()
    for idx, user in enumerate(df_test_user_arr):
        uid = df_test_user0['user_id'].tolist()[idx]
        user = df_test_user_arr[idx]
        temp = np.array([user] * len_test_article)
        up = pd.DataFrame(model.predict([temp,df_test_article_arr], batch_size=10, verbose=0))
        df_test_article1=df_test_article0.reset_index(drop = True)\
                                .merge(up, how = 'left', left_index=True, right_index=True)\
                                .rename(columns={0:'u0_score'})[['article_contentid', 'u0_score']]
        df_test_article1 = df_test_article1.sort_values(by='u0_score', ascending=False)
        df_test_article1['y_pred'] = 0
        df_test_article1[:5]['y_pred']=1
        df_match = df_test_article0.ix[df_test_article0['user_id'] == uid]#,['user_id','readList']]
        df_match = df_match[['article_contentid']]
        df_match['y_true'] = 1
        df_test_article1 = df_test_article1.merge(df_match, how = 'left', on = 'article_contentid')\
                                           .fillna(0)
        tp = df_test_article1.ix[(df_test_article1['y_pred'] == 1) & (df_test_article1['y_true'] == 1)].shape[0]
        fp = df_test_article1.ix[(df_test_article1['y_pred'] == 1) & (df_test_article1['y_true'] == 0)].shape[0]
        fn = df_test_article1.ix[(df_test_article1['y_pred'] == 0) & (df_test_article1['y_true'] == 1)].shape[0]
        p = tp/(float(tp+fp))
        r = tp/(float(tp+fn))
        print idx, uid, p,r
        if p != 0:
            precision.append(p)
        if r != 0:
            recall.append(r)
    return precision, recall
l = len(df_test_article_arr)
calPrecitionRecall0( model, df_test_user0, df_test_article0, l, df_test_article_arr)

/Users/sophia.gao/.pyenv/versions/miniconda2-latest/lib/python2.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/Users/sophia.gao/.pyenv/versions/miniconda2-latest/lib/python2.7/site-packages/ipykernel_launcher.py:18: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

0 026F279414571C9A841F8E8E86EC594D 0.0 0.0
1 D79CC4620095EAF4E21BA529129E8107 0.0 0.0
2 40929E249813D17DE0BE52F61CDDCD62 0.0 0.0
3 D2CCEC6C0F772D9D14C239DF1F3531B7 0.0 0.0
4 DC7E5807E0CF9B47EFE3ECA461866A73 0.0 0.0
5 2F35FC28EE00DDA023AA6C51431F4255 0.0 0.0
6 D7B0FB107E5A4FB08628AE90F1D218A7 0.0 0.0
7 D7B0FB107E5A4FB08628AE90F1D218A7 0.0 0.0
8 21B99C00321192C844381B757C61FCB5 0.0 0.0
9 159836F8BD4EC2793DF59B9DECF53E19 0.0 0.0
10 5D6BFBB1E09DEF03B3787AC88711A071 0.0 0.0
11 5D6BFBB1E09DEF03B3787AC88711A071 0.0 0.0
12 387AE98BC9826FD0058F6D3B383F2107 0.0 0.0
13 70AB056DB89A69FB4A82B80EAB0AA5D1 0.0 0.0
14 1BD20ED43E9F13069577CCAC5DF512A0 0.0 0.0
15 1282A2EFF2DFF65534085CDFAC82F94B 0.0 0.0
16 EAF2FA1C3FC905E1345B953DCC6C628A 0.0 0.0
17 7CDC1DD1CFFE8A02D33BA72DE64EE587 0.0 0.0
18 1FB61068629C9034270F6D9909E77BEF 0.0 0.0
19 744AC6BAE96053959C00D7AA6BB175ED 0.0 0.0
20 32933BB4A132FEF360E1A9CAB6BAE4B6 0.0 0.0
21 756BF8545BFC79B78DA6CDC7DD4FE53D 0.0 0.0
22 C3DB0D42505350215C0899299A01CC73 0.0 0.0
23 4F3E062069D1EC3C70BEAD6BBB7BFF53 0.0 0.0
24 F0EFC33AC5D5054ED7702A2808D27EA5 0.0 0.0
25 60F11C244A91831BA89F96BDDA6DAC9C 0.0 0.0
26 8AB3959B02F49E7E491E02FF2D9D1ABC 0.0 0.0
27 1742E433AB9348264FDAF5FCE420DF7E 0.0 0.0
28 6A093DB4007B83382923C744ADF6A02C 0.0 0.0
29 72C0AC14D203E8C2F77807444AA42903 0.0 0.0
30 508A499B740E0245A1FFD06E9D98079A 0.0 0.0
31 B83CCA72B8CA0E648C85B06D50B789C0 0.0 0.0
32 C9E8176614D7DDA1268A8788990F8475 0.0 0.0
33 7CB00D2FCF15CBBA14F12FD27AF8B513 0.0 0.0
34 19E20983E16A6FFC634B1F3127106050 0.0 0.0
35 CE334E2C6EF42B3BAE4820E572D24CBF 0.0 0.0
36 FEF433F954665A2456B0BD3F5A590BBB 0.0 0.0
37 6D627C9A0EF5DBC89E1351F7F05DDA2B 0.0 0.0
38 39672D12F1BB939DC40B7E725D7D199E 0.0 0.0
39 3FF8A96B4159CA3348A489523A535AAF 0.0 0.0
40 CC2F71BCAD0D832A632DA1B0E1163175 0.0 0.0
41 AEF9B6724510953ED7003D1676295FB0 0.0 0.0
42 6D8C169023683996198B13865C62B2C6 0.0 0.0
43 74FA5CD105AA1901B4006B143C6110D7 0.0 0.0
44 E124062CAD3F7436CEEDBE634CA8C9A0 0.0 0.0
45 6E765C006792D44877FD134EB49820E5 0.0 0.0
46 7B2257EBDD84780F151CA3B123A23853 0.0 0.0
47 7B1EA9A2DD4D721915374671770DB2D3 0.0 0.0
48 9EC15B1CAE99EAC91BC9B3C3EDBC6B8F 0.0 0.0
49 F1B31AC4F50E8AA3BA7525A0807BD7DB 0.0 0.0
50 F1B31AC4F50E8AA3BA7525A0807BD7DB 0.0 0.0
51 7097AD55D61E860578BBDC275F6A3874 0.0 0.0
52 656FFDA01EE0544C0D1CFA25698C4C23 0.0 0.0
53 3FAE7F5F88204AB7A9ED80DA7E67BF54 0.0 0.0
54 C743A8C3CD062A55440609B7E6228435 0.0 0.0
55 986759E2FD77D818BEDC17BFF6376900 0.0 0.0
56 986759E2FD77D818BEDC17BFF6376900 0.0 0.0
57 986759E2FD77D818BEDC17BFF6376900 0.0 0.0
58 27E2B305F66B627BAE602FED5670483A 0.0 0.0
59 0908368B8E3DE30A847276C72C31696B 0.0 0.0
60 B1B7361C79D8D49CF27F0EB1CAF6239A 0.0 0.0
61 242E5CAC69865865678A74A89DAB76AE 0.0 0.0
62 D1B20A48DD6F4622455883C4E1FB552A 0.0 0.0
63 57EE98C365F9396E65ADDA027D2AB36F 0.0 0.0
64 0399496DAA83551DC9257E66E69824C4 0.0 0.0
65 0399496DAA83551DC9257E66E69824C4 0.0 0.0
66 FC0CA7838642EBA7BD00E3DB19A937AD 0.0 0.0
67 122CA464DF8945C3C620D0E84CB6A21B 0.0 0.0
68 2469C5AE94E1197CF60C9EA453751D7A 0.0 0.0
69 36F2A0A5A5534D79C8C169E51A4D9E73 0.0 0.0
70 390B13B3E9C3754AAF128EE42E00F6B4 0.0 0.0
71 6156D5F8A38ED8D30A779CC9F5D13A35 0.0 0.0
72 19A5B9432911AAEAAE4CB79A86E4B6BC 0.0 0.0
73 E941FF673FD98858A0424881D6DD6B31 0.0 0.0
74 5CA99AA0D2FBA9BF4FC111C39C864B1A 0.0 0.0
75 206E0065DEF84106C5518B20FEB9C5B8 0.0 0.0
76 DE5E9F5367C825437FC32749C637E02A 0.2 1.0
77 5FB6349B0A6B10BEC09E1EDCDBCFD9BF 0.0 0.0
78 ECEF584E1A522A9D96539FE0048B1864 0.0 0.0
79 CF596FDE797898AAAF39363BEE228C30 0.0 0.0
80 CF596FDE797898AAAF39363BEE228C30 0.0 0.0
81 7736C6A495C5842574EFEFB66C583ACB 0.0 0.0
82 ECA250D2C8251D95FCC1A35DA1EE193E 0.0 0.0
83 3B5B54543EA345C357DDAD6E1AC5F6CA 0.0 0.0
84 3B5B54543EA345C357DDAD6E1AC5F6CA 0.0 0.0
85 20A7289CEE39DF88A7894D7280963151 0.0 0.0
86 680F42C17DCB16416B561AB1FE4EB657 0.0 0.0
87 5FBDAC9DF3E1969F9789084A15B25C34 0.0 0.0
88 E4D08AC2848DD94556FEC37A00ADFE15 0.0 0.0
89 3091CBD35AB82680E0FD4FE639DBD531 0.0 0.0
90 38BC0EA4CB4C08BC7645756CE07AD8B3 0.2 1.0
91 F41D5D832B3DCD7C3626F4A2AD110275 0.0 0.0
92 1BDC12D80EB60B324C99EBE73A1C7B9D 0.0 0.0
93 F3EAFCFBE0428E260F2262A130E1607F 0.0 0.0
94 FCD88643410A0496BF6B1F311E4EC821 0.0 0.0
95 6D079AE6A2CBD995DDBB417777782B72 0.0 0.0
96 6D079AE6A2CBD995DDBB417777782B72 0.0 0.0
97 07FE0CDD3175119E28D9DAAEC6A7DF4C 0.0 0.0
98 0AB3F8D86CDC6E0135EDFEE245F7DB91 0.0 0.0
99 6991DD1023CD23BD2237B28BC7BC4D33 0.0 0.0
100 F16C420788230A3793EB394BA0969537 0.0 0.0
101 0F788B6705E4C9DB29F626DE3DC06A64 0.0 0.0
102 E7AF8A63D7573F2B21AA6D0C309553B0 0.0 0.0
103 AEFB0CD61A4148B3D814356E96634679 0.0 0.0
104 12E36E838DBDBC83DE045EE798A98F6D 0.0 0.0
105 12E36E838DBDBC83DE045EE798A98F6D 0.0 0.0
106 1C2F2B47700F913242822CD30920CD50 0.0 0.0
107 6A7BB6654C6F8434C2E7F18B8451C7BC 0.0 0.0
108 F257436D22117ED73F5EB27D1220F562 0.0 0.0
109 E41EB03300F6EFE6BDB6B3DD08BB6BAC 0.0 0.0
110 6C046A4C663BA363DD5816E47896F866 0.0 0.0
111 AFD643C9D6D2EA7548C9D90F0200AFD8 0.0 0.0
112 AFD643C9D6D2EA7548C9D90F0200AFD8 0.0 0.0
113 115A388A0A3BF3C27FA05C511AB9B5CE 0.0 0.0
114 8657754AFFA2FE6F24E334E6983FC71B 0.0 0.0
115 A7D3AF2A0DB2BBE869A65BE006390763 0.0 0.0
116 55E9CC6BE6799875217FCB6BD16A0B8B 0.0 0.0
117 7B9EBCA32A7854B0B6531F3843336FF9 0.0 0.0
118 05ECF6F7DCCB778F9DD8F51ED7EE2C9B 0.0 0.0
119 385D8F7A42DF3452726F68D52784A5B9 0.0 0.0
120 E3EC35DD89C110C8A04E0BA6950BC551 0.0 0.0
121 59D78D5DAB984589158B7DCC4BFB894C 0.0 0.0
122 138C530ADB45152DFB71CA0EECFFC335 0.0 0.0
123 00CB66BC191EEEDB89EB30E616DBCD8D 0.0 0.0
124 75C7AD08AA6F83671F5A60B0EAFB4648 0.0 0.0
125 411727798B93ED273A8E62135FA222DB 0.0 0.0
126 B5DC15632AFC3E3ADC0A905AEC411716 0.0 0.0
127 1780CD29B6AFE8DB61EE681AFD9BF3C0 0.0 0.0
128 9AF0304BB17DA1C1AF8F644CC65DCAD8 0.0 0.0
129 77369761D4352C1CF9913F8C1B4A8F83 0.0 0.0
130 D676BFA6E0449F2C8231B4EBC446AAA3 0.0 0.0
131 0426AEF3C82F27E6A0362E8EA7E03D8C 0.0 0.0
132 45C84ABAD5CDCB129C9AAF173FE40147 0.0 0.0
133 F6725AF10908BCAA528E8CC77268506F 0.0 0.0
134 4C583CDB05FE6F794C66C2DA327E9FC2 0.0 0.0
135 944260F40646D262CE78B48A30C01E11 0.0 0.0
136 5BE0C5D2D1E70E77343F38DAD6B80D8E 0.0 0.0
137 0F59674C5D65F528EC48E526FA897F49 0.0 0.0
138 9091960787B0EEE7A50856FF22FEA11F 0.0 0.0
139 C7D6610E315972138BFF0F9138C13DCF 0.0 0.0
140 34DB029EF7916F0DB86A3634075EF020 0.0 0.0
141 A15FD8E6B41B0754BDB6AE99731434AF 0.0 0.0
142 5CB4ACC6C3F84E2F84B0F0E18F324726 0.0 0.0
143 9F856EEEFE9DF3B39B1BC73D9C906327 0.0 0.0
144 030B8F9034F6A3D06396B179D5EAFB90 0.0 0.0
145 C7A6396C068C7D8D3E725D7DFA58DEBC 0.0 0.0
146 DDCED66EFDDC05D8A023FC8A4311FB70 0.0 0.0
147 326E79F41320F4757B1EF5F0A46ECAEF 0.0 0.0
148 63AF824A9B892CBEDDFDA579482D5283 0.0 0.0
149 9BF89F112AB11711C558FEFB6846E422 0.0 0.0
150 50C9C8FAB261FE61D3A1C38EA059D0AB 0.0 0.0
151 50C9C8FAB261FE61D3A1C38EA059D0AB 0.0 0.0
152 6FA87C39D4BE2DC99B5C818A57B6BF10 0.0 0.0
153 BA574E5FF2B59988F9EFC8D4A7883043 0.0 0.0
154 5B09A9B36A614D8BA3F819CB87E9D6C8 0.0 0.0
155 BEBEA1F98085613AC3999BA5F0324966 0.0 0.0
156 0D112B809BB034FFB7ED242EA8946021 0.0 0.0
157 9D745976F048F387DBC77058D9F41CDD 0.0 0.0
158 60B1C671B3FCBF935F45A605B20F8993 0.0 0.0
159 F6E8894AA874918A89C55E0CF8C16E62 0.0 0.0
160 276305D37269E9BC2F1A2B07B1008FC5 0.0 0.0
161 276305D37269E9BC2F1A2B07B1008FC5 0.0 0.0
162 F6DD84E234F751C4A5B484D64DC20C62 0.0 0.0
163 B286349754B2AE24AD202E6854D71358 0.0 0.0
164 AD7870CFFABA45C84F5B49C88F7796ED 0.0 0.0
165 4E715FA27EAD2A916045258BD4CDA543 0.0 0.0
166 7AF59F874184E026A2A8EE3470F09996 0.0 0.0
167 E05B5285F058C30B9B44D830F920199D 0.0 0.0
168 0D447E9D672E19E5965E4D14794DDB1C 0.0 0.0
169 23F85595EFC7833DD1B1CAA90C9F71B1 0.0 0.0
170 26FE2528D5151B5B8C19DA0373F1EAB9 0.0 0.0
171 B1E8F9DB596FF8323BF833F187476701 0.0 0.0
172 87FB1401D9331814F263256FAEA831CA 0.0 0.0
173 03DF8FB4C97C73F6C5E5F1393ED100C8 0.0 0.0
174 2B1C096B948C73549C0497AA43BBEFC0 0.0 0.0
175 93E9DBC4021E57A8591707DDEA22E007 0.0 0.0
176 ED275396F9D06356587E16DF72719EC8 0.0 0.0
177 46D3C50BE24BD1BADAC29A77417C4008 0.0 0.0
178 8F41705FA54A8C87334D09FD0CB2EB33 0.0 0.0
179 C476955A53A957A6D598760D674FD879 0.0 0.0
180 C9F9A1FA60492A057288CB621EF8F288 0.0 0.0
181 3E9E3D2A720787C8088847C0977E7741 0.0 0.0
182 FEDBD0247D3BFCA838E9DB3BDAC494BC 0.0 0.0
183 9CC1BC983C80EB50F419C68C2CA51717 0.0 0.0
184 96C2A3A7F7C5D6C6546D67ACE23D91E7 0.0 0.0

185 3E84D636D9A3E39F9E993DFBFCEFCF6B 0.0 0.0
186 5FD0CA1E363C3D9C5FD29DE8CF88779D 0.0 0.0
187 2AA2847282A745B356261E8D43E783E4 0.0 0.0

([0.2, 0.2], [1.0, 1.0])

###### For the model of user feature (without city) - user article (use category features only)
precition: 0.2128%
recall: 1.0638%

38BC0EA4CB4C08BC7645756CE07AD8B3

DE5E9F5367C825437FC32749C637E02A

###### For the model of user feature (with city) - user article (use category features only)
precition: 0.5952%
recall: 2.976%

7457F64B04A8CA8ABE129CCA69829883

4F626685464E106FC92DD6EBB8AD1BA6

88428EBEC07BE695A711358B414C82F8

586BBFDF09881FD6B42CFC3BBD82037C

B64563330542D612206C172E19C9EFFD

### Prepare Train Test Set (app-article)

In [88]:
import random
train_ratio = 0.9
num_train_user = int(round(len(df_ua_user)*train_ratio))
train_user_id = random.sample(df_ua_user['user_id'].tolist(), num_train_user)

In [120]:
df_ua_user.head()

,user_id,user_age_0.0,user_age_1.0,user_age_2.0,user_age_3.0,user_age_4.0,user_gender_0.0,user_gender_1.0,user_gender_2.0,user_brand_acer,...,user_brand_tct_metropcs,user_brand_trio,user_brand_verizon,user_brand_verizon_lge,user_brand_verizon_wwe,user_brand_x325,user_brand_x401,user_brand_xiaomi,user_brand_yezz,user_brand_zte
0,614E304DE3B07EBCDD4E11382578EF5A,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,614E304DE3B07EBCDD4E11382578EF5A,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,614E304DE3B07EBCDD4E11382578EF5A,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,614E304DE3B07EBCDD4E11382578EF5A,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7,5BA72C11B1E94BA50F1E66F4B1362CE6,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [89]:
df_train_user = df_ua_user[df_ua_user['user_id'].isin(train_user_id)]
df_train_user = df_train_user.drop(['user_id'], axis=1)
df_train_user = df_train_user.fillna(0)
df_train_user_arr = df_train_user.values
df_train_user_arr.shape

(53713, 54)

In [90]:
df_test_user0 = df_ua_user[~df_ua_user['user_id'].isin(train_user_id)]
df_test_user = df_test_user0.drop(['user_id'], axis=1)
df_test_user = df_test_user.fillna(0)
df_test_user_arr = df_test_user.values
df_test_user_arr.shape

(203, 54)

In [93]:
#df_ua_article = df_ua_article.drop(['l1_cat', 'l2_cat', 'l1_cat_w_x', 'l2_cat_w_x', 'l1_cat_w_y', 'l2_cat_w_y'], axis=1)

In [94]:
cat_col = [i for i in df_ua_article.columns if ("l1_cat" in i) or ("l2_cat" in i)]
len(cat_col)

181

In [95]:
df_train_article = df_ua_article[df_ua_article['user_id'].isin(train_user_id)]

df_train_app0 = df_train_article[['user_id']].merge(df_app, how = 'left', on = 'user_id')
df_train_app = df_train_app0.drop(['user_id'], axis=1)
df_train_app = df_train_app.fillna(0)
df_train_app_arr = df_train_app.values
print df_train_app_arr.shape

(53713, 52)

In [96]:
df_train_article = df_train_article.drop(['user_id', 'article_contentid'], axis=1)# modify by sophia
df_train_article = df_train_article.fillna(0)
df_train_article = df_train_article[cat_col]
df_train_article_arr = df_train_article.values
print df_train_article_arr.shape

(53713, 181)

In [97]:
df_test_article0 = df_ua_article[~df_ua_article['user_id'].isin(train_user_id)]
df_test_article = df_test_article0.drop(['user_id', 'article_contentid'], axis=1)# modify by sophia
df_test_article = df_test_article.fillna(0)
df_test_article = df_test_article[cat_col]
df_test_article_arr = df_test_article.values
df_test_article_arr.shape

(203, 181)

In [98]:
df_test_app0 = df_test_article0[['user_id']].merge(df_app, how = 'left', on = 'user_id')
df_test_app = df_test_app0.drop(['user_id'], axis=1)
df_test_app = df_test_app.fillna(0)
df_test_app_arr = df_test_app.values
df_test_app_arr.shape

(203, 52)

In [99]:
y_train = [1 for i in range(len(df_train_user_arr))]
len(y_train)

53713

### Build Model By Keras (App Vs Article)

In [100]:
from keras.models import Sequential, Model
from keras.layers import Dense, Merge, Activation, Dropout, Reshape
import numpy as np
# fix random seed for reproducibility
np.random.seed(0)

In [101]:
df_train_app_arr.shape

(53713, 52)

In [102]:
df_train_article_arr.shape

(53713, 181)

In [103]:
y_train = [1 for i in range(len(df_train_user_arr))]
len(y_train)

53713

In [104]:
df_train_app_arr

array([[ 0.,  0.,  0., ...,  0.,  2.,  0.],
       [ 0.,  0.,  0., ...,  0.,  2.,  0.],
       [ 0.,  0.,  0., ...,  0.,  2.,  0.],
       ...,
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.]])

In [105]:
# create user model
userModel = Sequential()
userModel.add(Dense(30, input_shape=(52,)))
userModel.add(Activation('tanh'))
userModel.add(Dropout(0.4))
userModel.add(Dense(10, input_shape=(30,)))
userModel.add(Activation('tanh'))
userModel.add(Reshape((10,1)))

In [106]:
# create app model
'''
articleModel = Sequential()
articleModel.add(Dense(10, input_shape=(27,)))
articleModel.add(Activation('tanh'))
articleModel.add(Reshape((10,1)))
'''
# create app model
articleModel = Sequential()
articleModel.add(Dense(50, input_shape=(181,)))
articleModel.add(Activation('tanh'))
articleModel.add(Dense(30, input_shape=(50,)))
articleModel.add(Activation('tanh'))
articleModel.add(Dense(10, input_shape=(30,)))
articleModel.add(Activation('tanh'))
articleModel.add(Reshape((10,1)))

In [107]:
model = Sequential()
model.add(Merge([userModel,articleModel], mode='cos', dot_axes=1, output_shape=(1,)))
model.add(Reshape((1,)))

In [108]:
# Compile model
model.compile(loss='cosine_proximity', optimizer='adam', metrics=['accuracy'])

In [109]:
df_train_app_arr[0]

array([ 0.,  0.,  0.,  1.,  1.,  0.,  1.,  0.,  0.,  2.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  2.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        1.,  0.,  0.,  0.,  3.,  1.,  1.,  0.,  5.,  0.,  0.,  2.,  0.])

In [114]:
df_train_article_arr[0:3]
print df_train_article_arr.shape, df_train_app_arr.shape

(53713, 181) (53713, 52)

In [111]:
# Fit the model
#model.fit([df_all_user_arr, df_all_app_arr],y_all, epochs=1, batch_size=10)
model.fit([df_train_app_arr, df_train_article_arr],y_train, nb_epoch=1, batch_size=10)

Epoch 1/1
53713/53713 [==============================] - 24s - loss: nan - acc: 0.0000e+00

In [116]:
y_test = [1 for i in range(len(df_test_app_arr))]
len(y_test)

203

In [117]:
# evaluate the model
scores = model.evaluate([df_test_app_arr,df_test_article_arr], y_test)
print("\n%s: %.2f%%" % (model.metrics_names[1], scores[1]*100))

 32/203 [===>..........................] - ETA: 0s
acc: 0.00%

In [119]:
model.predict([df_test_app_arr,df_test_article_arr], batch_size=10, verbose=0)

array([[ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [ nan]], dtype=float32)

In [116]:
def calPrecitionRecall_aa(i, model, df_test_user0, df_test_article0, len_test_article, df_test_article_arr):
    #users = df_test_user0['user_id'].tolist()
    precision = list()
    recall = list()
    for idx, user in enumerate(df_test_user_arr):
        uid = df_test_user0['user_id'].tolist()[idx]
        user = df_test_user_arr[idx]
        temp = np.array([user] * len_test_article)
        up = pd.DataFrame(model.predict([temp,df_test_article_arr], batch_size=10, verbose=0))
        df_test_article1=df_test_article0.reset_index(drop = True)\
                                .merge(up, how = 'left', left_index=True, right_index=True)\
                                .rename(columns={0:'u0_score'})[['article_contentid', 'u0_score']]
        df_test_article1 = df_test_article1.sort_values(by='u0_score', ascending=False)
        df_test_article1['y_pred'] = 0
        df_test_article1[:5]['y_pred']=1
        df_match = df_test_article0.ix[df_test_article0['user_id'] == uid]#,['user_id','readList']]
        df_match = df_match[['article_contentid']]
        df_match['y_true'] = 1
        df_test_article1 = df_test_article1.merge(df_match, how = 'left', on = 'article_contentid')\
                                           .fillna(0)
        tp = df_test_article1.ix[(df_test_article1['y_pred'] == 1) & (df_test_article1['y_true'] == 1)].shape[0]
        fp = df_test_article1.ix[(df_test_article1['y_pred'] == 1) & (df_test_article1['y_true'] == 0)].shape[0]
        fn = df_test_article1.ix[(df_test_article1['y_pred'] == 0) & (df_test_article1['y_true'] == 1)].shape[0]
        p = tp/(float(tp+fp))
        r = tp/(float(tp+fn))
        print idx, uid, p,r
        if p != 0:
            precision.append(p)
        if r != 0:
            recall.append(r)
    return precision, recall
l = len(df_test_article_arr)
calPrecitionRecall_aa(20, model, df_test_user0, df_test_article0, l, df_test_article_arr)

[[ 0.94997013]
 [ 0.94930285]
 [ 0.94922113]
 [ 0.94910455]
 [ 0.94871253]
 [ 0.94776618]
 [ 0.94703376]
 [ 0.94684452]
 [ 0.94663721]
 [ 0.94643593]
 [ 0.94243085]
 [ 0.94218558]
 [ 0.9416191 ]
 [ 0.94160342]
 [ 0.9409703 ]
 [ 0.94057965]
 [ 0.94030851]
 [ 0.93967861]
 [ 0.93945324]
 [ 0.93919587]
 [ 0.93885738]
 [ 0.93793994]
 [ 0.93790317]
 [ 0.93764073]
 [ 0.93741995]
 [ 0.93672395]
 [ 0.93666303]
 [ 0.93654752]
 [ 0.92486322]
 [ 0.92483789]
 [ 0.92251998]
 [ 0.92040735]
 [ 0.91958213]
 [ 0.91862601]
 [ 0.91824353]
 [ 0.91824353]
 [ 0.91824353]
 [ 0.91824353]
 [ 0.91824353]
 [ 0.91824353]
 [ 0.91824353]
 [ 0.91824353]
 [ 0.91824353]
 [ 0.91824353]
 [ 0.91824353]
 [ 0.91824353]
 [ 0.91824353]
 [ 0.91824353]
 [ 0.91824353]
 [ 0.91824353]
 [ 0.91824353]
 [ 0.91824353]
 [ 0.91609097]
 [ 0.90936238]
 [ 0.90519607]
 [ 0.90392429]
 [ 0.90256876]
 [ 0.9016093 ]
 [ 0.9004274 ]
 [ 0.89944834]
 [ 0.89678478]
 [ 0.89636105]
 [ 0.89534634]
 [ 0.89458996]
 [ 0.89388639]
 [ 0.89304936]
 [ 0.89303607]
 [ 0.89274091]
 [ 0.89212251]
 [ 0.89176822]
 [ 0.89031219]
 [ 0.89018393]
 [ 0.88804549]
 [ 0.88764983]
 [ 0.887649  ]
 [ 0.88635373]
 [ 0.88621247]
 [ 0.88586462]
 [ 0.88453978]
 [ 0.88448602]
 [ 0.88386714]
 [ 0.88303137]
 [ 0.88298678]
 [ 0.8828401 ]
 [ 0.8826834 ]
 [ 0.88144416]
 [ 0.8811692 ]
 [ 0.88082284]
 [ 0.88048989]
 [ 0.87994659]
 [ 0.87889028]
 [ 0.87759715]
 [ 0.87669247]
 [ 0.87624919]
 [ 0.8712042 ]
 [ 0.87031132]
 [ 0.87015402]
 [ 0.87005347]
 [ 0.86654806]
 [ 0.8651945 ]
 [ 0.86407834]
 [ 0.86390716]
 [ 0.86286789]
 [ 0.86199272]
 [ 0.86191505]
 [ 0.86106366]
 [ 0.8605305 ]
 [ 0.8595354 ]
 [ 0.85910124]
 [ 0.85897005]
 [ 0.85818326]
 [ 0.85816962]
 [ 0.85640764]
 [ 0.84732908]
 [ 0.84535348]
 [ 0.84313071]
 [ 0.8408795 ]
 [ 0.84054434]
 [ 0.84040689]
 [ 0.83280861]
 [ 0.83226478]
 [ 0.83110577]
 [ 0.82906306]
 [ 0.82525504]
 [ 0.8239994 ]
 [ 0.82289737]
 [ 0.82267445]
 [ 0.82247114]
 [ 0.82240564]
 [ 0.82154584]
 [ 0.82146156]
 [ 0.82131457]
 [ 0.82112008]
 [ 0.82039499]
 [ 0.81994557]
 [ 0.81989849]
 [ 0.81938767]
 [ 0.8192938 ]
 [ 0.8190794 ]
 [ 0.81879163]
 [ 0.81871396]
 [ 0.81313068]
 [ 0.80024046]
 [ 0.80008459]
 [ 0.79743987]
 [ 0.79324657]
 [ 0.78927857]
 [ 0.78858405]
 [ 0.7877754 ]
 [ 0.78693926]
 [ 0.78671819]
 [ 0.77864224]
 [ 0.7093147 ]
 [ 0.63071245]
 [ 0.6250791 ]
 [ 0.61453182]
 [ 0.60167718]
 [ 0.59501559]
 [ 0.58472753]
 [ 0.58013368]
 [ 0.56436014]
 [ 0.5621056 ]
 [ 0.56091577]
 [ 0.55717212]
 [ 0.5352661 ]
 [ 0.52189082]
 [ 0.49501896]
 [ 0.48598263]
 [ 0.47661242]
 [ 0.47016603]
 [ 0.46632412]
 [ 0.46022248]
 [ 0.45326722]
 [ 0.45048177]
 [ 0.4452804 ]
 [ 0.43867895]
 [ 0.43790641]
 [ 0.43584481]
 [ 0.43540227]
 [ 0.43304333]
 [ 0.41298953]
 [ 0.40301478]
 [ 0.3859162 ]
 [ 0.38310751]
 [ 0.35053816]
 [ 0.28953266]
 [ 0.28819674]
 [ 0.2100179 ]
 [ 0.17669977]
 [-0.02399453]
 [-0.06167819]]

### Build Model By Keras (User Vs App Vs Article)

In [ ]:
# create user model 1
userModel1 = Sequential()
userModel1.add(Dense(30, input_shape=(52,)))
userModel1.add(Activation('tanh'))
userModel1.add(Dropout(0.4))
userModel1.add(Dense(10, input_shape=(30,)))
userModel1.add(Activation('tanh'))
userModel1.add(Reshape((10,1)))

In [ ]:
# create user model 2
userModel2 = Sequential()
userModel2.add(Dense(30, input_shape=(52,)))
userModel2.add(Activation('tanh'))
userModel2.add(Dropout(0.4))
userModel2.add(Dense(10, input_shape=(30,)))
userModel2.add(Activation('tanh'))
userModel2.add(Reshape((10,1)))

In [ ]:
# create article model
articleModel = Sequential()
articleModel.add(Dense(50, input_shape=(181,)))
articleModel.add(Activation('tanh'))
articleModel.add(Dense(30, input_shape=(50,)))
articleModel.add(Activation('tanh'))
articleModel.add(Dense(10, input_shape=(30,)))
articleModel.add(Activation('tanh'))
articleModel.add(Reshape((10,1)))

In [ ]:
model1 = Sequential()
model1.add(Merge([userModel1,articleModel], mode='cos', dot_axes=1, output_shape=(1,)))
model1.add(Reshape((1,)))

In [ ]:
model2 = Sequential()
model2.add(Merge([userModel2,articleModel], mode='cos', dot_axes=1, output_shape=(1,)))
model2.add(Reshape((1,)))

In [ ]:
model=Sequential()
model.add(Merge([model1,model2],mode='concat'))
model.add(Dense(1, input_shape=(2,)))
#model.add(Activation('normalization'))
model.add(Reshape(2))
model.add(Activation('softmax'))

### Calculate Precision and Recall for MV-DSSM

### Try title data

### Apply CNN to Title data

# Build Final Model

# Get Result