In [1]:
import pandas as pd
import pymongo
import pprint
from collections import Counter
import numpy as np
from sklearn.neighbors import NearestNeighbors

In [2]:
from pymongo import MongoClient
client = MongoClient()

In [3]:
#db = client.hkust
db = client.msbd500103

### Load Training Data

In [4]:
#trData = db.tr_data
trData = db.training_record

In [5]:
trData = trData.find({})
trData = list(trData)
df_trData = pd.DataFrame(trData)
df_trData.head()

,_id,article_contentid,article_dwelltime,article_l1_categories,article_l2_categories,article_lan,article_publisher,article_title,article_update_time,dt,...,user_country,user_gender,user_gender_weight,user_gp_frequency,user_gp_keywords,user_id,user_maxmind_city,user_maxmind_country_iso_code,user_maxmind_state_iso_code,user_model
0,5a07224d6c0c65269105e6c7,1l5c17e72og_us,NaN,NaN,NaN,en,NaN,NaN,NaN,20170111,...,US,2.0,0.763295,"{u'SHOPPING': 1, u'BUSINESS': 1, u'ENTERTAINME...",NaN,614E304DE3B07EBCDD4E11382578EF5A,Glen Allen,US,VA,SPH-L710
1,5a07224d6c0c65269105e6c8,mQ56173a2KT_us,NaN,NaN,NaN,en,NaN,NaN,NaN,20170117,...,US,2.0,0.763295,"{u'SHOPPING': 1, u'BUSINESS': 1, u'ENTERTAINME...",NaN,614E304DE3B07EBCDD4E11382578EF5A,Glen Allen,US,VA,SPH-L710
2,5a07224d6c0c65269105e6c9,Ly7407d4cuC_us,31.0,"[{u'name': u'1000780', u'weight': 0.4546442536...","[{u'name': u'1000667', u'weight': 0.6867789988...",en,The Sun,"Dad caught selling his baby son for £9,000 to ...",1.484656e+09,20170117,...,US,2.0,0.763295,"{u'SHOPPING': 1, u'BUSINESS': 1, u'ENTERTAINME...",NaN,614E304DE3B07EBCDD4E11382578EF5A,Glen Allen,US,VA,SPH-L710
3,5a07224d6c0c65269105e6ca,AY628126a1w_us,NaN,"[{u'name': u'1000288', u'weight': 0.9748942874...","[{u'name': u'1000288', u'weight': 0.44672383556}]",en,Bustle,11 Weird Ways Your Relationship With Your Pare...,1.482379e+09,20170110,...,US,2.0,0.763295,"{u'SHOPPING': 1, u'BUSINESS': 1, u'ENTERTAINME...",NaN,614E304DE3B07EBCDD4E11382578EF5A,Glen Allen,US,VA,SPH-L710
4,5a07224d6c0c65269105e6cb,jv70536a3bt_us,NaN,"[{u'name': u'1000031', u'weight': 0.4396004700...","[{u'name': u'1000069', u'weight': 0.8568055895...",en,Los Angeles Times,Ivanka Trump goes public about exiting fashion...,1.484223e+09,20170113,...,US,2.0,0.763295,"{u'SHOPPING': 1, u'BUSINESS': 1, u'ENTERTAINME...",NaN,614E304DE3B07EBCDD4E11382578EF5A,Glen Allen,US,VA,SPH-L710

In [165]:
df_trData = df_trData[~df_trData['user_gp_frequency'].isnull()]
df_trData = df_trData[~df_trData['article_title'].isnull()]

In [166]:
#sophia remark get the mapping of user article
df_ua_map = df_trData[['user_id', 'article_contentid']]
df_ua_map.shape

(168276, 2)

In [167]:
df_ua_map = df_ua_map.drop_duplicates(subset = ['user_id', 'article_contentid'], keep='first')
df_ua_map.shape

(139811, 2)

### Prepare User View

In [168]:
df_user = df_trData[['user_id', 'user_age', 'user_gender', 'user_brand', 'user_maxmind_city', 'user_model']]
df_user.head()

,user_id,user_age,user_gender,user_brand,user_maxmind_city,user_model
2,614E304DE3B07EBCDD4E11382578EF5A,2.0,2.0,samsung,Glen Allen,SPH-L710
3,614E304DE3B07EBCDD4E11382578EF5A,2.0,2.0,samsung,Glen Allen,SPH-L710
4,614E304DE3B07EBCDD4E11382578EF5A,2.0,2.0,samsung,Glen Allen,SPH-L710
5,614E304DE3B07EBCDD4E11382578EF5A,2.0,2.0,samsung,Glen Allen,SPH-L710
6,CD2F2B61135DB27BA3230F91466ED793,3.0,2.0,samsung,Lebanon,SAMSUNG-SM-G890A

In [169]:
df_user['user_age'] = df_user['user_age'].fillna(0)
df_user['user_gender'] = df_user['user_gender'].fillna(0)
df_user['user_brand'] = df_user['user_brand'].str.lower().fillna('na')
df_user['user_maxmind_city'] = df_user['user_maxmind_city'].str.lower().fillna('na')
df_user['user_model'] = df_user['user_model'].str.lower().fillna('na')
df_user.head()

/Users/sophia.gao/.pyenv/versions/miniconda2-latest/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/sophia.gao/.pyenv/versions/miniconda2-latest/lib/python2.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/sophia.gao/.pyenv/versions/miniconda2-latest/lib/python2.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/sophia.gao/.pyenv/versions/miniconda2-latest/lib/python2.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/sophia.gao/.pyenv/versions/miniconda2-latest/lib/python2.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

,user_id,user_age,user_gender,user_brand,user_maxmind_city,user_model
2,614E304DE3B07EBCDD4E11382578EF5A,2.0,2.0,samsung,glen allen,sph-l710
3,614E304DE3B07EBCDD4E11382578EF5A,2.0,2.0,samsung,glen allen,sph-l710
4,614E304DE3B07EBCDD4E11382578EF5A,2.0,2.0,samsung,glen allen,sph-l710
5,614E304DE3B07EBCDD4E11382578EF5A,2.0,2.0,samsung,glen allen,sph-l710
6,CD2F2B61135DB27BA3230F91466ED793,3.0,2.0,samsung,lebanon,samsung-sm-g890a

In [170]:
df_user = pd.get_dummies(df_user, columns=['user_age', 'user_gender','user_brand', 'user_maxmind_city', 'user_model'])
df_user = df_user.fillna(0)
df_user = df_user.drop_duplicates(subset=['user_id'], keep='first')
df_user.head()

,user_id,user_age_0.0,user_age_1.0,user_age_2.0,user_age_3.0,user_age_4.0,user_gender_0.0,user_gender_1.0,user_gender_2.0,user_brand_acer,...,user_model_z955l,user_model_z958,user_model_z959,user_model_z963u,user_model_z963vl,user_model_z970,user_model_z981,user_model_z987,user_model_z988,user_model_zte_n9511
2,614E304DE3B07EBCDD4E11382578EF5A,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
6,CD2F2B61135DB27BA3230F91466ED793,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
11,56F27AD705D8564F7900470AA793DBD2,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
12,8EE461BA3AA2595AC91FCDD833EC1711,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
15,5BA72C11B1E94BA50F1E66F4B1362CE6,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [171]:
df_user.shape

(7857, 3010)

### Prepare App View

In [172]:
df_app = df_trData[['user_id', 'user_gp_frequency']]
df_app.head()

,user_id,user_gp_frequency
2,614E304DE3B07EBCDD4E11382578EF5A,"{u'SHOPPING': 1, u'BUSINESS': 1, u'ENTERTAINME..."
3,614E304DE3B07EBCDD4E11382578EF5A,"{u'SHOPPING': 1, u'BUSINESS': 1, u'ENTERTAINME..."
4,614E304DE3B07EBCDD4E11382578EF5A,"{u'SHOPPING': 1, u'BUSINESS': 1, u'ENTERTAINME..."
5,614E304DE3B07EBCDD4E11382578EF5A,"{u'SHOPPING': 1, u'BUSINESS': 1, u'ENTERTAINME..."
6,CD2F2B61135DB27BA3230F91466ED793,"{u'PRODUCTIVITY': 1, u'COMMUNICATION': 1, u'TR..."

In [173]:
df_app_category = pd.DataFrame.from_records(df_app['user_gp_frequency'].tolist())
df_app_category = df_app_category.fillna(0.1)#change from fillna(0) to fillna(0.1)
df_app_category.head()

,ART_AND_DESIGN,AUTO_AND_VEHICLES,BEAUTY,BOOKS_AND_REFERENCE,BUSINESS,COMICS,COMMUNICATION,DATING,EDUCATION,ENTERTAINMENT,...,PHOTOGRAPHY,PRODUCTIVITY,SHOPPING,SOCIAL,SPORTS,TOOLS,TRANSPORTATION,TRAVEL_AND_LOCAL,VIDEO_PLAYERS,WEATHER
0,0.1,0.1,0.1,1.0,1.0,0.1,1.0,0.1,0.1,2.0,...,0.1,3.0,1.0,1.0,0.1,5.0,0.1,0.1,2.0,0.1
1,0.1,0.1,0.1,1.0,1.0,0.1,1.0,0.1,0.1,2.0,...,0.1,3.0,1.0,1.0,0.1,5.0,0.1,0.1,2.0,0.1
2,0.1,0.1,0.1,1.0,1.0,0.1,1.0,0.1,0.1,2.0,...,0.1,3.0,1.0,1.0,0.1,5.0,0.1,0.1,2.0,0.1
3,0.1,0.1,0.1,1.0,1.0,0.1,1.0,0.1,0.1,2.0,...,0.1,3.0,1.0,1.0,0.1,5.0,0.1,0.1,2.0,0.1
4,0.1,0.1,0.1,0.1,0.1,0.1,1.0,0.1,0.1,0.1,...,2.0,1.0,0.1,1.0,0.1,3.0,0.1,1.0,0.1,0.1

In [174]:
df_app = df_app.merge(df_app_category, how='left', left_index=True, right_index=True)
df_app = df_app.drop(['user_gp_frequency'], axis=1)
df_app = df_app.drop_duplicates(subset=['user_id'], keep='first')
df_app.head()

,user_id,ART_AND_DESIGN,AUTO_AND_VEHICLES,BEAUTY,BOOKS_AND_REFERENCE,BUSINESS,COMICS,COMMUNICATION,DATING,EDUCATION,...,PHOTOGRAPHY,PRODUCTIVITY,SHOPPING,SOCIAL,SPORTS,TOOLS,TRANSPORTATION,TRAVEL_AND_LOCAL,VIDEO_PLAYERS,WEATHER
2,614E304DE3B07EBCDD4E11382578EF5A,0.1,0.1,0.1,1.0,1.0,0.1,1.0,0.1,0.1,...,0.1,3.0,1.0,1.0,0.1,5.0,0.1,0.1,2.0,0.1
6,CD2F2B61135DB27BA3230F91466ED793,0.1,0.1,0.1,0.1,0.1,0.1,1.0,0.1,0.1,...,2.0,1.0,0.1,1.0,0.1,3.0,0.1,1.0,0.1,0.1
11,56F27AD705D8564F7900470AA793DBD2,0.1,0.1,0.1,0.1,0.1,0.1,4.0,0.1,0.1,...,2.0,1.0,2.0,3.0,1.0,5.0,0.1,1.0,2.0,0.1
12,8EE461BA3AA2595AC91FCDD833EC1711,0.1,0.1,0.1,0.1,0.1,0.1,4.0,0.1,0.1,...,2.0,1.0,2.0,3.0,1.0,5.0,0.1,1.0,2.0,0.1
15,5BA72C11B1E94BA50F1E66F4B1362CE6,0.1,0.1,0.1,0.1,2.0,0.1,4.0,0.1,0.1,...,0.1,0.1,1.0,3.0,0.1,10.0,0.1,3.0,7.0,2.0

In [175]:
df_app = df_app.fillna(0.1)#change from fillna(0) to fillna(0.1)

In [176]:
df_app.shape

(7857, 53)

In [177]:
def sumCat(row):
    l = row.tolist()
    #print l
    row['totalCat'] = sum(l[1:])
    return row

In [178]:
df_app1 = df_app.drop(['user_id'], axis = 1).apply(lambda row: sumCat(row), axis = 1)
df_app1 = df_app[['user_id']].merge(df_app1, how = 'left', left_index=True, right_index=True)
df_app2 = df_app1[df_app1['totalCat'] != 0].drop(['totalCat'], axis = 1)

In [179]:
df_app2.shape

(7857, 53)

In [180]:
df_app2.head()

,user_id,ART_AND_DESIGN,AUTO_AND_VEHICLES,BEAUTY,BOOKS_AND_REFERENCE,BUSINESS,COMICS,COMMUNICATION,DATING,EDUCATION,...,PHOTOGRAPHY,PRODUCTIVITY,SHOPPING,SOCIAL,SPORTS,TOOLS,TRANSPORTATION,TRAVEL_AND_LOCAL,VIDEO_PLAYERS,WEATHER
2,614E304DE3B07EBCDD4E11382578EF5A,0.1,0.1,0.1,1.0,1.0,0.1,1.0,0.1,0.1,...,0.1,3.0,1.0,1.0,0.1,5.0,0.1,0.1,2.0,0.1
6,CD2F2B61135DB27BA3230F91466ED793,0.1,0.1,0.1,0.1,0.1,0.1,1.0,0.1,0.1,...,2.0,1.0,0.1,1.0,0.1,3.0,0.1,1.0,0.1,0.1
11,56F27AD705D8564F7900470AA793DBD2,0.1,0.1,0.1,0.1,0.1,0.1,4.0,0.1,0.1,...,2.0,1.0,2.0,3.0,1.0,5.0,0.1,1.0,2.0,0.1
12,8EE461BA3AA2595AC91FCDD833EC1711,0.1,0.1,0.1,0.1,0.1,0.1,4.0,0.1,0.1,...,2.0,1.0,2.0,3.0,1.0,5.0,0.1,1.0,2.0,0.1
15,5BA72C11B1E94BA50F1E66F4B1362CE6,0.1,0.1,0.1,0.1,2.0,0.1,4.0,0.1,0.1,...,0.1,0.1,1.0,3.0,0.1,10.0,0.1,3.0,7.0,2.0

In [181]:
app_category = df_app.drop(['user_id'], axis = 1).columns
app_category

Index([u'ART_AND_DESIGN', u'AUTO_AND_VEHICLES', u'BEAUTY',
       u'BOOKS_AND_REFERENCE', u'BUSINESS', u'COMICS', u'COMMUNICATION',
       u'DATING', u'EDUCATION', u'ENTERTAINMENT', u'EVENTS', u'FAMILY_ACTION',
       u'FINANCE', u'FOOD_AND_DRINK', u'GAME_ACTION', u'GAME_ADVENTURE',
       u'GAME_ARCADE', u'GAME_BOARD', u'GAME_CARD', u'GAME_CASINO',
       u'GAME_CASUAL', u'GAME_EDUCATIONAL', u'GAME_MUSIC', u'GAME_PUZZLE',
       u'GAME_RACING', u'GAME_ROLE_PLAYING', u'GAME_SIMULATION',
       u'GAME_SPORTS', u'GAME_STRATEGY', u'GAME_TRIVIA', u'GAME_WORD',
       u'HEALTH_AND_FITNESS', u'HOUSE_AND_HOME', u'LIBRARIES_AND_DEMO',
       u'LIFESTYLE', u'MAPS_AND_NAVIGATION', u'MEDIA_AND_VIDEO', u'MEDICAL',
       u'MUSIC_AND_AUDIO', u'NEWS_AND_MAGAZINES', u'PARENTING',
       u'PERSONALIZATION', u'PHOTOGRAPHY', u'PRODUCTIVITY', u'SHOPPING',
       u'SOCIAL', u'SPORTS', u'TOOLS', u'TRANSPORTATION', u'TRAVEL_AND_LOCAL',
       u'VIDEO_PLAYERS', u'WEATHER'],
      dtype='object')

## Merge user and app

In [182]:
df_user_app = df_user.merge(df_app2, how = 'left', on = 'user_id')
#df_user_app = df_user_app.drop(['totalCat'], axis = 1)
df_user_app = df_user_app.fillna(0.1) #change from fillna(0) to fillna(0.1)
df_user_app.head()

,user_id,user_age_0.0,user_age_1.0,user_age_2.0,user_age_3.0,user_age_4.0,user_gender_0.0,user_gender_1.0,user_gender_2.0,user_brand_acer,...,PHOTOGRAPHY,PRODUCTIVITY,SHOPPING,SOCIAL,SPORTS,TOOLS,TRANSPORTATION,TRAVEL_AND_LOCAL,VIDEO_PLAYERS,WEATHER
0,614E304DE3B07EBCDD4E11382578EF5A,0,0,1,0,0,0,0,1,0,...,0.1,3.0,1.0,1.0,0.1,5.0,0.1,0.1,2.0,0.1
1,CD2F2B61135DB27BA3230F91466ED793,0,0,0,1,0,0,0,1,0,...,2.0,1.0,0.1,1.0,0.1,3.0,0.1,1.0,0.1,0.1
2,56F27AD705D8564F7900470AA793DBD2,0,0,0,0,1,0,0,1,0,...,2.0,1.0,2.0,3.0,1.0,5.0,0.1,1.0,2.0,0.1
3,8EE461BA3AA2595AC91FCDD833EC1711,0,0,1,0,0,0,0,1,0,...,2.0,1.0,2.0,3.0,1.0,5.0,0.1,1.0,2.0,0.1
4,5BA72C11B1E94BA50F1E66F4B1362CE6,0,0,1,0,0,0,1,0,0,...,0.1,0.1,1.0,3.0,0.1,10.0,0.1,3.0,7.0,2.0

df_group = df_user_app.groupby(by=list([i for i in df_user_app.columns if i != 'user_id'])).agg({'user_id':'nunique'}).reset_index()
df_group = df_group.sort_values(by='user_id', ascending=False)
df_group.head()

[i for i in range(0, len(df_group.iloc[0])) if df_group.iloc[0][i] > 0.1]

df_group.columns[[0, 5, 36, 1434, 2412]]

df_user_app[(df_user_app['user_age_0.0'] == 1) & (df_user_app['user_gender_0.0'] == 1) \
            & (df_user_app['user_brand_samsung'] == 1) & (df_user_app['user_maxmind_city_na'] == 1)\
            & (df_user_app['PHOTOGRAPHY'] == 0.1) & (df_user_app['TOOLS'] == 0.1) \
            & (df_user_app['PRODUCTIVITY'] == 0.1) & (df_user_app['SOCIAL'] == 0.1)\
           & (df_user_app['SHOPPING'] == 0.1) & (df_user_app['TRAVEL_AND_LOCAL'] == 0.1)\
                                                & (df_user_app['WEATHER'] == 0.1)]['user_id'].tolist()

[i for i in df_trData.columns if 'user_' in i]

df_trData[df_trData['user_id'].isin(
    [u'DAF29D87173A64295B171D25BDFAF8A6',
 u'8D6522309FCCECA085E436BD51A34506',
 u'1F9074700BFEE2863BE8F057DA0D61BE',
 u'5C22FCB556340CF467CCB04C04C111CC',
 u'F589CABCE692B53483F57CB0B13D998C',
 u'8AEA6F3114B82E5A1D87C1787AB9064B',
 u'6F991CB77F007DAE5203B6681D8C44F8',
 u'C4E41C1AA8080266F1036AB7C4F92431',
 u'79898FA62AEC1BE10A00A1190B27384B',
 u'4C9E43830F042D61D6AAB4072DB693DF',
 u'7C5146AFFC0A433D39341E0E073E68B1'])][[i for i in df_trData.columns if 'user_' in i]]

In [183]:
a = df_user_app.drop(['user_id'], axis = 1).as_matrix()
samples = list(a)
type(samples[0])

from sklearn.neighbors import NearestNeighbors
neigh = NearestNeighbors(n_neighbors=1)
neigh.fit(samples) 

#get the nearest user index - use for loop later
#print(neigh.kneighbors([samples[20]])) [1][0][0]

NearestNeighbors(algorithm='auto', leaf_size=30, metric='minkowski',
         metric_params=None, n_jobs=1, n_neighbors=1, p=2, radius=1.0)

## Get user related category as label

get a table to map user_id with read article and the l1_categories and l2_categories

In [184]:
df_user_app_label = df_trData[['user_id', 'article_contentid', 'article_l1_categories', 'article_l2_categories']]#sophia remark : should add article_update_time as a feature
df_user_app_label['article_l1_categories'] = df_user_app_label['article_l1_categories'].fillna({})
df_user_app_label['article_l2_categories'] = df_user_app_label['article_l2_categories'].fillna({})
df_user_app_label.head()

/Users/sophia.gao/.pyenv/versions/miniconda2-latest/lib/python2.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/sophia.gao/.pyenv/versions/miniconda2-latest/lib/python2.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,user_id,article_contentid,article_l1_categories,article_l2_categories
2,614E304DE3B07EBCDD4E11382578EF5A,Ly7407d4cuC_us,"[{u'name': u'1000780', u'weight': 0.4546442536...","[{u'name': u'1000667', u'weight': 0.6867789988..."
3,614E304DE3B07EBCDD4E11382578EF5A,AY628126a1w_us,"[{u'name': u'1000288', u'weight': 0.9748942874...","[{u'name': u'1000288', u'weight': 0.44672383556}]"
4,614E304DE3B07EBCDD4E11382578EF5A,jv70536a3bt_us,"[{u'name': u'1000031', u'weight': 0.4396004700...","[{u'name': u'1000069', u'weight': 0.8568055895..."
5,614E304DE3B07EBCDD4E11382578EF5A,1V70d401fdc_us,"[{u'name': u'1000031', u'weight': 0.8209544133...","[{u'name': u'1000069', u'weight': 0.4637899765..."
6,CD2F2B61135DB27BA3230F91466ED793,jQ6c581bbr2_us,"[{u'name': u'1001091', u'weight': 0.4180664718...","[{u'name': u'1001091', u'weight': 0.4180664718..."

Extract l1_category and l2_category from the list

In [185]:
def getDetail(cat, field):
    if (str(cat) != 'nan'):
        if (len(cat) > 0):
            return cat[0][field]
    else:
        return '0'

In [186]:
df_user_app_label['l1_cat'] = df_user_app_label.apply(lambda row: getDetail(row['article_l1_categories'],'name'), axis=1)
df_user_app_label['l2_cat'] = df_user_app_label.apply(lambda row: getDetail(row['article_l2_categories'],'name'), axis=1)
#df_user_app_label['l1_cat_w'] = df_user_app_label.apply(lambda row: getDetail(row['article_l1_categories'],'weight'), axis=1)
#df_user_app_label['l2_cat_w'] = df_user_app_label.apply(lambda row: getDetail(row['article_l2_categories'],'weight'), axis=1)
df_user_app_label = df_user_app_label.drop(['article_l1_categories', 'article_l2_categories'], axis=1)
df_user_app_label.head()

/Users/sophia.gao/.pyenv/versions/miniconda2-latest/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/sophia.gao/.pyenv/versions/miniconda2-latest/lib/python2.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

                            user_id article_contentid   l1_cat   l2_cat
2  614E304DE3B07EBCDD4E11382578EF5A    Ly7407d4cuC_us  1000780  1000667
3  614E304DE3B07EBCDD4E11382578EF5A    AY628126a1w_us  1000288  1000288
4  614E304DE3B07EBCDD4E11382578EF5A    jv70536a3bt_us  1000031  1000069
5  614E304DE3B07EBCDD4E11382578EF5A    1V70d401fdc_us  1000031  1000069
6  CD2F2B61135DB27BA3230F91466ED793    jQ6c581bbr2_us  1001091  1001091

In [187]:
def sumCat(l):
    l = l.unique()
    return l.tolist()

In [188]:
df_user_cat = df_user_app_label.groupby(['user_id']).apply(lambda row: sumCat(row['l2_cat']))
df_user_cat = pd.DataFrame(df_user_cat).reset_index()
df_user_cat = df_user_cat.rename(columns={0:'l2_cat'})
df_user_cat.head()

,user_id,l2_cat
0,00108FC5F1F3031ADD536548124A4912,[1000069]
1,00310455B7B24D5CDEC892351B8D1D51,"[1000667, 1000611, 1000780, 1000395]"
2,00381B68ACD6CC83635CDDD9B40F0BAF,"[1000671, 1000680, 1000681]"
3,003B2215B070CDB50C0819C72E208F0A,"[1000395, 1000290, 1000288, 1000069, 1000611]"
4,003B8D414199B9C5EB7CF8C94BCC6787,[1000069]

In [189]:
def splitCat(row):
    for i in row['l2_cat']:
        if i is not None:
            row['user_l2_cat' + i] = 1
    return row

In [190]:
df_user_cat = df_user_cat.apply(lambda row:splitCat(row), axis = 1)
df_user_cat.head()

,l2_cat,user_id,user_l2_cat0010000000,user_l2_cat1000001,user_l2_cat1000002,user_l2_cat1000007,user_l2_cat10000101,user_l2_cat1000012,user_l2_cat10000162,user_l2_cat1000017,...,user_l2_cat1001040,user_l2_cat1001049,user_l2_cat1001060,user_l2_cat1001091,user_l2_cat1001103,user_l2_cat1001110,user_l2_cat1001117,user_l2_cat2000000,user_l2_cat6000007,user_l2_cat8000001
0,[1000069],00108FC5F1F3031ADD536548124A4912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"[1000667, 1000611, 1000780, 1000395]",00310455B7B24D5CDEC892351B8D1D51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"[1000671, 1000680, 1000681]",00381B68ACD6CC83635CDDD9B40F0BAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"[1000395, 1000290, 1000288, 1000069, 1000611]",003B2215B070CDB50C0819C72E208F0A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,[1000069],003B8D414199B9C5EB7CF8C94BCC6787,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [191]:
df_user_cat = df_user_cat.fillna(0.1).drop(['l2_cat'],axis = 1)#change from fillna(0) to fillna(0.1)
df_user_cat.head()

,user_id,user_l2_cat0010000000,user_l2_cat1000001,user_l2_cat1000002,user_l2_cat1000007,user_l2_cat10000101,user_l2_cat1000012,user_l2_cat10000162,user_l2_cat1000017,user_l2_cat10000177,...,user_l2_cat1001040,user_l2_cat1001049,user_l2_cat1001060,user_l2_cat1001091,user_l2_cat1001103,user_l2_cat1001110,user_l2_cat1001117,user_l2_cat2000000,user_l2_cat6000007,user_l2_cat8000001
0,00108FC5F1F3031ADD536548124A4912,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
1,00310455B7B24D5CDEC892351B8D1D51,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
2,00381B68ACD6CC83635CDDD9B40F0BAF,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
3,003B2215B070CDB50C0819C72E208F0A,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
4,003B8D414199B9C5EB7CF8C94BCC6787,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1

In [192]:
df_user_app_cat = df_user_app.merge(df_user_cat, how = 'left', on = 'user_id')
df_user_app_cat.head()

,user_id,user_age_0.0,user_age_1.0,user_age_2.0,user_age_3.0,user_age_4.0,user_gender_0.0,user_gender_1.0,user_gender_2.0,user_brand_acer,...,user_l2_cat1001040,user_l2_cat1001049,user_l2_cat1001060,user_l2_cat1001091,user_l2_cat1001103,user_l2_cat1001110,user_l2_cat1001117,user_l2_cat2000000,user_l2_cat6000007,user_l2_cat8000001
0,614E304DE3B07EBCDD4E11382578EF5A,0,0,1,0,0,0,0,1,0,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
1,CD2F2B61135DB27BA3230F91466ED793,0,0,0,1,0,0,0,1,0,...,0.1,0.1,0.1,1.0,0.1,0.1,0.1,0.1,0.1,0.1
2,56F27AD705D8564F7900470AA793DBD2,0,0,0,0,1,0,0,1,0,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
3,8EE461BA3AA2595AC91FCDD833EC1711,0,0,1,0,0,0,0,1,0,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
4,5BA72C11B1E94BA50F1E66F4B1362CE6,0,0,1,0,0,0,1,0,0,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1

### Prepare Article View

In [193]:
df_article = df_trData[['user_id', 'article_contentid', 'article_l1_categories', 'article_l2_categories', 'article_title', 'article_update_time']]#sophia remark : should add article_update_time as a feature
df_article = df_article.sort_values(by=['article_title'], ascending=False)
df_article.head()

,user_id,article_contentid,article_l1_categories,article_l2_categories,article_title,article_update_time
73696,7C62CF4B33EF7303881DB654E68FF85E,v77c577e1qo_us,"[{u'name': u'1000780', u'weight': 0.8786688469...","[{u'name': u'1000667', u'weight': 0.4648142188...",﻿Vulnerable teen 'livestreams suicide' on Face...,1.485441e+09
125132,A4F138114721E738AD8C2768C11450A9,v77c577e1qo_us,"[{u'name': u'1000780', u'weight': 0.8786688469...","[{u'name': u'1000667', u'weight': 0.4648142188...",﻿Vulnerable teen 'livestreams suicide' on Face...,1.485388e+09
45894,986759E2FD77D818BEDC17BFF6376900,v77c577e1qo_us,"[{u'name': u'1000780', u'weight': 0.8786688469...","[{u'name': u'1000667', u'weight': 0.4648142188...",﻿Vulnerable teen 'livestreams suicide' on Face...,1.485441e+09
136028,17A177FDE5C3C9F500D784FF8D985AD7,0i65cb6eaNb_us,"[{u'name': u'1000780', u'weight': 0.0405336841...","[{u'name': u'1000780', u'weight': 0.0405336841...",【E-girls】ちび丸子ちゃん―踊りを学びましょう～,1.482883e+09
136080,17A177FDE5C3C9F500D784FF8D985AD7,0i65cb6eaNb_us,"[{u'name': u'1000780', u'weight': 0.0405336841...","[{u'name': u'1000780', u'weight': 0.0405336841...",【E-girls】ちび丸子ちゃん―踊りを学びましょう～,1.482883e+09

In [194]:
from sklearn import preprocessing
#Create x, where x the 'scores' column's values as floats
x = df_article['article_update_time'].values.astype(float)
x = x.reshape(-1,1)
# Create a minimum and maximum processor object
min_max_scaler = preprocessing.MinMaxScaler()

# Create an object to transform the data to fit minmax processor
x_scaled = min_max_scaler.fit_transform(x)

# Run the normalizer on the dataframe
df_article['article_update_time'] = x_scaled

In [195]:
df_article = df_article.drop_duplicates(subset=['article_contentid'], keep='first')
df_article = df_article.reset_index(drop = True)
df_article.head()

,user_id,article_contentid,article_l1_categories,article_l2_categories,article_title,article_update_time
0,7C62CF4B33EF7303881DB654E68FF85E,v77c577e1qo_us,"[{u'name': u'1000780', u'weight': 0.8786688469...","[{u'name': u'1000667', u'weight': 0.4648142188...",﻿Vulnerable teen 'livestreams suicide' on Face...,0.950863
1,17A177FDE5C3C9F500D784FF8D985AD7,0i65cb6eaNb_us,"[{u'name': u'1000780', u'weight': 0.0405336841...","[{u'name': u'1000780', u'weight': 0.0405336841...",【E-girls】ちび丸子ちゃん―踊りを学びましょう～,0.342006
2,DB7995E79922E8A96E1585DA8C6EFB51,ag639e0eeDK_us,"[{u'name': u'8000001', u'weight': 0.999}]","[{u'name': u'8000001', u'weight': 0.999}]",♠ Funny Videos ♠ Best FAILS ♠ December 2016 Co...,0.597340
3,84E7779E484630375F5F0F6175045B4B,7m799a2c4mX_us,"[{u'name': u'1000931', u'weight': 0.1268057078...","[{u'name': u'1000931', u'weight': 0.1268057078...",▶[Future Bass] ★ MRVLZ - On The Inside,0.923283
4,DE83F55126D386CF852A76F25FE0FE04,hQ7cfd994Tv_us,"[{u'name': u'1000780', u'weight': 0.4859073658...","[{u'name': u'1000780', u'weight': 0.4859073658...",€1m in funding sought for new air ambulance se...,0.949038

In [196]:
def getDetail(cat, field):
    if (str(cat) != 'nan'):
        if (len(cat) > 0):
            return cat[0][field]
    else:
        return '0'

In [197]:
df_article['l1_cat'] = df_article.apply(lambda row: getDetail(row['article_l1_categories'],'name'), axis=1)
df_article['l2_cat'] = df_article.apply(lambda row: getDetail(row['article_l2_categories'],'name'), axis=1)
df_article['l1_cat_w'] = df_article.apply(lambda row: getDetail(row['article_l1_categories'],'weight'), axis=1)
df_article['l2_cat_w'] = df_article.apply(lambda row: getDetail(row['article_l2_categories'],'weight'), axis=1)
df_article = df_article.drop(['article_l1_categories', 'article_l2_categories'], axis=1)
df_article.head()

,user_id,article_contentid,article_title,article_update_time,l1_cat,l2_cat,l1_cat_w,l2_cat_w
0,7C62CF4B33EF7303881DB654E68FF85E,v77c577e1qo_us,﻿Vulnerable teen 'livestreams suicide' on Face...,0.950863,1000780,1000667,0.878669,0.464814
1,17A177FDE5C3C9F500D784FF8D985AD7,0i65cb6eaNb_us,【E-girls】ちび丸子ちゃん―踊りを学びましょう～,0.342006,1000780,1000780,0.040534,0.040534
2,DB7995E79922E8A96E1585DA8C6EFB51,ag639e0eeDK_us,♠ Funny Videos ♠ Best FAILS ♠ December 2016 Co...,0.597340,8000001,8000001,0.999000,0.999000
3,84E7779E484630375F5F0F6175045B4B,7m799a2c4mX_us,▶[Future Bass] ★ MRVLZ - On The Inside,0.923283,1000931,1000931,0.126806,0.126806
4,DE83F55126D386CF852A76F25FE0FE04,hQ7cfd994Tv_us,€1m in funding sought for new air ambulance se...,0.949038,1000780,1000780,0.485907,0.485907

In [198]:
df_article.shape

(49149, 8)

### Clean title

In [199]:
#df_article = df_article[~df_article['article_title'].isnull()]
#df_article.head()

#skip

from gensim.models import Word2Vec
from nltk.corpus import stopwords
from nltk import word_tokenize
from nltk.stem.lancaster import LancasterStemmer
import re

def hashingTitle(title):
    STEMMER = LancasterStemmer()
    if (type(title) != float) & (type(title) != int):
        title = title.lower()
        title = word_tokenize(title)
        title = [STEMMER.stem(word.strip('!"#$%&\()*+,-./:;<=>?@[\]^_`{|}~').lower()) for word in title]
        titleList = []
        for w in title:
            if len(re.findall("[a-zA-Z]+", w)) > 0:
                f_w = re.findall("[a-zA-Z]+", w)[0].lower()
                f_w = '#'+f_w+'#'
                f_w_tri = [f_w[i:i+3] for i in range(len(f_w)-1) if (len(f_w[i:i+3]) == 3)]
                titleList.extend(f_w_tri)
        return dict(Counter(titleList))
    else:
        return {}

df_article['clean_article_title'] = df_article.apply(lambda x: hashingTitle(x['article_title']), axis=1)
df_article.head()

df_article_title = pd.DataFrame.from_records(df_article['clean_article_title'].tolist())
df_article_title = df_article_title.fillna(0)
df_article_title.head()

df_article = df_article.merge(df_article_title, how='left', left_index=True, right_index=True)
df_article.head()

In [200]:
#df_article = df_article.drop(['article_title','clean_article_title'], axis=1)
#Sophia commend : the following line is to be run if title is not included
df_article = df_article.drop(['article_title'], axis=1)
df_article.head()

,user_id,article_contentid,article_update_time,l1_cat,l2_cat,l1_cat_w,l2_cat_w
0,7C62CF4B33EF7303881DB654E68FF85E,v77c577e1qo_us,0.950863,1000780,1000667,0.878669,0.464814
1,17A177FDE5C3C9F500D784FF8D985AD7,0i65cb6eaNb_us,0.342006,1000780,1000780,0.040534,0.040534
2,DB7995E79922E8A96E1585DA8C6EFB51,ag639e0eeDK_us,0.597340,8000001,8000001,0.999000,0.999000
3,84E7779E484630375F5F0F6175045B4B,7m799a2c4mX_us,0.923283,1000931,1000931,0.126806,0.126806
4,DE83F55126D386CF852A76F25FE0FE04,hQ7cfd994Tv_us,0.949038,1000780,1000780,0.485907,0.485907

In [201]:
#df_article = pd.get_dummies(df_article, columns=['article_publisher'])
df_article = df_article.fillna(0)
df_article.head()

,user_id,article_contentid,article_update_time,l1_cat,l2_cat,l1_cat_w,l2_cat_w
0,7C62CF4B33EF7303881DB654E68FF85E,v77c577e1qo_us,0.950863,1000780,1000667,0.878669,0.464814
1,17A177FDE5C3C9F500D784FF8D985AD7,0i65cb6eaNb_us,0.342006,1000780,1000780,0.040534,0.040534
2,DB7995E79922E8A96E1585DA8C6EFB51,ag639e0eeDK_us,0.597340,8000001,8000001,0.999000,0.999000
3,84E7779E484630375F5F0F6175045B4B,7m799a2c4mX_us,0.923283,1000931,1000931,0.126806,0.126806
4,DE83F55126D386CF852A76F25FE0FE04,hQ7cfd994Tv_us,0.949038,1000780,1000780,0.485907,0.485907

In [202]:
df_cat = df_article[['l1_cat', 'l2_cat', 'l1_cat_w', 'l2_cat_w']]
df_cat = pd.get_dummies(df_cat, columns=['l1_cat', 'l2_cat'])
df_cat = df_cat.fillna(0.1)#change from fillna(0) to fillna(0.1)
#df_cat = df_cat.drop(['l1_cat_0', 'l2_cat_0'], axis=1)
df_cat.head()

,l1_cat_w,l2_cat_w,l1_cat_0,l1_cat_0010000000,l1_cat_1000001,l1_cat_1000031,l1_cat_1000044,l1_cat_1000111,l1_cat_1000123,l1_cat_1000267,...,l2_cat_1001040,l2_cat_1001049,l2_cat_1001060,l2_cat_1001091,l2_cat_1001103,l2_cat_1001110,l2_cat_1001117,l2_cat_2000000,l2_cat_6000007,l2_cat_8000001
0,0.878669,0.464814,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.040534,0.040534,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0.999000,0.999000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0.126806,0.126806,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0.485907,0.485907,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [203]:
df_cat = df_cat.merge(df_article[['l1_cat', 'l2_cat']], how='left', left_index=True, right_index=True)
df_cat.head()

,l1_cat_w,l2_cat_w,l1_cat_0,l1_cat_0010000000,l1_cat_1000001,l1_cat_1000031,l1_cat_1000044,l1_cat_1000111,l1_cat_1000123,l1_cat_1000267,...,l2_cat_1001060,l2_cat_1001091,l2_cat_1001103,l2_cat_1001110,l2_cat_1001117,l2_cat_2000000,l2_cat_6000007,l2_cat_8000001,l1_cat,l2_cat
0,0.878669,0.464814,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1000780,1000667
1,0.040534,0.040534,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1000780,1000780
2,0.999000,0.999000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,8000001,8000001
3,0.126806,0.126806,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1000931,1000931
4,0.485907,0.485907,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1000780,1000780

In [204]:
def updateCatWeight(row):
    cat = row['l1_cat']
    row['l1_cat_'+str(cat)] = row['l1_cat_w']
    return row

In [205]:
df_cat = df_cat.apply(lambda row: updateCatWeight(row), axis=1)
df_cat.head()

,l1_cat_w,l2_cat_w,l1_cat_0,l1_cat_0010000000,l1_cat_1000001,l1_cat_1000031,l1_cat_1000044,l1_cat_1000111,l1_cat_1000123,l1_cat_1000267,...,l2_cat_1001060,l2_cat_1001091,l2_cat_1001103,l2_cat_1001110,l2_cat_1001117,l2_cat_2000000,l2_cat_6000007,l2_cat_8000001,l1_cat,l2_cat
0,0.878669,0.464814,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1000780,1000667
1,0.040534,0.040534,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1000780,1000780
2,0.999000,0.999000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,1,8000001,8000001
3,0.126806,0.126806,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1000931,1000931
4,0.485907,0.485907,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1000780,1000780

In [206]:
df_cat = df_cat.drop(['l1_cat','l2_cat','l1_cat_w', 'l2_cat_w'], axis=1)
df_cat.head()

,l1_cat_0,l1_cat_0010000000,l1_cat_1000001,l1_cat_1000031,l1_cat_1000044,l1_cat_1000111,l1_cat_1000123,l1_cat_1000267,l1_cat_1000288,l1_cat_1000298,...,l2_cat_1001040,l2_cat_1001049,l2_cat_1001060,l2_cat_1001091,l2_cat_1001103,l2_cat_1001110,l2_cat_1001117,l2_cat_2000000,l2_cat_6000007,l2_cat_8000001
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [207]:
df_article = df_article.merge(df_cat, how='left', left_index=True, right_index=True)
#sophia remark: commend here
#df_article = df_article.drop(['article_publisher','article_title'], axis = 1)
df_article.head()

,user_id,article_contentid,article_update_time,l1_cat,l2_cat,l1_cat_w,l2_cat_w,l1_cat_0,l1_cat_0010000000,l1_cat_1000001,...,l2_cat_1001040,l2_cat_1001049,l2_cat_1001060,l2_cat_1001091,l2_cat_1001103,l2_cat_1001110,l2_cat_1001117,l2_cat_2000000,l2_cat_6000007,l2_cat_8000001
0,7C62CF4B33EF7303881DB654E68FF85E,v77c577e1qo_us,0.950863,1000780,1000667,0.878669,0.464814,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,17A177FDE5C3C9F500D784FF8D985AD7,0i65cb6eaNb_us,0.342006,1000780,1000780,0.040534,0.040534,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,DB7995E79922E8A96E1585DA8C6EFB51,ag639e0eeDK_us,0.597340,8000001,8000001,0.999000,0.999000,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
3,84E7779E484630375F5F0F6175045B4B,7m799a2c4mX_us,0.923283,1000931,1000931,0.126806,0.126806,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,DE83F55126D386CF852A76F25FE0FE04,hQ7cfd994Tv_us,0.949038,1000780,1000780,0.485907,0.485907,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [208]:
df_article_2 = df_article.drop(['l1_cat','l2_cat','l1_cat_w','l2_cat_w'], axis = 1)
df_article_2.shape

(49149, 186)

In [209]:
#df_user.head()

Change by sophia --> should keep all user-article pair

In [ ]:
#df_user_article = df_ua_map.merge(df_user, how='left', on='user_id')
#df_user_article.head()

In [ ]:
#df_user_article = df_user_article.merge(df_article.drop(['user_id'],axis = 1), how = 'left', on='article_contentid')
#df_user_article.head()

In [ ]:
#df_user_article.shape

In [ ]:
#df_user_article = df_user_article.fillna(0)
#df_user_article = df_user_article[(df_user_article['l1_cat'] != 0) & (df_user_article['l2_cat'] != 0)]
#df_user_article.head()

In [ ]:
#df_ua_user = df_user_article[df_user.columns]
##df_ua_user = df_ua_user.drop(['user_id'], axis=1)
#df_ua_user = df_ua_user.fillna(0)
#df_ua_user.head()

In [ ]:
#df_ua_article = df_user_article[df_article.columns]
#df_ua_article = df_ua_article.drop(['user_id', 'article_contentid'], axis=1)
##df_ua_article = df_ua_article.drop(['article_contentid'], axis=1)
#df_ua_article = df_ua_article.fillna(0)
#df_ua_article.head()

In [ ]:
#Sophia remark: save current df_app : user article or others contain ascii - cannot save
#df_user.to_csv('testdata1127/df_user.csv', sep='\t', encoding='utf-8')
#df_ua_article.to_csv('testdata1127/df_ua_article.csv', sep='\t', encoding='utf-8')
#df_article.to_csv('testdata1127/df_article.csv', sep='\t', encoding='utf-8')
#df_app.to_csv('testdata1127/df_app.csv')
#df_app2.to_csv('testdata1127/df_app2.csv')

### Prepare Train Test Set

In [210]:
import random
train_ratio = 0.9
num_train_user = int(round(len(df_user)*train_ratio))
train_user_id = random.sample(df_user['user_id'].tolist(), num_train_user)

In [211]:
len(train_user_id)

7071

In [212]:
test_user_id = df_user[~df_user['user_id'].isin(train_user_id)]['user_id'].tolist()
len(test_user_id)

786

In [213]:
old_new_ratio = 0.8
num_old_user = int(round(len(test_user_id)*train_ratio))
old_user_id = random.sample(test_user_id, num_old_user)
len(old_user_id)

707

In [214]:
new_user_id = [i for i in test_user_id if i not in old_user_id]
len(new_user_id)

79

In [215]:
final_train_user_id = []
final_train_user_id.extend(train_user_id)
final_train_user_id.extend(old_user_id)
len(final_train_user_id)

7778

In [216]:
final_test_user_id = []
final_test_user_id.extend(new_user_id)
final_test_user_id.extend(old_user_id)
len(final_test_user_id)

786

KNN - in final test, there is no need to get final_train and final_test(previous steps)

In [217]:
df_train_user_0 = df_user_app[df_user_app['user_id'].isin(final_train_user_id)].fillna(0.1)
df_test_user_0 = df_user_app[df_user_app['user_id'].isin(final_test_user_id)].fillna(0.1)

In [218]:
df_train_user_0.shape, df_test_user_0.shape

((7778, 3062), (786, 3062))

In [219]:
a = df_train_user_0.drop(['user_id'], axis = 1).as_matrix()
samples = list(a)
neigh = NearestNeighbors(n_neighbors=1)
neigh.fit(samples) 

#get the nearest user index - use for loop later
#print(neigh.kneighbors([samples[15]])) [1][0]

NearestNeighbors(algorithm='auto', leaf_size=30, metric='minkowski',
         metric_params=None, n_jobs=1, n_neighbors=1, p=2, radius=1.0)

In [220]:
def findNeighbor(row):
    l = row.values
    row['neibor'] = neigh.kneighbors([l]) [1][0][0]
    return row

In [234]:
# user with neighbor information w/o user id
df_test_user_1 = df_test_user_0.drop(['user_id'],axis = 1).apply(lambda row: findNeighbor(row), axis = 1)#drop(['user_id'],axis = 1)
# user with neighbor information and user id
df_test_user_3 = df_test_user_0[['user_id']].merge(df_test_user_1, how = 'left', left_index = True, right_index = True)
df_test_user_3.head()

,user_id,user_age_0.0,user_age_1.0,user_age_2.0,user_age_3.0,user_age_4.0,user_gender_0.0,user_gender_1.0,user_gender_2.0,user_brand_acer,...,PRODUCTIVITY,SHOPPING,SOCIAL,SPORTS,TOOLS,TRANSPORTATION,TRAVEL_AND_LOCAL,VIDEO_PLAYERS,WEATHER,neibor
9,292BB97BB1606137F47D15CD95613681,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.1,0.1,0.1,0.1,5.0,0.1,0.1,1.0,0.1,9
16,FDA822F54256CAE5209A7FD11B87503F,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,3.0,0.1,0.1,0.1,3.0,0.1,0.1,1.0,0.1,16
22,3FD27317628111BD18212E3FFD828FB6,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,22
28,63DCD9FACDA032C8045C92D4954AD5E8,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,3.0,0.1,3.0,0.1,22.0,0.1,2.0,1.0,0.1,28
37,D8419484B8B08621C786F79AE86C71C2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,37

In [235]:
df_user_cat.head()

,user_id,user_l2_cat0010000000,user_l2_cat1000001,user_l2_cat1000002,user_l2_cat1000007,user_l2_cat10000101,user_l2_cat1000012,user_l2_cat10000162,user_l2_cat1000017,user_l2_cat10000177,...,user_l2_cat1001040,user_l2_cat1001049,user_l2_cat1001060,user_l2_cat1001091,user_l2_cat1001103,user_l2_cat1001110,user_l2_cat1001117,user_l2_cat2000000,user_l2_cat6000007,user_l2_cat8000001
0,00108FC5F1F3031ADD536548124A4912,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
1,00310455B7B24D5CDEC892351B8D1D51,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
2,00381B68ACD6CC83635CDDD9B40F0BAF,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
3,003B2215B070CDB50C0819C72E208F0A,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
4,003B8D414199B9C5EB7CF8C94BCC6787,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1

In [238]:
df_train_user = df_train_user_0.merge(df_user_cat, how = 'left', on = 'user_id')
df_train_user.shape

(7778, 3217)

In [239]:
art_cat_col = [i for i in df_train_user.columns if i not in df_train_user_0.columns]
len(art_cat_col)

155

In [262]:
user_fea_col = [i for i in df_train_user.columns \
                if i not in app_category and 'user_brand' not in i\
                and 'user_model' not in i  and 'article_contentid' != i]
len(user_fea_col)

2470

test_col = [i for i in df_train_user.columns \
                if i not in app_category and 'user_maxmind_city' not in i]
len(test_col)

In [263]:
df_test_user = df_test_user_3.merge(df_train_user[art_cat_col], how = 'left', left_on='neibor', right_index=True)
df_test_user = df_test_user.drop(['neibor'],axis = 1)
df_test_user.head()

,user_id,user_age_0.0,user_age_1.0,user_age_2.0,user_age_3.0,user_age_4.0,user_gender_0.0,user_gender_1.0,user_gender_2.0,user_brand_acer,...,user_l2_cat1001040,user_l2_cat1001049,user_l2_cat1001060,user_l2_cat1001091,user_l2_cat1001103,user_l2_cat1001110,user_l2_cat1001117,user_l2_cat2000000,user_l2_cat6000007,user_l2_cat8000001
9,292BB97BB1606137F47D15CD95613681,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
16,FDA822F54256CAE5209A7FD11B87503F,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.1,0.1,0.1,1.0,0.1,0.1,0.1,0.1,0.1,0.1
22,3FD27317628111BD18212E3FFD828FB6,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
28,63DCD9FACDA032C8045C92D4954AD5E8,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
37,D8419484B8B08621C786F79AE86C71C2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1

In [264]:
df_test_user.shape, df_train_user.shape

((786, 3217), (7778, 3217))

In [276]:
#df_test_user = df_user[df_user['user_id'].isin(final_test_user_id)]
#df_test_user = df_test_user.drop(['user_id'], axis=1)
df_test_user_2 = df_test_user[user_fea_col].fillna(0)
#df_test_user_2 = df_test_user.fillna(0)
#df_test_user_arr = df_test_user_2.values
#df_test_user_arr.shape

In [279]:
df_test_user_2.columns

Index([                u'user_id',            u'user_age_0.0',
                  u'user_age_1.0',            u'user_age_2.0',
                  u'user_age_3.0',            u'user_age_4.0',
               u'user_gender_0.0',         u'user_gender_1.0',
               u'user_gender_2.0', u'user_maxmind_city_'aiea',
       ...
            u'user_l2_cat1001040',      u'user_l2_cat1001049',
            u'user_l2_cat1001060',      u'user_l2_cat1001091',
            u'user_l2_cat1001103',      u'user_l2_cat1001110',
            u'user_l2_cat1001117',      u'user_l2_cat2000000',
            u'user_l2_cat6000007',      u'user_l2_cat8000001'],
      dtype='object', length=2470)

In [280]:
app_category

Index([u'ART_AND_DESIGN', u'AUTO_AND_VEHICLES', u'BEAUTY',
       u'BOOKS_AND_REFERENCE', u'BUSINESS', u'COMICS', u'COMMUNICATION',
       u'DATING', u'EDUCATION', u'ENTERTAINMENT', u'EVENTS', u'FAMILY_ACTION',
       u'FINANCE', u'FOOD_AND_DRINK', u'GAME_ACTION', u'GAME_ADVENTURE',
       u'GAME_ARCADE', u'GAME_BOARD', u'GAME_CARD', u'GAME_CASINO',
       u'GAME_CASUAL', u'GAME_EDUCATIONAL', u'GAME_MUSIC', u'GAME_PUZZLE',
       u'GAME_RACING', u'GAME_ROLE_PLAYING', u'GAME_SIMULATION',
       u'GAME_SPORTS', u'GAME_STRATEGY', u'GAME_TRIVIA', u'GAME_WORD',
       u'HEALTH_AND_FITNESS', u'HOUSE_AND_HOME', u'LIBRARIES_AND_DEMO',
       u'LIFESTYLE', u'MAPS_AND_NAVIGATION', u'MEDIA_AND_VIDEO', u'MEDICAL',
       u'MUSIC_AND_AUDIO', u'NEWS_AND_MAGAZINES', u'PARENTING',
       u'PERSONALIZATION', u'PHOTOGRAPHY', u'PRODUCTIVITY', u'SHOPPING',
       u'SOCIAL', u'SPORTS', u'TOOLS', u'TRANSPORTATION', u'TRAVEL_AND_LOCAL',
       u'VIDEO_PLAYERS', u'WEATHER'],
      dtype='object')

In [281]:
df_test_app0 = df_app2[df_app2['user_id'].isin(final_test_user_id)]
df_test_app_2 = df_test_user_0[['user_id']].merge(df_test_app0, how = 'left', on = 'user_id')
df_test_app_2.head()

,user_id,ART_AND_DESIGN,AUTO_AND_VEHICLES,BEAUTY,BOOKS_AND_REFERENCE,BUSINESS,COMICS,COMMUNICATION,DATING,EDUCATION,...,PHOTOGRAPHY,PRODUCTIVITY,SHOPPING,SOCIAL,SPORTS,TOOLS,TRANSPORTATION,TRAVEL_AND_LOCAL,VIDEO_PLAYERS,WEATHER
0,292BB97BB1606137F47D15CD95613681,0.1,0.1,0.1,0.1,0.1,0.1,1.0,0.1,0.1,...,0.1,0.1,0.1,0.1,0.1,5.0,0.1,0.1,1.0,0.1
1,FDA822F54256CAE5209A7FD11B87503F,0.1,0.1,0.1,0.1,0.1,0.1,3.0,0.1,0.1,...,0.1,3.0,0.1,0.1,0.1,3.0,0.1,0.1,1.0,0.1
2,3FD27317628111BD18212E3FFD828FB6,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
3,63DCD9FACDA032C8045C92D4954AD5E8,0.1,0.1,0.1,0.1,0.1,0.1,7.0,0.1,0.1,...,0.1,3.0,0.1,3.0,0.1,22.0,0.1,2.0,1.0,0.1
4,D8419484B8B08621C786F79AE86C71C2,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1

In [282]:
df_test_app_2 = df_test_app_2.fillna(0.1)
df_test_user_arr = df_test_app_2.values
df_test_user_arr.shape

(786, 53)

In [283]:
df_test_user_2 = df_test_user_2.merge(df_test_app_2, how = 'left', on = 'user_id')
df_test_user_2 = df_test_user_2.drop(['user_id'],axis = 1)
df_test_user_arr = df_test_user_2.values
df_test_user_arr.shape

(786, 2521)

In [284]:
len(df_ua_map)

139811

In [84]:
#df_train_user = df_train_user_0.merge(df_user_cat, how = 'left', on = 'user_id')

In [289]:
all_user_id = train_user_id + old_user_id
df_final_train_user_article = df_ua_map[(df_ua_map['user_id'].isin(all_user_id))]
df_final_train_user_article = df_final_train_user_article.merge(df_train_user[user_fea_col], how = 'left', on = 'user_id')

In [290]:
print (df_final_train_user_article.shape)
df_final_train_user_article.head()

(138636, 2471)

,user_id,article_contentid,user_age_0.0,user_age_1.0,user_age_2.0,user_age_3.0,user_age_4.0,user_gender_0.0,user_gender_1.0,user_gender_2.0,...,user_l2_cat1001040,user_l2_cat1001049,user_l2_cat1001060,user_l2_cat1001091,user_l2_cat1001103,user_l2_cat1001110,user_l2_cat1001117,user_l2_cat2000000,user_l2_cat6000007,user_l2_cat8000001
0,614E304DE3B07EBCDD4E11382578EF5A,Ly7407d4cuC_us,0,0,1,0,0,0,0,1,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
1,614E304DE3B07EBCDD4E11382578EF5A,AY628126a1w_us,0,0,1,0,0,0,0,1,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
2,614E304DE3B07EBCDD4E11382578EF5A,jv70536a3bt_us,0,0,1,0,0,0,0,1,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
3,614E304DE3B07EBCDD4E11382578EF5A,1V70d401fdc_us,0,0,1,0,0,0,0,1,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
4,CD2F2B61135DB27BA3230F91466ED793,jQ6c581bbr2_us,0,0,0,1,0,0,0,1,...,0.1,0.1,0.1,1.0,0.1,0.1,0.1,0.1,0.1,0.1

In [291]:
df_final_train_user_article = df_final_train_user_article.merge(df_article_2.drop(['user_id'],axis = 1), how = 'left', on = 'article_contentid')
df_final_train_user_article.head()

,user_id,article_contentid,user_age_0.0,user_age_1.0,user_age_2.0,user_age_3.0,user_age_4.0,user_gender_0.0,user_gender_1.0,user_gender_2.0,...,l2_cat_1001040,l2_cat_1001049,l2_cat_1001060,l2_cat_1001091,l2_cat_1001103,l2_cat_1001110,l2_cat_1001117,l2_cat_2000000,l2_cat_6000007,l2_cat_8000001
0,614E304DE3B07EBCDD4E11382578EF5A,Ly7407d4cuC_us,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,614E304DE3B07EBCDD4E11382578EF5A,AY628126a1w_us,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,614E304DE3B07EBCDD4E11382578EF5A,jv70536a3bt_us,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,614E304DE3B07EBCDD4E11382578EF5A,1V70d401fdc_us,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,CD2F2B61135DB27BA3230F91466ED793,jQ6c581bbr2_us,0,0,0,1,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0

In [292]:
df_final_train_user_article.shape

(138636, 2655)

In [293]:
df_final_train_user_article = df_final_train_user_article.iloc[[i for i in df_final_train_user_article.index if i%2 == 0]].reset_index(drop=True)
df_final_train_user_article.head()

,user_id,article_contentid,user_age_0.0,user_age_1.0,user_age_2.0,user_age_3.0,user_age_4.0,user_gender_0.0,user_gender_1.0,user_gender_2.0,...,l2_cat_1001040,l2_cat_1001049,l2_cat_1001060,l2_cat_1001091,l2_cat_1001103,l2_cat_1001110,l2_cat_1001117,l2_cat_2000000,l2_cat_6000007,l2_cat_8000001
0,614E304DE3B07EBCDD4E11382578EF5A,Ly7407d4cuC_us,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,614E304DE3B07EBCDD4E11382578EF5A,jv70536a3bt_us,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,CD2F2B61135DB27BA3230F91466ED793,jQ6c581bbr2_us,0,0,0,1,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
3,CD2F2B61135DB27BA3230F91466ED793,7Y7152e79c5_us,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,CD2F2B61135DB27BA3230F91466ED793,pf6fc9375ah_us,0,0,0,1,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0

df_train_ua_map = df_ua_map[df_ua_map['user_id'].isin(train_user_id)]
df_train_ua_map = df_train_ua_map.merge(df_train_user[test_col], how = 'left', on = 'user_id')

print (df_train_ua_map.shape)
df_train_ua_map.head()
#df_train_user_2 = df_train_ua_map.drop(['user_id','article_contentid'], axis = 1)

df_train_ua_map = df_train_ua_map.merge(df_article_2.drop(['user_id'],axis = 1), how = 'left', on = 'article_contentid')
df_train_ua_map.head()

df_train_ua_map.shape

df_old_user_article = df_ua_map[df_ua_map['user_id'].isin(old_user_id)]
df_old_user_article = df_old_user_article.merge(df_train_user[test_col], how = 'left', on = 'user_id')
df_old_user_article.head()

df_old_user_article = df_old_user_article.merge(df_article_2.drop(['user_id'],axis = 1), how = 'left', on = 'article_contentid')
df_old_user_article.head()

In [294]:
#df_old_user_article = df_ua_map[df_ua_map['user_id'].isin(old_user_id)]
#df_old_user_article = df_old_user_article.merge(df_train_user[test_col], how = 'left', on = 'user_id')
#df_old_user_article = df_old_user_article.drop_duplicates(subset=['user_id', 'article_contentid'], keep='first').reset_index(drop=True)
#df_old_user_article = df_old_user_article.sort_values('user_id').reset_index(drop=True)
#df_old_user_article = df_old_user_article.merge(df_article.drop(['user_id'],axis = 1), how = 'left', on = 'article_contentid')
#df_old_user_article.head()

df_old_user_article = df_old_user_article.iloc[[i for i in df_old_user_article.index if i%2 == 0]].reset_index(drop=True)
df_old_user_article.head()

df_train_ua_map.shape

df_old_user_article.shape

df_final_train_user_article = pd.concat([df_train_ua_map, df_old_user_article])
df_final_train_user_article.head()

In [295]:
#df_final_train = df_final_train_user_article.merge(df_user, how='left', on='user_id')
df_final_train = df_final_train_user_article.fillna(0.1)
#sophia remark: add app data
#df_final_train = df_final_train.merge(df_app2, how='left', on='user_id')

In [296]:
df_final_train.shape

(69318, 2655)

In [297]:
df_final_train = df_final_train.merge(df_app2, how='left', on='user_id')
###sophia remark, check wether there is NAN or all 0 here
#df_final_train = df_final_train.dropna()
#df_final_train.head()

In [298]:
df_final_train.shape

(69318, 2707)

In [299]:
user_feature = [i for i in df_final_train.columns if 'user_' in i and i != 'user_id']
user_feature

['user_age_0.0',
 'user_age_1.0',
 'user_age_2.0',
 'user_age_3.0',
 'user_age_4.0',
 'user_gender_0.0',
 'user_gender_1.0',
 'user_gender_2.0',
 u"user_maxmind_city_'aiea",
 u"user_maxmind_city_'ewa beach",
 u'user_maxmind_city_abbeville',
 u'user_maxmind_city_aberdeen',
 u'user_maxmind_city_abilene',
 u'user_maxmind_city_abingdon',
 u'user_maxmind_city_absecon',
 u'user_maxmind_city_acworth',
 u'user_maxmind_city_ada',
 u'user_maxmind_city_adamsville',
 u'user_maxmind_city_adrian',
 u'user_maxmind_city_ahmedabad',
 u'user_maxmind_city_aiken',
 u'user_maxmind_city_akron',
 u'user_maxmind_city_alabaster',
 u'user_maxmind_city_alameda',
 u'user_maxmind_city_alamogordo',
 u'user_maxmind_city_albany',
 u'user_maxmind_city_albemarle',
 u'user_maxmind_city_albertville',
 u'user_maxmind_city_albuquerque',
 u'user_maxmind_city_alden',
 u'user_maxmind_city_aledo',
 u'user_maxmind_city_alexandria',
 u'user_maxmind_city_algoma',
 u'user_maxmind_city_alhambra',
 u'user_maxmind_city_alice',
 u'user_maxmind_city_aliquippa',
 u'user_maxmind_city_aliso viejo',
 u'user_maxmind_city_allen',
 u'user_maxmind_city_allentown',
 u'user_maxmind_city_alliance',
 u'user_maxmind_city_allyn',
 u'user_maxmind_city_altoona',
 u'user_maxmind_city_altus',
 u'user_maxmind_city_alvarado',
 u'user_maxmind_city_amarillo',
 u'user_maxmind_city_ambler',
 u'user_maxmind_city_american fork',
 u'user_maxmind_city_amesbury',
 u'user_maxmind_city_amherst',
 u'user_maxmind_city_amsterdam',
 u'user_maxmind_city_anaheim',
 u'user_maxmind_city_anchorage',
 u'user_maxmind_city_anderson',
 u'user_maxmind_city_andrews',
 u'user_maxmind_city_angier',
 u'user_maxmind_city_angleton',
 u'user_maxmind_city_angola',
 u'user_maxmind_city_annandale',
 u'user_maxmind_city_annapolis',
 u'user_maxmind_city_ansonia',
 u'user_maxmind_city_antioch',
 u'user_maxmind_city_apache junction',
 u'user_maxmind_city_apex',
 u'user_maxmind_city_apison',
 u'user_maxmind_city_apopka',
 u'user_maxmind_city_appleton',
 u'user_maxmind_city_arcadia',
 u'user_maxmind_city_ardmore',
 u'user_maxmind_city_arkansas city',
 u'user_maxmind_city_arlington',
 u'user_maxmind_city_arlington heights',
 u'user_maxmind_city_arrington',
 u'user_maxmind_city_arvada',
 u'user_maxmind_city_asbury park',
 u'user_maxmind_city_ashburn',
 u'user_maxmind_city_asheboro',
 u'user_maxmind_city_asheville',
 u'user_maxmind_city_ashland',
 u'user_maxmind_city_astoria',
 u'user_maxmind_city_atascadero',
 u'user_maxmind_city_athens',
 u'user_maxmind_city_athol',
 u'user_maxmind_city_atlanta',
 u'user_maxmind_city_atmore',
 u'user_maxmind_city_attalla',
 u'user_maxmind_city_atwater',
 u'user_maxmind_city_auburn',
 u'user_maxmind_city_auburn hills',
 u'user_maxmind_city_auburndale',
 u'user_maxmind_city_augusta',
 u'user_maxmind_city_aurora',
 u'user_maxmind_city_austin',
 u'user_maxmind_city_avon',
 u'user_maxmind_city_avon lake',
 u'user_maxmind_city_avondale',
 u'user_maxmind_city_aylmer',
 u'user_maxmind_city_babson park',
 u'user_maxmind_city_baden',
 u'user_maxmind_city_baguio city',
 u'user_maxmind_city_bailey',
 u'user_maxmind_city_bainbridge',
 u'user_maxmind_city_bakersfield',
 u'user_maxmind_city_baldwin',
 u'user_maxmind_city_baldwin park',
 u'user_maxmind_city_baldwyn',
 u'user_maxmind_city_ballston spa',
 u'user_maxmind_city_ballwin',
 u'user_maxmind_city_baltimore',
 u'user_maxmind_city_baraboo',
 u'user_maxmind_city_barberton',
 u'user_maxmind_city_barnesville',
 u'user_maxmind_city_barre',
 u'user_maxmind_city_barrigada village',
 u'user_maxmind_city_barrington',
 u'user_maxmind_city_bastrop',
 u'user_maxmind_city_batavia',
 u'user_maxmind_city_batesville',
 u'user_maxmind_city_bath',
 u'user_maxmind_city_baton rouge',
 u'user_maxmind_city_battle creek',
 u'user_maxmind_city_baxley',
 u'user_maxmind_city_baxter',
 u'user_maxmind_city_bay city',
 u'user_maxmind_city_bay minette',
 u'user_maxmind_city_bay shore',
 u'user_maxmind_city_bayam\xf3n',
 u'user_maxmind_city_bayonne',
 u'user_maxmind_city_bayside',
 u'user_maxmind_city_baytown',
 u'user_maxmind_city_beachwood',
 u'user_maxmind_city_beaumont',
 u'user_maxmind_city_beaver falls',
 u'user_maxmind_city_beaverton',
 u'user_maxmind_city_beckley',
 u'user_maxmind_city_bedford',
 u'user_maxmind_city_beebe',
 u'user_maxmind_city_beeville',
 u'user_maxmind_city_bel air',
 u'user_maxmind_city_belding',
 u'user_maxmind_city_belfair',
 u'user_maxmind_city_belize city',
 u'user_maxmind_city_bellbrook',
 u'user_maxmind_city_belle glade',
 u'user_maxmind_city_bellefonte',
 u'user_maxmind_city_belleview',
 u'user_maxmind_city_belleville',
 u'user_maxmind_city_bellevue',
 u'user_maxmind_city_bellflower',
 u'user_maxmind_city_bellingham',
 u'user_maxmind_city_bellmawr',
 u'user_maxmind_city_bellmore',
 u'user_maxmind_city_bellwood',
 u'user_maxmind_city_belmar',
 u'user_maxmind_city_belmont',
 u'user_maxmind_city_beloit',
 u'user_maxmind_city_belton',
 u'user_maxmind_city_bend',
 u'user_maxmind_city_benicia',
 u'user_maxmind_city_bensalem township',
 u'user_maxmind_city_benton',
 u'user_maxmind_city_bentonville',
 u'user_maxmind_city_berea',
 u'user_maxmind_city_bergenfield',
 u'user_maxmind_city_berkeley',
 u'user_maxmind_city_berlin',
 u'user_maxmind_city_berwick',
 u'user_maxmind_city_bessemer',
 u'user_maxmind_city_bethany',
 u'user_maxmind_city_bethlehem',
 u'user_maxmind_city_bettendorf',
 u'user_maxmind_city_beverly',
 u'user_maxmind_city_beverly hills',
 u'user_maxmind_city_big lake',
 u'user_maxmind_city_bijeljina',
 u'user_maxmind_city_billings metropolitan area',
 u'user_maxmind_city_biloxi',
 u'user_maxmind_city_binghamton',
 u'user_maxmind_city_birdsboro',
 u'user_maxmind_city_birmingham',
 u'user_maxmind_city_bishopville',
 u'user_maxmind_city_bismarck',
 u'user_maxmind_city_bixby',
 u'user_maxmind_city_black mountain',
 u'user_maxmind_city_blacksburg',
 u'user_maxmind_city_blairstown',
 u'user_maxmind_city_blanchard',
 u'user_maxmind_city_bloomfield',
 u'user_maxmind_city_bloomingdale',
 u'user_maxmind_city_bloomington',
 u'user_maxmind_city_blue river',
 u'user_maxmind_city_blue springs',
 u'user_maxmind_city_bluffton',
 u'user_maxmind_city_blythe',
 u'user_maxmind_city_blytheville',
 u'user_maxmind_city_boca raton',
 u'user_maxmind_city_boerne',
 u'user_maxmind_city_bogalusa',
 u'user_maxmind_city_boiling springs',
 u'user_maxmind_city_boise',
 u'user_maxmind_city_bolingbrook',
 u'user_maxmind_city_bolivar',
 u'user_maxmind_city_bolton',
 u'user_maxmind_city_bonaire',
 u'user_maxmind_city_bonney lake',
 u'user_maxmind_city_boone',
 u'user_maxmind_city_booneville',
 u'user_maxmind_city_boston',
 u'user_maxmind_city_boulder',
 u'user_maxmind_city_bountiful',
 u'user_maxmind_city_bourbonnais',
 u'user_maxmind_city_bowie',
 u'user_maxmind_city_bowling green',
 u'user_maxmind_city_boynton beach',
 u'user_maxmind_city_bozeman',
 u'user_maxmind_city_bradenton',
 u'user_maxmind_city_bradley beach',
 u'user_maxmind_city_brainerd',
 u'user_maxmind_city_brampton',
 u'user_maxmind_city_brandon',
 u'user_maxmind_city_braselton',
 u'user_maxmind_city_brasher falls',
 u'user_maxmind_city_brattleboro',
 u'user_maxmind_city_brawley',
 u'user_maxmind_city_brazil',
 u'user_maxmind_city_brea',
 u'user_maxmind_city_bremerton',
 u'user_maxmind_city_brenham',
 u'user_maxmind_city_brentwood',
 u'user_maxmind_city_brevard',
 u'user_maxmind_city_brewster',
 u'user_maxmind_city_brick township',
 u'user_maxmind_city_bridgeport',
 u'user_maxmind_city_bridgman',
 u'user_maxmind_city_brighton',
 u'user_maxmind_city_bristol',
 u'user_maxmind_city_bristow',
 u'user_maxmind_city_brockton',
 u'user_maxmind_city_broken arrow',
 u'user_maxmind_city_brookfield',
 u'user_maxmind_city_brookhaven',
 u'user_maxmind_city_brookline',
 u'user_maxmind_city_brooklyn',
 u'user_maxmind_city_brooktondale',
 u'user_maxmind_city_broomfield',
 u'user_maxmind_city_browns mills',
 u'user_maxmind_city_brownsville',
 u'user_maxmind_city_brunswick',
 u'user_maxmind_city_bryan',
 u'user_maxmind_city_bryant',
 u'user_maxmind_city_buchanan',
 u'user_maxmind_city_buckeye',
 u'user_maxmind_city_buena park',
 u'user_maxmind_city_buena vista',
 u'user_maxmind_city_buffalo',
 u'user_maxmind_city_buffalo grove',
 u'user_maxmind_city_buford',
 u'user_maxmind_city_bullhead city',
 u'user_maxmind_city_bunker hill',
 u'user_maxmind_city_burbank',
 u'user_maxmind_city_burke',
 u'user_maxmind_city_burleson',
 u'user_maxmind_city_burlington',
 u'user_maxmind_city_burnet',
 u'user_maxmind_city_burnsville',
 u'user_maxmind_city_cadillac',
 u'user_maxmind_city_caguas',
 u'user_maxmind_city_calabash',
 u'user_maxmind_city_caldwell',
 u'user_maxmind_city_calhoun',
 u'user_maxmind_city_california city',
 u'user_maxmind_city_callahan',
 u'user_maxmind_city_calumet city',
 u'user_maxmind_city_camarillo',
 u'user_maxmind_city_camas',
 u'user_maxmind_city_cambria',
 u'user_maxmind_city_cambridge',
 u'user_maxmind_city_camby',
 u'user_maxmind_city_camden',
 u'user_maxmind_city_camp hill',
 u'user_maxmind_city_campbell',
 u'user_maxmind_city_campbellsport',
 u'user_maxmind_city_campbellsville',
 u'user_maxmind_city_canby',
 u'user_maxmind_city_candler',
 u'user_maxmind_city_cannon falls',
 u'user_maxmind_city_canoga park',
 u'user_maxmind_city_canonsburg',
 u'user_maxmind_city_canton',
 u'user_maxmind_city_cantonment',
 u'user_maxmind_city_canyon country',
 u'user_maxmind_city_cape charles',
 u'user_maxmind_city_cape coral',
 u'user_maxmind_city_cape girardeau',
 u'user_maxmind_city_cape may',
 u'user_maxmind_city_carbondale',
 u'user_maxmind_city_cardington',
 u'user_maxmind_city_carlisle',
 u'user_maxmind_city_carmel',
 u'user_maxmind_city_carmichael',
 u'user_maxmind_city_carnesville',
 u'user_maxmind_city_caro',
 u'user_maxmind_city_carol stream',
 u'user_maxmind_city_carolina',
 u'user_maxmind_city_carolina beach',
 u'user_maxmind_city_carpentersville',
 u'user_maxmind_city_carrolltown',
 u'user_maxmind_city_carson',
 u'user_maxmind_city_cartersville',
 u'user_maxmind_city_carterville',
 u'user_maxmind_city_carthage',
 u'user_maxmind_city_cary',
 u'user_maxmind_city_casa grande',
 u'user_maxmind_city_casco',
 u'user_maxmind_city_casper',
 u'user_maxmind_city_casselberry',
 u'user_maxmind_city_cassopolis',
 u'user_maxmind_city_castine',
 u'user_maxmind_city_castle rock',
 u'user_maxmind_city_castleton',
 u'user_maxmind_city_castroville',
 u'user_maxmind_city_catonsville',
 u'user_maxmind_city_catoosa',
 u'user_maxmind_city_ca\xf1on city',
 u'user_maxmind_city_cedar bluff',
 u'user_maxmind_city_cedar city',
 u'user_maxmind_city_cedar creek',
 u'user_maxmind_city_cedar falls',
 u'user_maxmind_city_cedar hill',
 u'user_maxmind_city_cedar park',
 u'user_maxmind_city_cedar rapids',
 u'user_maxmind_city_cedar vale',
 u'user_maxmind_city_center cross',
 u'user_maxmind_city_centerburg',
 u'user_maxmind_city_centereach',
 u'user_maxmind_city_centerville',
 u'user_maxmind_city_central city',
 u'user_maxmind_city_centralia',
 u'user_maxmind_city_centre',
 u'user_maxmind_city_centreville',
 u'user_maxmind_city_ceres',
 u'user_maxmind_city_cerritos',
 u'user_maxmind_city_chalmette',
 u'user_maxmind_city_champaign',
 u'user_maxmind_city_champlin',
 u'user_maxmind_city_chandler',
 u'user_maxmind_city_channelview',
 u'user_maxmind_city_chantilly',
 u'user_maxmind_city_chapel hill',
 u'user_maxmind_city_chardon',
 u'user_maxmind_city_charleroi',
 u'user_maxmind_city_charleston',
 u'user_maxmind_city_charlotte',
 u'user_maxmind_city_charlotte amalie',
 u'user_maxmind_city_charlottesville',
 u'user_maxmind_city_charter township of clinton',
 u'user_maxmind_city_chaska',
 u'user_maxmind_city_chatham',
 u'user_maxmind_city_chatsworth',
 u'user_maxmind_city_chattanooga',
 u'user_maxmind_city_chelmsford',
 u'user_maxmind_city_chelsea',
 u'user_maxmind_city_cherokee',
 u'user_maxmind_city_chesapeake',
 u'user_maxmind_city_chester',
 u'user_maxmind_city_chesterfield',
 u'user_maxmind_city_chesterton',
 u'user_maxmind_city_cheyenne',
 u'user_maxmind_city_chicago',
 u'user_maxmind_city_chicago heights',
 u'user_maxmind_city_chickasha',
 u'user_maxmind_city_chico',
 u'user_maxmind_city_chiefland',
 u'user_maxmind_city_chihuahua city',
 u'user_maxmind_city_childersburg',
 u'user_maxmind_city_chili',
 u'user_maxmind_city_chillicothe',
 u'user_maxmind_city_chinle',
 u'user_maxmind_city_chino',
 u'user_maxmind_city_choctaw',
 u'user_maxmind_city_christiansted',
 u'user_maxmind_city_chula vista',
 u'user_maxmind_city_church rock',
 u'user_maxmind_city_churchville',
 u'user_maxmind_city_churubusco',
 u'user_maxmind_city_cicero',
 u'user_maxmind_city_cincinnati',
 u'user_maxmind_city_circleville',
 u'user_maxmind_city_city of angels',
 u'user_maxmind_city_city of saint peters',
 u'user_maxmind_city_clackamas',
 u'user_maxmind_city_claremont',
 u'user_maxmind_city_claremore',
 u'user_maxmind_city_clarion',
 u'user_maxmind_city_clarksburg',
 u'user_maxmind_city_clarksville',
 u'user_maxmind_city_clay city',
 u'user_maxmind_city_claymont',
 u'user_maxmind_city_clayton',
 u'user_maxmind_city_clearwater',
 u'user_maxmind_city_cleburne',
 u'user_maxmind_city_clementon',
 u'user_maxmind_city_clemmons',
 u'user_maxmind_city_clemson',
 u'user_maxmind_city_clermont',
 u'user_maxmind_city_cleveland',
 u'user_maxmind_city_cliffside park',
 u'user_maxmind_city_clifton',
 u'user_maxmind_city_clifton heights',
 u'user_maxmind_city_clinton',
 u'user_maxmind_city_cloquet',
 u'user_maxmind_city_closter',
 u'user_maxmind_city_clover',
 u'user_maxmind_city_cloverdale',
 u'user_maxmind_city_clovis',
 u'user_maxmind_city_clyde',
 u'user_maxmind_city_coalinga',
 u'user_maxmind_city_coalville',
 u'user_maxmind_city_coarsegold',
 u'user_maxmind_city_coatesville',
 u'user_maxmind_city_cochecton',
 u'user_maxmind_city_cochrane',
 u'user_maxmind_city_coffeyville',
 u'user_maxmind_city_colby',
 u'user_maxmind_city_coldwater',
 u'user_maxmind_city_college grove',
 u'user_maxmind_city_college point',
 u'user_maxmind_city_college station',
 u'user_maxmind_city_collegeville',
 u'user_maxmind_city_collingswood',
 u'user_maxmind_city_collins',
 u'user_maxmind_city_collinsville',
 u'user_maxmind_city_cologne',
 u'user_maxmind_city_colora',
 u'user_maxmind_city_colorado springs',
 u'user_maxmind_city_colstrip',
 u'user_maxmind_city_colton',
 u'user_maxmind_city_columbia',
 u'user_maxmind_city_columbia city',
 u'user_maxmind_city_columbus',
 u'user_maxmind_city_colville',
 u'user_maxmind_city_commack',
 u'user_maxmind_city_compton',
 u'user_maxmind_city_comstock park',
 u'user_maxmind_city_concord',
 u'user_maxmind_city_conesus',
 u'user_maxmind_city_connersville',
 u'user_maxmind_city_conroe',
 u'user_maxmind_city_conshohocken',
 u'user_maxmind_city_conway',
 u'user_maxmind_city_conyers',
 u'user_maxmind_city_coos bay',
 u'user_maxmind_city_coppell',
 u'user_maxmind_city_copperas cove',
 u'user_maxmind_city_coral gables',
 u'user_maxmind_city_coram',
 u'user_maxmind_city_coraopolis',
 u'user_maxmind_city_corbin',
 u'user_maxmind_city_cordele',
 u'user_maxmind_city_cordova',
 u'user_maxmind_city_cornell',
 u'user_maxmind_city_corona',
 u'user_maxmind_city_corpus christi',
 u'user_maxmind_city_cortland',
 u'user_maxmind_city_corvallis',
 u'user_maxmind_city_costa mesa',
 u'user_maxmind_city_coupeville',
 u'user_maxmind_city_coventry',
 u'user_maxmind_city_covina',
 u'user_maxmind_city_covington',
 u'user_maxmind_city_crawfordsville',
 u'user_maxmind_city_crawfordville',
 u'user_maxmind_city_creedmoor',
 u'user_maxmind_city_crestview',
 u'user_maxmind_city_cromwell',
 u'user_maxmind_city_crosby',
 u'user_maxmind_city_crouse',
 u'user_maxmind_city_crowley',
 u'user_maxmind_city_crown point',
 u'user_maxmind_city_crystal lake',
 u'user_maxmind_city_cudahy',
 u'user_maxmind_city_cullman',
 u'user_maxmind_city_culver',
 u'user_maxmind_city_culver city',
 u'user_maxmind_city_cumming',
 u'user_maxmind_city_cypress',
 u'user_maxmind_city_dacula',
 u'user_maxmind_city_dahlonega',
 u'user_maxmind_city_dalhart',
 u'user_maxmind_city_dallas',
 u'user_maxmind_city_daly city',
 u'user_maxmind_city_damascus',
 u'user_maxmind_city_danbury',
 u'user_maxmind_city_danielson',
 u'user_maxmind_city_dansville',
 u'user_maxmind_city_danvers',
 u'user_maxmind_city_danville',
 u'user_maxmind_city_daphne',
 u'user_maxmind_city_darlington',
 u'user_maxmind_city_darrington',
 u'user_maxmind_city_davenport',
 u'user_maxmind_city_davidson',
 u'user_maxmind_city_davis',
 u'user_maxmind_city_davis junction',
 u'user_maxmind_city_davison',
 u'user_maxmind_city_dayton',
 u'user_maxmind_city_daytona beach',
 u'user_maxmind_city_dearborn',
 u'user_maxmind_city_dearborn heights',
 u'user_maxmind_city_decatur',
 u'user_maxmind_city_decorah',
 u'user_maxmind_city_deer park',
 u'user_maxmind_city_defiance',
 u'user_maxmind_city_deland',
 u'user_maxmind_city_delaware',
 u'user_maxmind_city_delhi',
 u'user_maxmind_city_delmar',
 u'user_maxmind_city_delray beach',
 u'user_maxmind_city_deltona',
 u'user_maxmind_city_deming',
 u'user_maxmind_city_denham springs',
 u'user_maxmind_city_denton',
 u'user_maxmind_city_denver',
 u'user_maxmind_city_derby',
 u'user_maxmind_city_deridder',
 u'user_maxmind_city_des moines',
 u'user_maxmind_city_desert hot springs',
 u'user_maxmind_city_deshler',
 u'user_maxmind_city_desoto',
 u'user_maxmind_city_detroit',
 u'user_maxmind_city_dewitt',
 u'user_maxmind_city_dhaka',
 u'user_maxmind_city_dickinson',
 u'user_maxmind_city_dickson',
 u'user_maxmind_city_dinuba',
 u'user_maxmind_city_dodgewood',
 u'user_maxmind_city_dolton',
 u'user_maxmind_city_dothan',
 u'user_maxmind_city_douglas',
 u'user_maxmind_city_douglassville',
 u'user_maxmind_city_douglasville',
 u'user_maxmind_city_dover',
 u'user_maxmind_city_downey',
 u'user_maxmind_city_draper',
 u'user_maxmind_city_drexel hill',
 u'user_maxmind_city_du quoin',
 u'user_maxmind_city_duarte',
 u'user_maxmind_city_dublin',
 u'user_maxmind_city_dubuque',
 u'user_maxmind_city_duluth',
 u'user_maxmind_city_dumfries',
 u'user_maxmind_city_duncanville',
 u'user_maxmind_city_dunedin',
 u'user_maxmind_city_durant',
 u'user_maxmind_city_durham',
 u'user_maxmind_city_duvall',
 u'user_maxmind_city_dyersburg',
 u'user_maxmind_city_eagle',
 u'user_maxmind_city_eagle pass',
 u'user_maxmind_city_east aurora',
 u'user_maxmind_city_east chicago',
 u'user_maxmind_city_east elmhurst',
 u'user_maxmind_city_east hampton',
 u'user_maxmind_city_east hartford',
 u'user_maxmind_city_east lansing',
 u'user_maxmind_city_east liverpool',
 u'user_maxmind_city_east longmeadow',
 u'user_maxmind_city_east meadow',
 u'user_maxmind_city_east orange',
 u'user_maxmind_city_east peoria',
 u'user_maxmind_city_east rockaway',
 u'user_maxmind_city_east stroudsburg',
 u'user_maxmind_city_east wenatchee',
 u'user_maxmind_city_easton',
 u'user_maxmind_city_eastpointe',
 u'user_maxmind_city_eau claire',
 u'user_maxmind_city_ebensburg',
 u'user_maxmind_city_eden prairie',
 u'user_maxmind_city_edenton',
 u'user_maxmind_city_edgartown',
 u'user_maxmind_city_edgerton',
 u'user_maxmind_city_edgewood',
 u'user_maxmind_city_edinburgh',
 u'user_maxmind_city_edison',
 u'user_maxmind_city_edmond',
 u'user_maxmind_city_edwardsville',
 u'user_maxmind_city_el cajon',
 u'user_maxmind_city_el centro',
 u'user_maxmind_city_el cerrito',
 u'user_maxmind_city_el dorado',
 u'user_maxmind_city_el dorado hills',
 u'user_maxmind_city_el macero',
 u'user_maxmind_city_el monte',
 u'user_maxmind_city_el paso',
 u'user_maxmind_city_el segundo',
 u'user_maxmind_city_elfrida',
 u'user_maxmind_city_elgin',
 u'user_maxmind_city_elizabeth',
 u'user_maxmind_city_elizabeth city',
 u'user_maxmind_city_elizabethtown',
 u'user_maxmind_city_elk grove',
 u'user_maxmind_city_elk grove village',
 u'user_maxmind_city_elk point',
 u'user_maxmind_city_elk river',
 u'user_maxmind_city_elkhart',
 u'user_maxmind_city_elkhart lake',
 u'user_maxmind_city_elkhorn',
 u'user_maxmind_city_elkridge',
 u'user_maxmind_city_elkton',
 u'user_maxmind_city_elkview',
 u'user_maxmind_city_ellenville',
 u'user_maxmind_city_ellenwood',
 u'user_maxmind_city_ellicott city',

In [345]:
article_feature = [i for i in df_final_train.columns if 'user_' not in i and i not in ['article_contentid',
 'article_title',
 'article_publisher',
 'l1_cat',
 'l2_cat',
 'l1_cat_w',
 'l2_cat_w',
 'l1_cat_w_x',
 'l2_cat_w_x',
 'l1_cat_w_y',
 'l2_cat_w_y',
 'totalCat'] and i not in app_category]
#article_feature = 
article_feature

[u'article_update_time',
 'l1_cat_0',
 u'l1_cat_0010000000',
 u'l1_cat_1000001',
 u'l1_cat_1000031',
 u'l1_cat_1000044',
 u'l1_cat_1000111',
 u'l1_cat_1000123',
 u'l1_cat_1000267',
 u'l1_cat_1000288',
 u'l1_cat_1000298',
 u'l1_cat_1000374',
 u'l1_cat_1000395',
 u'l1_cat_1000560',
 u'l1_cat_1000620',
 u'l1_cat_1000637',
 u'l1_cat_1000661',
 u'l1_cat_1000721',
 u'l1_cat_1000742',
 u'l1_cat_1000780',
 u'l1_cat_1000849',
 u'l1_cat_1000931',
 u'l1_cat_1000992',
 u'l1_cat_1001039',
 u'l1_cat_1001091',
 u'l1_cat_2000000',
 u'l1_cat_6000007',
 u'l1_cat_8000001',
 'l2_cat_0',
 u'l2_cat_0010000000',
 u'l2_cat_1000001',
 u'l2_cat_1000002',
 u'l2_cat_1000007',
 u'l2_cat_10000101',
 u'l2_cat_1000012',
 u'l2_cat_10000162',
 u'l2_cat_1000017',
 u'l2_cat_10000177',
 u'l2_cat_10000179',
 u'l2_cat_1000025',
 u'l2_cat_1000028',
 u'l2_cat_1000031',
 u'l2_cat_1000032',
 u'l2_cat_1000042',
 u'l2_cat_1000044',
 u'l2_cat_1000050',
 u'l2_cat_10000667',
 u'l2_cat_1000069',
 u'l2_cat_1000072',
 u'l2_cat_1000073',
 u'l2_cat_1000076',
 u'l2_cat_1000080',
 u'l2_cat_1000086',
 u'l2_cat_1000088',
 u'l2_cat_1000089',
 u'l2_cat_1000101',
 u'l2_cat_1000105',
 u'l2_cat_1000111',
 u'l2_cat_1000114',
 u'l2_cat_1000116',
 u'l2_cat_1000117',
 u'l2_cat_1000119',
 u'l2_cat_1000120',
 u'l2_cat_1000121',
 u'l2_cat_1000122',
 u'l2_cat_1000123',
 u'l2_cat_1000166',
 u'l2_cat_1000168',
 u'l2_cat_1000183',
 u'l2_cat_1000257',
 u'l2_cat_1000258',
 u'l2_cat_1000259',
 u'l2_cat_1000267',
 u'l2_cat_1000269',
 u'l2_cat_1000276',
 u'l2_cat_1000283',
 u'l2_cat_1000288',
 u'l2_cat_1000290',
 u'l2_cat_1000292',
 u'l2_cat_1000294',
 u'l2_cat_1000295',
 u'l2_cat_1000296',
 u'l2_cat_1000297',
 u'l2_cat_1000298',
 u'l2_cat_1000299',
 u'l2_cat_1000313',
 u'l2_cat_1000323',
 u'l2_cat_1000346',
 u'l2_cat_1000371',
 u'l2_cat_1000374',
 u'l2_cat_1000393',
 u'l2_cat_1000395',
 u'l2_cat_1000404',
 u'l2_cat_1000423',
 u'l2_cat_1000426',
 u'l2_cat_1000427',
 u'l2_cat_1000492',
 u'l2_cat_1000495',
 u'l2_cat_1000506',
 u'l2_cat_1000511',
 u'l2_cat_1000513',
 u'l2_cat_1000522',
 u'l2_cat_1000528',
 u'l2_cat_1000535',
 u'l2_cat_1000540',
 u'l2_cat_1000557',
 u'l2_cat_1000560',
 u'l2_cat_1000596',
 u'l2_cat_1000604',
 u'l2_cat_1000611',
 u'l2_cat_1000620',
 u'l2_cat_1000622',
 u'l2_cat_1000624',
 u'l2_cat_1000627',
 u'l2_cat_1000630',
 u'l2_cat_1000637',
 u'l2_cat_1000638',
 u'l2_cat_1000644',
 u'l2_cat_1000655',
 u'l2_cat_1000659',
 u'l2_cat_1000661',
 u'l2_cat_1000663',
 u'l2_cat_1000667',
 u'l2_cat_1000671',
 u'l2_cat_1000680',
 u'l2_cat_1000681',
 u'l2_cat_1000698',
 u'l2_cat_1000699',
 u'l2_cat_1000700',
 u'l2_cat_1000701',
 u'l2_cat_1000705',
 u'l2_cat_1000707',
 u'l2_cat_1000708',
 u'l2_cat_1000709',
 u'l2_cat_1000710',
 u'l2_cat_1000713',
 u'l2_cat_1000721',
 u'l2_cat_1000742',
 u'l2_cat_1000745',
 u'l2_cat_1000779',
 u'l2_cat_1000780',
 u'l2_cat_1000797',
 u'l2_cat_1000798',
 u'l2_cat_1000803',
 u'l2_cat_1000804',
 u'l2_cat_1000825',
 u'l2_cat_1000835',
 u'l2_cat_1000844',
 u'l2_cat_1000849',
 u'l2_cat_1000851',
 u'l2_cat_1000860',
 u'l2_cat_1000862',
 u'l2_cat_1000863',
 u'l2_cat_1000876',
 u'l2_cat_1000885',
 u'l2_cat_1000886',
 u'l2_cat_1000900',
 u'l2_cat_1000917',
 u'l2_cat_1000922',
 u'l2_cat_1000924',
 u'l2_cat_1000927',
 u'l2_cat_1000930',
 u'l2_cat_1000931',
 u'l2_cat_1000940',
 u'l2_cat_1000941',
 u'l2_cat_1000958',
 u'l2_cat_1000963',
 u'l2_cat_1000978',
 u'l2_cat_1000979',
 u'l2_cat_1000987',
 u'l2_cat_1000992',
 u'l2_cat_1000993',
 u'l2_cat_1001012',
 u'l2_cat_1001039',
 u'l2_cat_1001040',
 u'l2_cat_1001049',
 u'l2_cat_1001060',
 u'l2_cat_1001091',
 u'l2_cat_1001103',
 u'l2_cat_1001110',
 u'l2_cat_1001117',
 u'l2_cat_2000000',
 u'l2_cat_6000007',
 u'l2_cat_8000001']

In [346]:
uapp_feature = [i for i in df_test_user_2.columns if i not in article_feature]
len(uapp_feature)

2521

In [347]:
df_final_train.shape

(69318, 2707)

In [348]:
df_train_user= df_final_train[uapp_feature]
df_train_user.head()
#df_train_app = df_final_train[app_category]
#df_train_app.head()

,user_age_0.0,user_age_1.0,user_age_2.0,user_age_3.0,user_age_4.0,user_gender_0.0,user_gender_1.0,user_gender_2.0,user_maxmind_city_'aiea,user_maxmind_city_'ewa beach,...,PHOTOGRAPHY,PRODUCTIVITY,SHOPPING,SOCIAL,SPORTS,TOOLS,TRANSPORTATION,TRAVEL_AND_LOCAL,VIDEO_PLAYERS,WEATHER
0,0,0,1,0,0,0,0,1,0,0,...,0.1,3.0,1.0,1.0,0.1,5.0,0.1,0.1,2.0,0.1
1,0,0,1,0,0,0,0,1,0,0,...,0.1,3.0,1.0,1.0,0.1,5.0,0.1,0.1,2.0,0.1
2,0,0,0,1,0,0,0,1,0,0,...,2.0,1.0,0.1,1.0,0.1,3.0,0.1,1.0,0.1,0.1
3,0,0,0,1,0,0,0,1,0,0,...,2.0,1.0,0.1,1.0,0.1,3.0,0.1,1.0,0.1,0.1
4,0,0,0,1,0,0,0,1,0,0,...,2.0,1.0,0.1,1.0,0.1,3.0,0.1,1.0,0.1,0.1

In [349]:
df_train_article = df_final_train[article_feature]
df_train_article.head()

,article_update_time,l1_cat_0,l1_cat_0010000000,l1_cat_1000001,l1_cat_1000031,l1_cat_1000044,l1_cat_1000111,l1_cat_1000123,l1_cat_1000267,l1_cat_1000288,...,l2_cat_1001040,l2_cat_1001049,l2_cat_1001060,l2_cat_1001091,l2_cat_1001103,l2_cat_1001110,l2_cat_1001117,l2_cat_2000000,l2_cat_6000007,l2_cat_8000001
0,0.764028,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,0.660763,0.0,0.0,0.0,0.4396,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,0.828354,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,...,0,0,0,1,0,0,0,0,0,0
3,0.688781,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,0.672347,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,...,0,0,0,1,0,0,0,0,0,0

In [350]:
df_train_user.shape

(69318, 2521)

df_train_app.shape

In [351]:
df_train_article.shape

(69318, 184)

In [352]:
#df_final_train[df_final_train['user_id'] == 'F4CCDDAA1BAE16B0AF3BCB82801A3CF7']

In [353]:
#df_article[df_article['user_id'] == 'F4CCDDAA1BAE16B0AF3BCB82801A3CF7']

In [354]:
df_test_article = df_article.drop_duplicates(subset=['article_contentid'], keep='first')[article_feature]
df_test_article.shape

(49149, 184)

In [355]:
len(article_feature)

184

In [356]:
article_feature.append(u'article_contentid')
len(article_feature)

185

In [358]:
df_test_article0 = df_article.drop_duplicates(subset=['article_contentid'], keep='first')[article_feature]
df_test_article0.head()

,article_update_time,l1_cat_0,l1_cat_0010000000,l1_cat_1000001,l1_cat_1000031,l1_cat_1000044,l1_cat_1000111,l1_cat_1000123,l1_cat_1000267,l1_cat_1000288,...,l2_cat_1001049,l2_cat_1001060,l2_cat_1001091,l2_cat_1001103,l2_cat_1001110,l2_cat_1001117,l2_cat_2000000,l2_cat_6000007,l2_cat_8000001,article_contentid
0,0.950863,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,v77c577e1qo_us
1,0.342006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0i65cb6eaNb_us
2,0.597340,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,ag639e0eeDK_us
3,0.923283,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,7m799a2c4mX_us
4,0.949038,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,hQ7cfd994Tv_us

In [359]:
df_test_article_arr1 = df_test_article.values

In [360]:
df_test_article_arr1.shape

(49149, 184)

In [361]:
#df_test_user1 = df_user[df_user['user_id']== 'F4CCDDAA1BAE16B0AF3BCB82801A3CF7']

In [362]:
#df_test_user1.head()

In [363]:
#df_test_user = df_user[df_user['user_id'] == 'F4CCDDAA1BAE16B0AF3BCB82801A3CF7'][user_feature]
#user_array = [df_test_user.values[0] for i in range(0, len(df_test_article))]
#df_test_user = np.asarray(user_array)
#df_test_user.shape

In [364]:
#df_test_app = df_app2[df_app2['user_id']=='F4CCDDAA1BAE16B0AF3BCB82801A3CF7'][app_category]
#app_array = [df_test_app.values[0] for i in range(0, len(df_test_article))]
#df_test_app = np.asarray(app_array)
#df_test_app.shape

In [365]:
#final_test_user_id

In [366]:
y_train = [1 for i in range(len(df_train_user.values))]
len(y_train)

69318

### Build Model By Keras (User Vs App Vs Article)

In [367]:
df_train_user.columns

Index([                u'user_age_0.0',                 u'user_age_1.0',
                       u'user_age_2.0',                 u'user_age_3.0',
                       u'user_age_4.0',              u'user_gender_0.0',
                    u'user_gender_1.0',              u'user_gender_2.0',
            u'user_maxmind_city_'aiea', u'user_maxmind_city_'ewa beach',
       ...
                        u'PHOTOGRAPHY',                 u'PRODUCTIVITY',
                           u'SHOPPING',                       u'SOCIAL',
                             u'SPORTS',                        u'TOOLS',
                     u'TRANSPORTATION',             u'TRAVEL_AND_LOCAL',
                      u'VIDEO_PLAYERS',                      u'WEATHER'],
      dtype='object', length=2521)

In [368]:
df_train_user.shape

(69318, 2521)

In [377]:
#user_fea_woid = [i for i in user_fea_col if i != 'user_id']
#len(user_fea_woid)

In [378]:
df_train_user_arr = df_train_user.values
#df_train_app_arr = df_train_app.values

In [379]:
df_train_user_arr.shape

(69318, 2521)

In [380]:
df_train_article.shape

(69318, 184)

In [381]:
df_train_article_arr = df_train_article.values
df_train_article_arr.shape

(69318, 184)

In [382]:
y_train = [1 for i in range(len(df_train_user))]
len(y_train)

69318

In [383]:
from keras.models import Sequential, Model
from keras.layers import Dense, Merge, Activation, Dropout, Reshape

Using TensorFlow backend.

In [384]:
# create user model
userModel1 = Sequential()
userModel1.add(Dense(500, input_shape=(2521,)))
userModel1.add(Activation('tanh'))
userModel1.add(Dropout(0.4))
userModel1.add(Dense(50, input_shape=(500,)))
userModel1.add(Activation('tanh'))
userModel1.add(Dropout(0.4))
userModel1.add(Dense(30, input_shape=(50,)))
userModel1.add(Activation('tanh'))
userModel1.add(Dropout(0.4))
userModel1.add(Dense(10, input_shape=(30,)))
userModel1.add(Activation('tanh'))
userModel1.add(Reshape((10,1)))

In [386]:
# create article model
articleModel = Sequential()
#articleModel.add(Dense(2000, input_shape=(8064,)))
#articleModel.add(Activation('tanh'))
#articleModel.add(Dropout(0.4))
#articleModel.add(Dense(500, input_shape=(2000,)))
#articleModel.add(Activation('tanh'))
#articleModel.add(Dropout(0.4))
articleModel.add(Dense(50, input_shape=(184,)))
articleModel.add(Activation('tanh'))
articleModel.add(Dropout(0.4))
articleModel.add(Dense(30, input_shape=(50,)))
articleModel.add(Activation('tanh'))
articleModel.add(Dropout(0.4))
articleModel.add(Dense(10, input_shape=(30,)))
articleModel.add(Activation('tanh'))
articleModel.add(Reshape((10,1)))

In [387]:
model1 = Sequential()
model1.add(Merge([userModel1,articleModel], mode='cos', dot_axes=2, output_shape=(1,)))
model1.add(Reshape((1,)))

# create user model 2
userModel2 = Sequential()
userModel2.add(Dense(30, input_shape=(52,)))
userModel2.add(Activation('tanh'))
userModel2.add(Dropout(0.4))
userModel2.add(Dense(10, input_shape=(30,)))
userModel2.add(Activation('tanh'))
userModel2.add(Reshape((10,1)))

model2 = Sequential()
model2.add(Merge([userModel2,articleModel], mode='cos', dot_axes=1, output_shape=(1,)))
model2.add(Reshape((1,)))

model=Sequential()
model.add(Merge([model1,model2],mode='concat'))
model.add(Dense(1, input_shape=(2,)))
model.add(Reshape((1,)))
#model.add(Activation('normalization'))
#model.add(Reshape(1,))
#model.add(Activation('softmax'))

# Compile model
model.compile(loss='cosine_proximity', optimizer='adam', metrics=['accuracy'])

model.fit([df_train_user_arr ,df_train_article_arr,df_train_app_arr] ,y_train, epochs=1, batch_size=32)

In [388]:
# Compile model 1
model1.compile(loss='cosine_proximity', optimizer='adam', metrics=['accuracy','precision','recall'])
model1.fit([df_train_user_arr ,df_train_article_arr] ,y_train, nb_epoch=1, batch_size=32)

# Compile model 2
#model2.compile(loss='cosine_proximity', optimizer='adam', metrics=['accuracy','precision','recall'])
#model2.fit([df_train_app_arr ,df_train_article_arr] ,y_train, nb_epoch=1, batch_size=32)

Epoch 1/1
69318/69318 [==============================] - 49s - loss: -0.9292 - acc: 0.7629 - precision: 0.9977 - recall: 0.7629

In [389]:
model1.fit([df_train_user_arr ,df_train_article_arr] ,y_train, nb_epoch=4, batch_size=32)

Epoch 1/4
69318/69318 [==============================] - 45s - loss: -0.9997 - acc: 0.9798 - precision: 1.0000 - recall: 0.9798
Epoch 2/4
69318/69318 [==============================] - 45s - loss: -0.9999 - acc: 0.9955 - precision: 1.0000 - recall: 0.9955
Epoch 3/4
69318/69318 [==============================] - 45s - loss: -1.0000 - acc: 0.9985 - precision: 1.0000 - recall: 0.9985
Epoch 4/4
69318/69318 [==============================] - 47s - loss: -1.0000 - acc: 0.9990 - precision: 1.0000 - recall: 0.9990

In [ ]:
#y_pred = model.predict([df_test_user,df_test_article_arr1, df_test_app], batch_size=32, verbose=0)
#y_pred_1 = np.hstack(y_pred)
#np.argsort(y_pred_1)[:100]

### Calculate precision and recall

In [391]:
#sophia remark get the mapping of user article
#df_ua_map = df_trData[['user_id', 'article_contentid']]

#Sophia remark: get test user list
#df_test_user0 = df_user[df_user['user_id'].isin(final_test_user_id)]
#df_test_user = df_user[df_user['user_id'].isin(final_test_user_id)]
#df_test_user = df_test_user.drop(['user_id'], axis=1)
#df_test_user = df_test_user.fillna(0)
df_test_user_arr1 = df_test_user.values
#df_test_user_arr1.shape

#Sophia remark: get test app list
df_test_app0 = df_app2[df_app2['user_id'].isin(final_test_user_id)]
df_test_app = df_user[df_user['user_id'].isin(final_test_user_id)].merge(df_test_app0, how = 'left', on = 'user_id')[app_category]
df_test_app = df_test_app.fillna(0)
df_test_app_arr1 = df_test_app.values
#df_test_app_arr1.shape

#sophia remark: get article list
df_test_article0 = df_article.drop_duplicates(subset=['article_contentid'], keep='first')#[article_feature]
#df_test_article0.head()

df_test_article_arr1 = df_test_article.values

In [392]:
t_u = df_test_user[user_fea_col]
t_u = t_u.reset_index(drop=True)
t_u.head()

,user_id,user_age_0.0,user_age_1.0,user_age_2.0,user_age_3.0,user_age_4.0,user_gender_0.0,user_gender_1.0,user_gender_2.0,user_maxmind_city_'aiea,...,user_l2_cat1001040,user_l2_cat1001049,user_l2_cat1001060,user_l2_cat1001091,user_l2_cat1001103,user_l2_cat1001110,user_l2_cat1001117,user_l2_cat2000000,user_l2_cat6000007,user_l2_cat8000001
0,292BB97BB1606137F47D15CD95613681,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
1,FDA822F54256CAE5209A7FD11B87503F,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.1,0.1,0.1,1.0,0.1,0.1,0.1,0.1,0.1,0.1
2,3FD27317628111BD18212E3FFD828FB6,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
3,63DCD9FACDA032C8045C92D4954AD5E8,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
4,D8419484B8B08621C786F79AE86C71C2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1

In [393]:
df_test_user0 = df_user[df_user['user_id'].isin(final_test_user_id)]

In [394]:
df_test_article_arr1[0:5]

array([[ 0.95086286,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.87866885,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  1.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ],
       [ 0.34200598,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.04053368,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ],
       [ 0.59733965,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.999     ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  1.        ],
       [ 0.92328293,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.12680571,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  1.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ],
       [ 0.94903833,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.48590737,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ]])

In [397]:
l = len(df_test_article_arr1)
uid = df_test_user0['user_id'].tolist()[0]
user = np.array([df_test_user_arr[0]]*l)
#user
#app = np.array([df_test_app_arr[0]]*l)
#apply user and article array to do predict
up = pd.DataFrame(model1.predict([user,df_test_article_arr1], batch_size=32))
up.head()

          0
0  0.928337
1  0.922698
2  0.933316
3  0.944861
4  0.932589

In [400]:
l = len(df_test_article_arr1)
precision = list()
recall = list()

for idx, user in enumerate(df_test_user_arr):
    #if idx > 5:
    #    break;
    #for each user-article pair: get the user id and user info
    uid = df_test_user0['user_id'].tolist()[idx]
    user = np.array([df_test_user_arr[idx]]*l)
    #app = np.array([df_test_app_arr1[idx]]*l)
    #apply user and article array to do predict
    up = pd.DataFrame(model1.predict([user,df_test_article_arr1], batch_size=32))
    df_test_article1=df_test_article0.reset_index(drop = True)\
                            .merge(up, how = 'left', left_index=True, right_index=True)\
                            .rename(columns={0:'u0_score'})[['article_contentid', 'u0_score']]
    df_test_article1 = df_test_article1.sort_values(by='u0_score', ascending=False)
    df_test_article1['y_pred'] = 0
    df_test_article1[:5]['y_pred']=1
    df_match = df_ua_map[df_ua_map['user_id'] == uid][['article_contentid']]
    df_match['y_true'] = 1
    df_test_article1 = df_test_article1.merge(df_match, how = 'left', on = 'article_contentid')\
                                       .fillna(0)
    tp = df_test_article1[(df_test_article1['y_pred'] == 1) & (df_test_article1['y_true'] == 1)].shape[0]
    fp = df_test_article1[(df_test_article1['y_pred'] == 1) & (df_test_article1['y_true'] == 0)].shape[0]
    fn = df_test_article1[(df_test_article1['y_pred'] == 0) & (df_test_article1['y_true'] == 1)].shape[0]

    p = tp/(float(tp+fp))
    r = tp/(float(tp+fn))
    print (idx, uid, p,r)
    if p != 0:
        precision.append(p)
    if r != 0:
        recall.append(r)
    
print (precision, recall)

/Users/sophia.gao/.pyenv/versions/miniconda2-latest/lib/python2.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

(0, u'292BB97BB1606137F47D15CD95613681', 0.0, 0.0)
(1, u'FDA822F54256CAE5209A7FD11B87503F', 0.0, 0.0)
(2, u'3FD27317628111BD18212E3FFD828FB6', 0.0, 0.0)
(3, u'63DCD9FACDA032C8045C92D4954AD5E8', 0.0, 0.0)
(4, u'D8419484B8B08621C786F79AE86C71C2', 0.0, 0.0)
(5, u'E016D48A88152F9F137DF9DDF290C39F', 0.0, 0.0)
(6, u'40C3F37008AF3DAF878D0A8691B8258E', 0.0, 0.0)
(7, u'459B96B1F70D26383BBF2F63C86D6BB7', 0.0, 0.0)
(8, u'D79CC4620095EAF4E21BA529129E8107', 0.0, 0.0)
(9, u'CDE7637996E630E1FA3C327A934E8339', 0.0, 0.0)
(10, u'B86935B368FE8941F00512E292A623ED', 0.0, 0.0)
(11, u'90E9D5579C993D73E310FF7A3D6AE62C', 0.0, 0.0)
(12, u'EDC2B8045E3F2D9FBD71E5736E516ABC', 0.0, 0.0)
(13, u'D89143FBB6B1395FC4628E27832333F2', 0.0, 0.0)
(14, u'2F01D4766DF9DD9089EC9B2030086756', 0.0, 0.0)
(15, u'AFAE834F8AC28FA7CF1B4C39D8E463A3', 0.0, 0.0)
(16, u'1B99F512223524991B480674CA914AF0', 0.0, 0.0)
(17, u'40929E249813D17DE0BE52F61CDDCD62', 0.0, 0.0)
(18, u'CC96BA15EF74E888344DFC7A32AB77EB', 0.0, 0.0)
(19, u'E300FB58DA32E2C6D9A3AC9D6212D308', 0.0, 0.0)
(20, u'DC7E5807E0CF9B47EFE3ECA461866A73', 0.0, 0.0)
(21, u'523C994DE982E87AAB253A0A3F807D3B', 0.0, 0.0)
(22, u'E6E06B37004A217C7ADC3E1D536465AA', 0.0, 0.0)
(23, u'2FA5A049BCED0482CD03475ACD247BF4', 0.0, 0.0)
(24, u'A5260498FDCC107CE475DFF8C43920E9', 0.0, 0.0)
(25, u'65D2722BE7EEBEF834A5F764FEBE9841', 0.0, 0.0)
(26, u'1FD663A5CBBC5C5EACA786CC8EE6991A', 0.0, 0.0)
(27, u'A67A8D8BF0434AE928FB1F61A78E000F', 0.0, 0.0)
(28, u'DBA5089C6622D592C8E17EA77ECDAB3F', 0.0, 0.0)
(29, u'73CD5CA02766F5EAC114CCB0E3685E40', 0.0, 0.0)
(30, u'DFF0EB28D49A81260D53987523BF0BD3', 0.0, 0.0)
(31, u'51253762180BCA9265AA8EFC5B4696FB', 0.0, 0.0)
(32, u'406763521EA8378F0CC9429425A8C66C', 0.0, 0.0)
(33, u'762C53828701E7F2CD9E0B6EADED7D27', 0.0, 0.0)
(34, u'4697E3D612C4124B4337F3874C423D35', 0.0, 0.0)
(35, u'D4603A50466D9083C9B251876773F096', 0.0, 0.0)
(36, u'C41CA7624F1D8EE342A63E1D87D8475F', 0.0, 0.0)
(37, u'95D5B648947618C610EBA5921A31B9C9', 0.0, 0.0)
(38, u'329782C61B957B9762E78B6149688E5D', 0.0, 0.0)
(39, u'E7A4B43B5327FB56CD8978E18530EA04', 0.0, 0.0)
(40, u'A6B45E3CB99C31BF00F9A454A397114A', 0.0, 0.0)
(41, u'88F14E7AB19ABEE6A091037D6DC8FAE9', 0.0, 0.0)
(42, u'72075DA1DB250C972FAED076BA25F868', 0.0, 0.0)
(43, u'877A323E8F9A825BD7974FBCC59E2335', 0.0, 0.0)
(44, u'0FB85EAFFD5DC04A3BFAEAEAEB4EE490', 0.0, 0.0)
(45, u'F92A745B77D82A9860CF6FD06F87387A', 0.0, 0.0)
(46, u'47630B1665751E0C8EC7E13F060204F8', 0.0, 0.0)
(47, u'AD76227BBC26C0F22EA1088757CC4FDE', 0.0, 0.0)
(48, u'A6356E748195E9EA4D92F078F901A341', 0.0, 0.0)
(49, u'4AC0E3DEF5DA75384530F270BB61E873', 0.0, 0.0)
(50, u'78DAF75039499D845E49D1A4F7A9053E', 0.0, 0.0)
(51, u'531671FB5EDB2DCF3E5EF821EFC4ACB8', 0.0, 0.0)
(52, u'BB99E135DCC6F27D58E5596216F6AAC9', 0.0, 0.0)
(53, u'0E534D0B6571A235B6F6A62BBD914D85', 0.0, 0.0)
(54, u'DA0003EA2E0823E6E52299A448788225', 0.0, 0.0)
(55, u'385CC50B082CE0000C402BACF9EC4106', 0.0, 0.0)
(56, u'08C67E9A5A019177E3A49B88212C0036', 0.0, 0.0)
(57, u'443FBAB7E24F65F11894915234E1CDB6', 0.0, 0.0)
(58, u'7106D3D408E82692231DB71CCB1D5B04', 0.0, 0.0)
(59, u'FC845225D0E7DC2A34E7A8E85AD3DB0D', 0.0, 0.0)
(60, u'FA11245A6BB01BB9E088668C14F5CEDE', 0.0, 0.0)
(61, u'C30B536A6F9698E96CF130FFDBEDEE83', 0.0, 0.0)
(62, u'DCAED7C00AF4C7854AEB5D2B249219EF', 0.0, 0.0)
(63, u'33F9E2D10756F7A705EA397C08B9E94F', 0.0, 0.0)
(64, u'9691D808A2A56642E8588DACD2CD5C53', 0.0, 0.0)
(65, u'2962062FF2A36BB70BA21AA79BA7C967', 0.0, 0.0)
(66, u'8FB73F37FDD1D5ADB9B6CBD05AB0BFE8', 0.0, 0.0)
(67, u'3383A04B65063270EB427D654B974941', 0.0, 0.0)
(68, u'80FFB6AFF1EE780B77775A937425CD3E', 0.0, 0.0)
(69, u'FCDC31DFC33352E8CFBBA041551AFB54', 0.0, 0.0)
(70, u'20698F4901E7BF3934B6FBBA531A6866', 0.0, 0.0)
(71, u'26C67D4852F66176405867536A25653B', 0.0, 0.0)
(72, u'35113D3423AED8B74E8FAB5E5931FA26', 0.0, 0.0)
(73, u'0BF688286703A0A2405F937ADB4BFF45', 0.0, 0.0)
(74, u'EA24D50F1BE49C0724BE6B1A7E49FFE9', 0.0, 0.0)
(75, u'5ED00235D97CF109511D1C5ACB20DAED', 0.0, 0.0)
(76, u'EB5CB8A5A76C3BA4896E49768D4F06C3', 0.0, 0.0)
(77, u'A98DE45DE12AB371DA424881374989E2', 0.0, 0.0)
(78, u'B6D353CDCAFBFC93B7E03DE67970ABCD', 0.0, 0.0)
(79, u'8E9E51BDC77FDEBD62FE52D3318002AA', 0.0, 0.0)
(80, u'2778358CF646A403D19A865B66BF8340', 0.0, 0.0)
(81, u'527B584A56A07E2DAB7EB91C9E295CE9', 0.0, 0.0)
(82, u'4E3F5EA3C2E9FCF436D6152C8E964CCA', 0.0, 0.0)
(83, u'D04A02AEF805C2DD5F3AF5B5A0FA0044', 0.0, 0.0)
(84, u'B9712BFCEAE53794EA816B62BF2DABD2', 0.0, 0.0)
(85, u'2D6D99A7800032A63FE81E01AE800042', 0.0, 0.0)
(86, u'6B362C06BEC736762F911968CE1B1B38', 0.0, 0.0)
(87, u'A546A8A12870A9B0174E8F90EAAC89D1', 0.0, 0.0)
(88, u'6E50692D2AC55CBD40D43F5FB25203A6', 0.0, 0.0)
(89, u'F9119CED4B3B311B852F79A68CA1A117', 0.0, 0.0)
(90, u'4F2C143A7CB3A33C8B93ABCF302CD0F5', 0.0, 0.0)
(91, u'35FA68AE6839BDCB1C6C8B80C310D233', 0.0, 0.0)
(92, u'E0F0F84176F4E3AACF2CA21E3DB01F89', 0.0, 0.0)
(93, u'8A490606A857EF8E9669677000365AE5', 0.0, 0.0)
(94, u'93986BF54DFCC4E76E13D3F73734FE4C', 0.0, 0.0)
(95, u'4C06FE4E422D632E7E9EDB58AC6536FB', 0.0, 0.0)
(96, u'DAE82A4FD295E82ABCA5731D97D5B6B5', 0.0, 0.0)
(97, u'7B93E71928BEDDA7D5A9C0C44D81E007', 0.0, 0.0)
(98, u'383EE60BA004F210318A6049DCDF018A', 0.0, 0.0)
(99, u'C74C56166F8DAA13235D30854FA114A0', 0.0, 0.0)
(100, u'E1CABD059834EFB74460F9145A736701', 0.0, 0.0)
(101, u'53E18C6FDBD534DDE5FF868697823B85', 0.0, 0.0)
(102, u'8B3B07A902296CAE4F10EF20E8298E97', 0.0, 0.0)
(103, u'6FC735E3BACA63F0368CB4BD8F15C435', 0.0, 0.0)
(104, u'1D99652E97BD16231197D8C17575542C', 0.0, 0.0)
(105, u'17F8F0C0761223EAEF1B27FB1CDF737E', 0.0, 0.0)
(106, u'8265D77658546C1DCBF97837B84F7875', 0.0, 0.0)
(107, u'FC762E8AB350A2817F7BA774109C885B', 0.0, 0.0)
(108, u'7861274FD77FEBF330CFA57CD7787EC3', 0.0, 0.0)
(109, u'0D644816D005EF4DB482E2ECC1891BE7', 0.0, 0.0)
(110, u'E76EC4F200ED736E8DFB06FE25F0B69F', 0.0, 0.0)
(111, u'442DC7F9BDD7B7E30712FB978038A5C1', 0.0, 0.0)
(112, u'7EDD8364FA7A84C5D7F44DB623D803F4', 0.0, 0.0)
(113, u'6DC4EB1211E56F76C70C2E1D9EA6DA69', 0.0, 0.0)
(114, u'7C2C42351C80CCAF0CB07CF52AA3E764', 0.0, 0.0)
(115, u'2F24FC5A8DE691189371040F72A4807E', 0.0, 0.0)
(116, u'1CD8A4E1E81B28A8AD1A23D313C3A418', 0.0, 0.0)
(117, u'C2AEB3F08F5BBE60CF6260305EEA9AAA', 0.0, 0.0)
(118, u'470498545DD385782999022F598BF026', 0.0, 0.0)
(119, u'2023A353CF3FDC89BEF12D4C512DDB22', 0.0, 0.0)
(120, u'E65C0B0DD3143491C0CCA7A73AC0591A', 0.0, 0.0)
(121, u'AFD2339F6A291FB9E9A6DA66F936977E', 0.0, 0.0)
(122, u'CFFCD1A783C0D9EE5FA11AC69DD92B0B', 0.0, 0.0)
(123, u'1DC3E45AEEC4C4FC01563D3A4C29761E', 0.0, 0.0)
(124, u'4FF8DF546EFCA297CAD6EBEA3812468D', 0.0, 0.0)
(125, u'4FFDBA5BB08BA83BDDFB8B675939325C', 0.0, 0.0)
(126, u'E8E35F1A58687A002DB926E78EC9B04E', 0.0, 0.0)
(127, u'D4F2480058B8343DC7CD350153ACD636', 0.0, 0.0)
(128, u'22ADAE646BC3AB9ECA8458D293A20496', 0.0, 0.0)
(129, u'8B6FE45B0839B1122D71CA1CF7E5FCA2', 0.0, 0.0)
(130, u'AF346A7F9490B90E33F4A9F0FB54056D', 0.0, 0.0)
(131, u'D5D91E23D1333CEDD265FB32F494BF52', 0.0, 0.0)
(132, u'3C890C33F7EFD63C51C5A4C70D5B7B33', 0.0, 0.0)
(133, u'9E1A86C6038FACA8E59ADF899F550EA6', 0.0, 0.0)
(134, u'1CD443971D942B6C1769EADAF6796DC4', 0.0, 0.0)
(135, u'E7E5D52FD16EB597AB069D29A1BD90BC', 0.0, 0.0)
(136, u'DFA92B685AD7516D0F74181602C59B79', 0.0, 0.0)
(137, u'24B714622920C36E60A267DEA6DEDAB1', 0.0, 0.0)
(138, u'242EC9DE0ED1EDC736617848CC532DD3', 0.0, 0.0)
(139, u'5C5347FD071A6FB7FCAB198E90B2CD11', 0.0, 0.0)
(140, u'F1FA76EE85F561BFB2C45239229434FA', 0.0, 0.0)
(141, u'755C1DFC275C3C65D7DE17F498D8290A', 0.0, 0.0)
(142, u'D2D79A8EC0135EC5BA37BCE484492907', 0.0, 0.0)
(143, u'166205CAB8BE764F8F61E7761BECDB95', 0.0, 0.0)
(144, u'DB69D3CFA3759308FD294B29A50CFC2C', 0.0, 0.0)
(145, u'E54CF8D9D7CD60B6CA2EDA51B7A836CC', 0.0, 0.0)
(146, u'172A476654318DDB9CA0B7575C00CCC9', 0.0, 0.0)
(147, u'7DEEB8AF2EF68FFFACFDAD3DC122F4EC', 0.0, 0.0)
(148, u'B80C099D7FABDB6414A93BA8E49F03BE', 0.0, 0.0)
(149, u'DEDA086BE117CB0CF4002B1F16CE42B2', 0.0, 0.0)
(150, u'E5541A5D8E0FA5195132E14EC18BF769', 0.0, 0.0)
(151, u'D0D58CB07062F1A2F88C001C250281C9', 0.0, 0.0)
(152, u'CAD192B7930A243FA2D0D84D6B3EEB2D', 0.0, 0.0)
(153, u'B12A6C80803D838E92D26FB13820D5A3', 0.0, 0.0)
(154, u'A6B4355B61CE2702A6D05D228F029B12', 0.0, 0.0)
(155, u'0340D0346E15FF627CF29EF7131C1A09', 0.0, 0.0)
(156, u'34D9E247F2FE6EBE91DB88BDF0DFB05E', 0.0, 0.0)

(157, u'F7A4A4FE797C52448D2DCD9237E47535', 0.0, 0.0)
(158, u'F3D40E188C12492BD1BD03FCCFA57A3E', 0.0, 0.0)
(159, u'A23F9D004EDFFE2820D90A39D1087720', 0.0, 0.0)
(160, u'069934F48B98BD12F73E7128E408C75B', 0.0, 0.0)
(161, u'11A5E5196BA7259BD887386C77771C54', 0.0, 0.0)
(162, u'85D82F0DDBD3E09FF7BBDBE8F13CFD32', 0.0, 0.0)
(163, u'6F6F02A8885887000D5DA326DEAE337B', 0.0, 0.0)
(164, u'5319E0E74C30B6F1272C63256E73754C', 0.0, 0.0)
(165, u'A2D315C3565DAAAC3B8A070C853EAE8B', 0.0, 0.0)
(166, u'834C39D362DD5EE38AEAC0E0763B82D5', 0.0, 0.0)
(167, u'A96441D5404D9A19ADD86865159DCDD3', 0.0, 0.0)
(168, u'7E501BE70260B824205E4D86FA10CC57', 0.0, 0.0)
(169, u'6EF863D3797E6C219D198AA1B8EA24C6', 0.0, 0.0)
(170, u'C054B4A46137ED6531764D9FE9F82532', 0.0, 0.0)
(171, u'081267417FFB9E4B991518E189F22F3C', 0.0, 0.0)
(172, u'0394F5B6684FD1524604512C634D7AD1', 0.0, 0.0)
(173, u'BF1ABA69CE3708307664084FCD2D8A9E', 0.0, 0.0)
(174, u'37C31B4CDF130979873B3AD41F6DD875', 0.0, 0.0)
(175, u'AC02BB3BC7E55C095B7E06CC4F674BC1', 0.0, 0.0)
(176, u'90ACC4A05635480EF1B34326C66B508F', 0.0, 0.0)
(177, u'8A1B6F19DC16E904D624C4995F080961', 0.0, 0.0)
(178, u'7ACB0A007BBC77640D621059EDE17280', 0.0, 0.0)
(179, u'47D80B510A1A281791F180ABF8DF1900', 0.0, 0.0)
(180, u'F41477A75F63438FFE9F4490EC2D3FC0', 0.0, 0.0)
(181, u'6CC885C06907F9531A76FEE2418ED6D2', 0.0, 0.0)
(182, u'B8A486C65F45F4C94A23233071734B6F', 0.0, 0.0)
(183, u'ADC19B39DF088582F71876ED5EED5C36', 0.0, 0.0)
(184, u'9DB8B9AC7FE24EACF14F5C7607E65624', 0.0, 0.0)
(185, u'A92AD554C2AE07FF7DD73E6368AC536D', 0.0, 0.0)
(186, u'A9DC2757A73E8FC9CD6F9F6A57BAAB68', 0.0, 0.0)
(187, u'9005CAEC780958AA072E40935770D206', 0.0, 0.0)
(188, u'7E6701B707BC97598F342EAE6517CDB7', 0.0, 0.0)
(189, u'A821097401549FDC9C109EA3263DE14E', 0.0, 0.0)
(190, u'CB2CA64011E743B9C6424B2F54901373', 0.0, 0.0)
(191, u'333C1D49C07615D7402C73075FA88CA7', 0.0, 0.0)
(192, u'57EE591436057E407879279CCE2694E5', 0.0, 0.0)
(193, u'4D994CC7FEBDA3CA23F5363CD7B2D106', 0.0, 0.0)
(194, u'B50B9CE9505B01C082618B75AB477F16', 0.0, 0.0)
(195, u'D3AE3A04A7C8D9131E1E4855D4EB39F5', 0.0, 0.0)
(196, u'8285F1AFB46432E0BAFBA2064171B790', 0.0, 0.0)
(197, u'07F175B4F474A0A2101B1BE67D38E1F1', 0.0, 0.0)
(198, u'D528CA5F279E62CC0996E58D28189DD8', 0.0, 0.0)
(199, u'8AD22A2887B8777C51246240D9530CE4', 0.0, 0.0)
(200, u'59958B2BCADABDC5EB279371D092B412', 0.0, 0.0)
(201, u'A450E61EA8933911A5F109B5EAA2A525', 0.0, 0.0)
(202, u'F09F4F70497D7F752B72C6BB3FFE17EC', 0.0, 0.0)
(203, u'230151DEE7E045D8924C8725DFD3AB18', 0.0, 0.0)
(204, u'6268BC89CCFD6A35F1F1D7020C7F2DF9', 0.0, 0.0)
(205, u'8A9FEE610D26125783945726030317FB', 0.0, 0.0)
(206, u'E5FE75A3EE7B0A719CF9DE3D56C757DB', 0.0, 0.0)
(207, u'BE2CA601B64C6148C42D7857672B91AD', 0.0, 0.0)
(208, u'70C82F0491AEE6CBF222C19EDAD73455', 0.0, 0.0)
(209, u'50CA403FBA8800AEE9D105EFED24144F', 0.0, 0.0)
(210, u'D281C5A5E1351EB19BA32D1B82DB6C8F', 0.0, 0.0)
(211, u'03349272913EF37FFA5BBE421195E186', 0.0, 0.0)
(212, u'06E40A2B6083BC861DB1E6C353A077E7', 0.0, 0.0)
(213, u'C0A5EA874C0AE28A977DAB91E73D11E1', 0.0, 0.0)
(214, u'87D67D4FDF944AB9E750DA7763194985', 0.0, 0.0)
(215, u'7A67DD9454BD7B03EC1136A95F4E6828', 0.0, 0.0)
(216, u'D885CC3A2F4052E2ED56BA46D982268B', 0.0, 0.0)
(217, u'F50EDF4A321C537F658F932E520D7D67', 0.0, 0.0)
(218, u'04CD658ACA53B84B1DE166F997EF4E8C', 0.0, 0.0)
(219, u'B8B3EABC558EFAD83B2B2E86A6AFEC15', 0.0, 0.0)
(220, u'21F5D29BB8D916FE4A76AE1D4AB2B69C', 0.0, 0.0)
(221, u'4673033DB691BEAA3809C993335BC2F1', 0.0, 0.0)
(222, u'66018974E213758814B6585854C01840', 0.0, 0.0)
(223, u'91C672830B7EFD4D6A0E5FB502E5DE9B', 0.0, 0.0)
(224, u'C8E9EA81F2218C58255F71B838BAF5EF', 0.0, 0.0)
(225, u'7A175928635BD2BFDCE5478D373140D2', 0.0, 0.0)
(226, u'ED551B71FD49B24514A631B6F2ED5DD5', 0.0, 0.0)
(227, u'07AEC16F2FC72D131A34E8707AB88F1C', 0.0, 0.0)
(228, u'5A4BE89BEB86A1A1C5CAEBB1EBE9280E', 0.0, 0.0)
(229, u'FD8CF40C0E9C8C7136F05D39F8884CF9', 0.0, 0.0)
(230, u'869B2C6BC3C44F30899379BE2A0CF397', 0.0, 0.0)
(231, u'C54316C282ED232B8AE26027E78C01EF', 0.0, 0.0)
(232, u'D2E0E8D24D6DE41CE6BB838FDDD7A3D1', 0.0, 0.0)
(233, u'434D3507FFCAEBF88A90C38F785BCE3C', 0.0, 0.0)
(234, u'45FD71D64D5DACC8AE9BFDE41A8E852D', 0.0, 0.0)
(235, u'4DF7E21D427F814477EAE1545D3F4239', 0.0, 0.0)
(236, u'F89D8041C74126E4431B5ECA1992D51D', 0.0, 0.0)
(237, u'1F88359B91B1AE419F53786ED1AA2009', 0.0, 0.0)
(238, u'124EBFC1582AD1BB8C4E86382E774151', 0.0, 0.0)
(239, u'FC5417D0E485ACF263FD59486FA60BE1', 0.0, 0.0)
(240, u'91C7A4A8661B39DAABA36FA5066C73EF', 0.0, 0.0)
(241, u'E878CF4F9E5691C338085DC64537FF99', 0.0, 0.0)
(242, u'63BAAF3FBF29608369E28F7A3F4C43F0', 0.0, 0.0)
(243, u'0399496DAA83551DC9257E66E69824C4', 0.0, 0.0)
(244, u'43597C0E0D22E0DD2DABB3044110A226', 0.0, 0.0)
(245, u'185D9D285D17CF64EEF8A88C60A8A88E', 0.0, 0.0)
(246, u'FB7B39AB590C14EFDCCBC98AA47A8D98', 0.0, 0.0)
(247, u'9C71FE83BAD56B33F01F406A43A2CE21', 0.0, 0.0)
(248, u'79C3F838AB4899FC26D3075339A5F652', 0.0, 0.0)
(249, u'8DB41A25CE681B6E1E5C2283B7B9F64B', 0.0, 0.0)
(250, u'69FAF64C57D615DAC049F08BF0F5F1E0', 0.0, 0.0)
(251, u'6B9C0C26F63ED017A7B1C6F9071906DC', 0.0, 0.0)
(252, u'8E83094DD82AE7F270BB0022724C7A87', 0.0, 0.0)
(253, u'BC124BCAD5ABF93992FCDA43DCCA7146', 0.0, 0.0)
(254, u'67BDC0D0A5C40F3E5975BA60472D6EE6', 0.0, 0.0)
(255, u'E4F261C21F4C572148A54FF78E247F36', 0.0, 0.0)
(256, u'2C9A09C08D510E9A519C7BF96C2283AA', 0.0, 0.0)
(257, u'E9D81B40CACD9BEFF984756A800F0B74', 0.0, 0.0)
(258, u'A4911650754EE9E895331328F43E2BF5', 0.0, 0.0)
(259, u'76A9F0948239605F27A679195D92DA87', 0.0, 0.0)
(260, u'EA90708063F65CD958B9DDC0071F0000', 0.0, 0.0)
(261, u'00D16C54BF431D17BA13C2C51CE4128C', 0.0, 0.0)
(262, u'218BD54009957F44CA8D1AF16606257D', 0.0, 0.0)
(263, u'5A731D36F9016212F9A42D0251756591', 0.0, 0.0)
(264, u'AA023EF9787C3AA7E88D652CF9F6D00E', 0.0, 0.0)
(265, u'2474EB7B244C82A969E5D9C9F2492E4E', 0.0, 0.0)
(266, u'D497C2FC866ABF6247533B540FA4B882', 0.0, 0.0)
(267, u'69E7CBD707CC6E96C5EE655769EAD62D', 0.0, 0.0)
(268, u'5200F146B9D7A6FBF1E7A0ECEB95C9FD', 0.0, 0.0)
(269, u'F54DDA9E09B11B013391CF156958014B', 0.0, 0.0)
(270, u'31CE8D0F2A0261A47F5B30619D4AA8B3', 0.0, 0.0)
(271, u'08385F06917E9F6B3FC02A4E52EB40A3', 0.0, 0.0)
(272, u'B102CFAB0BF39D3AD0377F92EC0DD163', 0.0, 0.0)
(273, u'0A7D41C861BE9541BD0923F7A52CA99D', 0.0, 0.0)
(274, u'8904E1D27877472BB2761DA9DAA9A0CD', 0.0, 0.0)
(275, u'7E35ECA8ECEE841C83812F38922BB4B4', 0.0, 0.0)
(276, u'1EB973907A166DDDD7116C0C004A3760', 0.0, 0.0)
(277, u'DB9064975EE2F2CF8AF6A7E568C29E0D', 0.0, 0.0)
(278, u'69FC2E28BE13B1E9E5515A70C89827CE', 0.0, 0.0)
(279, u'4B299F12F84E5D3EF7753D79C1F12303', 0.0, 0.0)
(280, u'17BE816E01046A2C2E74D97311EF0218', 0.0, 0.0)
(281, u'14797DE517F295FE8569D5DDB1CF252E', 0.0, 0.0)
(282, u'1B2C03470A53DF910FFD819056E74A90', 0.0, 0.0)
(283, u'E2B7E5C2E4036140D0DB40E44BBC4BD0', 0.0, 0.0)
(284, u'98E5E9EEF85E13BA1A92588C8DE7E095', 0.0, 0.0)
(285, u'51022ADEC25694379349871B5A23FF05', 0.0, 0.0)
(286, u'4912BBC23B251074FD8D807534B544B8', 0.0, 0.0)
(287, u'2C3E8846015203D8617D0984A11D1880', 0.0, 0.0)
(288, u'C02E62E49E105DFDC37227BF88541FF7', 0.0, 0.0)
(289, u'6F2908E492216D5DA6369B364382E49F', 0.0, 0.0)
(290, u'D3C2ECE23551E926B1837AFC77A98A5B', 0.0, 0.0)
(291, u'2FF2902BF073F97E090AE526016DC3C3', 0.0, 0.0)
(292, u'5CA99AA0D2FBA9BF4FC111C39C864B1A', 0.0, 0.0)
(293, u'5E4E281FC88C852C60605B8EEDFD8124', 0.0, 0.0)
(294, u'DFB058C8931ED44CFEFD44250E63255D', 0.0, 0.0)
(295, u'782A444AAF517A8AA511E1B45A520713', 0.0, 0.0)
(296, u'8A02F048763945432FE0D308E6EC53B8', 0.0, 0.0)
(297, u'468EBD7B2B7A689C23B7DD17BB4A56EB', 0.0, 0.0)
(298, u'93B9605F8F180502346DFCE6B0220C90', 0.0, 0.0)
(299, u'ECA45FEDDF4B48D796D46A48ECF100F7', 0.0, 0.0)
(300, u'9A05BCFF957B7AB13591F2795A16B71B', 0.0, 0.0)
(301, u'F7F4F08AE1C98B4C650A7890D0272314', 0.0, 0.0)
(302, u'283E3F7608EDCA615C38BBE570E034DD', 0.0, 0.0)
(303, u'6F0F802E2987A075D3818808AE863142', 0.0, 0.0)
(304, u'39DD2DACA098800C53FBC7F136105F82', 0.0, 0.0)
(305, u'DE030FED48469EE3D0001F26B67BC242', 0.0, 0.0)
(306, u'4C9182E695E3B8BB95BD405EC7E59D58', 0.0, 0.0)
(307, u'DA015765891A5EABC5F2071FAC253329', 0.0, 0.0)
(308, u'D4184EF0F88B842E1A170E6304E24CD2', 0.0, 0.0)
(309, u'3ED50746FAA26A3F51B2D002A44706CA', 0.0, 0.0)
(310, u'4BEB3D508B7AB952218CFC3902583FF6', 0.0, 0.0)
(311, u'E61BB5938EF140B6E8648ED547586786', 0.0, 0.0)

(312, u'E83B07D14C25FACD3C10EA5CA13E0D40', 0.0, 0.0)
(313, u'3B2B8CD526DB74390C2E466740BDAAA0', 0.0, 0.0)
(314, u'84C92AE6968CB8E58275EAD337ED387B', 0.0, 0.0)
(315, u'EDD7347405B26FADEE01F95CBC8C58CF', 0.0, 0.0)
(316, u'72BE783E32C775F42790EB1FE73EC360', 0.0, 0.0)
(317, u'12F51E66A64BB6AF266D4370589D21DA', 0.0, 0.0)
(318, u'F9FA9D6A63402A8F6259E726AF67573A', 0.0, 0.0)
(319, u'AB3628F6E69F70FAF0EED0D99BFBD9AF', 0.0, 0.0)
(320, u'6CBFDFC866375375402E80753287D71D', 0.0, 0.0)
(321, u'4FE5C805E0907B0EBFBD266B792C9FA7', 0.0, 0.0)
(322, u'BB3A94A2A05988033148A532695733E4', 0.0, 0.0)
(323, u'30A3718D572B778B277920D4FDD256B2', 0.0, 0.0)
(324, u'61C3C25013B394FEE01BD2A2502A6A38', 0.0, 0.0)
(325, u'8621DA6B506BDACE5D8B94C75F67AA33', 0.0, 0.0)
(326, u'D1A0117311241E731C10A8E08C35DFC2', 0.0, 0.0)
(327, u'E0C66F25C090C2FDA018F7C9EBAE7D00', 0.0, 0.0)
(328, u'DC3EFD43B5BE1952F5A000BB502A6D13', 0.0, 0.0)
(329, u'AFB0A46F7C27D785DF7EC908EA3AC52B', 0.0, 0.0)
(330, u'78525AB3CA9BA0A6A4BA4010BFB9CBB0', 0.0, 0.0)
(331, u'1C080492D5862C804B4338642B72E7E3', 0.0, 0.0)
(332, u'49027C820C9DC41F33C67C0FE1307A59', 0.0, 0.0)
(333, u'5DE7EE716AE746716A95C46A3813FFA1', 0.0, 0.0)
(334, u'EFAD6D93A3D6786E374936A2CB93089C', 0.0, 0.0)
(335, u'EE7A5F686AFD94AF5FAAA69B7B2AAD37', 0.0, 0.0)
(336, u'F8E6ED6E63782063AD7652E4E4E5DFA3', 0.0, 0.0)
(337, u'ED98C3EAD17F0B19C813DE31B423BAC2', 0.0, 0.0)
(338, u'A08DAF6FDC1B0751342242EC7211E6D9', 0.0, 0.0)
(339, u'88578CFDF24E8C050535BFD060046242', 0.0, 0.0)
(340, u'E236F77DC448EF477891D95E42DFC505', 0.0, 0.0)
(341, u'2D1E5D0F3D9A909048B67C4B1B47904D', 0.0, 0.0)
(342, u'FBDDCC72568F02D746282FECD305F3DC', 0.0, 0.0)
(343, u'F63ED03148184A04AD33C8011855EEA1', 0.0, 0.0)
(344, u'F27EE407F03724D3321ED3E50A84B350', 0.0, 0.0)
(345, u'CCFDF3ED219906684C97281C9783927F', 0.0, 0.0)
(346, u'C3D34B4B6A411F7CD6B53571EC9A77A4', 0.0, 0.0)
(347, u'60194F8B2AABBAD75A1087D52DF098F2', 0.0, 0.0)
(348, u'EA6E9AC585C57DB7B2C4705ABD31D3EC', 0.0, 0.0)
(349, u'0913CA3852B8EDF02DC6E5D4A185518B', 0.0, 0.0)
(350, u'A338E9D46E4A5688FBBDEFB7E73964EE', 0.0, 0.0)
(351, u'50C81ADA3BC1CDCFE511DFB95D47EC64', 0.0, 0.0)
(352, u'BAC0C3FFDEB8CDFD0A3C90B87F9EE790', 0.0, 0.0)
(353, u'6DFCA9B6407C69587368B896F2752F41', 0.0, 0.0)
(354, u'4994BEBC8AB521183CD4DB5E3B1298F3', 0.0, 0.0)
(355, u'C34039318A57EDD2B86B9A75DC25FBB9', 0.0, 0.0)
(356, u'BEB470ED53BA3A5BDC9472F7D5C43076', 0.0, 0.0)
(357, u'2783412B98D7947702794E9C78CCF811', 0.0, 0.0)
(358, u'76C7FC4ED9E8F03C9CE1002947609182', 0.0, 0.0)
(359, u'B6F56148434197325AA055466377C415', 0.0, 0.0)
(360, u'EFD50BEAEE846EAE784322D3672351CD', 0.0, 0.0)
(361, u'158A9C3495A83230D24D312AFDB8CFD2', 0.0, 0.0)
(362, u'45E142EDC7F2215D495D64C6F772CD79', 0.0, 0.0)
(363, u'436A76244E9C6DAC9B2447C0C0082D96', 0.0, 0.0)
(364, u'2864B0174C8C3135C288A3663B568022', 0.0, 0.0)
(365, u'91EFCBCFA33960749C3021549D3DED17', 0.0, 0.0)
(366, u'004A5982BCE2DECD0622672F6DFE488E', 0.0, 0.0)
(367, u'621BFF54D8D51EF51E16B6E81710F8B2', 0.0, 0.0)
(368, u'8624E873E605D4102C433533D7CB5872', 0.0, 0.0)
(369, u'B7032178E268EADF78CDA267BFDBD211', 0.0, 0.0)
(370, u'FDD33AAD7E4BAD3B71B71BAB73D46EB8', 0.0, 0.0)
(371, u'37570BCE6B1738E1072532F2A4DCE26B', 0.0, 0.0)
(372, u'DBB574AE6271A76DEC41E76CA4472A20', 0.0, 0.0)
(373, u'34F1B5769C5FBC0E9526F9130C35FEF6', 0.0, 0.0)
(374, u'6DCFBC418DBAB9CC9D40FC701AE94415', 0.0, 0.0)
(375, u'9421847AE37FF95F0AE047361A4C889F', 0.0, 0.0)
(376, u'C23E890E0689C4B3888193092F41195B', 0.0, 0.0)
(377, u'38FCACEA886BF3A1F01F2737C0D8E7A3', 0.0, 0.0)
(378, u'8B94A34BED55A1EC3B15374EB2DC8EDB', 0.0, 0.0)
(379, u'BAC8EDEB13306A074A0F1A49FEED1107', 0.0, 0.0)
(380, u'642E2264D937F6A985BE03D022351DAF', 0.0, 0.0)
(381, u'99E248E5269C9EA58B81F9453DD1444C', 0.0, 0.0)
(382, u'35E20B1772BA9AFBA9CAED32E4F43403', 0.0, 0.0)
(383, u'0AB3F8D86CDC6E0135EDFEE245F7DB91', 0.0, 0.0)
(384, u'73A98BD693DA9B615E6D8208C5680E2C', 0.0, 0.0)
(385, u'6221856EBC2825918B1D4F2940658BD2', 0.0, 0.0)
(386, u'1ED722C81F0F3C83685F1A45DCB871C5', 0.0, 0.0)
(387, u'929B3CF02D0299BD64A78DD7FC25A718', 0.0, 0.0)
(388, u'2FDF541C020395523C80B2FDD0AF8B8C', 0.0, 0.0)
(389, u'0A7ED9B8924DC931750D4E998B5F4F5D', 0.0, 0.0)
(390, u'480C0295CE391C878D1CDA53D9B65F70', 0.0, 0.0)
(391, u'2FF672E5A45838E9FA74494AC4150128', 0.0, 0.0)
(392, u'FBFADBF846642E9439A5B8F6049E35A4', 0.0, 0.0)
(393, u'292F84B5B9166C5B4059621DC6B21123', 0.0, 0.0)
(394, u'877FC7C6D2BEBD006021FB402D3DE2EB', 0.0, 0.0)
(395, u'94443CD499FBA0C0C906F6E8B2E95788', 0.0, 0.0)
(396, u'08A8A200CF061AB7509E4716F41F3042', 0.0, 0.0)
(397, u'B40FE92E676F086158CF81DD01C82A5A', 0.0, 0.0)
(398, u'B1524936319A1724EB798CF8CBD668F6', 0.0, 0.0)
(399, u'95A5E2AA232D20023BDD77EA95790551', 0.0, 0.0)
(400, u'DE32BC0ADDE7D522193C6966A4412EDC', 0.0, 0.0)
(401, u'7D317F04A54E58EE994E9809408AE6F3', 0.0, 0.0)
(402, u'99AC0C8A0BE59DDFF5DD4A5933AB2A07', 0.0, 0.0)
(403, u'51F8892677E33098D9C95107E60D8760', 0.0, 0.0)
(404, u'543DEC095E763F33DCC5AA4D2E8E62C6', 0.0, 0.0)
(405, u'9D3429E68103DF8AE33166DEF80E24C7', 0.0, 0.0)
(406, u'E2E2B9D8790EAF8C08ED658EC53C673F', 0.0, 0.0)
(407, u'5414B78D3AE44BF26EC3548AC48C0EB4', 0.0, 0.0)
(408, u'94F3B4F91C4D6F4FE35522469026C821', 0.0, 0.0)
(409, u'D81181605DBFF067BCD2C8C0730E4217', 0.0, 0.0)
(410, u'02928CF0AE4184835D6953758055DBC8', 0.2, 0.3333333333333333)
(411, u'B4494E845F118DCFFCFB104C25A37349', 0.0, 0.0)
(412, u'9DC23C654E10F11890A64B8203FBEE26', 0.0, 0.0)
(413, u'B9C5A7B584353727BFC25FFF586A05B8', 0.0, 0.0)
(414, u'39B9C05175AC948A165B963D09C6F214', 0.0, 0.0)
(415, u'C98B6A3D185CE720338FC5118F12F95E', 0.0, 0.0)
(416, u'E58CC019E23D801CD65496A3FE84421A', 0.0, 0.0)
(417, u'F85F59541708071FB7849BFCB9F34256', 0.0, 0.0)
(418, u'0C687080F37C751BB488D5C48250D94E', 0.0, 0.0)
(419, u'0A1461747FC305A12BCBF7FB6088A172', 0.0, 0.0)
(420, u'AEFB0CD61A4148B3D814356E96634679', 0.0, 0.0)
(421, u'41EFCCDFE04AE1D720FBA1432455E428', 0.0, 0.0)
(422, u'362CE9E86CEFD40B1C06D0866BEE4A79', 0.0, 0.0)
(423, u'48ADFFB21BE687C2263A0475055138E0', 0.0, 0.0)
(424, u'1252204F6B621C4C3D7DD4B1D8709F89', 0.0, 0.0)
(425, u'7006F99C5E16D0D9FF60769EED194A09', 0.0, 0.0)
(426, u'802C53273BD5F0F974631D1F8FEA44E5', 0.0, 0.0)
(427, u'E34C0A8ADBBA6015277F4FABC2F954ED', 0.0, 0.0)
(428, u'ED217B7B523ACAEB2A932C09846DF6F9', 0.0, 0.0)
(429, u'12E36E838DBDBC83DE045EE798A98F6D', 0.0, 0.0)
(430, u'C987522871D1C7BD22D64F6D77E66C51', 0.0, 0.0)
(431, u'BA3CCA112225A5CF6AC282309BA7C567', 0.0, 0.0)
(432, u'9D133D651C67BE2148D34FB11A83738C', 0.0, 0.0)
(433, u'EC9F54F2B4E8710D8502A9320AC20078', 0.0, 0.0)
(434, u'935F8034AFAD8569FD7918597C3501BE', 0.0, 0.0)
(435, u'17D88365C03177FD2C84724416DDC95E', 0.0, 0.0)
(436, u'20C402EA492F7663B69BE7051CD20BE5', 0.0, 0.0)
(437, u'C71080BF1C488901A759226B3832A3E3', 0.0, 0.0)
(438, u'F05D3EE1EF4219B31D379D81D8DD7BE7', 0.0, 0.0)
(439, u'958428AD59BD0E29FFD1746CE8FDA342', 0.0, 0.0)
(440, u'A6B5D07D733CFEE56C17182DB92202D1', 0.0, 0.0)
(441, u'99CDFF9CDC78BE915A907DBD3EFF64E7', 0.0, 0.0)
(442, u'BF23558349436EA4A6233F40E71080BF', 0.0, 0.0)
(443, u'66E0ED582C18A48E2102152B8B833F6F', 0.0, 0.0)
(444, u'15B809D901B74910D88C9700BA829D65', 0.0, 0.0)
(445, u'FA5CC707961137F2BFCC2220082A5C21', 0.0, 0.0)
(446, u'3B22485A91098AB140835905A8102E93', 0.0, 0.0)
(447, u'BF6278FE650464D6FB7B808AAB9E1C33', 0.0, 0.0)
(448, u'66482CF5E41511A8AAF54D9502C57858', 0.0, 0.0)
(449, u'54B0968ADB80F106601FB830F4A20B61', 0.0, 0.0)
(450, u'2114D979660A7294F77B3C9FC16FAE18', 0.0, 0.0)
(451, u'90525890A58A103EDED55CC71F1AC94E', 0.0, 0.0)
(452, u'57AAEEC1B998D320D15C3B64C3F46233', 0.0, 0.0)
(453, u'5665F272ECAB9C850F7B6424E8AEB5BC', 0.0, 0.0)
(454, u'7495327275788411B30458DB60B95915', 0.0, 0.0)
(455, u'0E4B716248A41CD1539B4CF03453FBF6', 0.0, 0.0)
(456, u'8905E7AAC59D65B9170C9CECA5455788', 0.0, 0.0)
(457, u'22AFBF880B3AD85BFC380AB8B4E8D05D', 0.0, 0.0)
(458, u'C6D6B6AEC4D8A59B4219F0EAF6564C30', 0.0, 0.0)
(459, u'5E898AC7EA4D01FC16B417E6AEC946CF', 0.0, 0.0)
(460, u'7A323ADB97BBA3B9FC38827C293DA919', 0.0, 0.0)
(461, u'A7569BA8E130363FC758611E054DA981', 0.0, 0.0)
(462, u'6879627D5E87AB2F8B4B221C0645A022', 0.0, 0.0)
(463, u'01225375FEA5919381BD1231A1AA8FAB', 0.0, 0.0)
(464, u'944E752EE8D2969AE66287B0DC991025', 0.0, 0.0)
(465, u'579DCDEF8B0BFB35F3674E03C0B0812E', 0.0, 0.0)
(466, u'6A0DE16B9A39210BC6BDE7AB5B26094E', 0.0, 0.0)

(467, u'861AF189FFF1B079CC817D2160512A53', 0.0, 0.0)
(468, u'588410BC3165EB470F5ACC67ADD65B95', 0.0, 0.0)
(469, u'EB93A0C0A8E6E3D472C554A1ACB9E436', 0.0, 0.0)
(470, u'575101C6B248E62B5FBDCADE62955FB2', 0.0, 0.0)
(471, u'F4809E03CA20E395C6335078019C7A24', 0.0, 0.0)
(472, u'C255FEEE2E7AE4D9D72D72E4919482C3', 0.0, 0.0)
(473, u'6EA9DDCC778E0DF0931F33D6BD29C6B6', 0.0, 0.0)
(474, u'D584FCDB83E76D67B7A83B9529A4F739', 0.0, 0.0)
(475, u'019A3785381C82296CADFFFE2B6CD276', 0.0, 0.0)
(476, u'15BA907A744AD69600BCEA2D74DA7C81', 0.0, 0.0)
(477, u'5C753EDC916BD1B26C8CD3F8949D1A32', 0.0, 0.0)
(478, u'837E4CD48D7E54E3ED271631286E50CC', 0.0, 0.0)
(479, u'D618946CB53B057151F15F482013FD79', 0.0, 0.0)
(480, u'05FF1EF7811F7F1A4EEB186C851A9132', 0.0, 0.0)
(481, u'411727798B93ED273A8E62135FA222DB', 0.0, 0.0)
(482, u'90B2E7082A2E555A894B232471B5C80F', 0.0, 0.0)
(483, u'D9E4B40C0579E20C784B94710EA50BC8', 0.0, 0.0)
(484, u'4ED760E07D5EB2C9D672A48234962051', 0.0, 0.0)
(485, u'69B640384237B9F242930FF346877F20', 0.0, 0.0)
(486, u'66DA43187E07473759E5C9DA5C76A8A5', 0.0, 0.0)
(487, u'F7D5E13AB7B73F5B4DA904CE565A76E3', 0.0, 0.0)
(488, u'265F8F2BFCD415DDFF8F1E79416D89A7', 0.0, 0.0)
(489, u'778C0EB59300019354FBACC492D08020', 0.0, 0.0)
(490, u'A3B28B94BA47DB203AA4BE5301A24E98', 0.0, 0.0)
(491, u'39B23F573532CAB08B6D08E852C85E2C', 0.0, 0.0)
(492, u'A7922EF72913D830FC3611D1AEDE5803', 0.0, 0.0)
(493, u'2DB04D5A33253A8FDD4FA9E68634DEE2', 0.0, 0.0)
(494, u'AD9C3EBD8191439D73744FF42F93EA72', 0.0, 0.0)
(495, u'31C9D8A745DA4951EC548078319AA5BC', 0.0, 0.0)
(496, u'B0A8D249DF207138B0690B1BDA075E47', 0.0, 0.0)
(497, u'37052FF86168FB5CC29D57B67338B3C5', 0.0, 0.0)
(498, u'448BF442FA3D1AB781E85521F69612C3', 0.0, 0.0)
(499, u'7BABFC9AA1A8515E9C4F8718EA99516B', 0.0, 0.0)
(500, u'8E7B233E54D5C9E936F20A38AD45D4EC', 0.0, 0.0)
(501, u'A8A36117DDE303271DCDBC175D766CA1', 0.0, 0.0)
(502, u'DBE763AC7D60C8D9D7D5BEC784FE36A0', 0.0, 0.0)
(503, u'CB7710D369A89C310D62CC316B1A1544', 0.0, 0.0)
(504, u'553EE4567A894578AF0B8B0D9353563B', 0.0, 0.0)
(505, u'B1F42C9DFA429348F7605DBEFA2785AA', 0.0, 0.0)
(506, u'10214B828E45417B9E2CA7EF597EFD53', 0.0, 0.0)
(507, u'446A75477B11B02986F6734D04716A57', 0.0, 0.0)
(508, u'93989CC1957366E34588BA387FDCBE8B', 0.0, 0.0)
(509, u'1F81F36337B4613C3DD8B0944D65F09F', 0.0, 0.0)
(510, u'055678B3CF29E67E74ADE17B49DAE1E3', 0.0, 0.0)
(511, u'4671637EB8B025523761AAB186A6EB37', 0.0, 0.0)
(512, u'021407B3405AE3DE041116676732E081', 0.0, 0.0)
(513, u'2B32F3B9A0E9DBEAA0450C4488219021', 0.0, 0.0)
(514, u'5F78868B56717D4DBA2E7DF5320BB3AB', 0.0, 0.0)
(515, u'CA93983B6B7F17ADB263F098FEC68F91', 0.0, 0.0)
(516, u'A6176C79BD2B8DBAAD4A4B6861ECF8B5', 0.0, 0.0)
(517, u'92D2CC49C707D95B1886D3B358EB10CF', 0.0, 0.0)
(518, u'686A8670377C71FA7A0EBB3029C4D9A8', 0.0, 0.0)
(519, u'1FE6F6AEE1720DD2492077DAD44CC319', 0.0, 0.0)
(520, u'944260F40646D262CE78B48A30C01E11', 0.0, 0.0)
(521, u'F4D39892A31D58AFD5E3FD34C3CBBCF7', 0.0, 0.0)
(522, u'5BE0C5D2D1E70E77343F38DAD6B80D8E', 0.0, 0.0)
(523, u'C43013217E7CC24C92D78A110A628331', 0.0, 0.0)
(524, u'DDAC009ED1857CB0C710656352232DDB', 0.0, 0.0)
(525, u'7E7F0A78C5F7572A49B6786775C2B0E4', 0.0, 0.0)
(526, u'BB9770BA6E5A891A598192379A92942B', 0.0, 0.0)
(527, u'A3837F7F6936274D80517C99692A6E94', 0.0, 0.0)
(528, u'1F7C3FC42E392BAE2D66ADDC6183313E', 0.0, 0.0)
(529, u'BBEDF867C10236C75E9A2CCF108D9A9C', 0.0, 0.0)
(530, u'2BA6D36128784F00B77EE267750CC816', 0.0, 0.0)
(531, u'2AEBE8D271DF2B4BFFBC6A0985BC40D5', 0.0, 0.0)
(532, u'FA8BBD72E098DFA65E4E78B57CD1F696', 0.0, 0.0)
(533, u'B388B3D6C2CEAEDAF792C8CC4EC899A3', 0.0, 0.0)
(534, u'200C6DF4921647DE4E2C97D9D6F21E95', 0.0, 0.0)
(535, u'54A13573F017378329BB54D5ACB62687', 0.0, 0.0)
(536, u'ED4059EE791D30E7D394A667D14B2286', 0.0, 0.0)
(537, u'C7D6610E315972138BFF0F9138C13DCF', 0.0, 0.0)
(538, u'0B27C289BAA0D18BFACDF192E582BB86', 0.0, 0.0)
(539, u'0E0CDBDD0080490704B0BCB3679A6930', 0.0, 0.0)
(540, u'3431953B313B997A26A86A63EA3D63C4', 0.0, 0.0)
(541, u'E8BDCDD836D7D006D34331D7E53F96B9', 0.0, 0.0)
(542, u'2501EF260470B190992E9B407F2CC9A8', 0.0, 0.0)
(543, u'B8F3B3DC8E343E739072558CE8FDD652', 0.0, 0.0)
(544, u'575991F95AB0A00D6877052389FB76CC', 0.0, 0.0)
(545, u'8D699E21D9C0AFF34619CB203C7AA9C0', 0.0, 0.0)
(546, u'CB168D5C21B574448D4B7492FDC9B087', 0.0, 0.0)
(547, u'DAC03412C98AA77E28263E01BCC90DC0', 0.0, 0.0)
(548, u'9FF003780B7E37F2570FA123867DD71A', 0.0, 0.0)
(549, u'B9F18B3B324E089FB7BC073879B46F9C', 0.0, 0.0)
(550, u'0A5E9614BEC3DB2C74CE65785C1C0CAA', 0.0, 0.0)
(551, u'9F822F3B7D12836246E3937894C57E0F', 0.0, 0.0)
(552, u'D4326C4085562166225C97EF4B19BA3F', 0.0, 0.0)
(553, u'1B44178D81DC2863B0F511A17482AAAD', 0.0, 0.0)
(554, u'8EA51DB99E99627AA9CF36C501AABF20', 0.0, 0.0)
(555, u'F42378C956A34C22BE11D666642A767C', 0.0, 0.0)
(556, u'DF4726E7234E451DDE29448B95B4CD1B', 0.0, 0.0)
(557, u'A687ED09C21837121D1D0D9257495625', 0.0, 0.0)
(558, u'AE4A5B122725A715F78D7628F0D9A1DA', 0.0, 0.0)
(559, u'DF573800D5CBB32E73E669174BCDDB3F', 0.0, 0.0)
(560, u'BDB5DA63400E9EA0A5671021D581B989', 0.0, 0.0)
(561, u'A8F288A1B926F98E3A38200A47CD5586', 0.0, 0.0)
(562, u'ED65965E1F8406C72EFC43F7D621D9F1', 0.0, 0.0)
(563, u'9F856EEEFE9DF3B39B1BC73D9C906327', 0.0, 0.0)
(564, u'0BE26D2812D099AEAA3ECD92B178A629', 0.0, 0.0)
(565, u'FAC73034343606F0AC00CDDAAD3BC569', 0.0, 0.0)
(566, u'04677807ECCBE9B99195882154B91BFA', 0.0, 0.0)
(567, u'A5E8E403E44582653BD709AB2D39412D', 0.0, 0.0)
(568, u'D7B5BF9729C8349E889285E0789837EF', 0.0, 0.0)
(569, u'3CD18AD4D32C0D35B7510025ECC90F4E', 0.0, 0.0)
(570, u'FB1A650E95EDEBE11C8F067B48B1D2F7', 0.0, 0.0)
(571, u'FAF7F3896503CBD9C4635531A45C7190', 0.0, 0.0)
(572, u'DDF05CFED65A9882C7647194C85B716F', 0.0, 0.0)
(573, u'EB18E0137493EE92CE6710A2E80B7002', 0.0, 0.0)
(574, u'23B8D71C8BEFB8B1F083A97A93EED963', 0.0, 0.0)
(575, u'31A27A0E767C48CEC92FC51FEA92AFC0', 0.0, 0.0)
(576, u'326E79F41320F4757B1EF5F0A46ECAEF', 0.0, 0.0)
(577, u'A7004773248C9080601DF22EB6A660AE', 0.0, 0.0)
(578, u'A13DBD3C0B29655A0FE49C22C4FCC370', 0.0, 0.0)
(579, u'35E687F8E9DE3B4751D13125ABF160E4', 0.0, 0.0)
(580, u'8B8E322FCFA5C5D2B2524204B29FEC8C', 0.0, 0.0)
(581, u'7A5A5484776D77F74F9F5DA34964836A', 0.0, 0.0)
(582, u'7FFD8E6C7A7A3335190B56B5710AB0BB', 0.0, 0.0)
(583, u'8D415EC11CCA4694A6088B2628CA6274', 0.0, 0.0)
(584, u'F5C0B293278532D2B0849410EF8FCFC0', 0.0, 0.0)
(585, u'CB07196D7F7620228EF5F920865EAD4D', 0.0, 0.0)
(586, u'8C762CFF5A7FBF0B31217DF8A00CE487', 0.0, 0.0)
(587, u'61B621391F3BE63494A1F1A32FFBB19B', 0.0, 0.0)
(588, u'2EAE97056B027AEDF5FE0D952197C114', 0.0, 0.0)
(589, u'6FA87C39D4BE2DC99B5C818A57B6BF10', 0.0, 0.0)
(590, u'157DF6A1A90875DC06F8198AB5B6E5B9', 0.0, 0.0)
(591, u'84FC3CE5FA2453257BA09790E8F56397', 0.0, 0.0)
(592, u'2E9F5FF7EC305C18EAA4B9DFD5970FEF', 0.0, 0.0)
(593, u'C65990BF0060FB2128E61857E83A8DC2', 0.0, 0.0)
(594, u'6469222748A7FFD7D9BBE79BBC7980F9', 0.0, 0.0)
(595, u'BA574E5FF2B59988F9EFC8D4A7883043', 0.0, 0.0)
(596, u'4E3826B3CF2FA1A223B3E2768D3642C6', 0.0, 0.0)
(597, u'EEE1D521649E34B855932A22FFD7921B', 0.0, 0.0)
(598, u'AEFC7EA29297519917A8FE3CBAC111F2', 0.0, 0.0)
(599, u'F9C92336D487F7BAC5199AE6231334FA', 0.0, 0.0)
(600, u'32DA5BF5E3CB32E4122921122EB98F01', 0.0, 0.0)
(601, u'05535E1576A63644FED03E677FE3FF81', 0.0, 0.0)
(602, u'F1AB5314769C819FF7D9256E6F8DCCB2', 0.0, 0.0)
(603, u'10B3400518F5B89DCAEB571196CC8462', 0.0, 0.0)
(604, u'6B026402C705BAE4C8A599A8A0A7FB0F', 0.0, 0.0)
(605, u'4B878EBCBFF548B584AAF64C7F2DE419', 0.0, 0.0)
(606, u'F7DE47501F68DA91D91CA2765FB66C1A', 0.0, 0.0)
(607, u'9890A7727349C661A6790867A05AD332', 0.0, 0.0)
(608, u'A176577F2FD56BBB37E77EB8AC72F826', 0.0, 0.0)
(609, u'286A397377EAD9A468ABF9679BAB3433', 0.0, 0.0)
(610, u'9BCDF5F3734EDD8175109FB5B4FCC552', 0.0, 0.0)
(611, u'0B2183BF22BFA08E335E98F83A119C4C', 0.0, 0.0)
(612, u'1770A28BE32787F289725DC7AA4F5404', 0.0, 0.0)
(613, u'853E822E8F747BEAF4DFA90BDD59015D', 0.0, 0.0)
(614, u'04E1143A3701E75FCE56332A1EA2D285', 0.0, 0.0)
(615, u'C3043B69C2712B7CDB1A92D2985A7F7E', 0.0, 0.0)
(616, u'9C7A933B4436210CB01E210A7178E7B4', 0.0, 0.0)
(617, u'580B999793BF2ED231C72C168C64B87D', 0.0, 0.0)
(618, u'F48F9236F5E1F26A31C4A84CA2FBF96A', 0.0, 0.0)
(619, u'2E2EAF83DF2920E368CCA07E629AD9BA', 0.0, 0.0)
(620, u'6B9F088174A7D7DB533BEF9371110728', 0.0, 0.0)
(621, u'F7553B184A66D997F93DE3C0D0E37EF8', 0.0, 0.0)

(622, u'9BBDC5F6443725885212B584C97500AE', 0.0, 0.0)
(623, u'9593BA87E1A8746CB890F3BF7330DEC8', 0.0, 0.0)
(624, u'68123806C68C66E761CD3F43C7F01DB9', 0.0, 0.0)
(625, u'5BA1ED07943FE0FD65A47E5115F7DE35', 0.0, 0.0)
(626, u'BDDAB83276285D0B8245519B6CFA09A0', 0.0, 0.0)
(627, u'42945F876C600F7AD4D7AC218EEEABCF', 0.0, 0.0)
(628, u'0DDEDEC7506F9F3C047CB7C1BBCE3C13', 0.0, 0.0)
(629, u'34F67C37773DA584BC8B58A0BCA36CDE', 0.0, 0.0)
(630, u'8B47DF3927FF7C948CE369F3677A116B', 0.0, 0.0)
(631, u'4E715FA27EAD2A916045258BD4CDA543', 0.0, 0.0)
(632, u'E3F30AF8DB00E7BBB341C47C3CA26537', 0.0, 0.0)
(633, u'7A7A030373280B253041C1FC37ABD73A', 0.0, 0.0)
(634, u'0BB93031A2D49AFC043888589EBBAC1F', 0.0, 0.0)
(635, u'1255E0A0C9104CA5A9C510061B7AB810', 0.0, 0.0)
(636, u'B3394EC38C042BEAD0BA62AC0231C085', 0.0, 0.0)
(637, u'D41190CD69A45E991B54A82DD6846C99', 0.0, 0.0)
(638, u'E1725C5017AF3B9E5754539A15EAEAB8', 0.0, 0.0)
(639, u'7C376320795FA9ED7846C6261E8F61A4', 0.0, 0.0)
(640, u'8AFB5222CF8414393BBFDA98A07DC6F1', 0.0, 0.0)
(641, u'707662769308422CAB6EF6903CAB353E', 0.0, 0.0)
(642, u'8AD8992349104BA4F550E574B1E83A83', 0.0, 0.0)
(643, u'E05B5285F058C30B9B44D830F920199D', 0.0, 0.0)
(644, u'AB260E910B7266C5B5CCEE2A1757ED8D', 0.0, 0.0)
(645, u'DD376A8B1A1A6A4247D646E216B97E6F', 0.0, 0.0)
(646, u'610F9E11662A8BB50FBF21F2D89B8ABF', 0.0, 0.0)
(647, u'0588E242F1CFB638F5E375225F70F600', 0.0, 0.0)
(648, u'A8D10EE0B53C8283CD8BDBA48F5ECA4F', 0.0, 0.0)
(649, u'59C84D00DE7B98DEC4F0E2E42CDCFEF0', 0.0, 0.0)
(650, u'2A3EECEC0A6B81DEF39A214E207A3E85', 0.0, 0.0)
(651, u'DEA03508FE8352CDA032066130555E30', 0.0, 0.0)
(652, u'B022B31EC6162969EB2B0D8D3C828B3F', 0.0, 0.0)
(653, u'C67C9AB9FF7C85912AA51240A7AE95B3', 0.0, 0.0)
(654, u'9C7623E6EB44EC25D00AC852FCC84FEA', 0.0, 0.0)
(655, u'00C28A31585EB6A4FBD52F502BF95A69', 0.0, 0.0)
(656, u'FC6651781644D7CF3F46B94084333E3F', 0.0, 0.0)
(657, u'EADB626D2F8C0121BEEACBFBBC829044', 0.0, 0.0)
(658, u'29A93C7062BBA96814506B889F499C27', 0.0, 0.0)
(659, u'63728E8AAEA967910BBB65F911C9578A', 0.0, 0.0)
(660, u'87887D9A733857BED9B7660A0976430D', 0.0, 0.0)
(661, u'2DFE85445DE223C1CB5674AAB7F0ADA2', 0.0, 0.0)
(662, u'0EF2CC88922FFB16E4A6A729C2408F41', 0.0, 0.0)
(663, u'E6AE3AADE432C242455B1E6C084B5627', 0.0, 0.0)
(664, u'B994FFEF2D67ACA9CD7292EA6E5C8381', 0.0, 0.0)
(665, u'5DA805D1ED364A33D3B1CEFB3AE409E3', 0.0, 0.0)
(666, u'923445165FBE1848BC8094E97A0D1D84', 0.0, 0.0)
(667, u'029AE48B283B9F6A44F38FCF2ACFFA67', 0.0, 0.0)
(668, u'0D5442B126E456224CB5FE521E11D574', 0.0, 0.0)
(669, u'AA522972CBEF7799FBD0B038255CF79A', 0.0, 0.0)
(670, u'3D1A497673436DD642DDBFA536D4F4CC', 0.0, 0.0)
(671, u'98743073FE2DD8486EF1E3F90E2DCFC0', 0.0, 0.0)
(672, u'60A9012CA32AE5A4A252A3D66ADD3A77', 0.0, 0.0)
(673, u'A4FE8AE33B17DD32C098B355F14E0B46', 0.0, 0.0)
(674, u'7CCEFA334E0AD0FD57E62887A6E3BBD4', 0.0, 0.0)
(675, u'E392124601C90CE5CC23B16C02565B9D', 0.0, 0.0)
(676, u'CBDD94A185DF5C44A12C7990690E854E', 0.0, 0.0)
(677, u'A004CF7EEAC31E5D0753EA005D0B5C47', 0.0, 0.0)
(678, u'0EBEDE1A31A220F07DED8868FED96D77', 0.0, 0.0)
(679, u'901D32A90BC3208127CE9E95B2CE1A5E', 0.0, 0.0)
(680, u'21AEFBFB54968EFF183F838719E8AC09', 0.0, 0.0)
(681, u'FB7CD4A10854DDFC079C52755F5D871F', 0.0, 0.0)
(682, u'1DFC6A39D3A31C1E978B5D187C78B2FB', 0.0, 0.0)
(683, u'5BA45443DA780366AEA70E518772FC64', 0.0, 0.0)
(684, u'7BDFCB3EDF32005225892AC41408E198', 0.0, 0.0)
(685, u'80E2EBA134DF9CFF15198654CAEC670D', 0.0, 0.0)
(686, u'B8C520B78821F4AD5767BCC36B0C7D27', 0.0, 0.0)
(687, u'E80CD04ACA95FD1B5295643AACE1B3FE', 0.0, 0.0)
(688, u'FD4399F6CE7A981717E27F5830A96BF9', 0.0, 0.0)
(689, u'766B5A77C8FAD320725EA412DB1C0D69', 0.0, 0.0)
(690, u'26B0BCE9FCC17913CBFA692E1D37924E', 0.0, 0.0)
(691, u'F765ADE97EEB1936DB74E8A64AEBF032', 0.0, 0.0)
(692, u'793A21B906E932108BC69BC47DFD6682', 0.0, 0.0)
(693, u'5C22FCB556340CF467CCB04C04C111CC', 0.0, 0.0)
(694, u'229977CE820A867997038126573E2C6F', 0.0, 0.0)
(695, u'8389DE881B89AA699971CE1705C1A4F0', 0.0, 0.0)
(696, u'FD6535949C878F2E224E13CC965F34BA', 0.0, 0.0)
(697, u'9185C00171DA5A2D6D0F52CB9B29A22F', 0.0, 0.0)
(698, u'45C8EF20B3924E1D608458B61881402F', 0.0, 0.0)
(699, u'72AF16700C5275AA9A79425E178E1C66', 0.0, 0.0)
(700, u'321F8B8DE5163065F3D9CD113B2729B5', 0.0, 0.0)
(701, u'38ACEBC37F6284821125EEF673F845E2', 0.0, 0.0)
(702, u'9F80BD328ADEF77CCE1A0CB2B847BEC0', 0.0, 0.0)
(703, u'D72A4E0723D9B54439CC4B2817E2EDE1', 0.0, 0.0)
(704, u'DF320125F156E1CB9CC263574DB98176', 0.0, 0.0)
(705, u'0231E7E1C2C76067FD30DF1ACC74E55B', 0.0, 0.0)
(706, u'135FF082695808B2CE09685A7A5BA0AF', 0.0, 0.0)
(707, u'8A945A478D5ABC903536956922EACF4B', 0.0, 0.0)
(708, u'3AEF07B1461F9059CF22C2DE48D0715F', 0.0, 0.0)
(709, u'9D7F172D19EE5FD4CE28AFD7A7FCCFB5', 0.0, 0.0)
(710, u'D24C985EFB4EC17117A9069E90F2E5E0', 0.0, 0.0)
(711, u'01B3427F65D21065CACFC96FA616A525', 0.0, 0.0)
(712, u'2126FAC51137500BD19B03DA5CC30C9D', 0.0, 0.0)
(713, u'2F1313320F83C8DA7E2B4A7AC92F2B50', 0.0, 0.0)
(714, u'AB8819991055919DFAD6EC15E07820E7', 0.0, 0.0)
(715, u'7EB7BA194424FBBAC854B68784B32A55', 0.0, 0.0)
(716, u'31FBB39D9009D7CD34BEC3CBD867234B', 0.0, 0.0)
(717, u'DB89D7430EC1B48314639A3458ADED41', 0.0, 0.0)
(718, u'146C76AF3510967079E97EB0293890EC', 0.0, 0.0)
(719, u'167A7EF9F9F0F33846598AADAAE143DB', 0.0, 0.0)
(720, u'3030EB7DFF8330FD136FCD06B8A5452B', 0.0, 0.0)
(721, u'E0689B4C0D3FCC8976F88846E9082FDD', 0.0, 0.0)
(722, u'48E916EF231C2D6F73C93E0E14A83109', 0.0, 0.0)
(723, u'D6BC6F167E70B4572E14BC836601DE9A', 0.0, 0.0)
(724, u'27B7033540A7A6BF1212D46B8A954812', 0.0, 0.0)
(725, u'41D4985C406C9719A23979E4A0F8E170', 0.0, 0.0)
(726, u'4FF10EFD045067915DA57F4419596704', 0.0, 0.0)
(727, u'F68549DBD32A3A4BB3F4362A83D996C2', 0.0, 0.0)
(728, u'EF4702C80739F933C07C53F7D9145032', 0.0, 0.0)
(729, u'3C57B3A44E1DD2ED89D95CFA6AC548F4', 0.0, 0.0)
(730, u'5C4369973CBDF42B3287992DA00D7E0C', 0.0, 0.0)
(731, u'4E9A16FD53628ED1423270903BEDD6D1', 0.0, 0.0)
(732, u'41A7A07778FB4F1E7E028B8DC04323CC', 0.0, 0.0)
(733, u'317C3F1928B0D6548BD7758E2ACCB9EB', 0.0, 0.0)
(734, u'E2AABAA2185D3F93597D36BFBA178F6F', 0.0, 0.0)
(735, u'F589CABCE692B53483F57CB0B13D998C', 0.0, 0.0)
(736, u'5E28E7EF794F59558EB708708B413DC7', 0.0, 0.0)
(737, u'C0E0E8D36374AD0A00D063F3D2F7E3AF', 0.0, 0.0)
(738, u'055BFA9CF382EEE22D4F2046BA5AA830', 0.0, 0.0)
(739, u'FEDBD0247D3BFCA838E9DB3BDAC494BC', 0.0, 0.0)
(740, u'359F094C688D2C17D6E1C1AA416B5C9E', 0.0, 0.0)
(741, u'394370736CE8731FADE2497C7A67962B', 0.0, 0.0)
(742, u'704923BD6CDD2E152FEE361ACAD01ED6', 0.0, 0.0)
(743, u'A2E8BF29F72A15E879D65FBEC4B5FD3E', 0.0, 0.0)
(744, u'7A7F495546803CB2307CF50CDED90C11', 0.0, 0.0)
(745, u'73007515E8C780F3E1FB1953D2BDD652', 0.0, 0.0)
(746, u'C13F582CCA58C48AB34940C96A9468D8', 0.0, 0.0)
(747, u'A36E9720C46B7D2B9142F335323A4526', 0.0, 0.0)
(748, u'4DBCC8E9053D1A0E02C26631C3CB76B5', 0.0, 0.0)
(749, u'269C6E1DA22F2BD17E47EB307DE83998', 0.0, 0.0)
(750, u'96C2A3A7F7C5D6C6546D67ACE23D91E7', 0.0, 0.0)
(751, u'7A764586E1A6F66F45D402F75CB2AA75', 0.0, 0.0)
(752, u'B15BE2404F509A2424AAB0DD26282B74', 0.0, 0.0)
(753, u'1D0ED9DA72D251532558C1C73F339D21', 0.0, 0.0)
(754, u'EFB4F2B80EDE68172747A1DE92874427', 0.0, 0.0)
(755, u'AEB68BEEBA5C9B3DADF0965CC1F3B659', 0.0, 0.0)
(756, u'3E84D636D9A3E39F9E993DFBFCEFCF6B', 0.0, 0.0)
(757, u'D85F9BF6166C42A6320AB86A38820370', 0.0, 0.0)
(758, u'7B410DE352E75238760AF606F4791476', 0.0, 0.0)
(759, u'EE45447AC5BE537AA7777E558BD0EA25', 0.0, 0.0)
(760, u'21134BAC7D2A6CD15BC2BDC4E51654D6', 0.0, 0.0)
(761, u'C431E76BFED6D4BD8D5AAB1B454AD2CC', 0.0, 0.0)
(762, u'14B249CEC34D2A4EA098F3DA1FEFF9CF', 0.0, 0.0)
(763, u'0F3C80FBCEC0DF35E8C2CFF3E6F96BC8', 0.0, 0.0)
(764, u'A0918B3955154273945F93549FF140FB', 0.0, 0.0)
(765, u'E8679DF2926AB65B471352FF3D0CA7C1', 0.0, 0.0)
(766, u'6FD226B3A849747989A0C5253A4D6D6F', 0.0, 0.0)
(767, u'18A4D1D2FABF7071B530661FF6F75403', 0.0, 0.0)
(768, u'733EE0BFF35C12317BA3B5E481DC871A', 0.0, 0.0)
(769, u'64C2AE3C25C7CE2D9777727CF8B17338', 0.0, 0.0)
(770, u'23FC1DEBBF76082D43166E319918F7CE', 0.0, 0.0)
(771, u'E0F1BA95689ED78307B5E714F69E1252', 0.0, 0.0)
(772, u'673A17D4D39E03192FF5E1669D5A23C6', 0.0, 0.0)
(773, u'F0C0E61BF4D0554772CC79A72F43DF5E', 0.0, 0.0)
(774, u'BAC95593F0EDF73BFB845238DE555A36', 0.0, 0.0)
(775, u'2576FF597FFB9B806E785E3F710BE7CA', 0.0, 0.0)
(776, u'7F7F51678DEB563B33B79A4C43AB7070', 0.0, 0.0)

(777, u'DC231D4C6532FC8B869A4C5AF3B48F27', 0.0, 0.0)
(778, u'036093EA6EE9533D7AE4343D7BA523AD', 0.0, 0.0)
(779, u'72D42FE3C0CD15D8295155B1E6922E4D', 0.0, 0.0)
(780, u'A6426747B3BC92DB126C8AC27A5917A8', 0.0, 0.0)
(781, u'F1CFB13269FC90DB311131B71F82E776', 0.0, 0.0)
(782, u'325F5220F5264120CC54495230FFA8ED', 0.0, 0.0)
(783, u'2AA2847282A745B356261E8D43E783E4', 0.0, 0.0)
(784, u'00E1ED486DCC8EC45179B6A0D705A7AA', 0.0, 0.0)
(785, u'7C5146AFFC0A433D39341E0E073E68B1', 0.0, 0.0)
([0.2], [0.3333333333333333])

In [ ]:
df_test_article1.head()

In [ ]:
df_test_article1[df_test_article1['article_contentid'].isin(list(df_trData[df_trData['user_id'] == 'B3B51127D5FB5B39E4273BE65CACA28C']['article_contentid']))]

In [ ]:
df_ua_map[df_ua_map['user_id'] == '5BA72C11B1E94BA50F1E66F4B1362CE6']

In [ ]:
list(df_trData[df_trData['user_id'] == '5BA72C11B1E94BA50F1E66F4B1362CE6']['article_contentid'])

In [ ]:
t_u.head()

In [ ]:
t_u['index'] = t_u.index
t_u_group = t_u.groupby(by=[i for i in t_u.columns if i != 'index']).agg({'index':'nunique'}).reset_index(drop=True)
t_u_group = t_u_group.sort_values(by=['index'], ascending=False)
t_u_group.head()