In [1]:
import pandas as pd
import pymongo
import pprint
from collections import Counter
import numpy as np
from sklearn.neighbors import NearestNeighbors

In [2]:
from pymongo import MongoClient
client = MongoClient()

In [3]:
db = client.msbd5001

### Load Training Data

In [4]:
trData = db.tr_data

In [5]:
trData = trData.find({})
trData = list(trData)
df_trData = pd.DataFrame(trData)
df_trData.head()

,_id,article_contentid,article_dwelltime,article_l1_categories,article_l2_categories,article_lan,article_publisher,article_title,article_update_time,dt,...,user_country,user_gender,user_gender_weight,user_gp_frequency,user_gp_keywords,user_id,user_maxmind_city,user_maxmind_country_iso_code,user_maxmind_state_iso_code,user_model
0,5a0c46d302c885ab9a82a488,1l5c17e72og_us,NaN,NaN,NaN,en,NaN,NaN,NaN,20170111,...,US,2.0,0.763295,"{'COMMUNICATION': 1, 'TOOLS': 5, 'ENTERTAINMEN...",NaN,614E304DE3B07EBCDD4E11382578EF5A,Glen Allen,US,VA,SPH-L710
1,5a0c46d302c885ab9a82a489,mQ56173a2KT_us,NaN,NaN,NaN,en,NaN,NaN,NaN,20170117,...,US,2.0,0.763295,"{'COMMUNICATION': 1, 'TOOLS': 5, 'ENTERTAINMEN...",NaN,614E304DE3B07EBCDD4E11382578EF5A,Glen Allen,US,VA,SPH-L710
2,5a0c46d302c885ab9a82a491,Bm702d2afz8_us,132.0,"[{'weight': 0.47897132942480036, 'name': '1000...","[{'weight': 0.883356596807302, 'name': '100064...",en_US,Buzz Nick,What Was Discovered In The Ocean Is Absolutely...,1.484198e+09,20170112,...,US,2.0,0.539806,"{'TOOLS': 3, 'MUSIC_AND_AUDIO': 2, 'GAME_CASUA...",NaN,56F27AD705D8564F7900470AA793DBD2,Concord,US,NC,E6782
3,5a0c46d302c885ab9a82a4d2,nW7c6db65KY_us,6.0,"[{'weight': 0.9448785614035117, 'name': '10006...","[{'weight': 0.6082519226086233, 'name': '10006...",en_US,Reuters,Trump may reinstate secret CIA 'black site' pr...,1.485381e+09,20170126,...,US,2.0,NaN,"{'TOOLS': 1, 'COMMUNICATION': 2, 'SOCIAL': 1, ...",NaN,F9B30E5BDD8009EBA52C1F5518D9E332,Duluth,US,GA,HTC 2PST2
4,5a0c46d302c885ab9a82a53e,sr1008,6.0,NaN,NaN,en,NaN,NaN,NaN,20170118,...,US,NaN,NaN,{'FINANCE': 1},NaN,A2B8669B00452B841DF3C3C7ECBE0E75,Orange,US,CA,VS985 4G

In [6]:
df_trData = df_trData[~df_trData['user_gp_frequency'].isnull()]
df_trData = df_trData[~df_trData['article_title'].isnull()]

In [144]:
df_ua_map = df_trData[['user_id', 'article_contentid']]
df_ua_map.shape

(168276, 2)

In [145]:
df_ua_map = df_ua_map.drop_duplicates(subset = ['user_id', 'article_contentid'], keep='first')
df_ua_map.shape

(139811, 2)

### Prepare User View

In [9]:
df_user = df_trData[['user_id', 'user_age', 'user_gender', 'user_brand', 'user_maxmind_city', 'user_model']]
df_user.head()

,user_id,user_age,user_gender,user_brand,user_maxmind_city,user_model
2,56F27AD705D8564F7900470AA793DBD2,4.0,2.0,kyocera,Concord,E6782
3,F9B30E5BDD8009EBA52C1F5518D9E332,1.0,2.0,htc,Duluth,HTC 2PST2
5,614E304DE3B07EBCDD4E11382578EF5A,2.0,2.0,samsung,Glen Allen,SPH-L710
6,CD2F2B61135DB27BA3230F91466ED793,3.0,2.0,samsung,Lebanon,SAMSUNG-SM-G890A
7,614E304DE3B07EBCDD4E11382578EF5A,2.0,2.0,samsung,Glen Allen,SPH-L710

In [10]:
df_user['user_age'] = df_user['user_age'].fillna(0)
df_user['user_gender'] = df_user['user_gender'].fillna(0)
df_user['user_brand'] = df_user['user_brand'].str.lower().fillna('na')
df_user['user_maxmind_city'] = df_user['user_maxmind_city'].str.lower().fillna('na')
df_user['user_model'] = df_user['user_model'].str.lower().fillna('na')
df_user.head()

//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,user_id,user_age,user_gender,user_brand,user_maxmind_city,user_model
2,56F27AD705D8564F7900470AA793DBD2,4.0,2.0,kyocera,concord,e6782
3,F9B30E5BDD8009EBA52C1F5518D9E332,1.0,2.0,htc,duluth,htc 2pst2
5,614E304DE3B07EBCDD4E11382578EF5A,2.0,2.0,samsung,glen allen,sph-l710
6,CD2F2B61135DB27BA3230F91466ED793,3.0,2.0,samsung,lebanon,samsung-sm-g890a
7,614E304DE3B07EBCDD4E11382578EF5A,2.0,2.0,samsung,glen allen,sph-l710

In [11]:
df_user = pd.get_dummies(df_user, columns=['user_age', 'user_gender','user_brand', 'user_maxmind_city', 'user_model'])
df_user = df_user.fillna(0)
df_user = df_user.drop_duplicates(subset=['user_id'], keep='first')
df_user.head()

,user_id,user_age_0.0,user_age_1.0,user_age_2.0,user_age_3.0,user_age_4.0,user_gender_0.0,user_gender_1.0,user_gender_2.0,user_brand_acer,...,user_model_z955l,user_model_z958,user_model_z959,user_model_z963u,user_model_z963vl,user_model_z970,user_model_z981,user_model_z987,user_model_z988,user_model_zte_n9511
2,56F27AD705D8564F7900470AA793DBD2,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,F9B30E5BDD8009EBA52C1F5518D9E332,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5,614E304DE3B07EBCDD4E11382578EF5A,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
6,CD2F2B61135DB27BA3230F91466ED793,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
15,8EE461BA3AA2595AC91FCDD833EC1711,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
df_user.shape

(7857, 3010)

### Prepare App View

In [13]:
df_app = df_trData[['user_id', 'user_gp_frequency']]
df_app.head()

,user_id,user_gp_frequency
2,56F27AD705D8564F7900470AA793DBD2,"{'TOOLS': 3, 'MUSIC_AND_AUDIO': 2, 'GAME_CASUA..."
3,F9B30E5BDD8009EBA52C1F5518D9E332,"{'TOOLS': 1, 'COMMUNICATION': 2, 'SOCIAL': 1, ..."
5,614E304DE3B07EBCDD4E11382578EF5A,"{'COMMUNICATION': 1, 'TOOLS': 5, 'ENTERTAINMEN..."
6,CD2F2B61135DB27BA3230F91466ED793,"{'COMMUNICATION': 1, 'TOOLS': 3, 'PHOTOGRAPHY'..."
7,614E304DE3B07EBCDD4E11382578EF5A,"{'COMMUNICATION': 1, 'TOOLS': 5, 'ENTERTAINMEN..."

In [14]:
df_app_category = pd.DataFrame.from_records(df_app['user_gp_frequency'].tolist())
df_app_category = df_app_category.fillna(0.1)#change from fillna(0) to fillna(0.1)
df_app_category.head()

,ART_AND_DESIGN,AUTO_AND_VEHICLES,BEAUTY,BOOKS_AND_REFERENCE,BUSINESS,COMICS,COMMUNICATION,DATING,EDUCATION,ENTERTAINMENT,...,PHOTOGRAPHY,PRODUCTIVITY,SHOPPING,SOCIAL,SPORTS,TOOLS,TRANSPORTATION,TRAVEL_AND_LOCAL,VIDEO_PLAYERS,WEATHER
0,0.1,0.1,0.1,0.1,0.1,0.1,1.0,0.1,0.1,0.1,...,0.1,0.1,0.1,0.1,0.1,3.0,0.1,0.1,0.1,0.1
1,0.1,0.1,0.1,0.1,0.1,0.1,2.0,0.1,0.1,0.1,...,0.1,0.1,0.1,1.0,0.1,1.0,0.1,0.1,0.1,0.1
2,0.1,0.1,0.1,1.0,1.0,0.1,1.0,0.1,0.1,2.0,...,0.1,3.0,1.0,1.0,0.1,5.0,0.1,0.1,2.0,0.1
3,0.1,0.1,0.1,0.1,0.1,0.1,1.0,0.1,0.1,0.1,...,2.0,1.0,0.1,1.0,0.1,3.0,0.1,1.0,0.1,0.1
4,0.1,0.1,0.1,1.0,1.0,0.1,1.0,0.1,0.1,2.0,...,0.1,3.0,1.0,1.0,0.1,5.0,0.1,0.1,2.0,0.1

In [15]:
df_app = df_app.merge(df_app_category, how='left', left_index=True, right_index=True)
df_app = df_app.drop(['user_gp_frequency'], axis=1)
df_app = df_app.drop_duplicates(subset=['user_id'], keep='first')
df_app.head()

,user_id,ART_AND_DESIGN,AUTO_AND_VEHICLES,BEAUTY,BOOKS_AND_REFERENCE,BUSINESS,COMICS,COMMUNICATION,DATING,EDUCATION,...,PHOTOGRAPHY,PRODUCTIVITY,SHOPPING,SOCIAL,SPORTS,TOOLS,TRANSPORTATION,TRAVEL_AND_LOCAL,VIDEO_PLAYERS,WEATHER
2,56F27AD705D8564F7900470AA793DBD2,0.1,0.1,0.1,1.0,1.0,0.1,1.0,0.1,0.1,...,0.1,3.0,1.0,1.0,0.1,5.0,0.1,0.1,2.0,0.1
3,F9B30E5BDD8009EBA52C1F5518D9E332,0.1,0.1,0.1,0.1,0.1,0.1,1.0,0.1,0.1,...,2.0,1.0,0.1,1.0,0.1,3.0,0.1,1.0,0.1,0.1
5,614E304DE3B07EBCDD4E11382578EF5A,0.1,0.1,0.1,1.0,1.0,0.1,1.0,0.1,0.1,...,0.1,3.0,1.0,1.0,0.1,5.0,0.1,0.1,2.0,0.1
6,CD2F2B61135DB27BA3230F91466ED793,0.1,0.1,0.1,1.0,1.0,0.1,1.0,0.1,0.1,...,0.1,3.0,1.0,1.0,0.1,5.0,0.1,0.1,2.0,0.1
15,8EE461BA3AA2595AC91FCDD833EC1711,0.1,0.1,0.1,0.1,2.0,0.1,4.0,0.1,0.1,...,0.1,0.1,1.0,3.0,0.1,10.0,0.1,3.0,7.0,2.0

In [16]:
df_app = df_app.fillna(0.1)#change from fillna(0) to fillna(0.1)

In [17]:
df_app.shape

(7857, 53)

In [18]:
def sumCat(row):
    l = row.tolist()
    #print l
    row['totalCat'] = sum(l[1:])
    return row

In [19]:
df_app1 = df_app.drop(['user_id'], axis = 1).apply(lambda row: sumCat(row), axis = 1)
df_app1 = df_app[['user_id']].merge(df_app1, how = 'left', left_index=True, right_index=True)
df_app2 = df_app1[df_app1['totalCat'] != 0].drop(['totalCat'], axis = 1)

In [20]:
df_app2.shape

(7857, 53)

In [21]:
df_app2.head()

,user_id,ART_AND_DESIGN,AUTO_AND_VEHICLES,BEAUTY,BOOKS_AND_REFERENCE,BUSINESS,COMICS,COMMUNICATION,DATING,EDUCATION,...,PHOTOGRAPHY,PRODUCTIVITY,SHOPPING,SOCIAL,SPORTS,TOOLS,TRANSPORTATION,TRAVEL_AND_LOCAL,VIDEO_PLAYERS,WEATHER
2,56F27AD705D8564F7900470AA793DBD2,0.1,0.1,0.1,1.0,1.0,0.1,1.0,0.1,0.1,...,0.1,3.0,1.0,1.0,0.1,5.0,0.1,0.1,2.0,0.1
3,F9B30E5BDD8009EBA52C1F5518D9E332,0.1,0.1,0.1,0.1,0.1,0.1,1.0,0.1,0.1,...,2.0,1.0,0.1,1.0,0.1,3.0,0.1,1.0,0.1,0.1
5,614E304DE3B07EBCDD4E11382578EF5A,0.1,0.1,0.1,1.0,1.0,0.1,1.0,0.1,0.1,...,0.1,3.0,1.0,1.0,0.1,5.0,0.1,0.1,2.0,0.1
6,CD2F2B61135DB27BA3230F91466ED793,0.1,0.1,0.1,1.0,1.0,0.1,1.0,0.1,0.1,...,0.1,3.0,1.0,1.0,0.1,5.0,0.1,0.1,2.0,0.1
15,8EE461BA3AA2595AC91FCDD833EC1711,0.1,0.1,0.1,0.1,2.0,0.1,4.0,0.1,0.1,...,0.1,0.1,1.0,3.0,0.1,10.0,0.1,3.0,7.0,2.0

In [22]:
app_category = df_app.drop(['user_id'], axis = 1).columns
app_category

Index(['ART_AND_DESIGN', 'AUTO_AND_VEHICLES', 'BEAUTY', 'BOOKS_AND_REFERENCE',
       'BUSINESS', 'COMICS', 'COMMUNICATION', 'DATING', 'EDUCATION',
       'ENTERTAINMENT', 'EVENTS', 'FAMILY_ACTION', 'FINANCE', 'FOOD_AND_DRINK',
       'GAME_ACTION', 'GAME_ADVENTURE', 'GAME_ARCADE', 'GAME_BOARD',
       'GAME_CARD', 'GAME_CASINO', 'GAME_CASUAL', 'GAME_EDUCATIONAL',
       'GAME_MUSIC', 'GAME_PUZZLE', 'GAME_RACING', 'GAME_ROLE_PLAYING',
       'GAME_SIMULATION', 'GAME_SPORTS', 'GAME_STRATEGY', 'GAME_TRIVIA',
       'GAME_WORD', 'HEALTH_AND_FITNESS', 'HOUSE_AND_HOME',
       'LIBRARIES_AND_DEMO', 'LIFESTYLE', 'MAPS_AND_NAVIGATION',
       'MEDIA_AND_VIDEO', 'MEDICAL', 'MUSIC_AND_AUDIO', 'NEWS_AND_MAGAZINES',
       'PARENTING', 'PERSONALIZATION', 'PHOTOGRAPHY', 'PRODUCTIVITY',
       'SHOPPING', 'SOCIAL', 'SPORTS', 'TOOLS', 'TRANSPORTATION',
       'TRAVEL_AND_LOCAL', 'VIDEO_PLAYERS', 'WEATHER'],
      dtype='object')

## Merge user and app

In [23]:
df_user_app = df_user.merge(df_app2, how = 'left', on = 'user_id')
#df_user_app = df_user_app.drop(['totalCat'], axis = 1)
df_user_app = df_user_app.fillna(0.1) #change from fillna(0) to fillna(0.1)
df_user_app.head()

,user_id,user_age_0.0,user_age_1.0,user_age_2.0,user_age_3.0,user_age_4.0,user_gender_0.0,user_gender_1.0,user_gender_2.0,user_brand_acer,...,PHOTOGRAPHY,PRODUCTIVITY,SHOPPING,SOCIAL,SPORTS,TOOLS,TRANSPORTATION,TRAVEL_AND_LOCAL,VIDEO_PLAYERS,WEATHER
0,56F27AD705D8564F7900470AA793DBD2,0,0,0,0,1,0,0,1,0,...,0.1,3.0,1.0,1.0,0.1,5.0,0.1,0.1,2.0,0.1
1,F9B30E5BDD8009EBA52C1F5518D9E332,0,1,0,0,0,0,0,1,0,...,2.0,1.0,0.1,1.0,0.1,3.0,0.1,1.0,0.1,0.1
2,614E304DE3B07EBCDD4E11382578EF5A,0,0,1,0,0,0,0,1,0,...,0.1,3.0,1.0,1.0,0.1,5.0,0.1,0.1,2.0,0.1
3,CD2F2B61135DB27BA3230F91466ED793,0,0,0,1,0,0,0,1,0,...,0.1,3.0,1.0,1.0,0.1,5.0,0.1,0.1,2.0,0.1
4,8EE461BA3AA2595AC91FCDD833EC1711,0,0,1,0,0,0,0,1,0,...,0.1,0.1,1.0,3.0,0.1,10.0,0.1,3.0,7.0,2.0

## Get user related category as label

get a table to map user_id with read article and the l1_categories and l2_categories

In [25]:
df_user_app_label = df_trData[['user_id', 'article_contentid', 'article_l1_categories', 'article_l2_categories']]#sophia remark : should add article_update_time as a feature
df_user_app_label['article_l1_categories'] = df_user_app_label['article_l1_categories'].fillna({})
df_user_app_label['article_l2_categories'] = df_user_app_label['article_l2_categories'].fillna({})
df_user_app_label.head()

//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

,user_id,article_contentid,article_l1_categories,article_l2_categories
2,56F27AD705D8564F7900470AA793DBD2,Bm702d2afz8_us,"[{'weight': 0.47897132942480036, 'name': '1000...","[{'weight': 0.883356596807302, 'name': '100064..."
3,F9B30E5BDD8009EBA52C1F5518D9E332,nW7c6db65KY_us,"[{'weight': 0.9448785614035117, 'name': '10006...","[{'weight': 0.6082519226086233, 'name': '10006..."
5,614E304DE3B07EBCDD4E11382578EF5A,AY628126a1w_us,"[{'weight': 0.9748942874821223, 'name': '10002...","[{'weight': 0.44672383555962764, 'name': '1000..."
6,CD2F2B61135DB27BA3230F91466ED793,jQ6c581bbr2_us,"[{'weight': 0.41806647181510925, 'name': '1001...","[{'weight': 0.41806647181510925, 'name': '1001..."
7,614E304DE3B07EBCDD4E11382578EF5A,1V70d401fdc_us,"[{'weight': 0.8209544133434578, 'name': '10000...","[{'weight': 0.46378997654296183, 'name': '1000..."

Extract l1_category and l2_category from the list

In [26]:
def getDetail(cat, field):
    if (str(cat) != 'nan'):
        if (len(cat) > 0):
            return cat[0][field]
    else:
        return '0'

In [27]:
df_user_app_label['l1_cat'] = df_user_app_label.apply(lambda row: getDetail(row['article_l1_categories'],'name'), axis=1)
df_user_app_label['l2_cat'] = df_user_app_label.apply(lambda row: getDetail(row['article_l2_categories'],'name'), axis=1)
#df_user_app_label['l1_cat_w'] = df_user_app_label.apply(lambda row: getDetail(row['article_l1_categories'],'weight'), axis=1)
#df_user_app_label['l2_cat_w'] = df_user_app_label.apply(lambda row: getDetail(row['article_l2_categories'],'weight'), axis=1)
df_user_app_label = df_user_app_label.drop(['article_l1_categories', 'article_l2_categories'], axis=1)
df_user_app_label.head()

//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

                            user_id article_contentid   l1_cat   l2_cat
2  56F27AD705D8564F7900470AA793DBD2    Bm702d2afz8_us  1000637  1000644
3  F9B30E5BDD8009EBA52C1F5518D9E332    nW7c6db65KY_us  1000661  1000681
5  614E304DE3B07EBCDD4E11382578EF5A    AY628126a1w_us  1000288  1000288
6  CD2F2B61135DB27BA3230F91466ED793    jQ6c581bbr2_us  1001091  1001091
7  614E304DE3B07EBCDD4E11382578EF5A    1V70d401fdc_us  1000031  1000069

In [28]:
def sumCat(l):
    l = l.unique()
    return l.tolist()

In [29]:
df_user_cat = df_user_app_label.groupby(['user_id']).apply(lambda row: sumCat(row['l2_cat']))
df_user_cat = pd.DataFrame(df_user_cat).reset_index()
df_user_cat = df_user_cat.rename(columns={0:'l2_cat'})
df_user_cat.head()

,user_id,l2_cat
0,00108FC5F1F3031ADD536548124A4912,[1000069]
1,00310455B7B24D5CDEC892351B8D1D51,"[1000395, 1000667, 1000780, 1000611]"
2,00381B68ACD6CC83635CDDD9B40F0BAF,"[1000680, 1000681, 1000671]"
3,003B2215B070CDB50C0819C72E208F0A,"[1000395, 1000288, 1000290, 1000611, 1000069]"
4,003B8D414199B9C5EB7CF8C94BCC6787,[1000069]

In [30]:
def splitCat(row):
    for i in row['l2_cat']:
        if i is not None:
            row['user_l2_cat' + i] = 1
    return row

In [31]:
df_user_cat = df_user_cat.apply(lambda row:splitCat(row), axis = 1)
df_user_cat.head()

,l2_cat,user_id,user_l2_cat0010000000,user_l2_cat1000001,user_l2_cat1000002,user_l2_cat1000007,user_l2_cat10000101,user_l2_cat1000012,user_l2_cat10000162,user_l2_cat1000017,...,user_l2_cat1001040,user_l2_cat1001049,user_l2_cat1001060,user_l2_cat1001091,user_l2_cat1001103,user_l2_cat1001110,user_l2_cat1001117,user_l2_cat2000000,user_l2_cat6000007,user_l2_cat8000001
0,[1000069],00108FC5F1F3031ADD536548124A4912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"[1000395, 1000667, 1000780, 1000611]",00310455B7B24D5CDEC892351B8D1D51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"[1000680, 1000681, 1000671]",00381B68ACD6CC83635CDDD9B40F0BAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"[1000395, 1000288, 1000290, 1000611, 1000069]",003B2215B070CDB50C0819C72E208F0A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,[1000069],003B8D414199B9C5EB7CF8C94BCC6787,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df_user_cat = df_user_cat.fillna(0.1).drop(['l2_cat'],axis = 1)#change from fillna(0) to fillna(0.1)
df_user_cat.head()

,user_id,user_l2_cat0010000000,user_l2_cat1000001,user_l2_cat1000002,user_l2_cat1000007,user_l2_cat10000101,user_l2_cat1000012,user_l2_cat10000162,user_l2_cat1000017,user_l2_cat10000177,...,user_l2_cat1001040,user_l2_cat1001049,user_l2_cat1001060,user_l2_cat1001091,user_l2_cat1001103,user_l2_cat1001110,user_l2_cat1001117,user_l2_cat2000000,user_l2_cat6000007,user_l2_cat8000001
0,00108FC5F1F3031ADD536548124A4912,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
1,00310455B7B24D5CDEC892351B8D1D51,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
2,00381B68ACD6CC83635CDDD9B40F0BAF,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
3,003B2215B070CDB50C0819C72E208F0A,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
4,003B8D414199B9C5EB7CF8C94BCC6787,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1

In [33]:
#sophia 20171201

In [34]:
df_user_app_cat = df_user_app.merge(df_user_cat, how = 'left', on = 'user_id')
df_user_app_cat.head()

,user_id,user_age_0.0,user_age_1.0,user_age_2.0,user_age_3.0,user_age_4.0,user_gender_0.0,user_gender_1.0,user_gender_2.0,user_brand_acer,...,user_l2_cat1001040,user_l2_cat1001049,user_l2_cat1001060,user_l2_cat1001091,user_l2_cat1001103,user_l2_cat1001110,user_l2_cat1001117,user_l2_cat2000000,user_l2_cat6000007,user_l2_cat8000001
0,56F27AD705D8564F7900470AA793DBD2,0,0,0,0,1,0,0,1,0,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
1,F9B30E5BDD8009EBA52C1F5518D9E332,0,1,0,0,0,0,0,1,0,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
2,614E304DE3B07EBCDD4E11382578EF5A,0,0,1,0,0,0,0,1,0,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
3,CD2F2B61135DB27BA3230F91466ED793,0,0,0,1,0,0,0,1,0,...,0.1,0.1,0.1,1.0,0.1,0.1,0.1,0.1,0.1,0.1
4,8EE461BA3AA2595AC91FCDD833EC1711,0,0,1,0,0,0,0,1,0,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1

### Prepare Article View

In [35]:
df_article = df_trData[['user_id', 'article_contentid', 'article_l1_categories', 'article_l2_categories', 'article_title', 'article_update_time']]#sophia remark : should add article_update_time as a feature
df_article = df_article.sort_values(by=['article_title'], ascending=False)
df_article.head()

,user_id,article_contentid,article_l1_categories,article_l2_categories,article_title,article_update_time
73696,7C62CF4B33EF7303881DB654E68FF85E,v77c577e1qo_us,"[{'weight': 0.8786688469394612, 'name': '10007...","[{'weight': 0.4648142188685498, 'name': '10006...",﻿Vulnerable teen 'livestreams suicide' on Face...,1.485441e+09
45901,986759E2FD77D818BEDC17BFF6376900,v77c577e1qo_us,"[{'weight': 0.8786688469394612, 'name': '10007...","[{'weight': 0.4648142188685498, 'name': '10006...",﻿Vulnerable teen 'livestreams suicide' on Face...,1.485441e+09
125124,A4F138114721E738AD8C2768C11450A9,v77c577e1qo_us,"[{'weight': 0.8786688469394612, 'name': '10007...","[{'weight': 0.4648142188685498, 'name': '10006...",﻿Vulnerable teen 'livestreams suicide' on Face...,1.485388e+09
136071,17A177FDE5C3C9F500D784FF8D985AD7,0i65cb6eaNb_us,"[{'weight': 0.04053368419408798, 'name': '1000...","[{'weight': 0.04053368419408798, 'name': '1000...",【E-girls】ちび丸子ちゃん―踊りを学びましょう～,1.482883e+09
136053,17A177FDE5C3C9F500D784FF8D985AD7,0i65cb6eaNb_us,"[{'weight': 0.04053368419408798, 'name': '1000...","[{'weight': 0.04053368419408798, 'name': '1000...",【E-girls】ちび丸子ちゃん―踊りを学びましょう～,1.482883e+09

In [36]:
from sklearn import preprocessing
#Create x, where x the 'scores' column's values as floats
x = df_article['article_update_time'].values.astype(float)
x = x.reshape(-1,1)
# Create a minimum and maximum processor object
min_max_scaler = preprocessing.MinMaxScaler()

# Create an object to transform the data to fit minmax processor
x_scaled = min_max_scaler.fit_transform(x)

# Run the normalizer on the dataframe
df_article['article_update_time'] = x_scaled

In [37]:
df_article = df_article.drop_duplicates(subset=['article_contentid'], keep='first')
df_article = df_article.reset_index(drop = True)
df_article.head()

,user_id,article_contentid,article_l1_categories,article_l2_categories,article_title,article_update_time
0,7C62CF4B33EF7303881DB654E68FF85E,v77c577e1qo_us,"[{'weight': 0.8786688469394612, 'name': '10007...","[{'weight': 0.4648142188685498, 'name': '10006...",﻿Vulnerable teen 'livestreams suicide' on Face...,0.950863
1,17A177FDE5C3C9F500D784FF8D985AD7,0i65cb6eaNb_us,"[{'weight': 0.04053368419408798, 'name': '1000...","[{'weight': 0.04053368419408798, 'name': '1000...",【E-girls】ちび丸子ちゃん―踊りを学びましょう～,0.342006
2,DB7995E79922E8A96E1585DA8C6EFB51,ag639e0eeDK_us,"[{'weight': 0.999, 'name': '8000001'}]","[{'weight': 0.999, 'name': '8000001'}]",♠ Funny Videos ♠ Best FAILS ♠ December 2016 Co...,0.597340
3,84E7779E484630375F5F0F6175045B4B,7m799a2c4mX_us,"[{'weight': 0.12680570781230927, 'name': '1000...","[{'weight': 0.12680570781230927, 'name': '1000...",▶[Future Bass] ★ MRVLZ - On The Inside,0.923283
4,DE83F55126D386CF852A76F25FE0FE04,hQ7cfd994Tv_us,"[{'weight': 0.48590736582547495, 'name': '1000...","[{'weight': 0.48590736582547495, 'name': '1000...",€1m in funding sought for new air ambulance se...,0.949038

In [38]:
def getDetail(cat, field):
    if (str(cat) != 'nan'):
        if (len(cat) > 0):
            return cat[0][field]
    else:
        return '0'

In [39]:
df_article['l1_cat'] = df_article.apply(lambda row: getDetail(row['article_l1_categories'],'name'), axis=1)
df_article['l2_cat'] = df_article.apply(lambda row: getDetail(row['article_l2_categories'],'name'), axis=1)
df_article['l1_cat_w'] = df_article.apply(lambda row: getDetail(row['article_l1_categories'],'weight'), axis=1)
df_article['l2_cat_w'] = df_article.apply(lambda row: getDetail(row['article_l2_categories'],'weight'), axis=1)
df_article = df_article.drop(['article_l1_categories', 'article_l2_categories'], axis=1)
df_article.head()

,user_id,article_contentid,article_title,article_update_time,l1_cat,l2_cat,l1_cat_w,l2_cat_w
0,7C62CF4B33EF7303881DB654E68FF85E,v77c577e1qo_us,﻿Vulnerable teen 'livestreams suicide' on Face...,0.950863,1000780,1000667,0.878669,0.464814
1,17A177FDE5C3C9F500D784FF8D985AD7,0i65cb6eaNb_us,【E-girls】ちび丸子ちゃん―踊りを学びましょう～,0.342006,1000780,1000780,0.040534,0.040534
2,DB7995E79922E8A96E1585DA8C6EFB51,ag639e0eeDK_us,♠ Funny Videos ♠ Best FAILS ♠ December 2016 Co...,0.597340,8000001,8000001,0.999000,0.999000
3,84E7779E484630375F5F0F6175045B4B,7m799a2c4mX_us,▶[Future Bass] ★ MRVLZ - On The Inside,0.923283,1000931,1000931,0.126806,0.126806
4,DE83F55126D386CF852A76F25FE0FE04,hQ7cfd994Tv_us,€1m in funding sought for new air ambulance se...,0.949038,1000780,1000780,0.485907,0.485907

In [40]:
df_article.shape

(49149, 8)

### Clean title

In [41]:
#df_article = df_article[~df_article['article_title'].isnull()]
#df_article.head()

In [42]:
#skip

from gensim.models import Word2Vec
from nltk.corpus import stopwords
from nltk import word_tokenize
from nltk.stem.lancaster import LancasterStemmer
import re

In [43]:
def hashingTitle(title):
    STEMMER = LancasterStemmer()
    if (type(title) != float) & (type(title) != int):
        title = title.lower()
        title = word_tokenize(title)
        title = [STEMMER.stem(word.strip('!"#$%&\()*+,-./:;<=>?@[\]^_`{|}~').lower()) for word in title]
        titleList = []
        for w in title:
            if len(re.findall("[a-zA-Z]+", w)) > 0:
                f_w = re.findall("[a-zA-Z]+", w)[0].lower()
                f_w = '#'+f_w+'#'
                f_w_tri = [f_w[i:i+3] for i in range(len(f_w)-1) if (len(f_w[i:i+3]) == 3)]
                titleList.extend(f_w_tri)
        return dict(Counter(titleList))
    else:
        return {}

In [44]:
df_article['clean_article_title'] = df_article.apply(lambda x: hashingTitle(x['article_title']), axis=1)
df_article.head()

,user_id,article_contentid,article_title,article_update_time,l1_cat,l2_cat,l1_cat_w,l2_cat_w,clean_article_title
0,7C62CF4B33EF7303881DB654E68FF85E,v77c577e1qo_us,﻿Vulnerable teen 'livestreams suicide' on Face...,0.950863,1000780,1000667,0.878669,0.464814,"{'ok#': 1, 'ceb': 1, 'rom': 1, '#te': 1, 'ebo'..."
1,17A177FDE5C3C9F500D784FF8D985AD7,0i65cb6eaNb_us,【E-girls】ちび丸子ちゃん―踊りを学びましょう～,0.342006,1000780,1000780,0.040534,0.040534,{'#e#': 1}
2,DB7995E79922E8A96E1585DA8C6EFB51,ag639e0eeDK_us,♠ Funny Videos ♠ Best FAILS ♠ December 2016 Co...,0.597340,8000001,8000001,0.999000,0.999000,"{'il#': 3, 'eo#': 1, 'dec': 1, 'nfa': 1, '#de'..."
3,84E7779E484630375F5F0F6175045B4B,7m799a2c4mX_us,▶[Future Bass] ★ MRVLZ - On The Inside,0.923283,1000931,1000931,0.126806,0.126806,"{'nsi': 1, '#mr': 1, '#th': 1, 'vlz': 1, 'on#'..."
4,DE83F55126D386CF852A76F25FE0FE04,hQ7cfd994Tv_us,€1m in funding sought for new air ambulance se...,0.949038,1000780,1000780,0.485907,0.485907,"{'ugh': 1, '#so': 1, 'mb#': 1, 'in#': 1, 'ew#'..."

In [45]:
df_article_title = pd.DataFrame.from_records(df_article['clean_article_title'].tolist())
df_article_title = df_article_title.fillna(0)
df_article_title.head()

,#a#,#aa,#ab,#ac,#ad,#ae,#af,#ag,#ah,#ai,...,zyt,zz#,zza,zze,zzf,zzi,zzl,zzn,zzo,zzy
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [46]:
df_article = df_article.merge(df_article_title, how='left', left_index=True, right_index=True)
df_article.head()

,user_id,article_contentid,article_title,article_update_time,l1_cat,l2_cat,l1_cat_w,l2_cat_w,clean_article_title,#a#,...,zyt,zz#,zza,zze,zzf,zzi,zzl,zzn,zzo,zzy
0,7C62CF4B33EF7303881DB654E68FF85E,v77c577e1qo_us,﻿Vulnerable teen 'livestreams suicide' on Face...,0.950863,1000780,1000667,0.878669,0.464814,"{'ok#': 1, 'ceb': 1, 'rom': 1, '#te': 1, 'ebo'...",0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,17A177FDE5C3C9F500D784FF8D985AD7,0i65cb6eaNb_us,【E-girls】ちび丸子ちゃん―踊りを学びましょう～,0.342006,1000780,1000780,0.040534,0.040534,{'#e#': 1},0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,DB7995E79922E8A96E1585DA8C6EFB51,ag639e0eeDK_us,♠ Funny Videos ♠ Best FAILS ♠ December 2016 Co...,0.597340,8000001,8000001,0.999000,0.999000,"{'il#': 3, 'eo#': 1, 'dec': 1, 'nfa': 1, '#de'...",0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,84E7779E484630375F5F0F6175045B4B,7m799a2c4mX_us,▶[Future Bass] ★ MRVLZ - On The Inside,0.923283,1000931,1000931,0.126806,0.126806,"{'nsi': 1, '#mr': 1, '#th': 1, 'vlz': 1, 'on#'...",0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,DE83F55126D386CF852A76F25FE0FE04,hQ7cfd994Tv_us,€1m in funding sought for new air ambulance se...,0.949038,1000780,1000780,0.485907,0.485907,"{'ugh': 1, '#so': 1, 'mb#': 1, 'in#': 1, 'ew#'...",0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [47]:
df_article = df_article.drop(['article_title','clean_article_title'], axis=1)
#Sophia commend : the following line is to be run if title is not included
#df_article = df_article.drop(['article_title'], axis=1)
df_article.head()

,user_id,article_contentid,article_update_time,l1_cat,l2_cat,l1_cat_w,l2_cat_w,#a#,#aa,#ab,...,zyt,zz#,zza,zze,zzf,zzi,zzl,zzn,zzo,zzy
0,7C62CF4B33EF7303881DB654E68FF85E,v77c577e1qo_us,0.950863,1000780,1000667,0.878669,0.464814,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,17A177FDE5C3C9F500D784FF8D985AD7,0i65cb6eaNb_us,0.342006,1000780,1000780,0.040534,0.040534,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,DB7995E79922E8A96E1585DA8C6EFB51,ag639e0eeDK_us,0.597340,8000001,8000001,0.999000,0.999000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,84E7779E484630375F5F0F6175045B4B,7m799a2c4mX_us,0.923283,1000931,1000931,0.126806,0.126806,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,DE83F55126D386CF852A76F25FE0FE04,hQ7cfd994Tv_us,0.949038,1000780,1000780,0.485907,0.485907,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [48]:
#df_article = pd.get_dummies(df_article, columns=['article_publisher'])
df_article = df_article.fillna(0)
df_article.head()

,user_id,article_contentid,article_update_time,l1_cat,l2_cat,l1_cat_w,l2_cat_w,#a#,#aa,#ab,...,zyt,zz#,zza,zze,zzf,zzi,zzl,zzn,zzo,zzy
0,7C62CF4B33EF7303881DB654E68FF85E,v77c577e1qo_us,0.950863,1000780,1000667,0.878669,0.464814,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,17A177FDE5C3C9F500D784FF8D985AD7,0i65cb6eaNb_us,0.342006,1000780,1000780,0.040534,0.040534,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,DB7995E79922E8A96E1585DA8C6EFB51,ag639e0eeDK_us,0.597340,8000001,8000001,0.999000,0.999000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,84E7779E484630375F5F0F6175045B4B,7m799a2c4mX_us,0.923283,1000931,1000931,0.126806,0.126806,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,DE83F55126D386CF852A76F25FE0FE04,hQ7cfd994Tv_us,0.949038,1000780,1000780,0.485907,0.485907,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [49]:
df_cat = df_article[['l1_cat', 'l2_cat', 'l1_cat_w', 'l2_cat_w']]
df_cat = pd.get_dummies(df_cat, columns=['l1_cat', 'l2_cat'])
df_cat = df_cat.fillna(0.1)
df_cat.head()

,l1_cat_w,l2_cat_w,l1_cat_0,l1_cat_0010000000,l1_cat_1000001,l1_cat_1000031,l1_cat_1000044,l1_cat_1000111,l1_cat_1000123,l1_cat_1000267,...,l2_cat_1001040,l2_cat_1001049,l2_cat_1001060,l2_cat_1001091,l2_cat_1001103,l2_cat_1001110,l2_cat_1001117,l2_cat_2000000,l2_cat_6000007,l2_cat_8000001
0,0.878669,0.464814,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.040534,0.040534,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0.999000,0.999000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0.126806,0.126806,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0.485907,0.485907,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [50]:
df_cat = df_cat.merge(df_article[['l1_cat', 'l2_cat']], how='left', left_index=True, right_index=True)
df_cat.head()

,l1_cat_w,l2_cat_w,l1_cat_0,l1_cat_0010000000,l1_cat_1000001,l1_cat_1000031,l1_cat_1000044,l1_cat_1000111,l1_cat_1000123,l1_cat_1000267,...,l2_cat_1001060,l2_cat_1001091,l2_cat_1001103,l2_cat_1001110,l2_cat_1001117,l2_cat_2000000,l2_cat_6000007,l2_cat_8000001,l1_cat,l2_cat
0,0.878669,0.464814,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1000780,1000667
1,0.040534,0.040534,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1000780,1000780
2,0.999000,0.999000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,8000001,8000001
3,0.126806,0.126806,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1000931,1000931
4,0.485907,0.485907,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1000780,1000780

In [51]:
def updateCatWeight(row):
    cat = row['l1_cat']
    row['l1_cat_'+str(cat)] = row['l1_cat_w']
    return row

In [52]:
df_cat = df_cat.apply(lambda row: updateCatWeight(row), axis=1)
df_cat.head()

,l1_cat_w,l2_cat_w,l1_cat_0,l1_cat_0010000000,l1_cat_1000001,l1_cat_1000031,l1_cat_1000044,l1_cat_1000111,l1_cat_1000123,l1_cat_1000267,...,l2_cat_1001060,l2_cat_1001091,l2_cat_1001103,l2_cat_1001110,l2_cat_1001117,l2_cat_2000000,l2_cat_6000007,l2_cat_8000001,l1_cat,l2_cat
0,0.878669,0.464814,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1000780,1000667
1,0.040534,0.040534,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1000780,1000780
2,0.999000,0.999000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,1,8000001,8000001
3,0.126806,0.126806,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1000931,1000931
4,0.485907,0.485907,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1000780,1000780

In [53]:
df_cat = df_cat.drop(['l1_cat','l2_cat','l1_cat_w', 'l2_cat_w'], axis=1)
df_cat.head()

,l1_cat_0,l1_cat_0010000000,l1_cat_1000001,l1_cat_1000031,l1_cat_1000044,l1_cat_1000111,l1_cat_1000123,l1_cat_1000267,l1_cat_1000288,l1_cat_1000298,...,l2_cat_1001040,l2_cat_1001049,l2_cat_1001060,l2_cat_1001091,l2_cat_1001103,l2_cat_1001110,l2_cat_1001117,l2_cat_2000000,l2_cat_6000007,l2_cat_8000001
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [54]:
df_article = df_article.merge(df_cat, how='left', left_index=True, right_index=True)
#sophia remark: commend here
#df_article = df_article.drop(['article_publisher','article_title'], axis = 1)
df_article.head()

,user_id,article_contentid,article_update_time,l1_cat,l2_cat,l1_cat_w,l2_cat_w,#a#,#aa,#ab,...,l2_cat_1001040,l2_cat_1001049,l2_cat_1001060,l2_cat_1001091,l2_cat_1001103,l2_cat_1001110,l2_cat_1001117,l2_cat_2000000,l2_cat_6000007,l2_cat_8000001
0,7C62CF4B33EF7303881DB654E68FF85E,v77c577e1qo_us,0.950863,1000780,1000667,0.878669,0.464814,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,17A177FDE5C3C9F500D784FF8D985AD7,0i65cb6eaNb_us,0.342006,1000780,1000780,0.040534,0.040534,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,DB7995E79922E8A96E1585DA8C6EFB51,ag639e0eeDK_us,0.597340,8000001,8000001,0.999000,0.999000,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
3,84E7779E484630375F5F0F6175045B4B,7m799a2c4mX_us,0.923283,1000931,1000931,0.126806,0.126806,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,DE83F55126D386CF852A76F25FE0FE04,hQ7cfd994Tv_us,0.949038,1000780,1000780,0.485907,0.485907,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [55]:
df_article_2 = df_article.drop(['l1_cat','l2_cat','l1_cat_w','l2_cat_w'], axis = 1)
df_article_2.shape

(49149, 8066)

### Prepare Train Test Set

In [64]:
import random
train_ratio = 0.9
num_train_user = int(round(len(df_user)*train_ratio))
train_user_id = random.sample(df_user['user_id'].tolist(), num_train_user)

In [65]:
len(train_user_id)

7071

In [66]:
test_user_id = df_user[~df_user['user_id'].isin(train_user_id)]['user_id'].tolist()
len(test_user_id)

786

In [67]:
old_new_ratio = 0.8
num_old_user = int(round(len(test_user_id)*train_ratio))
old_user_id = random.sample(test_user_id, num_old_user)
len(old_user_id)

707

In [68]:
new_user_id = [i for i in test_user_id if i not in old_user_id]
len(new_user_id)

79

In [69]:
final_train_user_id = []
final_train_user_id.extend(train_user_id)
final_train_user_id.extend(old_user_id)
len(final_train_user_id)

7778

In [70]:
final_test_user_id = []
final_test_user_id.extend(new_user_id)
final_test_user_id.extend(old_user_id)
len(final_test_user_id)

786

In [71]:
df_train_user_0 = df_user_app[df_user_app['user_id'].isin(final_train_user_id)].fillna(0.1)
df_test_user_0 = df_user_app[df_user_app['user_id'].isin(final_test_user_id)].fillna(0.1)

In [72]:
a = df_train_user_0.drop(['user_id'], axis = 1).as_matrix()
samples = list(a)
neigh = NearestNeighbors(n_neighbors=1)
neigh.fit(samples) 

#get the nearest user index - use for loop later
#print(neigh.kneighbors([samples[15]])) [1][0]

NearestNeighbors(algorithm='auto', leaf_size=30, metric='minkowski',
         metric_params=None, n_jobs=1, n_neighbors=1, p=2, radius=1.0)

In [73]:
def findNeighbor(row):
    l = row.values
    row['neibor'] = neigh.kneighbors([l]) [1][0][0]
    return row

In [74]:
df_test_user_1 = df_test_user_0.drop(['user_id'],axis = 1).apply(lambda row: findNeighbor(row), axis = 1)#drop(['user_id'],axis = 1)
df_test_user_1.head()

,user_age_0.0,user_age_1.0,user_age_2.0,user_age_3.0,user_age_4.0,user_gender_0.0,user_gender_1.0,user_gender_2.0,user_brand_acer,user_brand_asus,...,PRODUCTIVITY,SHOPPING,SOCIAL,SPORTS,TOOLS,TRANSPORTATION,TRAVEL_AND_LOCAL,VIDEO_PLAYERS,WEATHER,neibor
6,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.1,2.0,0.1,3.0,0.1,1.0,1.0,0.1,6
8,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,4.0,0.1,2.0,0.1,16.0,0.1,1.0,1.0,0.1,8
11,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,7.0,0.1,5.0,0.1,5.0,0.1,1.0,2.0,3.0,11
20,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.1,2.0,0.1,0.1,0.1,0.1,0.1,1.0,0.1,20
44,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,6.0,1.0,8.0,1.0,16.0,0.1,2.0,6.0,1.0,43

In [75]:
df_user_cat.head()

,user_id,user_l2_cat0010000000,user_l2_cat1000001,user_l2_cat1000002,user_l2_cat1000007,user_l2_cat10000101,user_l2_cat1000012,user_l2_cat10000162,user_l2_cat1000017,user_l2_cat10000177,...,user_l2_cat1001040,user_l2_cat1001049,user_l2_cat1001060,user_l2_cat1001091,user_l2_cat1001103,user_l2_cat1001110,user_l2_cat1001117,user_l2_cat2000000,user_l2_cat6000007,user_l2_cat8000001
0,00108FC5F1F3031ADD536548124A4912,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
1,00310455B7B24D5CDEC892351B8D1D51,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
2,00381B68ACD6CC83635CDDD9B40F0BAF,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
3,003B2215B070CDB50C0819C72E208F0A,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
4,003B8D414199B9C5EB7CF8C94BCC6787,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1

In [76]:
df_train_user = df_train_user_0.merge(df_user_cat, how = 'left', on = 'user_id')

In [77]:
art_cat_col = [i for i in df_train_user.columns if i not in df_train_user_0.columns]

In [78]:
user_fea_col = [i for i in df_train_user.columns \
                if i not in app_category and 'user_maxmind_city' not in i\
                and 'user_brand' not in i  and 'user_id' != i]
len(user_fea_col)

812

In [79]:
test_col = [i for i in df_train_user.columns \
                if i not in app_category and 'user_maxmind_city' not in i]

In [80]:
df_test_user = df_test_user_1.merge(df_train_user[art_cat_col], how = 'left', left_on='neibor', right_index=True)
df_test_user = df_test_user.drop(['neibor'],axis = 1)
df_test_user.head()

,user_age_0.0,user_age_1.0,user_age_2.0,user_age_3.0,user_age_4.0,user_gender_0.0,user_gender_1.0,user_gender_2.0,user_brand_acer,user_brand_asus,...,user_l2_cat1001040,user_l2_cat1001049,user_l2_cat1001060,user_l2_cat1001091,user_l2_cat1001103,user_l2_cat1001110,user_l2_cat1001117,user_l2_cat2000000,user_l2_cat6000007,user_l2_cat8000001
6,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
8,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
11,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
20,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
44,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.1,0.1,0.1,1.0,0.1,0.1,0.1,0.1,1.0,0.1

In [81]:
df_test_user.shape, df_train_user.shape

((786, 3216), (7778, 3217))

In [84]:
user_fea_col

['user_age_0.0',
 'user_age_1.0',
 'user_age_2.0',
 'user_age_3.0',
 'user_age_4.0',
 'user_gender_0.0',
 'user_gender_1.0',
 'user_gender_2.0',
 'user_model_0paj5',
 'user_model_0pcv1',
 'user_model_0pja10',
 'user_model_0pja2',
 'user_model_0pm92',
 'user_model_2pq93',
 'user_model_2ps64',
 'user_model_2pyb2',
 'user_model_306sh',
 'user_model_5017b',
 'user_model_5027b',
 'user_model_5042t',
 'user_model_5054n',
 'user_model_5054w',
 'user_model_5056e',
 'user_model_5056n',
 'user_model_5065n',
 'user_model_5098s',
 'user_model_5560s',
 'user_model_6045i',
 'user_model_6045o',
 'user_model_7040n',
 'user_model_7040t',
 'user_model_710c',
 'user_model_801es',
 'user_model_831c',
 'user_model_9006w',
 'user_model_9020a',
 'user_model_a0001',
 'user_model_a1',
 'user_model_a1-810',
 'user_model_a1x plus',
 'user_model_a460g',
 'user_model_a462c',
 'user_model_a463bg',
 'user_model_a464bg',
 'user_model_a521l',
 'user_model_a571vl',
 'user_model_adr6400l',
 'user_model_alcatel a564c',
 'user_model_alcatel a845l',
 'user_model_alcatel a851l',
 'user_model_alcatel one touch 8008w',
 'user_model_alcatel one touch fierce',
 'user_model_alcatel onetouch p310a',
 'user_model_alcatel onetouch pop 7 lte',
 'user_model_alcatel9007t',
 'user_model_alcatel_4060a',
 'user_model_alcatel_4060o',
 'user_model_alcatel_5056o',
 'user_model_alcatel_6055u',
 'user_model_andy_5ei',
 'user_model_aqua y4',
 'user_model_aqua_power_hd',
 'user_model_asus memo pad 7',
 'user_model_asus padfone x',
 'user_model_asus zenfone 2e',
 'user_model_asus_z00ad',
 'user_model_asus_z00td',
 'user_model_blu life one x',
 'user_model_blu life xl',
 'user_model_blu r1 hd',
 'user_model_blu studio 5.0 c hd',
 'user_model_blu studio 6.0 hd',
 'user_model_blu studio c super camera',
 'user_model_blu studio g',
 'user_model_blu studio selfie 2',
 'user_model_blu studio x',
 'user_model_blu_studio_xl',
 'user_model_c6530',
 'user_model_c6530n',
 'user_model_c6606',
 'user_model_c6725',
 'user_model_c6730',
 'user_model_c6740',
 'user_model_c6740n',
 'user_model_c6743',
 'user_model_coolpad 3300a',
 'user_model_coolpad 3320a',
 'user_model_coolpad 3622a',
 'user_model_d6503',
 'user_model_d6616',
 'user_model_d6708',
 'user_model_dash 5.5',
 'user_model_dash x plus',
 'user_model_droid razr',
 'user_model_droid razr hd',
 'user_model_e5306',
 'user_model_e5803',
 'user_model_e6715',
 'user_model_e6762',
 'user_model_e6782',
 'user_model_em756',
 'user_model_energy x 2',
 'user_model_f103',
 'user_model_frd-l04',
 'user_model_galaxy nexus',
 'user_model_gt-i8552',
 'user_model_gt-i9060',
 'user_model_gt-i9152',
 'user_model_gt-i9192',
 'user_model_gt-i9195',
 'user_model_gt-n5110',
 'user_model_gt-n7100',
 'user_model_gt-p3113',
 'user_model_gt-p5113',
 'user_model_gt-p5210',
 'user_model_htc 10',
 'user_model_htc 2pst2',
 'user_model_htc desire 510',
 'user_model_htc desire 520',
 'user_model_htc desire 610',
 'user_model_htc desire 625',
 'user_model_htc desire 626',
 'user_model_htc desire 626s',
 'user_model_htc desire eye',
 'user_model_htc one',
 'user_model_htc one a9',
 'user_model_htc one m8',
 'user_model_htc one m9',
 'user_model_htc one_m8',
 'user_model_htc0p3p7',
 'user_model_htc331zlvw',
 'user_model_htc6435lvw',
 'user_model_htc6500lvw',
 'user_model_htc6515lvw',
 'user_model_htc6525lvw',
 'user_model_htc6535lra',
 'user_model_htc6535lvw',
 'user_model_htc6545lvw',
 'user_model_htc6600lvw',
 'user_model_htc_d530u',
 'user_model_htc_e9pw',
 'user_model_htcd100lvw',
 'user_model_htcd100lvwpp',
 'user_model_htcd160lvw',
 'user_model_htcd160lvwpp',
 'user_model_htcd200lvw',
 'user_model_htcd200lvwpp',
 'user_model_htcone',
 'user_model_huawei ale-l04',
 'user_model_huawei g620-a2',
 'user_model_huawei h891l',
 'user_model_huawei h892l',
 'user_model_huawei y301a1',
 'user_model_huawei y301a2',
 'user_model_huawei y536a1',
 'user_model_k010',
 'user_model_k88',
 'user_model_kiw-l24',
 'user_model_kyocera-c6742',
 'user_model_kyocera-c6742a',
 'user_model_kyocera-c6745',
 'user_model_kyocera-e6560',
 'user_model_lenovo a7010a48',
 'user_model_lenovo yt3-850f',
 'user_model_lg-as330',
 'user_model_lg-as990',
 'user_model_lg-d321',
 'user_model_lg-d415',
 'user_model_lg-d631',
 'user_model_lg-d722j',
 'user_model_lg-d725',
 'user_model_lg-d800',
 'user_model_lg-d801',
 'user_model_lg-d850',
 'user_model_lg-d851',
 'user_model_lg-d950',
 'user_model_lg-d959',
 'user_model_lg-e970',
 'user_model_lg-e980',
 'user_model_lg-e989',
 'user_model_lg-h343',
 'user_model_lg-h345',
 'user_model_lg-h443',
 'user_model_lg-h631',
 'user_model_lg-h634',
 'user_model_lg-h740',
 'user_model_lg-h810',
 'user_model_lg-h811',
 'user_model_lg-h815',
 'user_model_lg-h820',
 'user_model_lg-h830',
 'user_model_lg-h900',
 'user_model_lg-h901',
 'user_model_lg-h918',
 'user_model_lg-h962',
 'user_model_lg-k120',
 'user_model_lg-k330',
 'user_model_lg-k371',
 'user_model_lg-k373',
 'user_model_lg-k425',
 'user_model_lg-k428',
 'user_model_lg-k540',
 'user_model_lg-k550',
 'user_model_lg-ls970',
 'user_model_lg-ls980',
 'user_model_lg-ls990',
 'user_model_lg-ls995',
 'user_model_lg-ls997',
 'user_model_lg-p769',
 'user_model_lg-uk495',
 'user_model_lg-v400',
 'user_model_lg-v410',
 'user_model_lg-v495',
 'user_model_lg-v496',
 'user_model_lg-v520',
 'user_model_lg-v521',
 'user_model_lg-v930',
 'user_model_lg-vs450pp',
 'user_model_lgl15g',
 'user_model_lgl16c',
 'user_model_lgl21g',
 'user_model_lgl22c',
 'user_model_lgl33l',
 'user_model_lgl34c',
 'user_model_lgl41c',
 'user_model_lgl43al',
 'user_model_lgl44vl',
 'user_model_lgl51al',
 'user_model_lgl52vl',
 'user_model_lgl62vl',
 'user_model_lgl82vl',
 'user_model_lglk430',
 'user_model_lgls450',
 'user_model_lgls620',
 'user_model_lgls660',
 'user_model_lgls665',
 'user_model_lgls675',
 'user_model_lgls676',
 'user_model_lgls740',
 'user_model_lgls751',
 'user_model_lgls755',
 'user_model_lgls770',
 'user_model_lgls775',
 'user_model_lgls990',
 'user_model_lgls991',
 'user_model_lgls992',
 'user_model_lgls996',
 'user_model_lgms323',
 'user_model_lgms330',
 'user_model_lgms345',
 'user_model_lgms395',
 'user_model_lgms428',
 'user_model_lgms550',
 'user_model_lgms631',
 'user_model_lguk410',
 'user_model_lgus375',
 'user_model_lgus550',
 'user_model_lgus990',
 'user_model_lgus991',
 'user_model_m470bsa',
 'user_model_mb865',
 'user_model_micromax a311',
 'user_model_moto g (4)',
 'user_model_moto g play',
 'user_model_motoe2(4g-lte)',
 'user_model_motog3',
 'user_model_mt2l03',
 'user_model_myphone my33',
 'user_model_n817',
 'user_model_n9100',
 'user_model_n9130',
 'user_model_n9132',
 'user_model_n9515',
 'user_model_n9516',
 'user_model_n9518',
 'user_model_n9519',
 'user_model_n9520',
 'user_model_n9521',
 'user_model_nexus 10',
 'user_model_nexus 4',
 'user_model_nexus 5',
 'user_model_nexus 5x',
 'user_model_nexus 6',
 'user_model_nexus 6p',
 'user_model_nexus 7',
 'user_model_nxa8qc116',
 'user_model_one a2003',
 'user_model_one e1005',
 'user_model_oneplus a3000',
 'user_model_p023',
 'user_model_pantechp8010',
 'user_model_pixel',
 'user_model_pixel xl',
 'user_model_qmv7a',
 'user_model_qmv7b',
 'user_model_qtair7',
 'user_model_qtaqz3',
 'user_model_r1 hd',
 'user_model_rct6203w46',
 'user_model_rct6303w87dk',
 'user_model_rct6573w23',
 'user_model_rct6773w22',
 'user_model_rct6773w22b',
 'user_model_rct6773w42b',
 'user_model_redmi note 3',
 'user_model_robin',
 'user_model_rs988',
 'user_model_samsung-sgh-i257',
 'user_model_samsung-sgh-i317',
 'user_model_samsung-sgh-i337',
 'user_model_samsung-sgh-i337z',
 'user_model_samsung-sgh-i437p',
 'user_model_samsung-sgh-i467',
 'user_model_samsung-sgh-i497',
 'user_model_samsung-sgh-i527',
 'user_model_samsung-sgh-i537',
 'user_model_samsung-sgh-i547',
 'user_model_samsung-sgh-i727',
 'user_model_samsung-sgh-i747',
 'user_model_samsung-sm-g360az',
 'user_model_samsung-sm-g530a',
 'user_model_samsung-sm-g530az',
 'user_model_samsung-sm-g730a',
 'user_model_samsung-sm-g750a',
 'user_model_samsung-sm-g800a',
 'user_model_samsung-sm-g850a',
 'user_model_samsung-sm-g870a',
 'user_model_samsung-sm-g890a',
 'user_model_samsung-sm-g891a',
 'user_model_samsung-sm-g900a',
 'user_model_samsung-sm-g900az',
 'user_model_samsung-sm-g920a',
 'user_model_samsung-sm-g920az',
 'user_model_samsung-sm-g925a',
 'user_model_samsung-sm-g928a',
 'user_model_samsung-sm-g930a',
 'user_model_samsung-sm-g930az',
 'user_model_samsung-sm-g935a',
 'user_model_samsung-sm-j120a',
 'user_model_samsung-sm-j120az',
 'user_model_samsung-sm-j320a',
 'user_model_samsung-sm-j320az',
 'user_model_samsung-sm-j321az',
 'user_model_samsung-sm-n900a',
 'user_model_samsung-sm-n910a',
 'user_model_samsung-sm-n915a',
 'user_model_samsung-sm-n920a',
 'user_model_samsung-sm-t217a',
 'user_model_samsung-sm-t337a',
 'user_model_samsung-sm-t377a',
 'user_model_samsung-sm-t807a',
 'user_model_sch-i200',
 'user_model_sch-i200pp',
 'user_model_sch-i415',
 'user_model_sch-i435',
 'user_model_sch-i535',
 'user_model_sch-i535pp',
 'user_model_sch-i545',
 'user_model_sch-i545pp',
 'user_model_sch-i605',
 'user_model_sch-i705',
 'user_model_sch-i915',
 'user_model_sch-l710',
 'user_model_sch-r530c',
 'user_model_sch-r530u',
 'user_model_sch-r890',
 'user_model_sch-r950',
 'user_model_sch-r960',
 'user_model_sch-r970',
 'user_model_sch-r970c',
 'user_model_sch-r970x',
 'user_model_sch-s960l',
 'user_model_sch-s968c',
 'user_model_sgh-i257m',
 'user_model_sgh-i317m',
 'user_model_sgh-m819n',
 'user_model_sgh-m919',
 'user_model_sgh-m919n',
 'user_model_sgh-t399',
 'user_model_sgh-t399n',
 'user_model_sgh-t599n',
 'user_model_sgh-t889',
 'user_model_sgh-t989',
 'user_model_sgh-t999',
 'user_model_sgh-t999l',
 'user_model_sgp512',
 'user_model_sgp561',
 'user_model_sky 4.0d',
 'user_model_sm-a310f',
 'user_model_sm-a500h',
 'user_model_sm-a510f',
 'user_model_sm-c115',
 'user_model_sm-g310r5',
 'user_model_sm-g360h',
 'user_model_sm-g360p',
 'user_model_sm-g360t',
 'user_model_sm-g360t1',
 'user_model_sm-g360v',
 'user_model_sm-g386t',
 'user_model_sm-g386t1',
 'user_model_sm-g530p',
 'user_model_sm-g530r4',
 'user_model_sm-g530r7',
 'user_model_sm-g530t',
 'user_model_sm-g530t1',
 'user_model_sm-g531h',
 'user_model_sm-g550t',
 'user_model_sm-g550t1',
 'user_model_sm-g550t2',
 'user_model_sm-g7508q',
 'user_model_sm-g800h',
 'user_model_sm-g860p',
 'user_model_sm-g900f',
 'user_model_sm-g900h',
 'user_model_sm-g900m',
 'user_model_sm-g900p',
 'user_model_sm-g900r4',
 'user_model_sm-g900r6',
 'user_model_sm-g900r7',
 'user_model_sm-g900t',
 'user_model_sm-g900t1',
 'user_model_sm-g900t3',
 'user_model_sm-g900v',
 'user_model_sm-g900w8',
 'user_model_sm-g901f',
 'user_model_sm-g920f',
 'user_model_sm-g920i',
 'user_model_sm-g920p',
 'user_model_sm-g920r4',
 'user_model_sm-g920r6',
 'user_model_sm-g920r7',
 'user_model_sm-g920t',
 'user_model_sm-g920t1',
 'user_model_sm-g920v',
 'user_model_sm-g925f',
 'user_model_sm-g925i',
 'user_model_sm-g925p',
 'user_model_sm-g925r4',
 'user_model_sm-g925r6',
 'user_model_sm-g925r7',
 'user_model_sm-g925t',
 'user_model_sm-g925v',
 'user_model_sm-g928c',
 'user_model_sm-g928f',
 'user_model_sm-g928g',
 'user_model_sm-g928p',
 'user_model_sm-g928r4',
 'user_model_sm-g928t',
 'user_model_sm-g928v',
 'user_model_sm-g930f',
 'user_model_sm-g930p',
 'user_model_sm-g930r4',
 'user_model_sm-g930r7',
 'user_model_sm-g930t',
 'user_model_sm-g930t1',
 'user_model_sm-g930u',
 'user_model_sm-g930v',
 'user_model_sm-g930w8',
 'user_model_sm-g935f',
 'user_model_sm-g935p',
 'user_model_sm-g935r4',
 'user_model_sm-g935t',
 'user_model_sm-g935v',
 'user_model_sm-j100vpp',
 'user_model_sm-j111m',
 'user_model_sm-j200m',
 'user_model_sm-j320p',
 'user_model_sm-j320r4',
 'user_model_sm-j320v',
 'user_model_sm-j320vpp',
 'user_model_sm-j500h',
 'user_model_sm-j700f',
 'user_model_sm-j700m',
 'user_model_sm-j700p',
 'user_model_sm-j700t',
 'user_model_sm-j700t1',
 'user_model_sm-n900',
 'user_model_sm-n9005',
 'user_model_sm-n900p',
 'user_model_sm-n900r4',
 'user_model_sm-n900t',
 'user_model_sm-n900v',
 'user_model_sm-n910a',
 'user_model_sm-n910c',
 'user_model_sm-n910h',
 'user_model_sm-n910p',
 'user_model_sm-n910r4',
 'user_model_sm-n910t',
 'user_model_sm-n910t2',
 'user_model_sm-n910t3',
 'user_model_sm-n910v',
 'user_model_sm-n910w8',
 'user_model_sm-n915p',
 'user_model_sm-n915r4',
 'user_model_sm-n915t',
 'user_model_sm-n915v',
 'user_model_sm-n920c',
 'user_model_sm-n920g',
 'user_model_sm-n920p',
 'user_model_sm-n920r4',
 'user_model_sm-n920t',
 'user_model_sm-n920v',
 'user_model_sm-n930v',
 'user_model_sm-p600',
 'user_model_sm-p905v',
 'user_model_sm-s120vl',
 'user_model_sm-s320vl',
 'user_model_sm-s550tl',
 'user_model_sm-s765c',
 'user_model_sm-s766c',
 'user_model_sm-s820l',
 'user_model_sm-s902l',
 'user_model_sm-s906l',
 'user_model_sm-s920l',
 'user_model_sm-s975l',
 'user_model_sm-s978l',
 'user_model_sm-t110',
 'user_model_sm-t113',
 'user_model_sm-t210r',
 'user_model_sm-t217s',
 'user_model_sm-t217t',
 'user_model_sm-t230',
 'user_model_sm-t230nu',
 'user_model_sm-t237p',
 'user_model_sm-t280',
 'user_model_sm-t310',
 'user_model_sm-t320',
 'user_model_sm-t330nu',
 'user_model_sm-t337t',
 'user_model_sm-t337v',
 'user_model_sm-t350',
 'user_model_sm-t357t',
 'user_model_sm-t377p',
 'user_model_sm-t377r4',
 'user_model_sm-t377t',
 'user_model_sm-t377v',
 'user_model_sm-t520',
 'user_model_sm-t530nu',
 'user_model_sm-t537v',
 'user_model_sm-t550',
 'user_model_sm-t560nu',
 'user_model_sm-t567v',
 'user_model_sm-t700',
 'user_model_sm-t710',
 'user_model_sm-t800',
 'user_model_sm-t807p',
 'user_model_sm-t807t',
 'user_model_sm-t813',
 'user_model_sm-t817p',
 'user_model_sm-t817r4',
 'user_model_sm-t817t',
 'user_model_sm-t817v',
 'user_model_sm-t900',
 'user_model_speed 4.7 lte',
 'user_model_sph-d710',
 'user_model_sph-d710bst',
 'user_model_sph-d710vmub',
 'user_model_sph-l520',
 'user_model_sph-l600',
 'user_model_sph-l710',
 'user_model_sph-l710t',
 'user_model_sph-l720',
 'user_model_sph-l720t',
 'user_model_sph-l900',
 'user_model_sph-m840',
 'user_model_studio 6.0 lte',
 'user_model_studio6_0hd',
 'user_model_stv100-1',
 'user_model_trio axs',
 'user_model_uscc-e6762',
 'user_model_vivo 5r',
 'user_model_vk410',
 'user_model_vk810 4g',
 'user_model_vk815',
 'user_model_vs415pp',
 'user_model_vs425',
 'user_model_vs425pp',
 'user_model_vs500',
 'user_model_vs810pp',
 'user_model_vs820',
 'user_model_vs835',
 'user_model_vs870 4g',
 'user_model_vs876',
 'user_model_vs880',
 'user_model_vs880pp',
 'user_model_vs980 4g',
 'user_model_vs985 4g',
 'user_model_vs986',
 'user_model_vs987',
 'user_model_vs990',
 'user_model_x325–locked to life wireless',
 'user_model_x401',
 'user_model_x_10',
 'user_model_xt1019',
 'user_model_xt1028',
 'user_model_xt1030',
 'user_model_xt1031',
 'user_model_xt1032',
 'user_model_xt1033',
 'user_model_xt1042',
 'user_model_xt1045',
 'user_model_xt1049',
 'user_model_xt1050',
 'user_model_xt1055',
 'user_model_xt1056',
 'user_model_xt1058',
 'user_model_xt1060',
 'user_model_xt1064',
 'user_model_xt1068',
 'user_model_xt1080',
 'user_model_xt1093',
 'user_model_xt1095',
 'user_model_xt1096',
 'user_model_xt1225',
 'user_model_xt1254',
 'user_model_xt1526',
 'user_model_xt1528',
 'user_model_xt1564',
 'user_model_xt1565',
 'user_model_xt1572',
 'user_model_xt1575',
 'user_model_xt1585',
 'user_model_xt1609',
 'user_model_xt1635-01',
 'user_model_xt1650',
 'user_model_xt830c',
 'user_model_xt907',
 'user_model_y538',
 'user_model_z667t',
 'user_model_z716bl',
 'user_model_z730',
 'user_model_z752c',
 'user_model_z755',
 'user_model_z777',
 'user_model_z787',
 'user_model_z793c',
 'user_model_z797c',
 'user_model_z812',
 'user_model_z813',
 'user_model_z818l',
 'user_model_z820',
 'user_model_z828',
 'user_model_z828tl',
 'user_model_z832',
 'user_model_z932l',
 'user_model_z936l',
 'user_model_z955a',
 'user_model_z955l',
 'user_model_z958',
 'user_model_z959',
 'user_model_z963u',
 'user_model_z963vl',
 'user_model_z970',
 'user_model_z981',
 'user_model_z987',
 'user_model_z988',
 'user_model_zte_n9511',
 'user_l2_cat0010000000',
 'user_l2_cat1000001',
 'user_l2_cat1000002',
 'user_l2_cat1000007',
 'user_l2_cat10000101',
 'user_l2_cat1000012',
 'user_l2_cat10000162',
 'user_l2_cat1000017',
 'user_l2_cat10000177',
 'user_l2_cat10000179',
 'user_l2_cat1000025',
 'user_l2_cat1000028',
 'user_l2_cat1000031',
 'user_l2_cat1000032',
 'user_l2_cat1000042',
 'user_l2_cat1000044',
 'user_l2_cat1000050',
 'user_l2_cat10000667',
 'user_l2_cat1000069',
 'user_l2_cat1000072',
 'user_l2_cat1000073',
 'user_l2_cat1000076',
 'user_l2_cat1000080',
 'user_l2_cat1000086',
 'user_l2_cat1000088',
 'user_l2_cat1000089',
 'user_l2_cat1000101',
 'user_l2_cat1000105',
 'user_l2_cat1000111',
 'user_l2_cat1000114',
 'user_l2_cat1000116',
 'user_l2_cat1000117',
 'user_l2_cat1000119',
 'user_l2_cat1000120',
 'user_l2_cat1000121',
 'user_l2_cat1000122',
 'user_l2_cat1000123',
 'user_l2_cat1000166',
 'user_l2_cat1000168',
 'user_l2_cat1000183',
 'user_l2_cat1000257',
 'user_l2_cat1000258',
 'user_l2_cat1000259',
 'user_l2_cat1000267',
 'user_l2_cat1000269',
 'user_l2_cat1000276',
 'user_l2_cat1000283',
 'user_l2_cat1000288',
 'user_l2_cat1000290',
 'user_l2_cat1000292',
 'user_l2_cat1000294',
 'user_l2_cat1000295',
 'user_l2_cat1000296',
 'user_l2_cat1000297',
 'user_l2_cat1000298',
 'user_l2_cat1000299',
 'user_l2_cat1000313',
 'user_l2_cat1000323',
 'user_l2_cat1000346',
 'user_l2_cat1000371',
 'user_l2_cat1000374',
 'user_l2_cat1000393',
 'user_l2_cat1000395',
 'user_l2_cat1000404',
 'user_l2_cat1000423',
 'user_l2_cat1000426',
 'user_l2_cat1000427',
 'user_l2_cat1000492',
 'user_l2_cat1000495',
 'user_l2_cat1000506',
 'user_l2_cat1000511',
 'user_l2_cat1000513',
 'user_l2_cat1000522',
 'user_l2_cat1000528',
 'user_l2_cat1000535',
 'user_l2_cat1000540',
 'user_l2_cat1000557',
 'user_l2_cat1000560',
 'user_l2_cat1000596',
 'user_l2_cat1000604',
 'user_l2_cat1000611',
 'user_l2_cat1000620',
 'user_l2_cat1000622',
 'user_l2_cat1000624',
 'user_l2_cat1000627',
 'user_l2_cat1000630',
 'user_l2_cat1000637',
 'user_l2_cat1000638',
 'user_l2_cat1000644',
 'user_l2_cat1000655',
 'user_l2_cat1000659',
 'user_l2_cat1000661',
 'user_l2_cat1000663',
 'user_l2_cat1000667',
 'user_l2_cat1000671',
 'user_l2_cat1000680',
 'user_l2_cat1000681',
 'user_l2_cat1000698',
 'user_l2_cat1000699',
 'user_l2_cat1000700',
 'user_l2_cat1000701',
 'user_l2_cat1000705',
 'user_l2_cat1000707',
 'user_l2_cat1000708',
 'user_l2_cat1000709',
 'user_l2_cat1000710',
 'user_l2_cat1000713',
 'user_l2_cat1000721',
 'user_l2_cat1000742',
 'user_l2_cat1000745',
 'user_l2_cat1000779',
 'user_l2_cat1000780',
 'user_l2_cat1000797',
 'user_l2_cat1000798',
 'user_l2_cat1000803',
 'user_l2_cat1000804',
 'user_l2_cat1000825',
 'user_l2_cat1000835',
 'user_l2_cat1000844',
 'user_l2_cat1000849',
 'user_l2_cat1000851',
 'user_l2_cat1000860',
 'user_l2_cat1000862',
 'user_l2_cat1000863',
 'user_l2_cat1000876',
 'user_l2_cat1000885',
 'user_l2_cat1000886',
 'user_l2_cat1000900',
 'user_l2_cat1000917',
 'user_l2_cat1000922',
 'user_l2_cat1000924',
 'user_l2_cat1000927',
 'user_l2_cat1000930',
 'user_l2_cat1000931',
 'user_l2_cat1000940',
 'user_l2_cat1000941',
 'user_l2_cat1000958',
 'user_l2_cat1000963',
 'user_l2_cat1000978',
 'user_l2_cat1000979',
 'user_l2_cat1000987',
 'user_l2_cat1000992',
 'user_l2_cat1000993',
 'user_l2_cat1001012',
 'user_l2_cat1001039',
 'user_l2_cat1001040',
 'user_l2_cat1001049',
 'user_l2_cat1001060',
 'user_l2_cat1001091',
 'user_l2_cat1001103',
 'user_l2_cat1001110',
 'user_l2_cat1001117',
 'user_l2_cat2000000',
 'user_l2_cat6000007',
 'user_l2_cat8000001']

In [85]:
#df_test_user = df_user[df_user['user_id'].isin(final_test_user_id)]
#df_test_user = df_test_user.drop(['user_id'], axis=1)
df_test_user_2 = df_test_user[user_fea_col].fillna(0)
#df_test_user_2 = df_test_user.fillna(0)
df_test_user_arr = df_test_user_2.values
df_test_user_arr.shape

(786, 812)

In [86]:
app_category

Index(['ART_AND_DESIGN', 'AUTO_AND_VEHICLES', 'BEAUTY', 'BOOKS_AND_REFERENCE',
       'BUSINESS', 'COMICS', 'COMMUNICATION', 'DATING', 'EDUCATION',
       'ENTERTAINMENT', 'EVENTS', 'FAMILY_ACTION', 'FINANCE', 'FOOD_AND_DRINK',
       'GAME_ACTION', 'GAME_ADVENTURE', 'GAME_ARCADE', 'GAME_BOARD',
       'GAME_CARD', 'GAME_CASINO', 'GAME_CASUAL', 'GAME_EDUCATIONAL',
       'GAME_MUSIC', 'GAME_PUZZLE', 'GAME_RACING', 'GAME_ROLE_PLAYING',
       'GAME_SIMULATION', 'GAME_SPORTS', 'GAME_STRATEGY', 'GAME_TRIVIA',
       'GAME_WORD', 'HEALTH_AND_FITNESS', 'HOUSE_AND_HOME',
       'LIBRARIES_AND_DEMO', 'LIFESTYLE', 'MAPS_AND_NAVIGATION',
       'MEDIA_AND_VIDEO', 'MEDICAL', 'MUSIC_AND_AUDIO', 'NEWS_AND_MAGAZINES',
       'PARENTING', 'PERSONALIZATION', 'PHOTOGRAPHY', 'PRODUCTIVITY',
       'SHOPPING', 'SOCIAL', 'SPORTS', 'TOOLS', 'TRANSPORTATION',
       'TRAVEL_AND_LOCAL', 'VIDEO_PLAYERS', 'WEATHER'],
      dtype='object')

In [87]:
df_test_app0 = df_app2[df_app2['user_id'].isin(final_test_user_id)]
df_test_app_2 = df_test_user_0[['user_id']].merge(df_test_app0, how = 'left', on = 'user_id')[app_category]
df_test_app_2.head()

,ART_AND_DESIGN,AUTO_AND_VEHICLES,BEAUTY,BOOKS_AND_REFERENCE,BUSINESS,COMICS,COMMUNICATION,DATING,EDUCATION,ENTERTAINMENT,...,PHOTOGRAPHY,PRODUCTIVITY,SHOPPING,SOCIAL,SPORTS,TOOLS,TRANSPORTATION,TRAVEL_AND_LOCAL,VIDEO_PLAYERS,WEATHER
0,0.1,0.1,0.1,0.1,0.1,0.1,3.0,0.1,0.1,1.0,...,1.0,1.0,0.1,2.0,0.1,3.0,0.1,1.0,1.0,0.1
1,0.1,0.1,0.1,6.0,1.0,0.1,5.0,0.1,2.0,4.0,...,2.0,4.0,0.1,2.0,0.1,16.0,0.1,1.0,1.0,0.1
2,0.1,0.1,0.1,2.0,0.1,0.1,4.0,0.1,4.0,4.0,...,2.0,7.0,0.1,5.0,0.1,5.0,0.1,1.0,2.0,3.0
3,0.1,0.1,0.1,1.0,0.1,0.1,0.1,0.1,0.1,0.1,...,0.1,0.1,2.0,0.1,0.1,0.1,0.1,0.1,1.0,0.1
4,0.1,0.1,0.1,6.0,0.1,0.1,7.0,0.1,1.0,10.0,...,2.0,6.0,1.0,8.0,1.0,16.0,0.1,2.0,6.0,1.0

In [88]:
df_test_app_2 = df_test_app_2.fillna(0.1)
df_test_user_arr = df_test_app_2.values
df_test_user_arr.shape

(786, 52)

In [89]:
# may need to do sampling on df_ua_map
###sophia 20171201
#df_ua_map = df_ua_map.sample(frac=0.3, replace=False)

In [90]:
len(df_ua_map)

139811

df_ua_map.head()

In [148]:
#df_train_user = df_train_user_0.merge(df_user_cat, how = 'left', on = 'user_id')

In [149]:
all_user_id = train_user_id + old_user_id
df_final_train_user_article = df_ua_map[(df_ua_map['user_id'].isin(all_user_id))]
df_final_train_user_article = df_final_train_user_article.merge(df_train_user[test_col], how = 'left', on = 'user_id')

In [150]:
print (df_final_train_user_article.shape)
df_final_train_user_article.head()

(138815, 860)

,user_id,article_contentid,user_age_0.0,user_age_1.0,user_age_2.0,user_age_3.0,user_age_4.0,user_gender_0.0,user_gender_1.0,user_gender_2.0,...,user_l2_cat1001040,user_l2_cat1001049,user_l2_cat1001060,user_l2_cat1001091,user_l2_cat1001103,user_l2_cat1001110,user_l2_cat1001117,user_l2_cat2000000,user_l2_cat6000007,user_l2_cat8000001
0,56F27AD705D8564F7900470AA793DBD2,Bm702d2afz8_us,0,0,0,0,1,0,0,1,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
1,F9B30E5BDD8009EBA52C1F5518D9E332,nW7c6db65KY_us,0,1,0,0,0,0,0,1,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
2,614E304DE3B07EBCDD4E11382578EF5A,AY628126a1w_us,0,0,1,0,0,0,0,1,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
3,CD2F2B61135DB27BA3230F91466ED793,jQ6c581bbr2_us,0,0,0,1,0,0,0,1,...,0.1,0.1,0.1,1.0,0.1,0.1,0.1,0.1,0.1,0.1
4,614E304DE3B07EBCDD4E11382578EF5A,1V70d401fdc_us,0,0,1,0,0,0,0,1,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1

In [151]:
df_final_train_user_article = df_final_train_user_article.merge(df_article_2.drop(['user_id'],axis = 1), how = 'left', on = 'article_contentid')
df_final_train_user_article.head()

,user_id,article_contentid,user_age_0.0,user_age_1.0,user_age_2.0,user_age_3.0,user_age_4.0,user_gender_0.0,user_gender_1.0,user_gender_2.0,...,l2_cat_1001040,l2_cat_1001049,l2_cat_1001060,l2_cat_1001091,l2_cat_1001103,l2_cat_1001110,l2_cat_1001117,l2_cat_2000000,l2_cat_6000007,l2_cat_8000001
0,56F27AD705D8564F7900470AA793DBD2,Bm702d2afz8_us,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,F9B30E5BDD8009EBA52C1F5518D9E332,nW7c6db65KY_us,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,614E304DE3B07EBCDD4E11382578EF5A,AY628126a1w_us,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,CD2F2B61135DB27BA3230F91466ED793,jQ6c581bbr2_us,0,0,0,1,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
4,614E304DE3B07EBCDD4E11382578EF5A,1V70d401fdc_us,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [152]:
df_final_train_user_article.shape

(138815, 8924)

In [153]:
df_final_train_user_article = df_final_train_user_article.iloc[[i for i in df_final_train_user_article.index if i%2 == 0]].reset_index(drop=True)
df_final_train_user_article.head()

,user_id,article_contentid,user_age_0.0,user_age_1.0,user_age_2.0,user_age_3.0,user_age_4.0,user_gender_0.0,user_gender_1.0,user_gender_2.0,...,l2_cat_1001040,l2_cat_1001049,l2_cat_1001060,l2_cat_1001091,l2_cat_1001103,l2_cat_1001110,l2_cat_1001117,l2_cat_2000000,l2_cat_6000007,l2_cat_8000001
0,56F27AD705D8564F7900470AA793DBD2,Bm702d2afz8_us,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,614E304DE3B07EBCDD4E11382578EF5A,AY628126a1w_us,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,614E304DE3B07EBCDD4E11382578EF5A,1V70d401fdc_us,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,614E304DE3B07EBCDD4E11382578EF5A,Ly7407d4cuC_us,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,CD2F2B61135DB27BA3230F91466ED793,vm721d1d5Qp_us,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [154]:
#df_final_train = df_final_train_user_article.merge(df_user, how='left', on='user_id')
df_final_train = df_final_train_user_article.fillna(0.1)
#sophia remark: add app data
#df_final_train = df_final_train.merge(df_app2, how='left', on='user_id')

In [155]:
df_final_train.shape

(69408, 8924)

In [156]:
df_final_train = df_final_train.merge(df_app2, how='left', on='user_id')
###sophia remark, check wether there is NAN or all 0 here
#df_final_train = df_final_train.dropna()
#df_final_train.head()

In [157]:
df_final_train.shape

(69408, 8976)

In [158]:
user_feature = [i for i in df_final_train.columns if 'user_' in i and i != 'user_id']
user_feature

['user_age_0.0',
 'user_age_1.0',
 'user_age_2.0',
 'user_age_3.0',
 'user_age_4.0',
 'user_gender_0.0',
 'user_gender_1.0',
 'user_gender_2.0',
 'user_brand_acer',
 'user_brand_asus',
 'user_brand_att',
 'user_brand_blackberry',
 'user_brand_blu',
 'user_brand_cingular_us',
 'user_brand_coolpad',
 'user_brand_cubot',
 'user_brand_dragon touch',
 'user_brand_emerson',
 'user_brand_gionee',
 'user_brand_google',
 'user_brand_hisense',
 'user_brand_honor',
 'user_brand_htc',
 'user_brand_huawei',
 'user_brand_intex',
 'user_brand_kyocera',
 'user_brand_lenovo',
 'user_brand_lge',
 'user_brand_metropcs',
 'user_brand_micromax',
 'user_brand_motorola',
 'user_brand_myphone',
 'user_brand_nextbit',
 'user_brand_nextbook',
 'user_brand_oneplus',
 'user_brand_rca',
 'user_brand_samsung',
 'user_brand_sharp',
 'user_brand_sky devices',
 'user_brand_sony',
 'user_brand_speed',
 'user_brand_tcl',
 'user_brand_tcl_metropcs',
 'user_brand_tct',
 'user_brand_tct_metropcs',
 'user_brand_trio',
 'user_brand_verizon',
 'user_brand_verizon_lge',
 'user_brand_verizon_wwe',
 'user_brand_x325',
 'user_brand_x401',
 'user_brand_xiaomi',
 'user_brand_yezz',
 'user_brand_zte',
 'user_model_0paj5',
 'user_model_0pcv1',
 'user_model_0pja10',
 'user_model_0pja2',
 'user_model_0pm92',
 'user_model_2pq93',
 'user_model_2ps64',
 'user_model_2pyb2',
 'user_model_306sh',
 'user_model_5017b',
 'user_model_5027b',
 'user_model_5042t',
 'user_model_5054n',
 'user_model_5054w',
 'user_model_5056e',
 'user_model_5056n',
 'user_model_5065n',
 'user_model_5098s',
 'user_model_5560s',
 'user_model_6045i',
 'user_model_6045o',
 'user_model_7040n',
 'user_model_7040t',
 'user_model_710c',
 'user_model_801es',
 'user_model_831c',
 'user_model_9006w',
 'user_model_9020a',
 'user_model_a0001',
 'user_model_a1',
 'user_model_a1-810',
 'user_model_a1x plus',
 'user_model_a460g',
 'user_model_a462c',
 'user_model_a463bg',
 'user_model_a464bg',
 'user_model_a521l',
 'user_model_a571vl',
 'user_model_adr6400l',
 'user_model_alcatel a564c',
 'user_model_alcatel a845l',
 'user_model_alcatel a851l',
 'user_model_alcatel one touch 8008w',
 'user_model_alcatel one touch fierce',
 'user_model_alcatel onetouch p310a',
 'user_model_alcatel onetouch pop 7 lte',
 'user_model_alcatel9007t',
 'user_model_alcatel_4060a',
 'user_model_alcatel_4060o',
 'user_model_alcatel_5056o',
 'user_model_alcatel_6055u',
 'user_model_andy_5ei',
 'user_model_aqua y4',
 'user_model_aqua_power_hd',
 'user_model_asus memo pad 7',
 'user_model_asus padfone x',
 'user_model_asus zenfone 2e',
 'user_model_asus_z00ad',
 'user_model_asus_z00td',
 'user_model_blu life one x',
 'user_model_blu life xl',
 'user_model_blu r1 hd',
 'user_model_blu studio 5.0 c hd',
 'user_model_blu studio 6.0 hd',
 'user_model_blu studio c super camera',
 'user_model_blu studio g',
 'user_model_blu studio selfie 2',
 'user_model_blu studio x',
 'user_model_blu_studio_xl',
 'user_model_c6530',
 'user_model_c6530n',
 'user_model_c6606',
 'user_model_c6725',
 'user_model_c6730',
 'user_model_c6740',
 'user_model_c6740n',
 'user_model_c6743',
 'user_model_coolpad 3300a',
 'user_model_coolpad 3320a',
 'user_model_coolpad 3622a',
 'user_model_d6503',
 'user_model_d6616',
 'user_model_d6708',
 'user_model_dash 5.5',
 'user_model_dash x plus',
 'user_model_droid razr',
 'user_model_droid razr hd',
 'user_model_e5306',
 'user_model_e5803',
 'user_model_e6715',
 'user_model_e6762',
 'user_model_e6782',
 'user_model_em756',
 'user_model_energy x 2',
 'user_model_f103',
 'user_model_frd-l04',
 'user_model_galaxy nexus',
 'user_model_gt-i8552',
 'user_model_gt-i9060',
 'user_model_gt-i9152',
 'user_model_gt-i9192',
 'user_model_gt-i9195',
 'user_model_gt-n5110',
 'user_model_gt-n7100',
 'user_model_gt-p3113',
 'user_model_gt-p5113',
 'user_model_gt-p5210',
 'user_model_htc 10',
 'user_model_htc 2pst2',
 'user_model_htc desire 510',
 'user_model_htc desire 520',
 'user_model_htc desire 610',
 'user_model_htc desire 625',
 'user_model_htc desire 626',
 'user_model_htc desire 626s',
 'user_model_htc desire eye',
 'user_model_htc one',
 'user_model_htc one a9',
 'user_model_htc one m8',
 'user_model_htc one m9',
 'user_model_htc one_m8',
 'user_model_htc0p3p7',
 'user_model_htc331zlvw',
 'user_model_htc6435lvw',
 'user_model_htc6500lvw',
 'user_model_htc6515lvw',
 'user_model_htc6525lvw',
 'user_model_htc6535lra',
 'user_model_htc6535lvw',
 'user_model_htc6545lvw',
 'user_model_htc6600lvw',
 'user_model_htc_d530u',
 'user_model_htc_e9pw',
 'user_model_htcd100lvw',
 'user_model_htcd100lvwpp',
 'user_model_htcd160lvw',
 'user_model_htcd160lvwpp',
 'user_model_htcd200lvw',
 'user_model_htcd200lvwpp',
 'user_model_htcone',
 'user_model_huawei ale-l04',
 'user_model_huawei g620-a2',
 'user_model_huawei h891l',
 'user_model_huawei h892l',
 'user_model_huawei y301a1',
 'user_model_huawei y301a2',
 'user_model_huawei y536a1',
 'user_model_k010',
 'user_model_k88',
 'user_model_kiw-l24',
 'user_model_kyocera-c6742',
 'user_model_kyocera-c6742a',
 'user_model_kyocera-c6745',
 'user_model_kyocera-e6560',
 'user_model_lenovo a7010a48',
 'user_model_lenovo yt3-850f',
 'user_model_lg-as330',
 'user_model_lg-as990',
 'user_model_lg-d321',
 'user_model_lg-d415',
 'user_model_lg-d631',
 'user_model_lg-d722j',
 'user_model_lg-d725',
 'user_model_lg-d800',
 'user_model_lg-d801',
 'user_model_lg-d850',
 'user_model_lg-d851',
 'user_model_lg-d950',
 'user_model_lg-d959',
 'user_model_lg-e970',
 'user_model_lg-e980',
 'user_model_lg-e989',
 'user_model_lg-h343',
 'user_model_lg-h345',
 'user_model_lg-h443',
 'user_model_lg-h631',
 'user_model_lg-h634',
 'user_model_lg-h740',
 'user_model_lg-h810',
 'user_model_lg-h811',
 'user_model_lg-h815',
 'user_model_lg-h820',
 'user_model_lg-h830',
 'user_model_lg-h900',
 'user_model_lg-h901',
 'user_model_lg-h918',
 'user_model_lg-h962',
 'user_model_lg-k120',
 'user_model_lg-k330',
 'user_model_lg-k371',
 'user_model_lg-k373',
 'user_model_lg-k425',
 'user_model_lg-k428',
 'user_model_lg-k540',
 'user_model_lg-k550',
 'user_model_lg-ls970',
 'user_model_lg-ls980',
 'user_model_lg-ls990',
 'user_model_lg-ls995',
 'user_model_lg-ls997',
 'user_model_lg-p769',
 'user_model_lg-uk495',
 'user_model_lg-v400',
 'user_model_lg-v410',
 'user_model_lg-v495',
 'user_model_lg-v496',
 'user_model_lg-v520',
 'user_model_lg-v521',
 'user_model_lg-v930',
 'user_model_lg-vs450pp',
 'user_model_lgl15g',
 'user_model_lgl16c',
 'user_model_lgl21g',
 'user_model_lgl22c',
 'user_model_lgl33l',
 'user_model_lgl34c',
 'user_model_lgl41c',
 'user_model_lgl43al',
 'user_model_lgl44vl',
 'user_model_lgl51al',
 'user_model_lgl52vl',
 'user_model_lgl62vl',
 'user_model_lgl82vl',
 'user_model_lglk430',
 'user_model_lgls450',
 'user_model_lgls620',
 'user_model_lgls660',
 'user_model_lgls665',
 'user_model_lgls675',
 'user_model_lgls676',
 'user_model_lgls740',
 'user_model_lgls751',
 'user_model_lgls755',
 'user_model_lgls770',
 'user_model_lgls775',
 'user_model_lgls990',
 'user_model_lgls991',
 'user_model_lgls992',
 'user_model_lgls996',
 'user_model_lgms323',
 'user_model_lgms330',
 'user_model_lgms345',
 'user_model_lgms395',
 'user_model_lgms428',
 'user_model_lgms550',
 'user_model_lgms631',
 'user_model_lguk410',
 'user_model_lgus375',
 'user_model_lgus550',
 'user_model_lgus990',
 'user_model_lgus991',
 'user_model_m470bsa',
 'user_model_mb865',
 'user_model_micromax a311',
 'user_model_moto g (4)',
 'user_model_moto g play',
 'user_model_motoe2(4g-lte)',
 'user_model_motog3',
 'user_model_mt2l03',
 'user_model_myphone my33',
 'user_model_n817',
 'user_model_n9100',
 'user_model_n9130',
 'user_model_n9132',
 'user_model_n9515',
 'user_model_n9516',
 'user_model_n9518',
 'user_model_n9519',
 'user_model_n9520',
 'user_model_n9521',
 'user_model_nexus 10',
 'user_model_nexus 4',
 'user_model_nexus 5',
 'user_model_nexus 5x',
 'user_model_nexus 6',
 'user_model_nexus 6p',
 'user_model_nexus 7',
 'user_model_nxa8qc116',
 'user_model_one a2003',
 'user_model_one e1005',
 'user_model_oneplus a3000',
 'user_model_p023',
 'user_model_pantechp8010',
 'user_model_pixel',
 'user_model_pixel xl',
 'user_model_qmv7a',
 'user_model_qmv7b',
 'user_model_qtair7',
 'user_model_qtaqz3',
 'user_model_r1 hd',
 'user_model_rct6203w46',
 'user_model_rct6303w87dk',
 'user_model_rct6573w23',
 'user_model_rct6773w22',
 'user_model_rct6773w22b',
 'user_model_rct6773w42b',
 'user_model_redmi note 3',
 'user_model_robin',
 'user_model_rs988',
 'user_model_samsung-sgh-i257',
 'user_model_samsung-sgh-i317',
 'user_model_samsung-sgh-i337',
 'user_model_samsung-sgh-i337z',
 'user_model_samsung-sgh-i437p',
 'user_model_samsung-sgh-i467',
 'user_model_samsung-sgh-i497',
 'user_model_samsung-sgh-i527',
 'user_model_samsung-sgh-i537',
 'user_model_samsung-sgh-i547',
 'user_model_samsung-sgh-i727',
 'user_model_samsung-sgh-i747',
 'user_model_samsung-sm-g360az',
 'user_model_samsung-sm-g530a',
 'user_model_samsung-sm-g530az',
 'user_model_samsung-sm-g730a',
 'user_model_samsung-sm-g750a',
 'user_model_samsung-sm-g800a',
 'user_model_samsung-sm-g850a',
 'user_model_samsung-sm-g870a',
 'user_model_samsung-sm-g890a',
 'user_model_samsung-sm-g891a',
 'user_model_samsung-sm-g900a',
 'user_model_samsung-sm-g900az',
 'user_model_samsung-sm-g920a',
 'user_model_samsung-sm-g920az',
 'user_model_samsung-sm-g925a',
 'user_model_samsung-sm-g928a',
 'user_model_samsung-sm-g930a',
 'user_model_samsung-sm-g930az',
 'user_model_samsung-sm-g935a',
 'user_model_samsung-sm-j120a',
 'user_model_samsung-sm-j120az',
 'user_model_samsung-sm-j320a',
 'user_model_samsung-sm-j320az',
 'user_model_samsung-sm-j321az',
 'user_model_samsung-sm-n900a',
 'user_model_samsung-sm-n910a',
 'user_model_samsung-sm-n915a',
 'user_model_samsung-sm-n920a',
 'user_model_samsung-sm-t217a',
 'user_model_samsung-sm-t337a',
 'user_model_samsung-sm-t377a',
 'user_model_samsung-sm-t807a',
 'user_model_sch-i200',
 'user_model_sch-i200pp',
 'user_model_sch-i415',
 'user_model_sch-i435',
 'user_model_sch-i535',
 'user_model_sch-i535pp',
 'user_model_sch-i545',
 'user_model_sch-i545pp',
 'user_model_sch-i605',
 'user_model_sch-i705',
 'user_model_sch-i915',
 'user_model_sch-l710',
 'user_model_sch-r530c',
 'user_model_sch-r530u',
 'user_model_sch-r890',
 'user_model_sch-r950',
 'user_model_sch-r960',
 'user_model_sch-r970',
 'user_model_sch-r970c',
 'user_model_sch-r970x',
 'user_model_sch-s960l',
 'user_model_sch-s968c',
 'user_model_sgh-i257m',
 'user_model_sgh-i317m',
 'user_model_sgh-m819n',
 'user_model_sgh-m919',
 'user_model_sgh-m919n',
 'user_model_sgh-t399',
 'user_model_sgh-t399n',
 'user_model_sgh-t599n',
 'user_model_sgh-t889',
 'user_model_sgh-t989',
 'user_model_sgh-t999',
 'user_model_sgh-t999l',
 'user_model_sgp512',
 'user_model_sgp561',
 'user_model_sky 4.0d',
 'user_model_sm-a310f',
 'user_model_sm-a500h',
 'user_model_sm-a510f',
 'user_model_sm-c115',
 'user_model_sm-g310r5',
 'user_model_sm-g360h',
 'user_model_sm-g360p',
 'user_model_sm-g360t',
 'user_model_sm-g360t1',
 'user_model_sm-g360v',
 'user_model_sm-g386t',
 'user_model_sm-g386t1',
 'user_model_sm-g530p',
 'user_model_sm-g530r4',
 'user_model_sm-g530r7',
 'user_model_sm-g530t',
 'user_model_sm-g530t1',
 'user_model_sm-g531h',
 'user_model_sm-g550t',
 'user_model_sm-g550t1',
 'user_model_sm-g550t2',
 'user_model_sm-g7508q',
 'user_model_sm-g800h',
 'user_model_sm-g860p',
 'user_model_sm-g900f',
 'user_model_sm-g900h',
 'user_model_sm-g900m',
 'user_model_sm-g900p',
 'user_model_sm-g900r4',
 'user_model_sm-g900r6',
 'user_model_sm-g900r7',
 'user_model_sm-g900t',
 'user_model_sm-g900t1',
 'user_model_sm-g900t3',
 'user_model_sm-g900v',
 'user_model_sm-g900w8',
 'user_model_sm-g901f',
 'user_model_sm-g920f',
 'user_model_sm-g920i',
 'user_model_sm-g920p',
 'user_model_sm-g920r4',
 'user_model_sm-g920r6',
 'user_model_sm-g920r7',
 'user_model_sm-g920t',
 'user_model_sm-g920t1',
 'user_model_sm-g920v',
 'user_model_sm-g925f',
 'user_model_sm-g925i',
 'user_model_sm-g925p',
 'user_model_sm-g925r4',
 'user_model_sm-g925r6',
 'user_model_sm-g925r7',
 'user_model_sm-g925t',
 'user_model_sm-g925v',
 'user_model_sm-g928c',
 'user_model_sm-g928f',
 'user_model_sm-g928g',
 'user_model_sm-g928p',
 'user_model_sm-g928r4',
 'user_model_sm-g928t',
 'user_model_sm-g928v',
 'user_model_sm-g930f',
 'user_model_sm-g930p',
 'user_model_sm-g930r4',
 'user_model_sm-g930r7',
 'user_model_sm-g930t',
 'user_model_sm-g930t1',
 'user_model_sm-g930u',
 'user_model_sm-g930v',
 'user_model_sm-g930w8',
 'user_model_sm-g935f',
 'user_model_sm-g935p',
 'user_model_sm-g935r4',
 'user_model_sm-g935t',
 'user_model_sm-g935v',
 'user_model_sm-j100vpp',
 'user_model_sm-j111m',
 'user_model_sm-j200m',
 'user_model_sm-j320p',
 'user_model_sm-j320r4',
 'user_model_sm-j320v',
 'user_model_sm-j320vpp',
 'user_model_sm-j500h',
 'user_model_sm-j700f',
 'user_model_sm-j700m',
 'user_model_sm-j700p',
 'user_model_sm-j700t',
 'user_model_sm-j700t1',
 'user_model_sm-n900',
 'user_model_sm-n9005',
 'user_model_sm-n900p',
 'user_model_sm-n900r4',
 'user_model_sm-n900t',
 'user_model_sm-n900v',
 'user_model_sm-n910a',
 'user_model_sm-n910c',
 'user_model_sm-n910h',
 'user_model_sm-n910p',
 'user_model_sm-n910r4',
 'user_model_sm-n910t',
 'user_model_sm-n910t2',
 'user_model_sm-n910t3',
 'user_model_sm-n910v',
 'user_model_sm-n910w8',
 'user_model_sm-n915p',
 'user_model_sm-n915r4',
 'user_model_sm-n915t',
 'user_model_sm-n915v',
 'user_model_sm-n920c',
 'user_model_sm-n920g',
 'user_model_sm-n920p',
 'user_model_sm-n920r4',
 'user_model_sm-n920t',
 'user_model_sm-n920v',
 'user_model_sm-n930v',
 'user_model_sm-p600',
 'user_model_sm-p905v',
 'user_model_sm-s120vl',
 'user_model_sm-s320vl',
 'user_model_sm-s550tl',
 'user_model_sm-s765c',
 'user_model_sm-s766c',
 'user_model_sm-s820l',
 'user_model_sm-s902l',
 'user_model_sm-s906l',
 'user_model_sm-s920l',
 'user_model_sm-s975l',
 'user_model_sm-s978l',
 'user_model_sm-t110',
 'user_model_sm-t113',
 'user_model_sm-t210r',
 'user_model_sm-t217s',
 'user_model_sm-t217t',
 'user_model_sm-t230',
 'user_model_sm-t230nu',
 'user_model_sm-t237p',
 'user_model_sm-t280',
 'user_model_sm-t310',
 'user_model_sm-t320',
 'user_model_sm-t330nu',
 'user_model_sm-t337t',
 'user_model_sm-t337v',
 'user_model_sm-t350',
 'user_model_sm-t357t',
 'user_model_sm-t377p',
 'user_model_sm-t377r4',
 'user_model_sm-t377t',
 'user_model_sm-t377v',
 'user_model_sm-t520',
 'user_model_sm-t530nu',
 'user_model_sm-t537v',
 'user_model_sm-t550',
 'user_model_sm-t560nu',
 'user_model_sm-t567v',
 'user_model_sm-t700',
 'user_model_sm-t710',
 'user_model_sm-t800',
 'user_model_sm-t807p',
 'user_model_sm-t807t',
 'user_model_sm-t813',
 'user_model_sm-t817p',
 'user_model_sm-t817r4',
 'user_model_sm-t817t',
 'user_model_sm-t817v',
 'user_model_sm-t900',
 'user_model_speed 4.7 lte',
 'user_model_sph-d710',
 'user_model_sph-d710bst',
 'user_model_sph-d710vmub',
 'user_model_sph-l520',
 'user_model_sph-l600',
 'user_model_sph-l710',
 'user_model_sph-l710t',
 'user_model_sph-l720',
 'user_model_sph-l720t',
 'user_model_sph-l900',
 'user_model_sph-m840',
 'user_model_studio 6.0 lte',
 'user_model_studio6_0hd',
 'user_model_stv100-1',
 'user_model_trio axs',
 'user_model_uscc-e6762',
 'user_model_vivo 5r',
 'user_model_vk410',
 'user_model_vk810 4g',
 'user_model_vk815',
 'user_model_vs415pp',
 'user_model_vs425',
 'user_model_vs425pp',
 'user_model_vs500',
 'user_model_vs810pp',
 'user_model_vs820',
 'user_model_vs835',
 'user_model_vs870 4g',
 'user_model_vs876',
 'user_model_vs880',
 'user_model_vs880pp',
 'user_model_vs980 4g',
 'user_model_vs985 4g',
 'user_model_vs986',
 'user_model_vs987',
 'user_model_vs990',
 'user_model_x325–locked to life wireless',
 'user_model_x401',
 'user_model_x_10',
 'user_model_xt1019',
 'user_model_xt1028',
 'user_model_xt1030',
 'user_model_xt1031',
 'user_model_xt1032',
 'user_model_xt1033',
 'user_model_xt1042',
 'user_model_xt1045',
 'user_model_xt1049',
 'user_model_xt1050',
 'user_model_xt1055',
 'user_model_xt1056',
 'user_model_xt1058',
 'user_model_xt1060',
 'user_model_xt1064',
 'user_model_xt1068',
 'user_model_xt1080',
 'user_model_xt1093',
 'user_model_xt1095',
 'user_model_xt1096',
 'user_model_xt1225',
 'user_model_xt1254',
 'user_model_xt1526',
 'user_model_xt1528',
 'user_model_xt1564',
 'user_model_xt1565',
 'user_model_xt1572',
 'user_model_xt1575',
 'user_model_xt1585',
 'user_model_xt1609',
 'user_model_xt1635-01',
 'user_model_xt1650',
 'user_model_xt830c',
 'user_model_xt907',
 'user_model_y538',
 'user_model_z667t',
 'user_model_z716bl',
 'user_model_z730',
 'user_model_z752c',
 'user_model_z755',
 'user_model_z777',
 'user_model_z787',
 'user_model_z793c',
 'user_model_z797c',
 'user_model_z812',
 'user_model_z813',
 'user_model_z818l',
 'user_model_z820',
 'user_model_z828',
 'user_model_z828tl',
 'user_model_z832',
 'user_model_z932l',
 'user_model_z936l',
 'user_model_z955a',
 'user_model_z955l',
 'user_model_z958',
 'user_model_z959',
 'user_model_z963u',
 'user_model_z963vl',
 'user_model_z970',
 'user_model_z981',
 'user_model_z987',
 'user_model_z988',
 'user_model_zte_n9511',
 'user_l2_cat0010000000',
 'user_l2_cat1000001',
 'user_l2_cat1000002',
 'user_l2_cat1000007',
 'user_l2_cat10000101',
 'user_l2_cat1000012',
 'user_l2_cat10000162',
 'user_l2_cat1000017',
 'user_l2_cat10000177',
 'user_l2_cat10000179',
 'user_l2_cat1000025',
 'user_l2_cat1000028',
 'user_l2_cat1000031',
 'user_l2_cat1000032',
 'user_l2_cat1000042',
 'user_l2_cat1000044',
 'user_l2_cat1000050',
 'user_l2_cat10000667',
 'user_l2_cat1000069',
 'user_l2_cat1000072',
 'user_l2_cat1000073',
 'user_l2_cat1000076',
 'user_l2_cat1000080',
 'user_l2_cat1000086',
 'user_l2_cat1000088',
 'user_l2_cat1000089',
 'user_l2_cat1000101',
 'user_l2_cat1000105',
 'user_l2_cat1000111',
 'user_l2_cat1000114',
 'user_l2_cat1000116',
 'user_l2_cat1000117',
 'user_l2_cat1000119',
 'user_l2_cat1000120',
 'user_l2_cat1000121',
 'user_l2_cat1000122',
 'user_l2_cat1000123',
 'user_l2_cat1000166',
 'user_l2_cat1000168',
 'user_l2_cat1000183',
 'user_l2_cat1000257',
 'user_l2_cat1000258',
 'user_l2_cat1000259',
 'user_l2_cat1000267',
 'user_l2_cat1000269',
 'user_l2_cat1000276',
 'user_l2_cat1000283',
 'user_l2_cat1000288',
 'user_l2_cat1000290',
 'user_l2_cat1000292',
 'user_l2_cat1000294',
 'user_l2_cat1000295',
 'user_l2_cat1000296',
 'user_l2_cat1000297',
 'user_l2_cat1000298',
 'user_l2_cat1000299',
 'user_l2_cat1000313',
 'user_l2_cat1000323',
 'user_l2_cat1000346',
 'user_l2_cat1000371',
 'user_l2_cat1000374',
 'user_l2_cat1000393',
 'user_l2_cat1000395',
 'user_l2_cat1000404',
 'user_l2_cat1000423',
 'user_l2_cat1000426',
 'user_l2_cat1000427',
 'user_l2_cat1000492',
 'user_l2_cat1000495',
 'user_l2_cat1000506',
 'user_l2_cat1000511',
 'user_l2_cat1000513',
 'user_l2_cat1000522',
 'user_l2_cat1000528',
 'user_l2_cat1000535',
 'user_l2_cat1000540',
 'user_l2_cat1000557',
 'user_l2_cat1000560',
 'user_l2_cat1000596',
 'user_l2_cat1000604',
 'user_l2_cat1000611',
 'user_l2_cat1000620',
 'user_l2_cat1000622',
 'user_l2_cat1000624',
 'user_l2_cat1000627',
 'user_l2_cat1000630',
 'user_l2_cat1000637',
 'user_l2_cat1000638',
 'user_l2_cat1000644',
 'user_l2_cat1000655',
 'user_l2_cat1000659',
 'user_l2_cat1000661',
 'user_l2_cat1000663',
 'user_l2_cat1000667',
 'user_l2_cat1000671',
 'user_l2_cat1000680',
 'user_l2_cat1000681',
 'user_l2_cat1000698',
 'user_l2_cat1000699',
 'user_l2_cat1000700',
 'user_l2_cat1000701',
 'user_l2_cat1000705',
 'user_l2_cat1000707',
 'user_l2_cat1000708',
 'user_l2_cat1000709',
 'user_l2_cat1000710',
 'user_l2_cat1000713',
 'user_l2_cat1000721',
 'user_l2_cat1000742',
 'user_l2_cat1000745',
 'user_l2_cat1000779',
 'user_l2_cat1000780',
 'user_l2_cat1000797',
 'user_l2_cat1000798',
 'user_l2_cat1000803',
 'user_l2_cat1000804',
 'user_l2_cat1000825',
 'user_l2_cat1000835',
 'user_l2_cat1000844',
 'user_l2_cat1000849',
 'user_l2_cat1000851',
 'user_l2_cat1000860',
 'user_l2_cat1000862',
 'user_l2_cat1000863',
 'user_l2_cat1000876',

In [159]:
article_feature = [i for i in df_final_train.columns if 'user_' not in i and i not in ['article_contentid',
 'article_title',
 'article_publisher',
 'l1_cat',
 'l2_cat',
 'l1_cat_w',
 'l2_cat_w',
 'l1_cat_w_x',
 'l2_cat_w_x',
 'l1_cat_w_y',
 'l2_cat_w_y',
 'totalCat'] and i not in app_category]
#article_feature = 
article_feature

['article_update_time',
 '#a#',
 '#aa',
 '#ab',
 '#ac',
 '#ad',
 '#ae',
 '#af',
 '#ag',
 '#ah',
 '#ai',
 '#aj',
 '#ak',
 '#al',
 '#am',
 '#an',
 '#ao',
 '#ap',
 '#aq',
 '#ar',
 '#as',
 '#at',
 '#au',
 '#av',
 '#aw',
 '#ax',
 '#ay',
 '#az',
 '#b#',
 '#ba',
 '#bb',
 '#bc',
 '#bd',
 '#be',
 '#bf',
 '#bg',
 '#bh',
 '#bi',
 '#bj',
 '#bk',
 '#bl',
 '#bm',
 '#bn',
 '#bo',
 '#bp',
 '#br',
 '#bs',
 '#bt',
 '#bu',
 '#bv',
 '#bw',
 '#by',
 '#c#',
 '#ca',
 '#cb',
 '#cc',
 '#cd',
 '#ce',
 '#cf',
 '#cg',
 '#ch',
 '#ci',
 '#ck',
 '#cl',
 '#cm',
 '#cn',
 '#co',
 '#cp',
 '#cq',
 '#cr',
 '#cs',
 '#ct',
 '#cu',
 '#cv',
 '#cw',
 '#cx',
 '#cy',
 '#cz',
 '#d#',
 '#da',
 '#db',
 '#dc',
 '#dd',
 '#de',
 '#df',
 '#dg',
 '#dh',
 '#di',
 '#dj',
 '#dk',
 '#dl',
 '#dm',
 '#dn',
 '#do',
 '#dp',
 '#dr',
 '#ds',
 '#dt',
 '#du',
 '#dv',
 '#dw',
 '#dx',
 '#dy',
 '#dz',
 '#e#',
 '#ea',
 '#eb',
 '#ec',
 '#ed',
 '#ee',
 '#ef',
 '#eg',
 '#ei',
 '#ej',
 '#ek',
 '#el',
 '#em',
 '#en',
 '#eo',
 '#ep',
 '#eq',
 '#er',
 '#es',
 '#et',
 '#eu',
 '#ev',
 '#ew',
 '#ex',
 '#ey',
 '#ez',
 '#f#',
 '#fa',
 '#fb',
 '#fc',
 '#fd',
 '#fe',
 '#ff',
 '#fg',
 '#fh',
 '#fi',
 '#fk',
 '#fl',
 '#fm',
 '#fo',
 '#fp',
 '#fr',
 '#fs',
 '#ft',
 '#fu',
 '#fw',
 '#fx',
 '#fy',
 '#g#',
 '#ga',
 '#gb',
 '#gc',
 '#gd',
 '#ge',
 '#gf',
 '#gg',
 '#gh',
 '#gi',
 '#gl',
 '#gm',
 '#gn',
 '#go',
 '#gp',
 '#gq',
 '#gr',
 '#gs',
 '#gt',
 '#gu',
 '#gv',
 '#gw',
 '#gy',
 '#h#',
 '#ha',
 '#hb',
 '#hc',
 '#hd',
 '#he',
 '#hf',
 '#hg',
 '#hh',
 '#hi',
 '#hj',
 '#hk',
 '#hl',
 '#hm',
 '#ho',
 '#hp',
 '#hq',
 '#hr',
 '#hs',
 '#ht',
 '#hu',
 '#hv',
 '#hw',
 '#hy',
 '#i#',
 '#ia',
 '#ib',
 '#ic',
 '#id',
 '#ie',
 '#if',
 '#ig',
 '#ih',
 '#ii',
 '#ik',
 '#il',
 '#im',
 '#in',
 '#io',
 '#ip',
 '#iq',
 '#ir',
 '#is',
 '#it',
 '#iu',
 '#iv',
 '#iw',
 '#ix',
 '#iz',
 '#j#',
 '#ja',
 '#jb',
 '#jc',
 '#je',
 '#jf',
 '#jh',
 '#ji',
 '#jj',
 '#jk',
 '#jl',
 '#jm',
 '#jn',
 '#jo',
 '#jp',
 '#jr',
 '#js',
 '#ju',
 '#jy',
 '#k#',
 '#ka',
 '#kc',
 '#kd',
 '#ke',
 '#kf',
 '#kg',
 '#kh',
 '#ki',
 '#kk',
 '#kl',
 '#km',
 '#kn',
 '#ko',
 '#kp',
 '#kr',
 '#ks',
 '#kt',
 '#ku',
 '#kv',
 '#kw',
 '#kx',
 '#ky',
 '#kz',
 '#l#',
 '#la',
 '#lb',
 '#lc',
 '#le',
 '#lf',
 '#lg',
 '#lh',
 '#li',
 '#lj',
 '#ll',
 '#lm',
 '#ln',
 '#lo',
 '#lp',
 '#lr',
 '#ls',
 '#lt',
 '#lu',
 '#lv',
 '#lw',
 '#ly',
 '#lz',
 '#m#',
 '#ma',
 '#mb',
 '#mc',
 '#md',
 '#me',
 '#mf',
 '#mg',
 '#mh',
 '#mi',
 '#mj',
 '#mk',
 '#ml',
 '#mm',
 '#mn',
 '#mo',
 '#mp',
 '#mr',
 '#ms',
 '#mt',
 '#mu',
 '#mv',
 '#mw',
 '#mx',
 '#my',
 '#mz',
 '#n#',
 '#na',
 '#nb',
 '#nc',
 '#nd',
 '#ne',
 '#nf',
 '#ng',
 '#nh',
 '#ni',
 '#nj',
 '#nk',
 '#nl',
 '#nm',
 '#nn',
 '#no',
 '#np',
 '#nr',
 '#ns',
 '#nt',
 '#nu',
 '#nv',
 '#nw',
 '#nx',
 '#ny',
 '#nz',
 '#o#',
 '#oa',
 '#ob',
 '#oc',
 '#od',
 '#oe',
 '#of',
 '#og',
 '#oh',
 '#oi',
 '#oj',
 '#ok',
 '#ol',
 '#om',
 '#on',
 '#oo',
 '#op',
 '#or',
 '#os',
 '#ot',
 '#ou',
 '#ov',
 '#ow',
 '#ox',
 '#oy',
 '#oz',
 '#p#',
 '#pa',
 '#pb',
 '#pc',
 '#pd',
 '#pe',
 '#pf',
 '#pg',
 '#ph',
 '#pi',
 '#pj',
 '#pk',
 '#pl',
 '#pm',
 '#pn',
 '#po',
 '#pp',
 '#pr',
 '#ps',
 '#pt',
 '#pu',
 '#pv',
 '#pw',
 '#px',
 '#py',
 '#pz',
 '#q#',
 '#qa',
 '#qb',
 '#qh',
 '#qi',
 '#ql',
 '#qn',
 '#qp',
 '#qu',
 '#qv',
 '#qx',
 '#qy',
 '#r#',
 '#ra',
 '#rb',
 '#rc',
 '#rd',
 '#re',
 '#rf',
 '#rg',
 '#rh',
 '#ri',
 '#rn',
 '#ro',
 '#rp',
 '#rr',
 '#rs',
 '#rt',
 '#ru',
 '#rv',
 '#rw',
 '#rx',
 '#ry',
 '#rz',
 '#s#',
 '#sa',
 '#sb',
 '#sc',
 '#sd',
 '#se',
 '#sf',
 '#sg',
 '#sh',
 '#si',
 '#sk',
 '#sl',
 '#sm',
 '#sn',
 '#so',
 '#sp',
 '#sq',
 '#sr',
 '#ss',
 '#st',
 '#su',
 '#sv',
 '#sw',
 '#sx',
 '#sy',
 '#sz',
 '#t#',
 '#ta',
 '#tb',
 '#tc',
 '#td',
 '#te',
 '#tf',
 '#tg',
 '#th',
 '#ti',
 '#tj',
 '#tk',
 '#tl',
 '#tm',
 '#tn',
 '#to',
 '#tp',
 '#tr',
 '#ts',
 '#tt',
 '#tu',
 '#tv',
 '#tw',
 '#tx',
 '#ty',
 '#tz',
 '#u#',
 '#ua',
 '#ub',
 '#uc',
 '#ud',
 '#ue',
 '#uf',
 '#ug',
 '#uh',
 '#ui',
 '#uj',
 '#uk',
 '#ul',
 '#um',
 '#un',
 '#up',
 '#ur',
 '#us',
 '#ut',
 '#uv',
 '#uw',
 '#ux',
 '#uy',
 '#uz',
 '#v#',
 '#va',
 '#vc',
 '#ve',
 '#vf',
 '#vh',
 '#vi',
 '#vj',
 '#vk',
 '#vl',
 '#vm',
 '#vn',
 '#vo',
 '#vp',
 '#vr',
 '#vs',
 '#vt',
 '#vu',
 '#vv',
 '#vw',
 '#vx',
 '#vz',
 '#w#',
 '#wa',
 '#wb',
 '#wc',
 '#wd',
 '#we',
 '#wf',
 '#wh',
 '#wi',
 '#wk',
 '#wl',
 '#wm',
 '#wn',
 '#wo',
 '#wp',
 '#wr',
 '#ws',
 '#wt',
 '#wu',
 '#wv',
 '#ww',
 '#wy',
 '#x#',
 '#xa',
 '#xb',
 '#xc',
 '#xd',
 '#xe',
 '#xf',
 '#xh',
 '#xi',
 '#xl',
 '#xo',
 '#xt',
 '#xv',
 '#xx',
 '#y#',
 '#ya',
 '#yb',
 '#yc',
 '#ye',
 '#yg',
 '#yh',
 '#yi',
 '#yn',
 '#yo',
 '#yp',
 '#yr',
 '#ys',
 '#yu',
 '#yv',
 '#z#',
 '#za',
 '#zb',
 '#ze',
 '#zh',
 '#zi',
 '#zl',
 '#zo',
 '#zr',
 '#zs',
 '#zt',
 '#zu',
 '#zv',
 '#zy',
 'aa#',
 'aaa',
 'aab',
 'aac',
 'aad',
 'aaf',
 'aag',
 'aah',
 'aai',
 'aak',
 'aal',
 'aam',
 'aan',
 'aao',
 'aap',
 'aar',
 'aas',
 'aat',
 'aau',
 'aav',
 'aaw',
 'aay',
 'ab#',
 'aba',
 'abb',
 'abc',
 'abd',
 'abe',
 'abh',
 'abi',
 'abl',
 'abm',
 'abn',
 'abo',
 'abr',
 'abs',
 'abu',
 'abw',
 'aby',
 'ac#',
 'aca',
 'acb',
 'acc',
 'acd',
 'ace',
 'acf',
 'ach',
 'aci',
 'ack',
 'acl',
 'acm',
 'acn',
 'aco',
 'acp',
 'acq',
 'acr',
 'acs',
 'act',
 'acu',
 'acv',
 'acw',
 'acy',
 'acz',
 'ad#',
 'ada',
 'adb',
 'adc',
 'add',
 'ade',
 'adf',
 'adg',
 'adh',
 'adi',
 'adj',
 'adk',
 'adl',
 'adm',
 'adn',
 'ado',
 'adp',
 'adq',
 'adr',
 'ads',
 'adt',
 'adu',
 'adv',
 'adw',
 'ady',
 'adz',
 'ae#',
 'aec',
 'aed',
 'aef',
 'aei',
 'aej',
 'ael',
 'aem',
 'aen',
 'aeo',
 'aep',
 'aer',
 'aes',
 'aet',
 'aew',
 'aey',
 'aez',
 'af#',
 'afa',
 'afb',
 'afc',
 'afe',
 'aff',
 'afg',
 'afi',
 'afl',
 'afm',
 'afo',
 'afr',
 'afs',
 'aft',
 'afv',
 'afy',
 'afz',
 'ag#',
 'aga',
 'agb',
 'agd',
 'age',
 'agf',
 'agg',
 'agh',
 'agi',
 'agl',
 'agm',
 'agn',
 'ago',
 'agp',
 'agr',
 'ags',
 'agu',
 'agw',
 'agy',
 'ah#',
 'aha',
 'ahb',
 'ahc',
 'ahe',
 'ahh',
 'ahi',
 'ahj',
 'ahl',
 'ahm',
 'ahn',
 'aho',
 'ahr',
 'ahs',
 'ahu',
 'ahy',
 'ai#',
 'aia',
 'aib',
 'aic',
 'aid',
 'aie',
 'aif',
 'aig',
 'aij',
 'aik',
 'ail',
 'aim',
 'ain',
 'aio',
 'aip',
 'air',
 'ais',
 'ait',
 'aiv',
 'aiw',
 'aiy',
 'aiz',
 'aj#',
 'aja',
 'aje',
 'aji',
 'ajk',
 'ajo',
 'ajp',
 'ajr',
 'aju',
 'ajw',
 'ak#',
 'aka',
 'akb',
 'akd',
 'ake',
 'akf',
 'akh',
 'aki',
 'akk',
 'akl',
 'akn',
 'ako',
 'akr',
 'aks',
 'akt',
 'aku',
 'aky',
 'al#',
 'ala',
 'alb',
 'alc',
 'ald',
 'ale',
 'alf',
 'alg',
 'alh',
 'ali',
 'alk',
 'all',
 'alm',
 'aln',
 'alo',
 'alp',
 'alr',
 'als',
 'alt',
 'alu',
 'alv',
 'alw',
 'aly',
 'alz',
 'am#',
 'ama',
 'amb',
 'amc',
 'amd',
 'ame',
 'amf',
 'amg',
 'amh',
 'ami',
 'amj',
 'aml',
 'amm',
 'amn',
 'amo',
 'amp',
 'amr',
 'ams',
 'amt',
 'amu',
 'amw',
 'amy',
 'amz',
 'an#',
 'ana',
 'anb',
 'anc',
 'and',
 'ane',
 'anf',
 'ang',
 'anh',
 'ani',
 'anj',
 'ank',
 'anl',
 'anm',
 'ann',
 'ano',
 'anp',
 'anq',
 'anr',
 'ans',
 'ant',
 'anu',
 'anv',
 'anw',
 'anx',
 'any',
 'anz',
 'ao#',
 'aod',
 'aog',
 'aoh',
 'aoi',
 'aok',
 'aol',
 'aom',
 'aon',
 'aor',
 'aos',
 'aot',
 'aou',
 'ap#',
 'apa',
 'apb',
 'apc',
 'apd',
 'ape',
 'apf',
 'apg',
 'aph',
 'api',
 'apk',
 'apl',
 'apm',
 'apn',
 'apo',
 'app',
 'apr',
 'aps',
 'apt',
 'apu',
 'apy',
 'apz',
 'aq#',
 'aqi',
 'aqq',
 'aqu',
 'ar#',
 'ara',
 'arb',
 'arc',
 'ard',
 'are',
 'arf',
 'arg',
 'arh',
 'ari',
 'arj',
 'ark',
 'arl',
 'arm',
 'arn',
 'aro',
 'arp',
 'arq',
 'arr',
 'ars',
 'art',
 'aru',
 'arv',
 'arw',
 'arx',
 'ary',
 'arz',
 'as#',
 'asa',
 'asb',
 'asc',
 'asd',
 'ase',
 'asf',
 'asg',
 'ash',
 'asi',
 'asj',
 'ask',
 'asl',
 'asm',
 'asn',
 'aso',
 'asp',
 'asq',
 'asr',
 'ass',
 'ast',
 'asu',
 'asv',
 'asy',
 'at#',
 'ata',
 'atb',
 'atc',
 'atd',
 'ate',
 'atf',
 'ath',
 'ati',
 'atk',
 'atl',
 'atm',
 'atn',
 'ato',
 'atp',
 'atr',
 'ats',
 'att',
 'atu',
 'atv',
 'atw',
 'aty',
 'au#',
 'aua',
 'aub',
 'auc',
 'aud',
 'aue',
 'auf',
 'aug',
 'auk',
 'aul',
 'aum',
 'aun',
 'aup',
 'aur',
 'aus',
 'aut',
 ...]

In [160]:
df_train_user = df_final_train[user_feature]
df_train_user.head()

,user_age_0.0,user_age_1.0,user_age_2.0,user_age_3.0,user_age_4.0,user_gender_0.0,user_gender_1.0,user_gender_2.0,user_brand_acer,user_brand_asus,...,user_l2_cat1001040,user_l2_cat1001049,user_l2_cat1001060,user_l2_cat1001091,user_l2_cat1001103,user_l2_cat1001110,user_l2_cat1001117,user_l2_cat2000000,user_l2_cat6000007,user_l2_cat8000001
0,0,0,0,0,1,0,0,1,0,0,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
1,0,0,1,0,0,0,0,1,0,0,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
2,0,0,1,0,0,0,0,1,0,0,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
3,0,0,1,0,0,0,0,1,0,0,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
4,0,0,0,1,0,0,0,1,0,0,...,0.1,0.1,0.1,1.0,0.1,0.1,0.1,0.1,0.1,0.1

In [161]:
df_train_app = df_final_train[app_category]
df_train_app.head()

,ART_AND_DESIGN,AUTO_AND_VEHICLES,BEAUTY,BOOKS_AND_REFERENCE,BUSINESS,COMICS,COMMUNICATION,DATING,EDUCATION,ENTERTAINMENT,...,PHOTOGRAPHY,PRODUCTIVITY,SHOPPING,SOCIAL,SPORTS,TOOLS,TRANSPORTATION,TRAVEL_AND_LOCAL,VIDEO_PLAYERS,WEATHER
0,0.1,0.1,0.1,1.0,1.0,0.1,1.0,0.1,0.1,2.0,...,0.1,3.0,1.0,1.0,0.1,5.0,0.1,0.1,2.0,0.1
1,0.1,0.1,0.1,1.0,1.0,0.1,1.0,0.1,0.1,2.0,...,0.1,3.0,1.0,1.0,0.1,5.0,0.1,0.1,2.0,0.1
2,0.1,0.1,0.1,1.0,1.0,0.1,1.0,0.1,0.1,2.0,...,0.1,3.0,1.0,1.0,0.1,5.0,0.1,0.1,2.0,0.1
3,0.1,0.1,0.1,1.0,1.0,0.1,1.0,0.1,0.1,2.0,...,0.1,3.0,1.0,1.0,0.1,5.0,0.1,0.1,2.0,0.1
4,0.1,0.1,0.1,1.0,1.0,0.1,1.0,0.1,0.1,2.0,...,0.1,3.0,1.0,1.0,0.1,5.0,0.1,0.1,2.0,0.1

In [162]:
df_train_article = df_final_train[article_feature]
df_train_article.head()

,article_update_time,#a#,#aa,#ab,#ac,#ad,#ae,#af,#ag,#ah,...,l2_cat_1001040,l2_cat_1001049,l2_cat_1001060,l2_cat_1001091,l2_cat_1001103,l2_cat_1001110,l2_cat_1001117,l2_cat_2000000,l2_cat_6000007,l2_cat_8000001
0,0.654868,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,0.221931,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,0.710475,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,0.764028,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,0.713479,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [163]:
df_train_user.shape

(69408, 858)

In [164]:
df_train_app.shape

(69408, 52)

In [165]:
df_train_article.shape

(69408, 8064)

In [166]:
#df_final_train[df_final_train['user_id'] == 'F4CCDDAA1BAE16B0AF3BCB82801A3CF7']

In [167]:
#df_article[df_article['user_id'] == 'F4CCDDAA1BAE16B0AF3BCB82801A3CF7']

In [168]:
df_test_article = df_article.drop_duplicates(subset=['article_contentid'], keep='first')[article_feature]
df_test_article.shape

(49149, 8064)

In [169]:
len(article_feature)

8064

In [170]:
article_feature.append(u'article_contentid')
len(article_feature)

8065

In [171]:
df_test_article0 = df_article.drop_duplicates(subset=['article_contentid'], keep='first')#[article_feature]
df_test_article0.head()

,user_id,article_contentid,article_update_time,l1_cat,l2_cat,l1_cat_w,l2_cat_w,#a#,#aa,#ab,...,l2_cat_1001040,l2_cat_1001049,l2_cat_1001060,l2_cat_1001091,l2_cat_1001103,l2_cat_1001110,l2_cat_1001117,l2_cat_2000000,l2_cat_6000007,l2_cat_8000001
0,7C62CF4B33EF7303881DB654E68FF85E,v77c577e1qo_us,0.950863,1000780,1000667,0.878669,0.464814,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,17A177FDE5C3C9F500D784FF8D985AD7,0i65cb6eaNb_us,0.342006,1000780,1000780,0.040534,0.040534,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,DB7995E79922E8A96E1585DA8C6EFB51,ag639e0eeDK_us,0.597340,8000001,8000001,0.999000,0.999000,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
3,84E7779E484630375F5F0F6175045B4B,7m799a2c4mX_us,0.923283,1000931,1000931,0.126806,0.126806,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,DE83F55126D386CF852A76F25FE0FE04,hQ7cfd994Tv_us,0.949038,1000780,1000780,0.485907,0.485907,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [172]:
df_test_article_arr1 = df_test_article.values

In [173]:
df_test_article_arr1.shape

(49149, 8064)

In [179]:
y_train = [1 for i in range(len(df_train_user.values))]
len(y_train)

69408

### Build Model By Keras (User Vs App Vs Article)

In [180]:
df_train_user.columns

Index(['user_age_0.0', 'user_age_1.0', 'user_age_2.0', 'user_age_3.0',
       'user_age_4.0', 'user_gender_0.0', 'user_gender_1.0', 'user_gender_2.0',
       'user_brand_acer', 'user_brand_asus',
       ...
       'user_l2_cat1001040', 'user_l2_cat1001049', 'user_l2_cat1001060',
       'user_l2_cat1001091', 'user_l2_cat1001103', 'user_l2_cat1001110',
       'user_l2_cat1001117', 'user_l2_cat2000000', 'user_l2_cat6000007',
       'user_l2_cat8000001'],
      dtype='object', length=858)

In [181]:
df_train_user.shape, df_train_app.shape

((69408, 858), (69408, 52))

In [182]:
df_train_user_arr = df_train_user[user_fea_col].values
df_train_app_arr = df_train_app.values

In [183]:
df_train_user_arr.shape, df_train_app_arr.shape

((69408, 812), (69408, 52))

In [184]:
df_train_article.shape

(69408, 8064)

In [185]:
df_train_article_arr = df_train_article.values
df_train_article_arr.shape

(69408, 8064)

In [186]:
y_train = [1 for i in range(len(df_train_user))]
len(y_train)

69408

In [187]:
from keras.models import Sequential, Model
from keras.layers import Dense, Merge, Activation, Dropout, Reshape

In [188]:
# create user model
userModel1 = Sequential()
userModel1.add(Dense(500, input_shape=(812,)))
userModel1.add(Activation('tanh'))
userModel1.add(Dropout(0.4))
userModel1.add(Dense(50, input_shape=(500,)))
userModel1.add(Activation('tanh'))
userModel1.add(Dropout(0.4))
userModel1.add(Dense(30, input_shape=(50,)))
userModel1.add(Activation('tanh'))
userModel1.add(Dropout(0.4))
userModel1.add(Dense(10, input_shape=(30,)))
userModel1.add(Activation('tanh'))
userModel1.add(Reshape((10,1)))

In [189]:
# create article model
articleModel = Sequential()
articleModel.add(Dense(2000, input_shape=(8064,)))
articleModel.add(Activation('tanh'))
articleModel.add(Dropout(0.4))
articleModel.add(Dense(500, input_shape=(2000,)))
articleModel.add(Activation('tanh'))
articleModel.add(Dropout(0.4))
articleModel.add(Dense(50, input_shape=(500,)))
articleModel.add(Activation('tanh'))
articleModel.add(Dropout(0.4))
articleModel.add(Dense(30, input_shape=(50,)))
articleModel.add(Activation('tanh'))
articleModel.add(Dropout(0.4))
articleModel.add(Dense(10, input_shape=(30,)))
articleModel.add(Activation('tanh'))
articleModel.add(Reshape((10,1)))

In [190]:
model1 = Sequential()
model1.add(Merge([userModel1,articleModel], mode='cos', dot_axes=1, output_shape=(1,)))
model1.add(Reshape((1,)))

//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:2: UserWarning: The `Merge` layer is deprecated and will be removed after 08/2017. Use instead layers from `keras.layers.merge`, e.g. `add`, `concatenate`, etc.
  from ipykernel import kernelapp as app

In [191]:
# create user model 2
userModel2 = Sequential()
userModel2.add(Dense(30, input_shape=(52,)))
userModel2.add(Activation('tanh'))
userModel2.add(Dropout(0.4))
userModel2.add(Dense(10, input_shape=(30,)))
userModel2.add(Activation('tanh'))
userModel2.add(Reshape((10,1)))

In [192]:
model2 = Sequential()
model2.add(Merge([userModel2,articleModel], mode='cos', dot_axes=1, output_shape=(1,)))
model2.add(Reshape((1,)))

//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:2: UserWarning: The `Merge` layer is deprecated and will be removed after 08/2017. Use instead layers from `keras.layers.merge`, e.g. `add`, `concatenate`, etc.
  from ipykernel import kernelapp as app

In [193]:
model=Sequential()
model.add(Merge([model1,model2],mode='concat'))
model.add(Dense(1, input_shape=(2,)))
model.add(Reshape((1,)))
#model.add(Activation('normalization'))
#model.add(Reshape(1,))
#model.add(Activation('softmax'))

//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:2: UserWarning: The `Merge` layer is deprecated and will be removed after 08/2017. Use instead layers from `keras.layers.merge`, e.g. `add`, `concatenate`, etc.
  from ipykernel import kernelapp as app

In [194]:
# Compile model
model.compile(loss='cosine_proximity', optimizer='adam', metrics=['accuracy'])

In [195]:
len(df_test_article_arr1)

49149

In [ ]:
model.fit([df_train_user_arr ,df_train_article_arr,df_train_app_arr] ,y_train, epochs=1, batch_size=32)

Epoch 1/1

In [ ]:
# Compile model 1
#model1.compile(loss='cosine_proximity', optimizer='adam', metrics=['accuracy','precision','recall'])
#model1.fit([df_train_user_arr ,df_train_article_arr] ,y_train, nb_epoch=1, batch_size=32)

# Compile model 2
#model2.compile(loss='cosine_proximity', optimizer='adam', metrics=['accuracy','precision','recall'])
#model2.fit([df_train_app_arr ,df_train_article_arr] ,y_train, nb_epoch=1, batch_size=32)

In [ ]:
#y_pred = model.predict([df_test_user,df_test_article_arr1, df_test_app], batch_size=32, verbose=0)
#y_pred_1 = np.hstack(y_pred)
#np.argsort(y_pred_1)[:100]

### Calculate precision and recall

In [ ]:
#sophia remark get the mapping of user article
#df_ua_map = df_trData[['user_id', 'article_contentid']]

#Sophia remark: get test user list
#df_test_user0 = df_user[df_user['user_id'].isin(final_test_user_id)]
#df_test_user = df_user[df_user['user_id'].isin(final_test_user_id)]
#df_test_user = df_test_user.drop(['user_id'], axis=1)
#df_test_user = df_test_user.fillna(0)
df_test_user_arr1 = df_test_user[user_fea_col].values
#df_test_user_arr1.shape

#Sophia remark: get test app list
df_test_app0 = df_app2[df_app2['user_id'].isin(final_test_user_id)]
df_test_app = df_user[df_user['user_id'].isin(final_test_user_id)].merge(df_test_app0, how = 'left', on = 'user_id')[app_category]
df_test_app = df_test_app.fillna(0)
df_test_app_arr1 = df_test_app.values
#df_test_app_arr1.shape

#sophia remark: get article list
df_test_article0 = df_article.drop_duplicates(subset=['article_contentid'], keep='first')#[article_feature]
#df_test_article0.head()

df_test_article_arr1 = df_test_article.values

In [ ]:
t_u = df_test_user[user_fea_col]
t_u = t_u.reset_index(drop=True)
t_u.head()

In [ ]:
df_test_user0 = df_user[df_user['user_id'].isin(final_test_user_id)]

In [ ]:
df_test_article_arr1[0:5]

In [ ]:
l = len(df_test_article_arr1)
uid = df_test_user0['user_id'].tolist()[0]
user = np.array([df_test_user_arr1[0]]*l)
user
app = np.array([df_test_app_arr1[0]]*l)
#apply user and article array to do predict
up = pd.DataFrame(model1.predict([user,df_test_article_arr1], batch_size=32))
up.head()

In [ ]:
l = len(df_test_article_arr1)
precision = list()
recall = list()

for idx, user in enumerate(df_test_user_arr1):
    if idx > 0:
        break;
    #for each user-article pair: get the user id and user info
    uid = df_test_user0['user_id'].tolist()[idx]
    user = np.array([df_test_user_arr1[idx]]*l)
    app = np.array([df_test_app_arr1[idx]]*l)
    #apply user and article array to do predict
    up = pd.DataFrame(model.predict([user,df_test_article_arr1, app], batch_size=32))
    df_test_article1=df_test_article0.reset_index(drop = True)\
                            .merge(up, how = 'left', left_index=True, right_index=True)\
                            .rename(columns={0:'u0_score'})[['article_contentid', 'u0_score']]
    df_test_article1 = df_test_article1.sort_values(by='u0_score', ascending=False)
    df_test_article1['y_pred'] = 0
    df_test_article1[:5]['y_pred']=1
    df_match = df_ua_map[df_ua_map['user_id'] == uid][['article_contentid']]
    df_match['y_true'] = 1
    df_test_article1 = df_test_article1.merge(df_match, how = 'left', on = 'article_contentid')\
                                       .fillna(0)
    tp = df_test_article1[(df_test_article1['y_pred'] == 1) & (df_test_article1['y_true'] == 1)].shape[0]
    fp = df_test_article1[(df_test_article1['y_pred'] == 1) & (df_test_article1['y_true'] == 0)].shape[0]
    fn = df_test_article1[(df_test_article1['y_pred'] == 0) & (df_test_article1['y_true'] == 1)].shape[0]

    p = tp/(float(tp+fp))
    r = tp/(float(tp+fn))
    print (idx, uid, p,r)
    if p != 0:
        precision.append(p)
    if r != 0:
        recall.append(r)
    
print (precision, recall)

In [ ]:
df_test_article1.head()

In [ ]:
df_test_article1[df_test_article1['article_contentid'].isin(list(df_trData[df_trData['user_id'] == 'B3B51127D5FB5B39E4273BE65CACA28C']['article_contentid']))]

In [ ]:
df_ua_map[df_ua_map['user_id'] == '5BA72C11B1E94BA50F1E66F4B1362CE6']

In [ ]:
list(df_trData[df_trData['user_id'] == '5BA72C11B1E94BA50F1E66F4B1362CE6']['article_contentid'])

In [ ]:
t_u.head()

In [ ]:
t_u['index'] = t_u.index
t_u_group = t_u.groupby(by=[i for i in t_u.columns if i != 'index']).agg({'index':'nunique'}).reset_index(drop=True)
t_u_group = t_u_group.sort_values(by=['index'], ascending=False)
t_u_group.head()