In [80]:
import pandas as pd
import pymongo
import pprint
from collections import Counter
import numpy as np

from word2vec import Word2Vec, Sent2Vec
import nltk
from nltk.corpus import stopwords
from gensim import corpora
import re

## Connection MongoDB

In [81]:
from pymongo import MongoClient
client = MongoClient()

In [82]:
db = client.msbd500103
print db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), u'msbd500103')

## Training Data

In [83]:
trData = db.training_record
print trData.count()
pprint.pprint(trData.find_one())

178484
{u'_id': ObjectId('5a07224d6c0c65269105e6c7'),
 u'article_contentid': u'1l5c17e72og_us',
 u'article_lan': u'en',
 u'dt': u'20170111',
 u'filter': None,
 u'user_age': 2,
 u'user_all_pkgs': [u'com.cvs.launchers.cvs',
                    u'com.flexplan.flexi',
                    u'com.cleanmaster.security',
                    u'com.dmdbrands.gurus.weight',
                    u'com.gotv.crackle.handset',
                    u'com.oprah.owntve',
                    u'com.qihoo.batterysaverplus',
                    u'com.everalbum.everalbumapp',
                    u'com.google.android.apps.plus',
                    u'com.sec.android.app.clockpackage',
                    u'com.android.vending',
                    u'com.cleanmaster.mguard',
                    u'com.google.android.gm',
                    u'jakiganicsystems.simplestchecklist',
                    u'com.google.android.googlequicksearchbox',
                    u'com.froogloid.kring.google.zxing.client.android',
                    u'com.android.contacts',
                    u'com.coremobility.app.vnotes',
                    u'com.sec.android.app.camera',
                    u'com.android.calendar',
                    u'com.android.documentsui',
                    u'com.sec.android.gallery3d',
                    u'com.google.android.gms',
                    u'com.sec.android.app.videoplayer',
                    u'com.android.systemui',
                    u'com.birdstep.android.cm',
                    u'com.android.providers.downloads.ui',
                    u'com.vlingo.midas',
                    u'com.sec.android.app.controlpanel',
                    u'com.android.browser',
                    u'com.google.android.youtube',
                    u'com.bitstrips.imoji',
                    u'com.android.email',
                    u'flipboard.app',
                    u'com.android.settings',
                    u'com.merriamwebster',
                    u'com.sec.android.app.launcher',
                    u'com.sec.android.app.popupcalculator',
                    u'com.microsoft.skydrive',
                    u'com.android.phone',
                    u'android',
                    u'com.android.mms'],
 u'user_brand': u'samsung',
 u'user_country': u'US',
 u'user_gender': 2,
 u'user_gender_weight': 0.7632950569311083,
 u'user_gp_frequency': {u'BOOKS_AND_REFERENCE': 1,
                        u'BUSINESS': 1,
                        u'COMMUNICATION': 1,
                        u'ENTERTAINMENT': 2,
                        u'HEALTH_AND_FITNESS': 2,
                        u'NEWS_AND_MAGAZINES': 1,
                        u'PRODUCTIVITY': 3,
                        u'SHOPPING': 1,
                        u'SOCIAL': 1,
                        u'TOOLS': 5,
                        u'VIDEO_PLAYERS': 2},
 u'user_id': u'614E304DE3B07EBCDD4E11382578EF5A',
 u'user_maxmind_city': u'Glen Allen',
 u'user_maxmind_country_iso_code': u'US',
 u'user_maxmind_state_iso_code': u'VA',
 u'user_model': u'SPH-L710'}

### Data Filtering

In [84]:
allData = trData.find({})
data = list(allData)
df = pd.DataFrame(data)
df_all = df.dropna(subset=['user_gp_frequency','article_title'])
df_all = df_all.reset_index(drop=True)
df_all.head()

,_id,article_contentid,article_dwelltime,article_l1_categories,article_l2_categories,article_lan,article_publisher,article_title,article_update_time,dt,...,user_country,user_gender,user_gender_weight,user_gp_frequency,user_gp_keywords,user_id,user_maxmind_city,user_maxmind_country_iso_code,user_maxmind_state_iso_code,user_model
0,5a07224d6c0c65269105e6c9,Ly7407d4cuC_us,31.0,"[{u'name': u'1000780', u'weight': 0.4546442536...","[{u'name': u'1000667', u'weight': 0.6867789988...",en,The Sun,"Dad caught selling his baby son for £9,000 to ...",1.484656e+09,20170117,...,US,2.0,0.763295,"{u'SHOPPING': 1, u'BUSINESS': 1, u'ENTERTAINME...",NaN,614E304DE3B07EBCDD4E11382578EF5A,Glen Allen,US,VA,SPH-L710
1,5a07224d6c0c65269105e6ca,AY628126a1w_us,NaN,"[{u'name': u'1000288', u'weight': 0.9748942874...","[{u'name': u'1000288', u'weight': 0.44672383556}]",en,Bustle,11 Weird Ways Your Relationship With Your Pare...,1.482379e+09,20170110,...,US,2.0,0.763295,"{u'SHOPPING': 1, u'BUSINESS': 1, u'ENTERTAINME...",NaN,614E304DE3B07EBCDD4E11382578EF5A,Glen Allen,US,VA,SPH-L710
2,5a07224d6c0c65269105e6cb,jv70536a3bt_us,NaN,"[{u'name': u'1000031', u'weight': 0.4396004700...","[{u'name': u'1000069', u'weight': 0.8568055895...",en,Los Angeles Times,Ivanka Trump goes public about exiting fashion...,1.484223e+09,20170113,...,US,2.0,0.763295,"{u'SHOPPING': 1, u'BUSINESS': 1, u'ENTERTAINME...",NaN,614E304DE3B07EBCDD4E11382578EF5A,Glen Allen,US,VA,SPH-L710
3,5a07224d6c0c65269105e6cc,1V70d401fdc_us,NaN,"[{u'name': u'1000031', u'weight': 0.8209544133...","[{u'name': u'1000069', u'weight': 0.4637899765...",en,Footwear News,Michelle Obama Wears Edgy Look for Final Talk ...,1.484261e+09,20170112,...,US,2.0,0.763295,"{u'SHOPPING': 1, u'BUSINESS': 1, u'ENTERTAINME...",NaN,614E304DE3B07EBCDD4E11382578EF5A,Glen Allen,US,VA,SPH-L710
4,5a07224d6c0c65269105e6cd,jQ6c581bbr2_us,159.0,"[{u'name': u'1001091', u'weight': 0.4180664718...","[{u'name': u'1001091', u'weight': 0.4180664718...",en,Most Trending News,Hehe! See this bedroom pictures of couple that...,1.483782e+09,20170110,...,US,2.0,0.852654,"{u'PRODUCTIVITY': 1, u'COMMUNICATION': 1, u'TR...",NaN,CD2F2B61135DB27BA3230F91466ED793,Lebanon,US,PA,SAMSUNG-SM-G890A

In [85]:
df.article_dwelltime.nunique()

1612

In [86]:
df_all.shape
#row = range(1, df_all.shape[0])
#df_all = df_all.reindex(row)
#df_all.head()

(168276, 24)

### User Features

In [87]:
user_cnt = df_all['user_country'].unique()
print user_cnt
#-> don't use country feature

user_cty = df_all['user_maxmind_city'].unique()
print user_cty, len(user_cty)
#-> can use city feature

[u'US']
[u'Glen Allen' u'Lebanon' u'Concord' ..., u'Potomac' u'Bloomfield'
 u'Buchanan'] 2307

In [88]:
user_gend = df_all['user_gender'].unique()
print user_gend
#-> treat nan as one gender feature

user_age = df_all['user_age'].unique()
print user_age
#-> treat nan as one gender feature

temp = df_all[df_all['user_age'].isnull()][['user_id']]
temp_uid = temp['user_id'].unique()
print temp.count()
print len(temp_uid)
#-> treat nan as one age feature

[  2.   1.  nan]
[  2.   3.   4.   1.  nan]
user_id    10264
dtype: int64
590

In [89]:
user_mdl = df_all['user_model'].unique()
print len(user_mdl)
#-> can use model (may or may not)

user_brd = df_all['user_brand'].unique()
print len(user_brd)
#-> can use brand

649
50

In [90]:
df_user = df_all[['user_id','user_gender','user_age',\
                  'user_model','user_brand','user_maxmind_city',\
                  'user_gp_frequency']]
df_user = df_user.drop_duplicates(subset=['user_id'], keep='first')
df_user = df_user.reset_index(drop=True)
df_user.head()

,user_id,user_gender,user_age,user_model,user_brand,user_maxmind_city,user_gp_frequency
0,614E304DE3B07EBCDD4E11382578EF5A,2.0,2.0,SPH-L710,samsung,Glen Allen,"{u'SHOPPING': 1, u'BUSINESS': 1, u'ENTERTAINME..."
1,CD2F2B61135DB27BA3230F91466ED793,2.0,3.0,SAMSUNG-SM-G890A,samsung,Lebanon,"{u'PRODUCTIVITY': 1, u'COMMUNICATION': 1, u'TR..."
2,56F27AD705D8564F7900470AA793DBD2,2.0,4.0,E6782,kyocera,Concord,"{u'COMMUNICATION': 1, u'TOOLS': 3, u'GAME_CASU..."
3,8EE461BA3AA2595AC91FCDD833EC1711,2.0,2.0,SM-G920R4,samsung,Aurora,"{u'GAME_CARD': 1, u'SHOPPING': 2, u'FINANCE': ..."
4,5BA72C11B1E94BA50F1E66F4B1362CE6,1.0,2.0,SM-T217S,samsung,Fort Wayne,"{u'HOUSE_AND_HOME': 1, u'SHOPPING': 1, u'FINAN..."

In [91]:
def dealWstring(string):
    string = string.lower()
    return string
df_user['user_brand'] = df_user.apply(lambda row: dealWstring(row['user_brand']),axis = 1)
df_user.head()

,user_id,user_gender,user_age,user_model,user_brand,user_maxmind_city,user_gp_frequency
0,614E304DE3B07EBCDD4E11382578EF5A,2.0,2.0,SPH-L710,samsung,Glen Allen,"{u'SHOPPING': 1, u'BUSINESS': 1, u'ENTERTAINME..."
1,CD2F2B61135DB27BA3230F91466ED793,2.0,3.0,SAMSUNG-SM-G890A,samsung,Lebanon,"{u'PRODUCTIVITY': 1, u'COMMUNICATION': 1, u'TR..."
2,56F27AD705D8564F7900470AA793DBD2,2.0,4.0,E6782,kyocera,Concord,"{u'COMMUNICATION': 1, u'TOOLS': 3, u'GAME_CASU..."
3,8EE461BA3AA2595AC91FCDD833EC1711,2.0,2.0,SM-G920R4,samsung,Aurora,"{u'GAME_CARD': 1, u'SHOPPING': 2, u'FINANCE': ..."
4,5BA72C11B1E94BA50F1E66F4B1362CE6,1.0,2.0,SM-T217S,samsung,Fort Wayne,"{u'HOUSE_AND_HOME': 1, u'SHOPPING': 1, u'FINAN..."

In [92]:
df_user.shape
df_user.user_id.nunique()

7857

In [95]:
df_userid = df_user[['user_id']]
df_userfea = df_user[['user_gender','user_age',\
                  'user_model','user_brand']]
df_appcat = df_user[['user_id','user_gp_frequency']]
df_userfea.head()

   user_gender  user_age        user_model user_brand
0          2.0       2.0          SPH-L710    samsung
1          2.0       3.0  SAMSUNG-SM-G890A    samsung
2          2.0       4.0             E6782    kyocera
3          2.0       2.0         SM-G920R4    samsung
4          1.0       2.0          SM-T217S    samsung

In [96]:
from sklearn import preprocessing

le = preprocessing.LabelEncoder()
df_userfea_2 = df_userfea
df_userfea_2 = df_userfea.apply(le.fit_transform)
df_userfea_2.head()

   user_gender  user_age  user_model  user_brand
0            1         1         550          28
1            1         2         319          28
2            1         3          91          17
3            1         1         420          28
4            0         1         511          28

In [97]:
from sklearn.preprocessing import OneHotEncoder

enc = OneHotEncoder()
enc.fit(df_userfea_2)
onehotlabels = enc.transform(df_userfea_2).toarray()
onehotlabels.shape
print type(onehotlabels)

<type 'numpy.ndarray'>

In [98]:
print type(onehotlabels)
print onehotlabels
onehot_usrfea = pd.DataFrame(onehotlabels)
onehot_usrfea.head()

<type 'numpy.ndarray'>
[[ 0.  1.  0. ...,  0.  0.  0.]
 [ 0.  1.  0. ...,  0.  0.  0.]
 [ 0.  1.  0. ...,  0.  0.  0.]
 ...,
 [ 0.  1.  0. ...,  0.  0.  0.]
 [ 0.  0.  0. ...,  0.  0.  0.]
 [ 1.  0.  0. ...,  0.  0.  0.]]

,0,1,2,3,4,5,6,7,8,9,...,2066,2067,2068,2069,2070,2071,2072,2073,2074,2075
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [99]:
user_merge = df_userid.merge(onehot_usrfea, how = 'left', left_index=True, right_index = True)
user_merge.head()

,user_id,0,1,2,3,4,5,6,7,8,...,2066,2067,2068,2069,2070,2071,2072,2073,2074,2075
0,614E304DE3B07EBCDD4E11382578EF5A,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,CD2F2B61135DB27BA3230F91466ED793,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,56F27AD705D8564F7900470AA793DBD2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,8EE461BA3AA2595AC91FCDD833EC1711,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5BA72C11B1E94BA50F1E66F4B1362CE6,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### User App Profile

App Package list: most frequent item 99979

In [100]:
all_pkgs = list()
for i in df_all['user_all_pkgs']:
    all_pkgs.extend(i)
dict_pkgs = dict(Counter(all_pkgs))
#sorted(dict_pkgs.items(),key=lambda x:x[1], reverse=True)
#len(list(set(all_pkgs)))

In [101]:
all_category = list()
for i in df_appcat['user_gp_frequency']:
    all_category.extend(i)
dict_category = dict(Counter(all_category))
#dict_category = sorted(dict_category.items(),key=lambda x:x[1], reverse=True)
dict_category

{u'ART_AND_DESIGN': 116,
 u'AUTO_AND_VEHICLES': 95,
 u'BEAUTY': 56,
 u'BOOKS_AND_REFERENCE': 2254,
 u'BUSINESS': 1611,
 u'COMICS': 112,
 u'COMMUNICATION': 5879,
 u'DATING': 155,
 u'EDUCATION': 1577,
 u'ENTERTAINMENT': 4791,
 u'EVENTS': 30,
 u'FAMILY_ACTION': 2,
 u'FINANCE': 2714,
 u'FOOD_AND_DRINK': 595,
 u'GAME_ACTION': 1438,
 u'GAME_ADVENTURE': 1304,
 u'GAME_ARCADE': 1645,
 u'GAME_BOARD': 640,
 u'GAME_CARD': 1214,
 u'GAME_CASINO': 828,
 u'GAME_CASUAL': 2194,
 u'GAME_EDUCATIONAL': 413,
 u'GAME_MUSIC': 162,
 u'GAME_PUZZLE': 2072,
 u'GAME_RACING': 727,
 u'GAME_ROLE_PLAYING': 589,
 u'GAME_SIMULATION': 1125,
 u'GAME_SPORTS': 1024,
 u'GAME_STRATEGY': 1098,
 u'GAME_TRIVIA': 385,
 u'GAME_WORD': 788,
 u'HEALTH_AND_FITNESS': 1867,
 u'HOUSE_AND_HOME': 473,
 u'LIBRARIES_AND_DEMO': 86,
 u'LIFESTYLE': 2990,
 u'MAPS_AND_NAVIGATION': 1479,
 u'MEDIA_AND_VIDEO': 12,
 u'MEDICAL': 377,
 u'MUSIC_AND_AUDIO': 4634,
 u'NEWS_AND_MAGAZINES': 3248,
 u'PARENTING': 46,
 u'PERSONALIZATION': 1881,
 u'PHOTOGRAPHY': 3844,
 u'PRODUCTIVITY': 4771,
 u'SHOPPING': 3259,
 u'SOCIAL': 5392,
 u'SPORTS': 1433,
 u'TOOLS': 6176,
 u'TRANSPORTATION': 4,
 u'TRAVEL_AND_LOCAL': 4283,
 u'VIDEO_PLAYERS': 4900,
 u'WEATHER': 1759}

In [102]:
dictfilt = lambda x, y: dict([ (i,x[i]) for i in x if i not in set(y) ])
unwanted = set()
unwanted = {'TOOLS', 'COMMUNICATION', 'SOCIAL', 'PRODUCTIVITY',\
            'VIDEO_PLAYERS', 'ENTERTAINMENT','MUSIC_AND_AUDIO', \
            'TRAVEL_AND_LOCAL', 'PHOTOGRAPHY', 'NEWS_AND_MAGAZINES',\
            'WEATHER','MAPS_AND_NAVIGATION'}
wantcat = set(dict_category.keys()) - unwanted

In [103]:
df_appcat.head()

,user_id,user_gp_frequency
0,614E304DE3B07EBCDD4E11382578EF5A,"{u'SHOPPING': 1, u'BUSINESS': 1, u'ENTERTAINME..."
1,CD2F2B61135DB27BA3230F91466ED793,"{u'PRODUCTIVITY': 1, u'COMMUNICATION': 1, u'TR..."
2,56F27AD705D8564F7900470AA793DBD2,"{u'COMMUNICATION': 1, u'TOOLS': 3, u'GAME_CASU..."
3,8EE461BA3AA2595AC91FCDD833EC1711,"{u'GAME_CARD': 1, u'SHOPPING': 2, u'FINANCE': ..."
4,5BA72C11B1E94BA50F1E66F4B1362CE6,"{u'HOUSE_AND_HOME': 1, u'SHOPPING': 1, u'FINAN..."

In [104]:
def getValue(dic, cat):
    if (cat in dic.keys()) == 0:
        return 0
    else:
        return 1
a = getValue(df_appcat['user_gp_frequency'][0], 'TY')

In [105]:
for cat in wantcat:
    cat = str(cat)
    df_appcat[cat] = df_appcat.apply(lambda row: getValue(row['user_gp_frequency'], cat), axis=1)
df_appcat.head()

/Users/sophia.gao/.pyenv/versions/miniconda2-latest/lib/python2.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,user_id,user_gp_frequency,LIBRARIES_AND_DEMO,LIFESTYLE,BUSINESS,MEDIA_AND_VIDEO,MEDICAL,GAME_SPORTS,BOOKS_AND_REFERENCE,GAME_EDUCATIONAL,...,GAME_STRATEGY,GAME_MUSIC,GAME_ARCADE,GAME_CASINO,GAME_BOARD,SPORTS,BEAUTY,GAME_SIMULATION,EDUCATION,FOOD_AND_DRINK
0,614E304DE3B07EBCDD4E11382578EF5A,"{u'SHOPPING': 1, u'BUSINESS': 1, u'ENTERTAINME...",0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,CD2F2B61135DB27BA3230F91466ED793,"{u'PRODUCTIVITY': 1, u'COMMUNICATION': 1, u'TR...",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,56F27AD705D8564F7900470AA793DBD2,"{u'COMMUNICATION': 1, u'TOOLS': 3, u'GAME_CASU...",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,8EE461BA3AA2595AC91FCDD833EC1711,"{u'GAME_CARD': 1, u'SHOPPING': 2, u'FINANCE': ...",0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,5BA72C11B1E94BA50F1E66F4B1362CE6,"{u'HOUSE_AND_HOME': 1, u'SHOPPING': 1, u'FINAN...",0,0,1,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0

### Training Article List

In [106]:
df_art = df_all[df_all['article_contentid'].notnull()][['article_contentid','article_title',\
                  'article_l1_categories','article_l2_categories']]
df_art = df_art.drop_duplicates(subset=['article_contentid'], keep='first')
df_art = df_art.reset_index(drop=True)
df_art.head()

,article_contentid,article_title,article_l1_categories,article_l2_categories
0,Ly7407d4cuC_us,"Dad caught selling his baby son for £9,000 to ...","[{u'name': u'1000780', u'weight': 0.4546442536...","[{u'name': u'1000667', u'weight': 0.6867789988..."
1,AY628126a1w_us,11 Weird Ways Your Relationship With Your Pare...,"[{u'name': u'1000288', u'weight': 0.9748942874...","[{u'name': u'1000288', u'weight': 0.44672383556}]"
2,jv70536a3bt_us,Ivanka Trump goes public about exiting fashion...,"[{u'name': u'1000031', u'weight': 0.4396004700...","[{u'name': u'1000069', u'weight': 0.8568055895..."
3,1V70d401fdc_us,Michelle Obama Wears Edgy Look for Final Talk ...,"[{u'name': u'1000031', u'weight': 0.8209544133...","[{u'name': u'1000069', u'weight': 0.4637899765..."
4,jQ6c581bbr2_us,Hehe! See this bedroom pictures of couple that...,"[{u'name': u'1001091', u'weight': 0.4180664718...","[{u'name': u'1001091', u'weight': 0.4180664718..."

In [113]:
tmp = list(df_art.article_l1_categories)
pd.DataFrame(tmp)
print type(tmp[16])
print type(tmp[1][0])

<type 'list'>
<type 'dict'>

In [114]:
#nltk.download('stopwords')
#print stopwords.words('english')
def dealWstring1(string):
    #string = str(liststr).replace("!@#$%^&*()[]{};:,./<>?\|`~-=_+", " ")
    #string = str(liststr)
    string = re.sub('[^a-zA-Z0-9 \n\.]', '', string)
    word_list = string.strip().lower().split()
    filtered_words = [word for word in word_list if word not in stopwords.words('english')]
    return filtered_words

In [115]:
df_art['article_title'] = df_art.apply(lambda row: dealWstring1(row['article_title']),axis = 1)
df_art.head()

,article_contentid,article_title,article_l1_categories,article_l2_categories
0,Ly7407d4cuC_us,"[dad, caught, selling, baby, son, 9000, buy, c...","[{u'name': u'1000780', u'weight': 0.4546442536...","[{u'name': u'1000667', u'weight': 0.6867789988..."
1,AY628126a1w_us,"[11, weird, ways, relationship, parents, affec...","[{u'name': u'1000288', u'weight': 0.9748942874...","[{u'name': u'1000288', u'weight': 0.44672383556}]"
2,jv70536a3bt_us,"[ivanka, trump, goes, public, exiting, fashion...","[{u'name': u'1000031', u'weight': 0.4396004700...","[{u'name': u'1000069', u'weight': 0.8568055895..."
3,1V70d401fdc_us,"[michelle, obama, wears, edgy, look, final, ta...","[{u'name': u'1000031', u'weight': 0.8209544133...","[{u'name': u'1000069', u'weight': 0.4637899765..."
4,jQ6c581bbr2_us,"[hehe, see, bedroom, pictures, couple, everyon...","[{u'name': u'1001091', u'weight': 0.4180664718...","[{u'name': u'1001091', u'weight': 0.4180664718..."

In [116]:
dictionary = corpora.Dictionary(df_art['article_title'])
word_dic = dictionary.token2id
word_dic

{u'belligerence': 21021,
 u'indianamericans': 32098,
 u'ampitheatre': 37534,
 u'vani': 28146,
 u'woods': 1042,
 u'exorcists': 34152,
 u'spiders': 861,
 u'foluke': 20412,
 u'hanging': 296,
 u'woody': 5696,
 u'comically': 17459,
 u'canes': 30926,
 u'gamethread': 31406,
 u'brockton': 3810,
 u'antidandruff': 28087,
 u'caned': 30208,
 u'fourcar': 21926,
 u'programsof': 23056,
 u'offduty': 8846,
 u'kaspersky': 24117,
 u'exchief': 35559,
 u'appropriation': 27237,
 u'holyrood': 19305,
 u'screaming': 2582,
 u'showroom': 32897,
 u'advices': 19957,
 u'grueling': 34184,
 u'wooden': 20184,
 u'wednesday': 3359,
 u'chameleons': 29764,
 u'crotch': 1520,
 u'stereotypical': 25437,
 u'bbqs': 23592,
 u'chatrice': 27669,
 u'snuggles': 32982,
 u'francesco': 20643,
 u'scrapes': 23221,
 u'shorthaul': 33342,
 u'miniatures': 29839,
 u'272': 10327,
 u'magnitude2.6': 35635,
 u'275': 28847,
 u'imploding': 14129,
 u'scraped': 17807,
 u'glossip': 37065,
 u'starboy': 19853,
 u'arrowverse': 25525,
 u'12017': 25541,
 u'cooking': 4315,
 u'fonzie': 25863,
 u'hallucinating': 24423,
 u'shocks': 5028,
 u'rowayton': 30683,
 u'shure': 27975,
 u'widget': 23175,
 u'crouch': 29063,
 u'onceconjoined': 30287,
 u'27k': 27071,
 u'brainwashed': 24642,
 u'careers.': 30763,
 u'china': 3431,
 u'wild...but': 7006,
 u'gunit': 31877,
 u'affiliated': 20146,
 u'chino': 15417,
 u'quark': 35397,
 u'confronts': 7600,
 u'reggae': 23269,
 u'kids': 297,
 u'uplifting': 36601,
 u'clintonsand': 10167,
 u'blowpipes': 21385,
 u'deferring': 20925,
 u'controversy': 694,
 u'lottoland': 37525,
 u'kidd': 33857,
 u'natures': 9915,
 u'redevelopment': 34625,
 u'toowoomba': 31033,
 u'golden': 340,
 u'gridiron': 29914,
 u'lengthen': 30057,
 u'unsinkable': 8001,
 u'stern': 9387,
 u'p47': 34469,
 u'dna': 9548,
 u'dnc': 5120,
 u'catchy': 10542,
 u'insecurity': 3169,
 u'cannibal': 5635,
 u'gofundme': 6184,
 u'music': 385,
 u'therefore': 30521,
 u'dnr': 16131,
 u'grahams': 8120,
 u'pinpoints': 30989,
 u'7ft': 29699,
 u'boobage': 34540,
 u'populations': 5132,
 u'mesmerize': 35205,
 u'yahoo': 9758,
 u'meteorologist': 18072,
 u'circumstances': 3646,
 u'intake': 38144,
 u'morally': 10449,
 u'locked': 4776,
 u'sheetpan': 23470,
 u'locker': 3257,
 u'dangdut': 21187,
 u'pints': 1095,
 u'unjust': 13393,
 u'cmurder': 28258,
 u'disparagement': 17643,
 u'obamatrump': 33347,
 u'wans': 23996,
 u'want': 1231,
 u'forfar': 22978,
 u'absolute': 6625,
 u'travel': 2987,
 u'propane': 10118,
 u'dimanno': 14461,
 u'selfesteem': 12636,
 u'barbra': 5764,
 u'goober': 16430,
 u'dinosaurs': 16127,
 u'wrong': 1905,
 u'wood.': 24298,
 u'sentencing': 2474,
 u'bsnl': 28474,
 u'miis': 28236,
 u'colorfully': 20735,
 u'sickening': 918,
 u'18th': 6572,
 u'perpetrator': 29843,
 u'romper': 13902,
 u'asianpacific': 37941,
 u'welcomed': 15776,
 u'womenonly': 16792,
 u'35page': 30489,
 u'airbags': 26731,
 u'rewarded': 31330,
 u'antimeryl': 33731,
 u'8543': 26271,
 u'welcomes': 7763,
 u'fir': 33118,
 u'fit': 3403,
 u'lifeline': 32487,
 u'bringing': 7772,
 u'fix': 3846,
 u'fig': 20741,
 u'wales': 5794,
 u'fii': 16270,
 u'fin': 31744,
 u'embiids': 25083,
 u'zucker': 21881,
 u'songwriter': 17135,
 u'zab': 26381,
 u'balors': 29584,
 u'ratshaming': 19301,
 u'twits': 26134,
 u'preemie': 36699,
 u'effects': 4860,
 u'coactor': 31202,
 u'sixteen': 19100,
 u'saddened': 13865,
 u'defecate': 20750,
 u'disorders.': 12696,
 u'barton': 12915,
 u'zarina': 23707,
 u'neonazis': 20965,
 u'arrow': 6831,
 u'ingrid': 28911,
 u'waialae': 9803,
 u'japaneseamerican': 35597,
 u'kiper': 7202,
 u'burial': 1104,
 u'telescope': 31942,
 u'allah': 10227,
 u'allan': 13883,
 u'parasites': 9986,
 u'reynoldsandrew': 19058,
 u'390': 35814,
 u'399': 19255,
 u'masoe': 9616,
 u'touts': 3455,
 u'oprah': 16986,
 u'chokers': 21149,
 u'sub60': 33059,
 u'20oz.': 19926,
 u'enviroment': 24893,
 u'mason': 3626,
 u'unclog': 30880,
 u'encourage': 14617,
 u'adapt': 4372,
 u'unitas': 35655,
 u'outburst': 3703,
 u'ameren': 30455,
 u'abbott': 27632,
 u'detangling': 12786,
 u'gameplan': 31387,
 u'avexis': 34301,
 u'corrects': 37852,
 u'gameplay': 19071,
 u'chlorine': 31919,
 u'competes': 25760,
 u'jihottie': 28199,
 u'rutenberg': 6512,
 u'proimmigrant': 11077,
 u'obamaera': 11179,
 u'disturbed': 5067,
 u'competed': 34385,
 u'dentures': 15331,
 u'selfs': 16639,
 u'lazers': 36917,
 u'callout': 34123,
 u'disfigured': 911,
 u'autosteer': 35477,
 u'kfc': 23876,
 u'chevron': 17206,
 u'reintroduces': 38127,
 u'seizures': 15989,
 u'renovated': 32859,
 u'service': 4102,
 u'needed': 9852,
 u'renovates': 26228,
 u'master': 7957,
 u'critter': 13998,
 u'genesis': 12183,
 u'caitlyn': 8454,
 u'lacrosse': 19476,
 u'rewards': 18621,
 u'bedstuy': 31685,
 u'mutilated': 11827,
 u'positively': 27556,
 u'ahmed': 15348,
 u'19972': 34795,
 u'duckworth': 14929,
 u'handcuffs': 5873,
 u'idle': 34367,
 u'friend': 1036,
 u'shampoos': 36092,
 u'feeling': 2053,
 u'old.': 28826,
 u'yeezys': 23210,
 u'gorman': 21860,
 u'longs': 5090,
 u'redesigned': 34207,
 u'rikiki': 28829,
 u'pandemics': 30626,
 u'mishra': 34968,
 u'urinate': 14142,
 u'dozen': 8923,
 u'affairs': 21065,
 u'maj.': 17401,
 u'sitin': 13819,
 u'courier': 23004,
 u'paramedics': 10097,
 u's8000': 31399,
 u'racers': 32393,
 u'snitch': 37436,
 u'workmates': 22128,
 u'kremlin': 3267,
 u'concedes': 2437,
 u'45th': 4266,
 u'committing': 3760,
 u'sugarcane': 34432,
 u'limitless': 35429,
 u'cinematic': 19127,
 u'resonates': 23538,
 u'carragher': 29424,
 u'simplify': 12498,
 u'mouth': 779,
 u'dollsized': 5371,
 u'icloud': 7048,
 u'gizzle': 18209,
 u'navarrette': 34461,
 u'moute': 18146,
 u'andromedas': 19273,
 u'u.s.washingtonchinaambassador': 22523,
 u'bradford': 19465,
 u'kaali': 22339,
 u'singer': 335,
 u'thaad': 9027,
 u'purges': 25933,
 u'mssuffering': 18517,
 u'ragnarok': 22644,
 u'tech': 3162,
 u'fugitives': 27059,
 u'zordon': 19123,
 u'teck': 18037,
 u'affair.': 1408,
 u'scream': 10709,
 u'saying': 710,
 u'teresa': 16045,
 u'padded': 24418,
 u'tehran': 27837,
 u'rediscovers': 27203,
 u'thai': 3420,
 u'hounded': 31255,
 u'orleans': 13702,
 u'clicked': 32964,
 u'excavator': 34578,
 u'eyelid.': 13460,
 u'aspinwall': 19930,
 u'rico': 7546,
 u'clicker': 15097,
 u'bliss': 642,
 u'rick': 3299,
 u'rich': 564,
 u'rice': 854,
 u'rica': 4907,
 u'plate': 5600,
 u'remotest': 37468,
 u'plata': 37896,
 u'umbilical': 15061,
 u'traumatising': 35189,
 u'mcnab': 3795,
 u'jaguar': 6154,
 u'nicely': 33743,
 u'79mph': 32527,
 u'patch': 6468,
 u'eyelids': 38020,
 u'peekskill': 37175,
 u'kiss...but': 28505,
 u'boarded': 34172,
 u'mudragada': 21797,
 u'skechers': 33038,
 u'sensitivity': 21057,
 u'nachtli': 8816,
 u'7568': 30099,
 u'erika': 18196,
 u'jabari': 24460,
 u'clarifies': 9838,
 u'lots': 7209,
 u'brainteaser': 12824,
 u'irs': 9785,
 u'lott': 33969,
 u'feastsuse': 35848,
 u'irl': 28349,
 u'ira': 16849,
 u'chickfila': 1375,
 u'epically': 24057,
 u'fullcapacity': 29067,
 u'wage': 11388,
 u'dethrones': 8247,
 u'extend': 18539,
 u'nature': 6914,
 u'preservationists': 3868,
 u'cartoonish.': 18311,
 u'lapping': 16085,
 u'backtoback': 25642,
 u'dragics': 37427,
 u'seriously.': 31143,
 u'f135': 26299,
 u'airflow': 32953,
 u'powersharing': 3509,
 u'heating': 13738,
 u'fruity': 23399,
 u'farewellspeech': 31210,
 u'levitating': 28253,
 u'lookin': 30812,
 u'himalayan': 12876,
 u'14pounds': 5818,
 u'bedbound': 1974,
 u'rehash': 14498,
 u'mortified': 10902,
 u'fondles': 17514,
 u'pasteles': 13260,
 u'chapecoenses': 25487,
 u'gilinsky': 16532,
 u'blonde': 4396,
 u'smackdown': 5158,
 u'trumpscented': 27758,
 u'union': 3462,
 u'fro': 27915,
 u'.': 11234,
 u'apples.': 6820,
 u'murdersuicide': 5199,
 u'much': 886,
 u'124116': 28089,
 u'mededith': 29988,
 u'tallest': 11951,
 u'toning': 4448,
 u'obese': 2068,
 u'lampards': 28392,
 u'spit': 10393,
 u'geekbench': 32180,
 u'davy': 8597,
 u'ecofriendly': 25688,
 u'dave': 6201,
 u'doubts': 288,
 u'aventador': 15520,
 u'stepdad': 8873,
 u'spin': 2747,
 u'dangerousoffender': 32827,
 u'noland': 36389,
 u'fr.': 28419,
 u'employ': 28814,
 u'misconstrued': 34181,
 u'nolans': 15964,
 u'elaborate': 11327,
 u'fortyyear': 18703,
 u'climbed': 32996,
 u'oclaro': 30447,
 u'ditching': 11345,
 u'alister': 23902,
 u'conditioner': 35959,
 u'5050': 5006,
 u'hong': 19426,
 u'disabilityrights': 28111,
 u'jungs': 37625,
 u'remand': 28452,
 u'omarion': 34910,
 u'mummified': 12273,
 u'honk': 21578,
 u'spews': 7178,
 u'valdisre': 17379,
 u'split': 2801,
 u'dunkirk': 18779,
 u'13yrold': 18466,
 u'effortlessly': 1939,
 u'marches': 2966,
 u'kushner': 3649,
 u'workforce': 28151,
 u'marched': 16308,
 u'supper': 36673,
 u'torpedoed': 22702,
 u'featherweight': 14758,
 u'hoosiers': 23539,
 u'venant': 21928,
 u'mentors': 34133,
 u'academic': 6395,
 u'lonelier': 13267,
 u'factchecking': 34901,
 u'corporate': 14636,
 u'plaque': 4239,
 u'willesden': 28456,
 u'indicts': 31984,
 u'commitments...': 13932,
 u'airbag': 22174,
 u'portrayed': 1312,
 u'hal': 13635,
 u'ham': 12602,
 u'han': 25116,
 u'bribing': 19094,
 u'hay': 29206,
 u'mcnamara': 35727,
 u'beloved': 4436,
 u'duffel': 35547,
 u'hat': 4253,
 u'aponte': 37383,
 u'municipal': 17257,
 u'moleskine': 35461,
 u'elders': 33737,
 u'survival': 7729,
 u'unequivocally': 28968,
 u'thibaut': 23484,
 u'shadow': 15670,
 u'hamas': 15988,
 u'degrom': 23127,
 u'alice': 13820,
 u'spaceshiplike': 32969,
 u'festivities': 10040,
 u'jackieesque': 23021,
 u'attorney': 5046,
 u'flub': 24876,
 u'diboll': 29671,
 u'crowd': 5096,
 u'crowe': 10154,
 u'czech': 18920,
 u'mosques': 35325,
 u'maneaters': 11864,
 u'crown': 20596,
 u'tookes': 15120,
 u'captive': 6094,
 u'altoona': 30533,
 u'billboard': 2646,
 u'hemsworth': 8711,
 u'bottom': 1465,
 u'lockdown': 26750,
 u'sprankle': 11695,
 u'inhuman': 12673,
 u'frum': 27747,
 u'treadmill': 6203,
 u'monogamy': 12337,
 u'petersons': 25851,
 u'starring': 14558,
 u'unoaku': 21268,
 u'stokes': 35694,
 u'benches': 29725,
 u'ptsd': 2880,
 u'bicentennial': 37323,
 u'benched': 12942,
 u'dermatologists': 38018,
 u'stoked': 32930,
 u'atharpers': 27170,
 u'stalinera': 24012,
 u'trafficbae': 34349,
 u'pipelines.': 26167,
 u'maxwell': 5832,
 u'marshall': 7249,
 u'honeymoon': 4771,
 u'mba': 28303,
 u'beings': 22498,
 u'beingu': 5964,
 u'marshals': 23749,
 u'grossest': 12530,
 u'shoots': 2611,
 u'aso': 37781,
 u'addington': 12089,
 u'fabric': 6716,
 u'suffice': 18923,
 u'raped': 4700,
 u'16000': 8352,
 u'wordpress': 19987,
 u'greatness': 17076,
 u'rapes': 4538,
 u'avocados': 20632,
 u'grooms': 5412,
 u'perving': 33687,
 u'opponent...': 25752,
 u's.15': 24218,
 u'newlyreleased': 25773,
 u'verde': 9870,
 u'universitys': 1371,
 u'safeguard': 15511,
 u'congratulations': 5203,
 u'kushners': 22897,
 u'humbled': 23171,
 u'mckadia': 23639,
 u'rippling': 26982,
 u'smashes': 1563,
 u'1600s': 22752,
 u'azz': 20488,
 u'martian': 19272,
 u'nicest': 6422,
 u'smashed': 15354,
 u'duet': 15839,
 u'pricing': 28602,
 u'earthlock': 23243,
 u'passenger': 4545,
 u'disgrace': 11137,
 u'barrymore': 16556,
 u'minaj': 274,
 u'bourdain': 26193,
 u'decapitation': 31995,
 u'paperwork': 28154,
 u'triangles': 22251,
 u'hijabs': 5570,
 u'slurring': 3209,
 u'reazy': 31863,
 u'ninthranked': 27163,
 u'eventual': 22904,
 u'dowling': 30225,
 u'bossip': 6241,
 u'pasadena': 32583,
 u'role': 887,
 u'rolf': 8506,
 u'roll': 7500,
 u'vhcp': 34300,
 u'palms': 19668,
 u'outage': 16409,
 u'devos': 1292,
 u'transported': 17567,
 u'devon': 21957,
 u'yellowstone': 12318,
 u'smelling': 29610,
 u'variable': 21861,
 u'batmans': 30158,
 u'hawker': 32317,
 u'explosions': 15185,
 u'shootout': 11726,
 u'innuendos': 37135,
 u'overturned': 17437,
 u'gown': 1189,
 u'childs': 8472,
 u'cincinnati': 9989,
 u'chain': 9884,
 u'whoever': 11931,
 u'3st': 24631,
 u'fox..but': 36666,
 u'osi': 30622,
 u'egypts': 21119,
 u'osa': 6550,
 u'chair': 2431,
 u'chait': 36586,
 u'baller': 254,
 u'isiscommissioned': 21425,
 u'freelance': 11449,
 u'sacramento.': 33189,
 u'crater': 12406,
 u'silencers': 6401,
 u'teamup': 21330,
 u'grappled': 27030,
 u'misophonia': 31997,
 u'adventist': 29309,
 u'oversight': 11378,
 u'tenacious': 15025,
 u'paychecks': 25057,
 u'flatbed': 15356,
 u'saldana': 2624,
 u'biopharmaceuticals': 35387,
 u'choice': 2506,
 u'embark': 30907,
 u'gloomy': 21175,
 u'rationality': 27376,
 u'thundercats': 20618,
 u'stays': 4818,
 u'corp.': 9506,
 u'exact': 13490,
 u'minute': 3797,
 u'cooks': 9845,
 u'getups': 30236,
 u'nameconor': 30359,
 u'minnie': 6231,
 u'joyride': 37281,
 u'defaults': 21251,
 u'skewer': 14235,
 u'fathertobe': 17123,
 u'lauderhill': 29292,
 u'meadow': 25502,
 u'hindered': 10511,
 u'heavyweight': 10839,
 u'tauttum': 18669,
 u'chopping': 31609,
 u'trisha': 1513,
 u'adoptlys': 29392,
 u'bagging': 7501,
 u'headset': 34706,
 u'cathriona': 10515,
 u'zrp': 10793,
 u'celebrated': 5883,
 u'3.5million': 21972,
 u'geography': 32045,
 u'celebrates': 2900,
 u'trinidadian': 10613,
 u'unintentionally': 8457,
 u'l.p.': 15994,
 u'drafted': 7191,
 u'paribas': 34277,
 u'climbs': 13340,
 u'honour': 13933,
 u'vanderbilt': 19923,
 u'gladys': 35057,
 u'address': 1010,
 u'sparton': 34280,
 u'miiverse': 28235,
 u'benson': 24139,
 u'enroll': 22741,
 u'laughter.': 12254,
 u'zr1': 29223,
 u'dusty': 16634,
 u'impacted': 34467,
 u'queue': 12192,
 u'accomplished': 10276,
 u'influx': 21729,
 u'barcus': 31627,
 u'dimitrovs': 36164,
 u'vanishing.': 32892,
 u'fakery': 14116,
 u'opposes': 18265,
 u'working': 5276,
 u'logitechs': 36810,
 u'pooped': 23703,
 u'27000': 6263,
 u'mummys': 32521,
 u'nuclearcapable': 24263,
 u'opposed': 18115,
 u'fl.': 20588,
 u'threeyearold': 2822,
 u'crystalstudded': 6906,
 u'pineberry': 30976,
 u'suckas': 23600,
 u'consoled': 22998,
 u'alastair': 34179,
 u'tundra': 29642,
 u'sierra': 2575,
 u'consoles': 19210,
 u'94th': 36612,
 u'atsume': 35976,
 u'riders': 8573,
 u'lowercase': 2973,
 u'foolsthemed': 36645,
 u'opioids': 22240,
 u'titanium': 34877,
 u'androgyny': 33920,
 u'originally': 6791,
 u'abortion': 977,
 u'livonia': 28712,
 u'albright': 28580,
 u'following': 2914,
 u'toffee': 26785,
 u'admired': 26152,
 u'u.p.': 7896,
 u'gosselins': 18102,
 u'mirrors': 8183,
 u'ragstoriches': 33313,
 u'irwins': 18482,
 u'min...': 21472,
 u'locks': 2811,
 u'snowdons': 32401,
 u'admires': 29579,
 u'listens': 19958,
 u'septic': 25174,
 u'nightclothes': 20487,
 u'thanking': 18291,
 u'8year': 36929,
 u'1000hp': 35162,
 u'taxpayerfunded': 11387,
 u'heards': 23700,
 u'fueled': 14377,
 u'meddled': 31057,
 u'balmuda': 26801,
 u'harmon': 31442,
 u'surfing': 10084,
 u'conscious': 1707,
 u'puller': 24657,
 u'jurez': 15710,
 u'hotshooting': 23350,
 u'afterlauren': 4217,
 u'regressive': 11079,
 u'sandbox': 13153,
 u'mango': 7168,
 u'swollen': 5538,
 u'wolves': 4712,
 u'pulled': 4804,
 u'manga': 22321,
 u'impactful': 22259,
 u'nsh': 33579,
 u'16year': 36067,
 u'jungwirth': 29113,
 u'years': 247,
 u'professors': 3485,
 u'episodes': 14794,
 u'mpls.': 34444,
 u'grammy': 35746,
 u'jie': 37955,
 u'jin': 26084,
 u'jim': 8206,
 u'troubles': 18938,
 u'faves': 29448,
 u'4g': 36754,
 u'dead.': 14289,
 u'librarians': 33499,
 u'suspension': 2704,
 u'troubled': 12827,
 u'recipients': 9579,
 u'civilian': 9141,
 u'8million': 4610,
 u'indigenous': 8931,
 u'year.': 35956,
 u'drilling': 36212,
 u'u.s.latam': 13621,
 u'framed': 29106,
 u'threeandahalf': 1171,
 u'hickory': 22204,
 u'asianamerican': 32318,
 u'deads': 18222,
 u'105.00': 28118,
 u'vrns': 34851,
 u'calabasas': 242,
 u'battleships': 37655,
 u'photoshoot': 2323,
 u'reminded': 28507,
 u'honduras': 14184,
 u'bursting': 9843,
 u'exelon': 29353,
 u'receipt': 6139,
 u'sponsor': 11070,
 u'entering': 2653,
 u'inside..': 31288,
 u'keizer': 6239,
 u'salads': 18613,
 u'disasters': 20103,
 u'troll': 10229,
 u'skit.': 37798,
 u'harteau': 34448,
 u'seriously': 2785,
 u'trauma': 10909,
 u'internet': 411,
 u'russianturkish': 31434,
 u'warmonger': 33705,
 u'hibernate': 22499,
 u'hairdresser': 16976,
 u'incentives': 23237,
 u'westcentral': 31854,
 u'metzs': 24606,
 u'crazies': 10629,
 u'crazier': 22529,
 u'grandma': 12467,
 u'mbeki': 25724,
 u'crowdfunded': 26545,
 u'marla': 7136,
 u'modest': 16378,
 u'marlo': 29804,
 u'twomonth': 33600,
 u'initiate': 22138,
 u'aboard': 4581,
 u'10millionrated': 29866,
 u'neglect': 6219,
 u'emotion': 16471,
 u'gunshot': 814,
 u'saving': 16861,
 u'groomers': 30886,
 u'spoken': 1708,
 u'underused': 33788,
 u'herd.': 19024,
 u'westlake': 23415,
 u'parkinson': 15372,
 u'one': 636,
 u'symmetra': 36652,
 u'7060': 26730,
 u'highestcalorie': 9885,
 u'romos': 7543,
 u'on.': 31576,
 u'shawn': 4193,
 u'surges': 15813,
 u'worldstarhiphops': 6073,
 u'surged': 15282,
 u'sweetens': 34691,
 u'omega3': 35716,
 u'rehab': 16830,
 u'axecarrying': 27601,
 u'wandering': 15217,
 u'shakeup': 22983,
 u'illness': 5429,
 u'supersized': 14019,
 u'turned': 792,
 u'locations': 14815,
 u'jewels': 23121,
 u'excoup': 30138,
 u'deadlifts': 15279,
 u'turner': 15593,
 u'borough': 15787,
 u'invite': 8263,
 u'tangleds': 37125,
 u'pekingese': 30751,
 u'zoe': 2627,
 u'fashionable': 9168,
 u'warriors': 11459,
 u'zoo': 5485,
 u'goodman': 11125,
 u'kvitko': 36489,
 u'jaha': 25143,
 u'mayer': 11118,
 u'pimple': 6017,
 u'printer': 9047,
 u'opposite': 2990,
 u'norma': 28787,
 u'discerning': 32997,
 u'clemsons': 25328,
 u'buffet': 29559,
 u'printed': 13344,
 u'buffel': 22195,
 u'phil': 12440,
 u'sideshow': 30495,
 u'jinger': 36400,
 u'getty': 32346,
 u'bejewelled': 36455,
 u'fascinated': 27751,
 u'diors': 8624,
 u'wynn': 19765,
 u'infuriate': 22144,
 u'imagines': 18964,
 u'chiselled': 18596,
 u'104.8': 33043,
 u'jags': 21230,
 u'dieback': 36185,
 u'heeding': 21443,
 u'aggressive': 18448,
 u'imagined': 12774,
 u'zahn': 33097,
 u'reconciling': 15713,
 u'fiskers': 33886,
 u'coathanger': 37487,
 u'20yearolds': 34918,
 u'azoff': 9755,
 u'skyscraper': 13758,
 u'stupid.': 27958,
 u'suitcases': 8733,
 u'kitten...': 27568,
 u'woodburn': 27231,
 u'dartford': 36630,
 u'rejoices': 32499,
 u'ploting': 37236,
 u'offfield': 1002,
 u'mondo': 17349,
 u'awaiting': 26422,
 u'tiki': 36992,
 u'recoiling': 31615,
 u'tika': 6274,
 u'hotness': 7464,
 u'homeopathy': 36135,
 u'vision': 6021,
 u'queues': 37599,
 u'breslin': 26288,
 u'marnie': 13387,
 u'impressions': 6723,
 u'euclid': 35793,
 u'marnis': 20642,
 u'retells': 34739,
 u'weeknd...': 23113,
 u'835': 19594,
 u'harvey': 5195,
 u'vendee': 18917,
 u'dismemberment': 23793,
 u'vaccines': 2426,
 u'wests': 10616,
 u'kilometer': 34517,
 u'moons': 19056,
 u'enjoys': 4914,
 u'grandpas': 11554,
 u'annexing': 8376,
 u'aversion': 30492,
 u'diezel': 9615,
 u'marietta': 37393,
 u'awards': 2225,
 u'westover': 34845,
 u'selfproclaimed': 7597,
 u'uncharacteristically': 18791,
 u'busting': 2243,
 u'circumference': 15114,
 u'rhodes': 8252,
 u'moon.': 5442,
 u'estimates.': 28260,
 u'west.': 16222,
 u'trip...one': 30825,
 u'millionaire': 14457,
 u'flipped': 19030,
 u'asbestoscovered': 1474,
 u'workplace': 6093,
 u'3judge': 15191,
 u'unflattering': 4551,
 u'grooming': 5238,
 u'lifeling': 24396,
 u'doctoring': 23138,
 u'allowance': 8736,
 u'compels': 31380,
 u'wielgus': 29021,
 u'practises': 17846,
 u'collides': 20363,
 u'renting': 29599,
 u'west': 1686,
 u'collided': 27846,
 u'breckenridge': 19798,
 u'newtonjohn': 17656,
 u'motives': 21471,
 u'wants': 209,
 u'paedophilia': 27024,
 u'readings': 21096,
 u'snakeinfested': 4779,
 u'exsenator': 36501,
 u'evoplus': 34707,
 u'shsp': 33792,
 u'hashtag': 1592,
 u'former': 167,
 u'kimura': 22653,
 u'scarlet': 24145,
 u'thoddoo': 30737,
 u'straighten': 13534,
 u'squeezes': 11689,
 u'newspaper': 5211,
 u'situation': 1127,
 u'penthouse': 2441,
 u'unlikeable': 22409,
 u'engaged': 4932,
 u'dubious': 14108,
 u'limping': 34567,
 u'pahc': 9503,
 u'hermaphrodite': 20547,
 u'technology': 9662,
 u'mpc': 29533,
 u'harrisons': 21873,
 u'ingrained': 20985,
 u'nuptials': 32823,
 u'eadie': 20002,
 u'murraybruce': 36504,
 u'theclutter': 26249,
 u'otto': 11531,
 u'nearfrozen': 28996,
 u'wires': 3947,
 u'edged': 17634,
 u'hideaway': 34006,
 u'sickness': 11718,
 u'defy': 5015,
 u'edges': 24113,
 u'advertisement': 14864,
 u'marella': 26460,
 u'youtubers': 6115,
 u'nothin': 7602,
 u'selfieloving': 10362,
 u'masks': 24340,
 u'dimension': 22694,
 u'stairlift': 31038,

In [117]:
print len(word_dic)
def word2id(dic, filtered):
    code = [word_dic[word] for word in filtered]
    return code

38223

In [118]:
df_art['article_title'] = df_art.apply(lambda row: word2id(word_dic, row['article_title']),axis = 1)
df_art.head()

,article_contentid,article_title,article_l1_categories,article_l2_categories
0,Ly7407d4cuC_us,"[0, 4, 1, 9, 6, 12, 7, 3, 5, 2, 10, 11, 8]","[{u'name': u'1000780', u'weight': 0.4546442536...","[{u'name': u'1000667', u'weight': 0.6867789988..."
1,AY628126a1w_us,"[13, 20, 17, 16, 18, 19, 15, 14]","[{u'name': u'1000288', u'weight': 0.9748942874...","[{u'name': u'1000288', u'weight': 0.44672383556}]"
2,jv70536a3bt_us,"[26, 22, 24, 28, 23, 21, 27, 22, 25]","[{u'name': u'1000031', u'weight': 0.4396004700...","[{u'name': u'1000069', u'weight': 0.8568055895..."
3,1V70d401fdc_us,"[29, 35, 30, 34, 31, 37, 38, 32, 33, 39, 36]","[{u'name': u'1000031', u'weight': 0.8209544133...","[{u'name': u'1000069', u'weight': 0.4637899765..."
4,jQ6c581bbr2_us,"[47, 45, 46, 42, 43, 40, 44, 41]","[{u'name': u'1001091', u'weight': 0.4180664718...","[{u'name': u'1001091', u'weight': 0.4180664718..."

In [73]:
def list2one(dic, filtered):
    code = [word_dic[word] for word in filtered]
    return code

In [119]:
##don't run: time cost
'''
word_set = sorted(word_dic.values())
for wid in range(2):
    name = 'word'+str(wid)
    wid = int(wid)
    df_art[name] = df_art.apply(lambda row: getValue(row['article_title'], cat), axis=1)
''''''

AttributeError: ("'int' object has no attribute 'keys'", u'occurred at index 0')

In [120]:
df_art.shape

(49149, 4)

In [197]:
def get1Name(cat):
    if len(cat[1]) == 0:
        return 'nan'
        print 'nan'
    return cat[1][0]['name']

def get2Name(cat):
    if len(cat[2]) == 0:
        return 'nan'
        print 'nan'
    return cat[2][0]['name']

#getName(df_artCat.iloc[1896]['article_l2_categories'][0])

In [198]:
df_artCat.iloc[1896]['article_l1_categories']

[]

In [199]:
df_artCat = df_art[['article_contentid','article_l1_categories','article_l2_categories']]
df_artCat.head()

,article_contentid,article_l1_categories,article_l2_categories
0,Ly7407d4cuC_us,"[{u'name': u'1000780', u'weight': 0.4546442536...","[{u'name': u'1000667', u'weight': 0.6867789988..."
1,AY628126a1w_us,"[{u'name': u'1000288', u'weight': 0.9748942874...","[{u'name': u'1000288', u'weight': 0.44672383556}]"
2,jv70536a3bt_us,"[{u'name': u'1000031', u'weight': 0.4396004700...","[{u'name': u'1000069', u'weight': 0.8568055895..."
3,1V70d401fdc_us,"[{u'name': u'1000031', u'weight': 0.8209544133...","[{u'name': u'1000069', u'weight': 0.4637899765..."
4,jQ6c581bbr2_us,"[{u'name': u'1001091', u'weight': 0.4180664718...","[{u'name': u'1001091', u'weight': 0.4180664718..."

In [200]:
type(df_artCat.iloc[0]['article_l1_categories'])

list

In [201]:
df_artCat['l1_categories'] = df_artCat.apply(lambda row: get1Name(row), axis=1)
df_artCat['l2_categories'] = df_artCat.apply(lambda row: get2Name(row), axis=1)

In [202]:
df_artCat.head()

,article_contentid,article_l1_categories,article_l2_categories,l1_categories,l2_categories
0,Ly7407d4cuC_us,"[{u'name': u'1000780', u'weight': 0.4546442536...","[{u'name': u'1000667', u'weight': 0.6867789988...",1000780,1000667
1,AY628126a1w_us,"[{u'name': u'1000288', u'weight': 0.9748942874...","[{u'name': u'1000288', u'weight': 0.44672383556}]",1000288,1000288
2,jv70536a3bt_us,"[{u'name': u'1000031', u'weight': 0.4396004700...","[{u'name': u'1000069', u'weight': 0.8568055895...",1000031,1000069
3,1V70d401fdc_us,"[{u'name': u'1000031', u'weight': 0.8209544133...","[{u'name': u'1000069', u'weight': 0.4637899765...",1000031,1000069
4,jQ6c581bbr2_us,"[{u'name': u'1001091', u'weight': 0.4180664718...","[{u'name': u'1001091', u'weight': 0.4180664718...",1001091,1001091

### Sen2Vec

In [207]:
from gensim.models import word2vec
sentences = word2vec.Text8Corpus('text8')
model = word2vec.Word2Vec(sentences, size=200)

IOError: [Errno 2] No such file or directory: 'text8'

### TF-IDF

### Record: User-id match article-id

In [250]:
df_map = df[['user_id', 'article_contentid']]
df_map['read']=1
df_map.head()

/Users/sophia.gao/.pyenv/versions/miniconda2-latest/lib/python2.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

                            user_id article_contentid  read
0  614E304DE3B07EBCDD4E11382578EF5A    1l5c17e72og_us     1
1  614E304DE3B07EBCDD4E11382578EF5A    mQ56173a2KT_us     1
2  614E304DE3B07EBCDD4E11382578EF5A    Ly7407d4cuC_us     1
3  614E304DE3B07EBCDD4E11382578EF5A    AY628126a1w_us     1
4  614E304DE3B07EBCDD4E11382578EF5A    jv70536a3bt_us     1

### Test Article

In [91]:
tstArt = db.test_article
pprint.pprint(tstArt.find_one())

{u'_id': ObjectId('5a0722856c0c65269108a0b6'),
 u'article_contentid': u'sq7f5162eGP_us',
 u'article_l1_categories': [{u'name': u'1000560',
                             u'weight': 0.7253321861848524}],
 u'article_l2_categories': [{u'name': u'1000596',
                             u'weight': 0.9452144284738275}],
 u'article_lan': u'en',
 u'article_publisher': u'Spasique',
 u'article_title': u'Nastiest Thing You Are Willing To Do In Bed, Based on Your Zodiac Sign',
 u'article_update_time': 1485686119}

In [92]:
allArtData = tstArt.find({})
artdata = list(allArtData)
df_tmp = pd.DataFrame(artdata)
df_tmp = df_tmp.dropna(subset=['article_title'])

In [93]:
df_tmp['article_title'] = df_tmp.apply(lambda row: dealWstring1(row['article_title']),axis = 1)

In [94]:
df_tmp.head()

,_id,article_contentid,article_l1_categories,article_l2_categories,article_lan,article_publisher,article_title,article_update_time
0,5a0722856c0c65269108a0b6,sq7f5162eGP_us,"[{u'name': u'1000560', u'weight': 0.7253321861...","[{u'name': u'1000596', u'weight': 0.9452144284...",en,Spasique,"[nastiest, thing, willing, bed,, based, zodiac...",1.485686e+09
1,5a0722856c0c65269108a0b7,dh7f0517aP4_us,"[{u'name': u'1000031', u'weight': 0.8983825108...","[{u'name': u'1000069', u'weight': 0.7455885870...",en,Vulture,"[matthew, mcconaughey, anne, hathaway, talks, ...",1.485696e+09
2,5a0722856c0c65269108a0b8,AE78003f4fk_us,"[{u'name': u'1000031', u'weight': 0.9555669128...","[{u'name': u'1000031', u'weight': 0.9555669128...",en,The Hollywood Gossip,"[love, &, hip, hop, cast, rankings:, actually,...",1.485084e+09
3,5a0722856c0c65269108a0b9,oj7e81b559q_us,"[{u'name': u'1000031', u'weight': 0.9492414325...","[{u'name': u'1000069', u'weight': 0.7962460693...",en,LBCC Viking News,"[rasheeda, 'love, hip, hop, atlanta', responds...",1.485685e+09
4,5a0722856c0c65269108a0ba,h57baa257GX_us,"[{u'name': u'1000931', u'weight': 0.5076023340...","[{u'name': u'1000931', u'weight': 0.5076023340...",en,Smithsonian Channel,"[brave, diver, spots, giant, fish., camera, pa...",1.485714e+09